{% extends "default.html" %}

{% block title %}Has Bean coffee - Customer Stories{% endblock %}

{% block content %}
  <div class="grid grid--center">
  <h1 class="page-heading u-margin-Bl">Has Bean coffee improved cashflow by 30% by moving to Direct Debit with GoCardless</h1>
    <div class="grid__cell u-2of12 u-padding-Bl">
      <img src="/images/stories/has-bean/headshot.jpg" class='u-border-circle'>
    </div>
    <div class="grid__cell u-8of12">
      <h2 class="u-text-heading">&ldquo;GoCardless gives us control over when we get paid and takes away the uncomfortable conversations about money.&rdquo;</h2>
      <span class="testimonial--citation">
        Steve Leighton, Has Bean Coffee
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Reduce average payment period</strong> by 34%</li>
          <li><strong>Identify bad debtors in advance</strong></li>
          <li><strong>Improve cash flow</strong> by 30%</li>

        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bl">
      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
      “Customers paying invoices up to 4 months late drove us crazy”
      </div>
      <p class="para">
      <a href="http://hasbean.co.uk" rel='nofollow'>Has Bean Coffee</a> is a major supplier of high quality coffee to the retail and wholesale industries. In an industry with lead times of up to a year, it is crucial for Has Bean to maintain strong cash flow.
      </p>

      <p class="para">
      With cafes often strapped for cash, "customers paying invoices up to four months late drove us crazy. Our business was growing so fast and we were so busy that we would send out coffee to customers even with long overdue invoices." Owner Steve Leighton was left with uncertain cash flow and numerous bad debtors.
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
      “Now we can automatically take payment when issuing invoices”
      </div>
      <p class="para">
      Has Bean use GoCardless through accounting software, KashFlow. Now, they can send out Direct Debit requests with invoices to all wholesale customers. As soon as an invoice becomes due, they can automatically take payment from the customer.
      </p>
      <p class="para">
      As a bonus, the GoCardless integration with Kashflow means that these payments are automatically reconciled in their accounts.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      “We now have control over when we get paid”
      </div>
      <p class="para">
      Since making the switch, Has Bean’s average payment period has been reduced from 62 days to 41 and cash flow has improved by 30%.</p>

      <p class="para">Thanks to GoCardless, Has Bean are now in control of when they get paid. This has vastly improved their cashflow and helped them “keep uncomfortable conversations about money to a minimum”.
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}

{% block footer_content %}
  {% include "_affixed_cta_component.html" %}
{% endblock %}
