{% extends "plain.html" %}

{% block title %}Spencer Hockey Club - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Spencer Hockey Club slashed the time spent chasing payments by switching to Direct Debit with GoCardless. Find out how GoCardless is a 'natural fit' for membership groups.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Spencer Hockey Club
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size5of6 u-center u-text-center">
        Spencer Hockey Club slashed the time spent chasing payments by switching to Direct Debit with GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size1of3">
          <i class="tick-icon"></i>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            We helped them reduce time spent managing payments
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <i class="tick-icon"></i>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            After using GoCardless, they achieved 80% take-up in 8 months
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <i class="tick-icon"></i>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            Their integration cost was covered with an improved payment rate
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “Collecting membership fees was difficult and time consuming”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          <a href="http://hockey.spencerclub.org" class="u-link-medium-gray u-text-underline" rel="nofollow">Spencer Hockey Club</a> is one of the UK's leading hockey clubs. With over 400 players, managing the club was a real challenge for the volunteer committee.  “We used to let members pay however they wanted: monthly, annually, by cheque or bank transfer and with variable additions. It made collecting membership fees difficult and time consuming.”
        </p>
        <p class="u-color-p u-margin-Tm">
          Tracking payments through bank statements "was very painful, and the Club suffered from late payments," says Mark McDermott, club member and Director of <a href="http://www.codegent.com" class="u-link-medium-gray u-text-underline">codegent</a>, who built the site.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="vertical-page__hockey-bg">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size1of2 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “Using GoCardless felt like a natural fit for a membership group, and now the black hole in our finances has disappeared”
          </p>
        </div>
        <img src="/images/testimonials/hockey-club__avatar.png" class="u-size1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Mark McDermott</div>
        <div class="u-color-invert u-text-heading u-text-xs">Spencer Hockey Club</div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “GoCardless felt like an automation of what we were already doing”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          “We realised we needed an online payment system, but had been put off by other providers' high fees and requirements for a merchant account. GoCardless provided a low cost solution that felt like an automation of what we were already doing."
        </p>
        <p class="u-color-p u-margin-Tm">
          The Club integrated the GoCardless API into their site in one weekend and now use it to take regular and one-off payments from members.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “The black hole in our finances has disappeared”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          “Within 8 months of integration, 80% of the team were using GoCardless to make their payments.  As a membership group, there is a high level of trust between us so Direct Debit is a nice fit.”
        </p>
        <p class="u-color-p u-margin-Tm">
          Using GoCardless, the committee considerably reduced the time spent chasing payments, making the Club more financially stable.
        </p>
        <p class="u-color-p u-margin-Tm">
          “With 80% take-up by our members, the black hole in our finances has disappeared, so now we can spend more time growing our reserves.”
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
