{% extends "plain.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless is the UK's #1 for Direct Debit, serving more companies than any other provider. Perfect for recurring billing and B2B invoicing.">{% endblock %}

{% block body %}

<div class="site-wrapper" scroll-spy>
  <div class="page-hero page-hero--businesses page-hero--medium u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert site-gutter u-cf align-btn-small u-padding-Tm">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <div class="u-text-heading u-color-invert u-text-center hero-heading u-text-light">Focus on what matters</div>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">Thousands of business and organisations use GoCardless <br>to take and manage payments</div>
        </div>
      </div>
    </div>
  </div>

  <!--<div>
    <a href="#gocardless-anatomy"
      target="_self" scroll-spy-item="gocardless-anatomy">
      test
    </a>
    <a href="#test-111"
      target="_self" scroll-spy-item="test-111">
      test
    </a>
  </div>-->

  <div class="sticky-nav">
    <div ng-gc-sticky-nav class="sticky-nav__inner u-background-light-gray u-text-heading u-text-xs u-text-light u-text-no-smoothing">
      <div class="u-center site-container site-gutter u-padding-Vm">
        <ul class="u-pull-start u-margin-Txxs">
          <li class="sticky-nav__item">
            <a href="#benefits" du-scrollspy du-smooth-scroll offset="72" class="sticky-nav__link">
              Benefits
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#features" du-scrollspy du-smooth-scroll offset="72" class="sticky-nav__link">
              Features
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#demo" du-scrollspy du-smooth-scroll offset="72" class="sticky-nav__link">
              Demo
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#pricing" du-scrollspy du-smooth-scroll offset="72" class="sticky-nav__link">
              Pricing
            </a>
          </li>
        </ul>
        <a href="/merchants/new" class="sticky-nav__cta btn btn--small btn--hollow u-pull-end u-text-transform-none u-text-light u-text-xs u-text-no-smoothing">
          Start taking payments
        </a>
      </div>
      <hr class="u-margin-An">
    </div>
  </div>

  <div id="benefits" class="site-container site-gutter u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="u-size1of2 u-center">
        <div class="u-text-heading u-color-heading u-text-l u-text-light">
          Start with a single customer
        </div>
        <p class="u-text-s u-color-p u-margin-Txs">
          GoCardless gives you access to the cheaper fees and lower failure rate of Direct Debit, without the expense and hassle of traditional providers
        </p>
      </div>
      <div class="grid u-margin-Tl u-padding-Tm">
        <div class="grid__cell u-size1of3 u-text-center">
          <i class="save-money-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Save money</div>
          <p class="u-size7of10 u-center u-color-p u-margin-Txs">
            Our fees our considerably cheaper than cards and services like Paypal
          </p>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <i class="save-time-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Stop chasing payments</div>
          <p class="u-size7of10 u-center u-color-p u-margin-Txs">
            Automatically collect one-off or recurring payments from your customers
          </p>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <i class="improve-cashflow-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Improve your cashflow</div>
          <p class="u-size7of10 u-center u-color-p u-margin-Txs">
            Get paid on time by collecting money straight from your customers’ accounts
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div id="features" class="site-container site-gutter u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="u-size1of2 u-center">
        <div class="u-text-heading u-color-heading u-text-light u-text-l u-text-light">
          Learn how we can help your business
        </div>
      </div>
      <div class="site-container u-center">
        <div class="u-margin-Txxl grid">
          <div class="grid__cell u-size1of3 u-text-center u-margin-Bm">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center u-margin-Bm">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center u-margin-Bm">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center u-margin-Bm">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center u-margin-Bm">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center u-margin-Bm">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="border-grid-cell u-padding-Vl u-padding-Hxxl">
              <div class="u-text-heading u-color-heading u-text-m u-text-light">Heading</div>
              <p class="u-margin-Txs u-color-p">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div id="demo" class="site-container u-text-center u-padding-Txxl">
    <div class="u-padding-Txxl">
      <div class="u-text-heading u-color-heading u-text-light u-text-l u-text-light">
        Say hello to Dashboard. Everything you need to set up <br>customers, manage subscriptions and take payments
      </div>
      <div class="u-padding-Txxl u-size5of6 u-center">
        <img src="/images/products/new-dashboard-screen.jpg">
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div id="pricing" class="site-container u-text-center u-padding-Vxxl">
    <div class="grid u-padding-Vxxl u-size5of6 u-center">
      <div class="grid__cell u-size1of2">
        <div class="u-text-m u-text-heading u-color-heading u-text-light business-page__two-clicks-text">Add customers in two clicks</div>
        <p class="u-color-p u-size2of3 u-margin-Txs">Vestibulum finibus risus et magna vehicula, at aliquam odio vehicula. Maecenas lobortis mattis quam</p>
      </div>
      <div class="grid__cell u-size1of2">
        <img src="/images/businesses/two-clicks.jpg">
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="grid u-padding-Vxxl u-size5of6 u-center">
      <div class="grid__cell u-size1of2">
        <img src="/images/businesses/mobile-payment-pages.jpg">
      </div>
      <div class="grid__cell u-size1of2">
        <div class="u-margin-Lxxl u-padding-Lxxl">
          <div class="u-text-m u-text-heading u-color-heading u-text-light business-page__two-clicks-text">Add customers in two clicks</div>
          <p class="u-color-p u-size5of6 u-margin-Txs">Vestibulum finibus risus et magna vehicula, at aliquam odio vehicula. Maecenas lobortis mattis quam</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="grid u-padding-Vxxl u-size5of6 u-center">
      <div class="grid__cell u-size1of2">
        <div class="u-text-m u-text-heading u-color-heading u-text-light business-page__two-clicks-text">Get real-time reports</div>
        <p class="u-color-p u-size2of3 u-margin-Txs">Vestibulum finibus risus et magna vehicula, at aliquam odio vehicula. Maecenas lobortis mattis quam</p>
      </div>
      <div class="grid__cell u-size1of2">
        <div class="u-size2of3 u-pull-end u-margin-Rxl">
          <img src="/images/businesses/real-time-reports.jpg">
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container site-gutter u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="u-size1of2 u-center">
        <div class="u-text-heading u-color-heading u-text-light u-text-l u-text-light">
          Discover what GoCardless can do
        </div>
      </div>
      <div class="site-container u-center">
        <div class="u-margin-Txxl grid">
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <div class="u-padding-Vl u-padding-Hxxl">
              <i class="tick-icon"></i>
              <p class="u-margin-Txs u-color-heading">For businesses taking fewer than 500 payments a month</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxxl">
      Watch a demo of Dashboard
    </div>
  </div>


  <div>
    <a class="section-header__anchor" id="gocardless-anatomy"></a>
  </div>


  <hr class="u-margin-An">

  <div class="u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size1of2 u-center">
        <div class="u-text-heading u-color-heading u-text-xl u-text-light">
          Pay 1%
        </div>
        <p class="u-color-p u-margin-Txxs">
          Just 1% per transaction, capped at £2.
        </p>
        <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
        <hr class="u-margin-Tl horizontal-rule--dark">
        <p class="u-color-heading u-margin-Bxxs">
          Taking more than 500 transactions a month?
        </p>
        <a href="/pricing/#enterprise" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
          Learn about our enterprise pricing
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="business-page__hockey-bg">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxxl">
        <div class="u-padding-Bxxl u-size1of2 u-center">
          <p class="u-color-invert u-text-heading u-text-l">“GoCardless was the obvious choice <br>for our team. Payments just happen every month without us having to remember to do anything. It’s ideal.”</p>
        </div>
        <img src="/images/businesses/avatar-dave-morin@2x.png" class="u-size1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Dave Morin</div>
        <div class="u-color-invert u-text-heading u-text-xs">Spencer Hockey Club</div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="u-background-light-gray u-text-center u-padding-Vxxl u-overflow-hidden">
    <div class="site-container u-padding-Vxxl">
      <div class="grid">
        <div class="grid__cell u-size1of2">We're the Direct Debit experts</div>
        <div class="grid__cell u-size1of2 u-relative">
          <img src="/images/businesses/guides-shelf.jpg" class="businesses-page__guides-shelf">
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
