{% extends "plain.html" %}

{% block title %}Teamup - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Teamup offers merchants a simple and reliable way to take online payments with GoCardless">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Teamup
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size-4of6 u-center u-text-center">
        Teamup offers merchants a simple and reliable way to take online payments with GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            We helped them easily integrate a payments system within their own service
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            GoCardless helped them offer merchants a single source for all their management needs
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            We helped them grow their business by 200%
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “Previously we only offered card payments but the high fees and failure rates meant this wasn’t a good fit for our merchants”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
           <a href="http://goteamup.com" rel="nofollow">Teamup</a> is an online management service for fitness businesses. It aims to be a single source for organising and automating all the administration required for fitness businesses to run smoothly.  
           </p>
           <br>
           <p class="u-color-p">One key feature for their users was the ability to take subscription payments from their members. “Previously we offered card payments but the high fees and failure rates meant this wasn’t a good fit for our members.”
        </p>
      </div>
    </div>
  </div>

  <div class="story-hero--bluesky">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size-2of3 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            "Previously we offered card payments but the high fees and failure rates meant this wasn’t a good fit for our members - GoCardless is cheaper and more reliable."
          </p>
        </div>
        <img src="/images/testimonials/bluesky__avatar.png" alt="" class="u-size-1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Rupert Baker</div>
        <div class="u-color-invert u-text-heading u-text-xs">TeamUp</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “GoCardless was cheaper and more reliable and our merchants saw Direct Debit as a more secure way of collecting payments”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
           After considering several different options, TeamUp decided to sign up to GoCardless’s partner programme as “GoCardless was cheaper and more reliable, and our merchants saw Direct Debit as a more secure way of collecting payments.”
        </p> 
        <br>
        <p class="u-color-p">
          Working with GoCardless’s support team, TeamUp found the integration very easy and within a few months had moved all of their customers over.  
          </p>  
          <br>
          <p class="u-color-p">Rupert, one of the TeamUp founders, says “GoCardless’s support team are really good and always there when you need them.  The responsiveness of the developer feedback is fantastic – we always get an answer within 2 or 3 minutes.”
        </p> 
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “With GoCardless and TeamUp I spend just an hour a month managing payments”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
           "Partnering with GoCardless has enabled us to provide our merchants with the full service that we were aiming for."  Merchants are able to benefit from the simple GoCardless Direct Debit system which is automatically integrated into their website, CRM and reporting by TeamUp.
        </p>
        <p class="u-color-p u-margin-Tm">
          One of their merchants, Crossfit Tonbridge was very pleased to find that TeamUp offered a simpler way of collecting payments, particularly as it took just minutes to get started; GoCardless "took very little time and was very easy to set up.”
        </p>
        <p class="u-color-p u-margin-Tm">
          Crossfit Tonbridge can now check the status of their payments simply by logging into TeamUp, where members' other information is also stored. MD Alex Clarke says "With GoCardless and TeamUp I spend just an hour a month managing payments. I know exactly what's going on and it’s so easy to use."
        </p>
        <p class="u-color-p u-margin-Tm">
          Moreover, TeamUp have also found that their partnership with GoCardless has had some unexpected benefits: “Some of our customers use GoCardless elsewhere and come to us specifically wanting to use them.”
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}