{% extends "default.html" %}

{% block title %}Guides{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}

  <div class="site-gutter">
    <div class="grid">
      <div class="grid__cell u-10of12">
        <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h1 benefits-header--blue">Guides</h1>
        <h2 class="u-text-meta u-text-heading u-text-h2 u-margin-Ts u-margin-Bn">GoCardless was set up to help people, and publishing everything we've learnt about taking payments is part of that. Below, you'll find our comprehensive guides we've written to demystify Direct Debit.</h2>
      </div>
    </div>

    <div class="u-padding-Txxs">
      <hr class="u-margin-Vl u-padding-Tm">
    </div>

    <div class="grid">
      <div class="grid__cell u-1of3">
        <div class="guides-item">
          <img alt="Dd guide@2x" src="/images/guides/dd-guide@2x.png">
          <a href="/direct-debit/" class="guides-item__cta btn  btn--invert-hollow">Read this guide</a>
        </div>
      </div>
      <div class="grid__cell u-1of3">
        <div class="guides-item">
          <img alt="Sepa guide@2x" src="/images/guides/sepa-guide@2x.png">
          <a href="/direct-debit/sepa/" class="guides-item__cta btn  btn--invert-hollow">Read this guide</a>
        </div>
      </div>
      <div class="grid__cell u-1of3">
        <div class="guides-item">
          <img alt="Beginners guide@2x" src="/images/guides/beginners-guide@2x.png">
          <a href="/direct-debit/intro-to-direct-debit/" class="guides-item__cta btn  btn--invert-hollow">Read this guide</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
