<modal>
  <div class="modal" ng-show="modal.isShown">
    <div class="modal__container" ng-show="modal.isShown">
      <a ng-click="modal.isShown = false" class="modal__container__close">Close</a>

      <div class="modal__container__controls u-padding-Tm u-padding-Hl">
        <a ng-hide="slide == 1" ng-click="slide = slide - 1" class="btn btn--small btn--hollow u-text-transform-none">&larr; Back</a>
        <a ng-hide="slide == 5" ng-click="slide = slide + 1" class="u-pull-end btn btn--small u-text-transform-none">Next &rarr;</a>
      </div>

      <div ng-switch="slide">
        {% include "/why-dd/_slide-1.html" %}
        {% include "/why-dd/_slide-2.html" %}
        {% include "/why-dd/_slide-3.html" %}
        {% include "/why-dd/_slide-4.html" %}
        {% include "/why-dd/_slide-5.html" %}
      </div>
    </div>
  </div>
</modal>
