{% extends "default.html" %}

{% block title %}Tab{% endblock %}

{% block content %}

<div class="tags-page">
  <ul>
    <ng-gc-tab-link>
      <a href="">Tab 1</a>
    </ng-gc-tab-link>
    <ng-gc-tab-link>
      <a href="">Tab 2</a>
    </ng-gc-tab-link>
    <ng-gc-tab-link>
      <a href="">Tab 3</a>
    </ng-gc-tab-link>
  </ul>

  <div ng-init="videos.activeVideo = {}" class="tabs-page__container">
    <div class="tabs-page__item u-size1of2 u-center u-padding-Vl">1</div>
    <div class="tabs-page__item u-size1of2 u-center u-padding-Vl">2</div>
    <div class="tabs-page__item u-size1of2 u-center u-padding-Vl">3</div>
  </div>

</div>

{% endblock %}
