{% extends "plain.html" %}

{% block title %}Integrations{% endblock %}
{% block meta_tags %}<meta name="description" content="Collect Direct Debit payments online with fees of just 1%, capped at £2. Scale pricing is available for larger organisations.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl u-text-center">
      <h1 class="clearbooks-header-logo u-margin-Vxm">
        <span class="u-is-hidden-visually">Clearbooks</span>
      </h1>
  </div>

  <div class="site-container u-padding-Txxl u-text-center">
    <div class="u-padding-Txl">

      <h2 class="u-text-heading u-color-heading u-text-light u-size5of8 u-center">
        The easiest way to accept Direct Debit meets the easiest way to manage your finances
      </h2>
      <p class="u-color-heading u-margin-Tm u-size7of12 u-center">
        GoCardless gives you access to the cheaper fees and lower failure rate of Direct Debit, without the expense and hassle of traditional providers.
      </p>

      <div class="u-padding-Txxl u-margin-Txxl u-size5of6 u-center">
        <img src="/images/features/dashboard-frame.jpg">
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl u-text-center">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-center u-text-light">
        We play well with others
      </h2>
      <p class="u-color-heading u-margin-Ts u-size7of12 u-center">GoCardless works with all of your favourite software</p>
      <div class="u-margin-Vm u-padding-Vl">
        <img src="/images/partners/software-logo-group@2x.jpg">
      </div>
      <a href="/partners" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-margin-Bxl">View all our integrations</a>
    </div>

  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
     <div class="u-text-center u-padding-Vxl">
       <div class="u-size1of2 u-center">
         <div class="u-text-heading u-color-heading u-text-xl u-text-light">
           Pay 1%
         </div>
         <p class="u-color-p u-margin-Txxs">
           Just 1% per transaction, capped at £2.
         </p>
         <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
         <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
         <p class="u-color-heading u-margin-Bxxs">
           <strong>Taking more than 1000 transactions a month?</strong>
         </p>
         <a href="/pricing/#pro" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
           Learn about our enterprise pricing
         </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
