{% extends "plain.html" %}

{% block title %}Collect Direct Debit Payments With Clearbooks{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless can integrate with the ClearBooks online accounting software. Take payments from your customers with lower fees &amp; lower failure rates.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl u-text-center">
    <h1 class="clearbooks-header-logo u-margin-Vxm">
      <span class="u-is-hidden-visually">Clearbooks</span>
    </h1>
  </div>

  <div class="site-container u-padding-Txxl u-text-center">
    <div class="u-padding-Txl">

      <h2 class="u-text-heading u-color-heading u-text-light u-size5of8 u-center u-margin-Bm">
        Our Clearbooks integration lets you automatically collect one-off and recurring payments from your customers.
      </h2>
      <a href="http://clearbooks.co.uk" target="_blank" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
        Go to Clearbooks' website
      </a>

      <div class="u-padding-Txxl u-margin-Txxl u-size5of6 u-center">
        <img src="/images/partners/clearbooks-frame@2x.jpg">
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl u-text-center">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-center u-text-light">
        We play well with others
      </h2>
      <p class="u-color-heading u-margin-Ts u-size7of12 u-center">
        GoCardless works with all of your favourite software
      </p>
      <div class="u-margin-Vm u-padding-Vl u-size5of6 u-center">
        <img src="/images/partners/software-logo-group@2x.jpg">
      </div>
      <a href="/partners" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-margin-Bxl">View all our partners</a>
    </div>

  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-text-center u-padding-Vxl">
      <div class="u-size1of2 u-center">
        <div class="u-text-heading u-color-heading u-text-xl u-text-light">
          Pay 1%
        </div>
        <p class="u-color-p u-margin-Txxs">
          Just 1% per transaction, capped at £2.
        </p>
        <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
      </div>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
