{% extends "plain.html" %}

{% block title %}Watch a Demo{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless makes it quick and easy to accept online payments using Direct Debit. Watch a five minute demo and find out how GoCardless works.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="page-hero">

    <div class="site-container u-cf">
      {% include "_site_header_invert.html" %}
    </div>

    <div class="u-text-center u-padding-Vl">
      <h1 class="u-text-heading u-text-xl u-text-light u-color-invert u-padding-Bs">
        Discover how we can help your business
      </h1>
      <div class="u-padding-Tl">
        <iframe
          src="https://player.vimeo.com/video/99917039"
          class="videos-container__iframe u-margin-Vl" autoplay="true"
          data-ng-gc-ga-event-tracker="{
            category: 'video',
            label: 'plays-demo'
          }">
        </iframe>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="u-background-light-gray u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size-1of2 u-center">
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          Simple, transparent pricing<br>for everyone
        </h2>
        <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
        <hr class="u-margin-Tl horizontal-rule--dark">
        <p class="u-color-heading u-margin-Bxxs u-text-heavy">
          Taking more than 1000 transactions a month?
        </p>
        <a href="/pricing#pro" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
          Learn about our Pro pricing
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
