{% extends "plain.html" %}

{% block title %}Demo{% endblock %}
{% block description %}Watch a 5 minute demo of GoCardless in action{% endblock %}

{% block body %}
  <div class="videos-container__demo-intro u-relative">

    <div class="site-container features-container__header site-gutter u-cf align-btn-small u-padding-Vxs">
      {% include "_invert_nav.html" %}
    </div>

    <div class="u-text-center u-padding-Vl u-margin-Tl">
      <h1 class="u-text-heading hero-heading u-text-light u-color-invert u-padding-Bs">
        Discover how we can help your business
      </h1>
      <div class="u-padding-Tl">
        <iframe
          src="https://player.vimeo.com/video/92138615"
          class="u-center videos-container__iframe u-margin-Vl" autoplay="true"
          data-target="#demo-video" data-modal-vimeo data-ng-gc-ga-event-tracker="{
            category: 'video',
            label: 'plays-demo'
          }">
        </iframe>
      </div>
      <p class="u-text-subheading u-color-invert">
        Watch a 10 minute demo to see GoCardless in action
      </p>
    </div>

  </div>

  <div class="videos-container__secondary-content u-text-center u-color-base u-padding-Vl">
    <p class="u-text-h2 u-text-heading u-color-meta  u-padding-Vs">
      Get started today for free. Simply select the option that suits your business:
    </p>
    <div class="site-container">
      <div class="grid grid--center u-margin-Bm u-margin-Tl">
        <div class="grid__cell u-9of12">
          <div class="grid">
            <div class="grid__cell u-1of2">
              <div class="well well--hollow-red u-text-center">
                <img src="/images/pricing/standard@2x.png" height="50px" class="u-margin-Ts">
                <h3 class="section-heading  section-heading--red">Standard pricing</h3>
                <p><b>1% up to £2</b><br>No other fees</p>
                <hr>
                <p class="u-margin-Bs">Sign up <b>instantly</b></p>
                <p class="u-margin-Bs"><b>No hidden fees</b> or set up costs</p>
                <p class="u-margin-Bs">Enjoy Simple Direct Debit today</p>
                <hr>
                <a href="/merchants/new" class="btn btn--block btn--info">Sign up now</a>
              </div>
            </div>

            <div class="grid__cell u-1of2">
              <div class="well well--hollow-blue u-text-center">
                <img src="/images/pricing/scale@2x.png" height="50px" class="u-margin-Ts">
                <h3 class="section-heading">Scale pricing</h3>
                <p>Ideal for merchants taking more than<br><b>500 transactions / month</b></p>
                <hr>
                <p class="u-margin-Bs">Pricing <b>tailored</b> to your business</p>
                <p class="u-margin-Bs"><b>Incredible rates</b> for high volume</p>
                <p class="u-margin-Bs">Talk to our sales team today</p>
                <hr>
                <a href="/request-a-quote" class="btn btn--block">Get a free quote</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p class="u-padding-Vm">Got a question? Speak to an expert by calling 020 7183 8674</p>

  </div>



  <div class="site-container u-padding-Ts">
    {% include "_site_footer.html" %}
  </div>

  <div id="modal-backdrop" style="display:block">
    <div class="modal extra-small-modal modal--animate-in" style="display:block">
      <div class="content u-padding-Vs u-padding-Hm">
        <h2 class="u-text-heading u-text-center u-margin-Tm">Watch a demo</h2>
        <h2 class="u-text-heading u-color-meta u-text-center u-margin-Bm">Find out more about GoCardless<br>by watching a five minute demo</h2>
        <hr>
        <form accept-charset="UTF-8" action="/api/v1/prospects/sales" method="post"
          name="prospectForm"
          ng-controller="NgGcWatchDemoForm"
          ng-gc-form-submit="{
            onCreate: onWatchDemoProspectCreate,
            form: prospectForm,
            data: prospectForm.data
          }"
          ng-gc-ga-event-tracker="{
              event: 'submit',
              category: 'forms',
              action: 'submit-form',
              label: 'RaD'
            }">

          {% include "_prospect_form_fields.html" %}

          <button class="btn btn--info btn--block u-margin-Tl"
            type="submit"
            ng-disabled="prospectForm.$pristine || prospectForm.$isSubmitting">
            Continue to video
          </button>
          <hr>
          <p class="u-text-center u-color-meta"><b>Your information is safe with us.</b><br>We won't ever share it or sell it to anyone.</p>
        </form>
      </div>
    </div>
  </div>

{% endblock %}