{% extends "plain.html" %}

{% block title %}GoCardless for Lending Companies{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless makes it easy for lenders to collect repayments from customers. Stay on top of repayments with automated collection and reconciliation.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--lending page-hero--medium u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Let us lend you a hand
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            GoCardless makes it easy for lending businesses<br> to collect repayments from customers
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-nav">
    <div ng-gc-sticky-nav class="sticky-nav__inner u-background-light-gray u-text-heading u-text-xxs u-text-light u-text-no-smoothing">
      <div class="u-center site-container u-padding-Vm">
        <ul class="u-pull-start u-margin-Txxs">
          <li class="sticky-nav__item">
            <a href="#overview" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Overview
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#features" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Features
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#product" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Product
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#pricing" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Pricing
            </a>
          </li>
        </ul>
        <a href="/contact-sales" class="sticky-nav__cta btn btn--small btn--hollow u-pull-end u-text-transform-none u-text-light u-text-xxs u-text-no-smoothing">
          Contact sales
        </a>
      </div>
      <hr class="u-margin-An">
    </div>
  </div>

  <div class="section-scroll-target" id="overview">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          Thousands of borrowers use GoCardless to make repayments
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs u-size5of8 u-center">
          Stay on top of all your repayments with automated collection and reconciliation.<br>
          GoCardless gives you the freedom to focus on growing your lending business.
        </p>
        <div class="grid u-margin-Tl u-padding-Tm">
          <div class="grid__cell u-size1of3 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/checklist-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/checklist-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
              Get paid automatically
            </div>
            <p class="u-size7of10 u-center u-color-p u-margin-Txs">
              Completely automate your loan repayment collection
            </p>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/member-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/member-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
              Track repayments and failures
            </div>
            <p class="u-size7of10 u-center u-color-p u-margin-Txs">
              Know exactly when you have and haven’t been paid
            </p>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/improve-cashflow-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/improve-cashflow-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
              Custom payment schedules
            </div>
            <p class="u-size7of10 u-center u-color-p u-margin-Txs">
              Collect repayments as often as you like
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="features">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Automate your manual work
          </h2>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            With one time setup for recurring payments and automatic collections, GoCardless lets you collect payments as often as you like with no extra work or cost.
          </p>
          <h3 class="u-text-s">Take one-off or variable recurring payments</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Repayments aren’t fixed amounts? Easily take different amounts from each customer by uploading a CSV. It’s simple to add one-off charges too.
          </p>
          <h3 class="u-text-s">Add people to membership plans</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Easily create your own plans of any amount and add members to them individually, or in bulk.
          </p>
          <h3 class="u-text-s">Payments on a schedule you control</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            With GoCardless, borrowers authorise you to collect payments whenever they’re due, so you’ll always be paid on time. No more worrying about late payment penalties.
          </p>
        </div>
        <div class="grid__cell u-size1of2 u-margin-Tl u-text-center">
          <img src="/images/features/take-payment--lending.jpg" class="vertical-page__take-payment-image vertical-page__take-payment-image-margin--lending">
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of2 u-text-center u-margin-Tm">
          <img src="/images/features/real-time-reports.jpg" class="vertical-page__real-time-reports-image">
        </div>
        <div class="grid__cell u-size1of2 u-margin-Tm">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Track every step
          </h2>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Clear reporting means you get real-time information on a payment’s progress before and after it clears.
          </p>
          <h3 class="u-text-s">Know exactly when repayments will be made</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Automatic reconciliation means you’ll never spend lots of time understanding the status of your repayments, regardless of their number or frequency.
          </p>
          <h3 class="u-text-s">Email notifications</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            We’ll immediately notify you if a payment fails or a borrower cancels their payment. Retrying a failed payment takes one click.
          </p>
          <h3 class="u-text-s">Export your data</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            View your data the way you want. Our CSV exports can be used with most major book keeping and accounting software.
          </p>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Simple and scaleable
          </h2>
          <h3 class="u-text-s">Basic</h3>
          <p class="u-size5of6 u-color-p u-margin-Bxxs">
            Get started quickly and easily with GoCardless Basic. Start using our dashboard straight away, or integrate with our modern, RESTful API.
          </p>
          <a href="/basic" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            Learn about GoCardless Basic
          </a>
          <h3 class="u-text-s u-margin-Tm">Pro</h3>
          <p class="u-size5of6 u-color-p u-margin-Bxxs">
            Built for scale, GoCardless Pro gives you fine grained control over Direct Debit and allows you to integrate the repayments setup process seamlessly into your website.
          </p>
          <a href="/pro" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            Learn about GoCardless Pro
          </a>
        </div>
        <div class="grid__cell u-size1of2 u-text-center">
          <img src="/images/dashboard/cashflow@2x.png" class="basic-page__cashflow-image">
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="product">

    <div class="site-container u-text-center u-padding-Txxl">
      <div class="u-padding-Txl">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Lenders like Funding Circle love GoCardless Basic. Everything you need to take payments, manage clients and control cashflow.
        </h2>
        <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
          <a href="/basic" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            Learn about GoCardless Basic
          </a>
        <div class="u-padding-Txxl u-size5of6 u-center">
          <img src="/images/features/dashboard-frame.jpg" class="vertical-page__dashboard-image">
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Add customers individually,<br>in bulk or with a link</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Take one-off, recurring or bulk payments online</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Your own responsive, branded payment pages</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Add a checkout button to your site, we'll do the rest</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Export all of your data easily,<br>at any time</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Integrate with our clean, modern API with full documentation</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="pricing">

    <div class="u-text-center u-padding-Vxxl">
      <div class="site-container u-padding-Vxl">
        <div class="u-size2of3 u-center">
          <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
            Simple, transparent pricing for everyone
          </h2>
          <p class="u-text-s u-color-p u-margin-Vxs">
            Competitive rates for everyone from individuals through to large corporations
          </p>
          <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
          Sign up in minutes, take payments today
        </h2>
        <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
        <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
        <div class="u-size1of2 u-center">
          <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
          <p class="u-color-heading u-margin-Bxxs">
            <strong>Looking for more control?</strong>
          </p>
          <a href="/pro" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            Learn about GoCardless Pro
          </a>
        </div>
      </div>
    </div>

  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
