{% extends "plain.html" %}

{% block title %}Payments by Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="Direct Debit is cheaper &amp; more reliable than the card networks. It's also more flexible than a standing order. Find out how you can take payments using Direct Debit.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container site-gutter u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-size-full u-padding-Vxxl">
    <div class="site-container u-padding-Vxm u-text-center">
      <h1 class="u-text-heading u-color-invert hero-heading u-text-light">
        Take recurring payments online with Direct Debit
      </h1>
      <p class="u-text-heading-light u-text-m u-color-invert u-padding-Ts">
        Cheaper and more reliable than card networks, more flexible than standing orders
      </p>
    </div>
  </div>

  <div class="site-container site-gutter u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">

      <div class="grid u-center u-text-center">
        <div class="grid__cell u-size1of3 u-padding-Hn u-text-center">
          <i class="u-margin-Ts improve-cashflow-icon u-margin-Bs"></i>
          <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m">No more cashflow issues</h3>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">Make late payments a thing of the past. With Direct Debit, you control when
          you get paid.</p>
        </div>
        <div class="grid__cell u-size1of3 u-padding-Hn u-text-center">
          <i class="u-margin-Ts save-time-icon u-margin-Bs"></i>
          <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m">Lower failure rates</h3>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">Monthly failure rates of less than 1% - that’s 3x lower than cards. Automatically retry
          failed payments.</p>
        </div>
        <div class="grid__cell u-size1of3 u-padding-Hn u-text-center">
          <i class="u-margin-Ts save-money-icon u-margin-Bs"></i>
          <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m">Low cost, low admin</h3>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">Cheaper than card networks, and with GoCardless accepting Direct Debit
          is effortless.</p>
        </div>
      </div>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container site-gutter u-padding-Txxl">

    <div class="u-padding-Txl">

      <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-text-center">GoCardless makes getting paid easier than ever</h2>

      <div class="grid u-center u-text-center u-padding-Tl u-margin-Bl u-margin-Ts">
        <div class="grid__cell u-size4of12 u-text-center">
          <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m">Really simple setup</h3>
          <p class="u-color-p u-margin-Txs">
          Automate repeat payments and collect from account customers at the click of a button</p>
        </div>
        <div class="grid__cell u-size4of12 u-text-center">
          <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m">Transparent, low pricing</h3>
          <p class="u-color-p u-margin-Txs">
          Transaction fees of just 1%, capped at £2. No other fees, ever. Scale pricing available.</p>
        </div>
        <div class="grid__cell u-size4of12 u-text-center">
          <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m">Integrates seamlessly</h3>
          <p class="u-color-p u-margin-Txs">
          Through our RESTful API, GoCardless integrates perfectly with your website.</p>
        </div>
      </div>

      <div class="u-padding-Vm u-margin-Vm u-text-center">
        <a href="/demo" class="btn u-padding-Hl">Watch a demo</a>
        <a href="/" class="btn u-padding-Hl btn--hollow u-margin-Lm">Learn more</a>
      </div>

      <div class="u-padding-Txxl u-size5of6 u-center">
        <img src="/images/features/dashboard-frame.jpg" width="780">
      </div>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">

    <div class="u-padding-Vxl u-text-center u-center">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-text-center">The best way to learn more is to try it out</h2>
      <a href="/merchants/new" class="btn u-padding-Hl btn--hollow u-margin-Tl">Start taking payments</a>

      <div class="u-size1of2 u-center">
        <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
        <p class="u-color-heading u-margin-Bxxs">
          <strong>Still want to learn more about Direct Debit? </strong>
        </p>
        <a href="https://gocardless.com/guides" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
          Read our industry-leading guides
        </a>
      </div>
    </div>

  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
