---
language: fr
other_languages:
  en: /security
---

{% extends "plain.html" %}

{% block title %}Securité{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless est construit sur des bases solides et une encryption de calibre militaire pour conserver vos données de façon sécurisée. Nous sommes régulés par l'autorité britannique FCA (Financial Conduct Authority).">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "fr/_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <div class="site-container u-text-center u-padding-Vxm">
      <figure class="svg-icon u-center">
        <img ng-gc-svg-injector class="svg-icon__image u-fill-invert" data-src="/images/icons/security-icon.svg">
      </figure>
      <h1 class="u-text-heading u-color-invert u-text-light u-padding-Tm">Vous êtes protégé</h1>
      <p class="u-text-heading-light u-text-m u-color-invert u-padding-Vs">
        Vos données sont entièrement chiffrées par un cryptage de calibre militaire, <br> digne de la confiance des plus grands noms du secteur.
      </p>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">

    <div class="grid u-center u-padding-Vxm">

      <div class="grid__cell u-text-center u-size-1of2 u-padding-Vxl">
        <h2 class="u-text-heading-light u-text-m u-color-heading">
          Agréé par la FCA
        </h2>
        <p class="u-size-2of3 u-center u-color-p u-margin-Txs">
          GoCardless est un Etablisement de Paiement Agrée, abilité à collecter des paiements à travers l’Union Européenne.
        </p>
      </div>

      <div class="grid__cell u-text-center u-size-1of2 u-padding-Vxl">
        <h2 class="u-text-heading-light u-text-m u-color-heading">
          Des milliers nous font déjà confiance
        </h2>
        <p class="u-size-2of3 u-center u-color-p u-margin-Txs">
          GoCardless donne accès au prélèvement bancaire à des milliers d'entreprises en Europe.
        </p>
      </div>

      <div class="grid__cell u-text-center u-size-1of2 u-padding-Vxl">
        <h2 class="u-text-heading-light u-text-m u-color-heading">
          Solidité financière
        </h2>
        <p class="u-size-2of3 u-center u-color-p u-margin-Txs">
          Nous sommes financés par des investisseurs prestigieux, tel que Balderton Capital and Accel Partners.
        </p>
      </div>

      <div class="grid__cell u-text-center u-size-1of2 u-padding-Vxl">
        <h2 class="u-text-heading-light u-text-m u-color-heading">
          Protection du consommateur
        </h2>
        <p class="u-size-2of3 u-center u-color-p u-margin-Txs">
          En cas de fraude sur un paiement, le consommateur a droit à un remboursement immédiat.
        </p>
      </div>

      <div class="grid__cell u-text-center u-size-1of2 u-padding-Vxl">
        <h2 class="u-text-heading-light u-text-m u-color-heading">
          Sécurité de calibre militaire
        </h2>
        <p class="u-size-2of3 u-center u-color-p u-margin-Txs">
          Toutes les données confidentielles sont chiffrées avec RSA et stockées sur nos serveurs sécurisés Européens.
        </p>
      </div>

      <div class="grid__cell u-text-center u-size-1of2 u-padding-Vxl">
        <h2 class="u-text-heading-light u-text-m u-color-heading">
          Compte bancaire séquestre
        </h2>
        <p class="u-size-2of3 u-center u-color-p u-margin-Txs">
          Les paiements collectés par GoCardless sont conservés sur un compte séquestre réservés aux clients.
        </p>
      </div>

    </div>

  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
          Prenez contact avec notre équipe
        </h2>
        <a href="/fr/contactez-nous?s=pro" class="btn">Contactez-nous</a>
      </div>
  </div>

  {% include "fr/_site_footer.html" %}

</div>

{% endblock %}
