{% extends "default.html" %}

{% block title %}Security{% endblock %}
{% block description %}GoCardless is built securely from the ground up and regulated by the Financial Conduct Authority.{% endblock %}

{% block content %}

  <div class="pricing-emblem">
    <img src="/images/security/security-emblem@2x.png">
  </div>

  <h1 class="page-heading u-margin-Ts u-text-center">Built securely from the ground up</h1>
  <h2 class="page-subheading u-text-center">GoCardless uses military grade encryption to keep you safe, and is approved by the biggest names in payments</h2>

  <hr>

  <div class="grid u-padding-Bl">
    <div class="grid__cell u-1of3">
      <h4 class="section-subheading">
        Authorised by the FCA
      </h4>
      <p>GoCardless is an Authorised Payment Institution regulated by the Financial Conduct Authority.</p>
    </div>
    <div class="grid__cell u-1of3">
      <h4 class="section-subheading">
        Trusted by thousands
      </h4>
      <p>GoCardless provides access to the Direct Debit network to thousands of businesses.</p>
    </div>
    <div class="grid__cell u-1of3">
      <h4 class="section-subheading">
        Funded by prestigious VCs
      </h4>
      <p>Accel Partners, Passion Capital, and Y Combinator are among GoCardless's investors.</p>
    </div>
  </div>

  <div class="grid u-padding-Bl">
    <div class="grid__cell u-1of3">
      <h4 class="section-subheading">
        Direct Debit Guarantee
      </h4>
      <p>If anything goes wrong with a transaction, payers are entitled to an instant refund.</p>
    </div>
    <div class="grid__cell u-1of3">
      <h4 class="section-subheading">
        Military grade encryption
      </h4>
      <p>All sensitive details are RSA encrypted, and only communicated over secure channels.</p>
    </div>
    <div class="grid__cell u-1of3">
      <h4 class="section-subheading">
        Safeguarded bank accounts
      </h4>
      <p>Money collected by GoCardless is held in designated client monies accounts.</p>
    </div>
  </div>
{% endblock %}
