{% extends "plain.html" %}

{% block title %}The Fulfilling Station - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="The Fulfilling Station reduced debtor days by 83% by switching to Direct Debit with GoCardless. Read their testimonial of using GoCardless.">{% endblock %}

{% block body %}
  <div class="grid grid--center">
  <h1 class="page-heading u-padding-Bs">The Fulfilling Station reduced debtor days by 83% by switching to Direct Debit with GoCardless</h1>
    <div class="grid__cell u-size2of12 u-padding-Bl">
      <img src="/images/stories/fulfilling-station/headshot.jpg" class="u-border-circle">
    </div>
    <div class="grid__cell u-size8of12">
      <h2 class="u-text-heading">&ldquo;Knowing when customers are going to pay is brilliant, and allows me to operate the business with a lot more security.&rdquo;</h2>
      <span class="testimonial--citation">
        Martin Parfrey, Director, The Fulfilling Station
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Reduce debtor days</strong> by 83%</li>
          <li><strong>Save 10 hours a week</strong> in admin time</li>
          <li><strong>Improve their cashflow</strong> significantly</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bl">
      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
      “More than half of our customers were paying late”
      </div>
      <p class="para">
        <a href="http://www.thefulfillingstation.co.uk">The Fulfilling Station</a> is a third-party fulfilment company, offering logistics services, managed warehousing and storage. Before switching to GoCardless, the company was plagued by payment issues, with customers frequently forgetting to pay.
      </p>

      <p class="para">
        “The traditional methods of cheques, cash and standing orders weren't working. More than half of our customers were paying late and we were owed over £100,000 per month. Our accounts team were spending over 10 hours a week just chasing late payments,” explained Director Martin Parfrey.
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
       “GoCardless offered amazing value for money”
      </div>
      <p class="para">
        The Fulfilling Station now allows customers to pay using Direct Debit with GoCardless. “GoCardless offered amazing value for money and the integration with Sage means our payments can be automatically reconciled into our accounts.”
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      "GoCardless gave us control over our cashflow"
      </div>
      <p class="para">
        "GoCardless gave us control over our cashflow," Martin explained. "It has brought our debtor days down from 59 working days to just 10 and significantly reduced our admin time. Knowing when customers are going to pay is brilliant and allows me to operate the business with a lot more security.”
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-size10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}
