{% extends "plain.html" %}

{% block title %}GoCardless Pro: Complete Control Over Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless Pro allows you to collect Direct Debit payments with full control over the experience. Completely white-labelled and with an easy-to-use API.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--pro page-hero--medium u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">Totally control Direct Debit</h1>
          <p class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">We’ve created a purpose built, cutting edge platform for<br> businesses to take payments by paperless Direct Debit</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-nav">
    <div ng-gc-sticky-nav class="sticky-nav__inner u-background-light-gray u-text-heading u-text-xxs u-text-light u-text-no-smoothing">
      <div class="site-container u-padding-Vm">
        <ul class="u-pull-start u-margin-Txxs">
          <li class="sticky-nav__item">
            <a href="#overview" du-scrollspy ng-gc-smooth-scroll class="sticky-nav__link">
              Overview
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#features" du-scrollspy ng-gc-smooth-scroll class="sticky-nav__link">
              Features
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#pricing" du-scrollspy ng-gc-smooth-scroll class="sticky-nav__link">
              Pricing
            </a>
          </li>
        </ul>
        <a href="/contact-sales" class="sticky-nav__cta btn btn--small btn--hollow u-pull-end u-text-transform-none u-text-light u-text-xxs u-text-no-smoothing">
          Contact sales
        </a>
      </div>
      <hr class="u-margin-An">
    </div>
  </div>

  <div class="section-scroll-target" id="overview">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-size2of3 u-center">
          <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
            Welcome to GoCardless Pro
          </h2>
          <p class="u-text-s u-color-p u-margin-Txs">
            Designed specifically for larger enterprises, GoCardless combines the simplicity of our original GoCardless product with complete control over payments and customer experience. It's also the only product to allow you to collect UK and SEPA Direct Debit via one simple integration.
          </p>
        </div>
        <div class="grid u-margin-Tl u-padding-Tm">
          <div class="grid__cell u-size1of2 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/white-label-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/white-label-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">Completely white-labelled</div>
            <p class="u-size4of5 u-center u-color-p u-margin-Txs">
              GoCardless Pro puts your brand at the forefront. Enjoy complete control over payment pages and email notifications to your customers.
            </p>
          </div>
          <div class="grid__cell u-size1of2 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/developer-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/developer-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">A simple, modern API</div>
            <p class="u-size4of5 u-center u-color-p u-margin-Txs">
              All documentation for our Pro product is freely available in our <a href="https://developer.gocardless.com/enterprise">developer centre</a>. We’ve worked hard to make integrating your systems as painless as possible.
            </p>
          </div>
          <div class="grid__cell u-size1of2 u-text-center u-margin-Txxl u-padding-Txxl">
            <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/mobile-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/mobile-icon.svg">
          </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">Works everywhere</div>
            <p class="u-size4of5 u-center u-color-p u-margin-Txs">
              We’ve made it incredibly simple to develop on top of GoCardless Pro and create the next generation of your website or mobile apps.
            </p>
          </div>
          <div class="grid__cell u-size1of2 u-text-center u-margin-Txxl u-padding-Txxl">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/security-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/security-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">Military grade security</div>
            <p class="u-size4of5 u-center u-color-p u-margin-Txs">
              We’ve sweated over security so you don’t have to. We store all bank details with RSA encryption and communicate only over secure channels.
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-size1of2 u-center">
          <i class="europe-icon u-margin-Bs"></i>
          <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
            Want to take payments in Europe?
          </h2>
          <div class="u-center">
            <p class="u-text-s u-color-p u-margin-Ts">
              GoCardless Pro is the only product that enables you to collect Direct Debit payments from the UK and SEPA via one integration. With our API, your business can take payments from over 500 million people.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Txl">
        <div class="u-size1of2 u-center">
          <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
            You’re in good company
          </h2>
          <p class="u-text-s u-color-p u-margin-Txs">
            Every day, some of the biggest and most respected businesses in the UK trust GoCardless to power their payments
          </p>
        </div>
        <div class="u-text-center u-margin-Vl u-padding-Vs u-size2of3 u-center">
          <img src="/images/logos/enterprise-logos@2x.jpg">
        </div>
      </div> -->
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="features">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-size1of2 u-center">
          <h2 class="u-text-heading u-color-heading u-text-xl u-text-light u-margin-Bs">
            Your dashboard
          </h2>
          <div class="u-text-heading u-color-heading u-text-l u-text-light">
            A simple way to manage your payments and customers
          </div>
          <hr class="u-margin-Vxxl">
        </div>
        <div class="u-text-center u-text-heading u-text-upcase u-text-xxs u-text-semi u-padding-Bxl">
          <a href="#customer-info"
          class="tab-link u-padding-Vxxs u-margin-Hs u-inline-block u-padding-Hs u-link-clean"
          ng-click="$activate($event)"
          ng-class="{ 'is-active': $isActive }"
          ng-gc-tabby-trigger="{
            $href: 'customer-info'
          }">
            Customer info
          </a>
          <a href="#payment-status"
          class="tab-link u-padding-Vxxs u-margin-Hs u-inline-block u-padding-Hs u-link-clean"
          ng-click="$activate($event)"
          ng-class="{ 'is-active': $isActive }"
          ng-gc-tabby-trigger="{
            $href: 'payment-status'
          }">
            Payment status
          </a>
          <a href="#admin"
          class="tab-link u-padding-Vxxs u-margin-Hs u-inline-block u-padding-Hs u-link-clean"
          ng-click="$activate($event)"
          ng-class="{ 'is-active': $isActive }"
          ng-gc-tabby-trigger="{
            $href: 'admin'
          }">
            Admin
          </a>
        </div>
        <div id="customer-info" ng-gc-tabby-content prevent-location-update>
          <div ng-if="$isActive">
            <img src="/images/pro/pro-customer-info.png" class="pro-page__dashboard-image">
          </div>
        </div>
        <div id="payment-status" ng-gc-tabby-content prevent-location-update>
          <div ng-if="$isActive">
            <img src="/images/pro/pro-payment-status.png" class="pro-page__dashboard-image">
          </div>
        </div>
        <div id="admin" ng-gc-tabby-content prevent-location-update>
          <div ng-if="$isActive">
            <img src="/images/pro/pro-admin.png" class="pro-page__dashboard-image">
          </div>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="pricing">

    <div class="u-text-center u-padding-Vxxl">
      <div class="site-container u-padding-Vxl">
        <div class="u-size2of3 u-center">
          <h2 class="u-text-heading u-color-heading u-text-light u-text-xl">
            1p&thinsp;&mdash;&thinsp;60p per transaction
          </h2>
          <p class="u-text-s u-color-p u-margin-Vxs">
            Competitive rates for businesses of any size.<br>
          </p>
          <a href="/pricing/#pro" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
          Get in touch for a free quote from our team
        </h2>
        <a href="/contact-sales" class="btn">Contact sales</a>
      </div>
    </div>

  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
