@import "variables";

// Text styles

%u-text-heading-base {
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

%u-text-heavy {
  font-weight: 700;
}

%u-text-semi {
  font-weight: 500;
}

%u-text-normal {
  font-weight: 400;
}

%u-text-heading {
  font-family: $font-family-heading;
  color: $header-color;
}

%u-text-subheading {
  font-family: $font-family-heading;
  color: $subheader-color;
}

%u-text-label {
  font-family: $font-family-label;
}

// Text sizes

%u-text-hero {
  font-size: $font-size-hero;
}

%u-text-h1 {
  font-size: $font-size-h1;
}

%u-text-h2 {
  font-size: $font-size-h2;
}

%u-text-h3 {
  font-size: $font-size-h3;
}

%u-text-h4 {
  font-size: $font-size-h4;
}

%u-text-h5 {
  font-size: $font-size-h5;
}

%u-text-h6 {
  font-size: $font-size-h6;
}

%u-text-h7 {
  font-size: $font-size-h7;
}

// Horizontal text alignment

%u-text-center {
  text-align: center;
}

%u-text-start {
  text-align: left;
}

%u-text-end {
  text-align: right;
}

// Text utilities

%u-text-upcase {
  text-transform: uppercase;
}

%u-text-underline {
  text-decoration: underline;
}

// Text truncation
//
// Prevent text from wrapping onto multiple lines, and truncate with an
// ellipsis.
//
// 1. Ensure that the node has a maximum width after which truncation can
//    occur.
// 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
//    nodes.
///

%u-text-truncate {
  max-width: 100%; // 1
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; // 2
}

// Word breaking
//
// Break strings when their length exceeds the width of their container.

%u-text-break {
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

// Colours
//
%u-text-meta {
  color: $gray;
}

%u-text-invert {
  color: $text-color-invert;
}

%u-text-invert-secondary {
  color: $text-color-invert-secondary;
}

%u-text-base {
  color: $text-color;
}

%u-text-primary {
  color: $primary-blue;
}
