{% extends "plain.html" %}

{% block title %}GoCardless for Sage: Improve cashflow with Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless for Sage 50 allows you to collect and manage Direct Debit payments directly from within Sage. Sign up and start collecting payments in 60 seconds.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl u-text-center">
      <h1 class="kashflow-header-logo u-margin-Vxm">
        <span class="u-is-hidden-visually">Sage</span>
      </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl u-text-center">
      <h2 class="u-text-heading u-color-heading u-text-light">
        Improve cash-flow with GoCardless for Sage
      </h2>
      <p class="u-color-heading u-margin-Txxs u-padding-Bxxl">
        Collect Direct Debits from directly within Sage 50 using our new add-on
      </p>
      <iframe
        src="https://player.vimeo.com/video/72433004"
        class="videos-container__iframe u-margin-Tl" autoplay="true"
        data-ng-gc-ga-event-tracker="{
          category: 'video',
          label: 'plays-sage'
        }">
      </iframe>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
     <div class="u-text-center u-padding-Vxl">
       <h2 class="u-text-heading u-color-heading u-text-xl u-text-light">
         Free, for a limited time only
       </h2>
       <p class="u-color-p u-margin-Txxs u-size1of2 u-center">
         For a limited time only, the GoCardless Sage 50 add-on is completely free. Get in touch now to be sure not to miss out.
       </p>
       <a href="/request-sage-demo" class="btn btn--hollow u-margin-Tm">Request a demo</a>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="grid">
        <div class="grid__cell u-size1of3">
          <i class="save-money-icon"></i>
          <h2 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-s u-margin-Txs">
            Always get paid on time
          </h2>
          <p class="u-color-p u-margin-Txs">
            Direct Debit lets you take control of when you’re paid – improving your cash-flow, and reducing bad debt.
          </p>
        </div>
        <div class="grid__cell u-size1of3">
          <i class="save-time-icon"></i>
          <h2 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-s u-margin-Txs">
            Collect with two clicks
          </h2>
          <p class="u-color-p u-margin-Txs">
            It's unbelievably simple: just select the invoices you want to collect, and click a button to collect. Done.
          </p>
        </div>
        <div class="grid__cell u-size1of3">
          <i class="save-time-icon"></i>
          <h2 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-s u-margin-Txs">
            Automatic reconciliation
          </h2>
          <p class="u-color-p u-margin-Txs">
            See the status of your payments within Sage. Best of all, reconcile your payments with a single click.
          </p>
        </div>
      </div>
      <div class="grid u-margin-Txxl u-padding-Tl">
        <div class="grid__cell u-size1of3">
          <i class="save-money-icon"></i>
          <h2 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-s u-margin-Txs">
            Simple customer setup
          </h2>
          <p class="u-color-p u-margin-Txs">
            Ask your customers for a Direct Debit in two clicks, or integrate with your website.
          </p>
        </div>
        <div class="grid__cell u-size1of3">
          <i class="save-time-icon"></i>
          <h2 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-s u-margin-Txs">
            Unbelievably low pricing
          </h2>
          <p class="u-color-p u-margin-Txs">
            No signup fee, no monthly fees, no hidden extras. Just 1%, capped at £2. <a href="/pricing" class="u-text-underline">Find out more</a>
          </p>
        </div>
        <div class="grid__cell u-size1of3">
          <i class="save-time-icon"></i>
          <h2 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-s u-margin-Txs">
            Get started immediately
          </h2>
          <p class="u-color-p u-margin-Txs">
            Signup and start collecting payment in 60 seconds. No SUN required.
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="grid">

        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">Request Direct Debits from your customers via email</h2>

          <p class="u-color-p u-margin-Bm">Use the add-on to send your customers email requests to set up a Direct Debit with you.</p>
          <p class="u-color-p">Choose whether to send branded email requests from our servers or customised requests from your own email address.</p>

        </div>
        <div class="grid__cell u-size1of2 u-text-end">
          <img alt="Sage setup" class="sage-screenshot u-size5of6" src="/images/products/sage-setup.png">
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="grid">
        <div class="grid__cell u-size1of2 u-text-start">
          <img alt="Sage payment page example" class="sage-screenshot u-size5of6" src="/images/products/sage-payment-page-example.png">
        </div>
        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">Your customers authorise Direct Debits on our secure online form</h2>

          <p class="u-color-p u-margin-Bm">Your customers follow a link in your email request to authorise a Direct Debit on our brandable online payment pages.</p>
          <p class="u-color-p">We use military grade encryption to keep all our communications secure, so your customers can pay with peace of mind.</p>

        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="grid">
        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">Collect invoice payments in just a couple of clicks</h2>

          <p class="u-color-p u-margin-Bm">It's unbelievably simple: just select the invoices you want to collect, and click a button to collect. Done.</p>
          <p class="u-color-p">Choose to collect the entire amount of an invoice, or schedule payments to collect an invoice in installments.</p>

        </div>
        <div class="grid__cell u-size1of2 u-text-end">
          <img alt="Sage installments" class="sage-screenshot u-size5of6" src="/images/products/sage-installments.png">
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="grid">
        <div class="grid__cell u-size1of2 u-text-start">
          <img alt="Sage reconcile" class="sage-screenshot u-size5of6" src="/images/products/sage-reconcile.png">
        </div>
        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">Automatically reconcile payments with your accounts</h2>

          <p class="u-color-p u-margin-Bm">The add-on automatically creates sales receipts for each payment and allocates it to the right invoice in Sage.</p>
          <p class="u-color-p">The add-on also handles reconciliation against your bank statements. It even accounts for our fees.</p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="grid grid--center">
        <div class="grid__cell u-size8of12 u-text-center u-margin-Tl u-margin-Bl">
          <img alt="Sage logos@2x" class="u-size5of12 u-padding-Bs" src="/images/products/sage-logos@2x.png">
          <br>
          <b>Compatible with:</b><br/> Windows XP, Windows Vista, Windows 7, Windows 8.<br/>Sage 50 Accounts 2010 onwards. <a href="https://s3.amazonaws.com/gc-misc/sage/GoCardless_Sage_User_Guide.pdf">Download user guide</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="sage-video" class="u-hidden">
    <iframe src="https://player.vimeo.com/video/72433004?api=1" style="margin-bottom:-6px;" width="900" height="562" frameborder="0">
    </iframe>
  </div> -->

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
     <div class="u-text-center u-padding-Vxl">
       <div class="u-size1of2 u-center">
         <h2 class="u-text-heading u-color-heading u-text-xl u-text-light">
           Pay 1%
         </h2>
         <p class="u-color-p u-margin-Txxs">
           Just 1% per transaction, capped at £2.
         </p>
         <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
         <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
         <p class="u-color-heading u-margin-Bxxs">
           <strong>Taking more than 500 transactions a month?</strong>
         </p>
         <a href="/pricing/#pro" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
           Learn about our enterprise pricing
         </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light">Want to learn more? Get started now</h2>
      <a href="/request-sage-demo" class="btn u-margin-Tm">Request a demo</a>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
