@import "variables";
@import "components/page-heading";
@import "components/page-subheading";
@import "components/label";
@import "components/input";
@import "components/btn";

#app_body {
  padding: 0 !important;
  margin: 0 auto;
}

#logo img {
  display: none;
}

#logo {
  position: relative;
  top: 3px;
  display: block;
  margin: 0 auto;
  width: 135px;
  height: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIcAAAAOCAMAAAAyhv8oAAAABGdBTUEAALGPC/xhBQAAAfJQTFRFNVyFNVyFNVyFNVyFNlyGNVyFNVuENlyFNVyFPWOPPWWSOF+KOmKOOmKPO2WPOmOOOmKOOWOQOGCLOmKQOmOPOmOPOWOPOWSON16JOGCLNl6HN16JOWOPOWGLOGCKOmSPOGGNNl2IOmOPOmKONlyGO2KRPmqVN12HOmOPOWOPNV2FPGOROF+KOmOPOGKMOWaTNV2GOmOPNVyHOmSPOmSPO2SSOF+JN1+JOWOSO2KQN12HOWSONlyGN12IOWOON1+JOWSPZmaZOmKQN16IOWWROmOPOmOONlyGO2KONl2GOGGON1+LOF6KO2OQOGGMOmKOO2OQOmOPOmOPOmSQPGORNl2GOmSPO2WOPWaPOmSPQ2uUPGSRRGaZNVuFN1+KOWKMPGWUO2WOOWOP////N16HPGWPN16IN16INl2GNVyGNl2IVaqqOmOPPWeSNl6INluENl+JNl2GQGOVN16IO2KQPGeSOWGNQGiPO2KPPGmWPGmPOWCMOGCKNVuFNV2HN16KOWKNPW2SNluFOmKPSW2SNVuFNlyERnSiQmiXO2KdOmOROGCKQ2SQOmKPNlyGNlyGOWOPN2CLVXGqN16IOGCNPGOOPWOSPmaTNl2FNVyGNVyFAAAANl2HNl2HNl2HNl2HNl2HOGKNOGGMNl2HOGGOOWKOUGEv2QAAAJx0Uk5T+/z7/P76/v38Oz++RnJJlZFVuVObS3SKzLbd0Iawu5Kt2I2e5EEd3J1i7Vq4kKco6Ynoe2k4w8kxdeF499Smy30FZc46oJriNOuivMVss4x+hIiFSOdCKxlmEzMP9MeqJlaYAdlE1tHx7tIDXSrI+83eJNdOL6ggWxEirsH448KlFfx/B/79CxsNWMAXmez2ULIJ26xNNi3v8/kATw333wAAA3pJREFUOMuFlVlTHEcMgOfVSZzEiXM5dpw7sRM7vu/7vm8MGAMGE3MYU5zGsBxLQdWy7JqBdTgWVU3XqKT/Gal7jl1SOHqYkaZb6m/ULbUHALOLATLuvvsSrBQzBtH0XYBInjarve1NbC+ZyUhbXrPSefOwWtOq+xNnjrnBrB87wPBaLBc13jcS79SZER2ZaQ4kdqYOPPEP2Yn5W4fuxWZH0QbpRjI9Y/tCuppzUa8zjUZEbMrlsm+ILov1j1rjYvyQ18F3lHCssFl1In9QNNRZ+NoQtgDkDJXHjgYU1ntwn5gJjTx5SHwequJMowsPEn5us9RGCzZoA/XSZMzx1r77DQ0qx7I1TpPJr+dYTHQ4Qof0NVeeVZdp1T9ufOYNy++bRwClK/iHfPqLnDkyKcpRgOcGh6IAr9zrdDh1IHxaxQEN3JNwALTyi/dwGJPqqxhrXkH+ftaqJX2cFXPKmjclTSNwnF9DlcxSLwxytpoDqK+CA8rUvzFHY1hM9Al6FnMY5owemJLIjNAyX3YjOUnUORiIz0Isn9GKzMKXVRyHlDblOMifbMzxkM29UqTfJnyQdxzIrJVgD6d4ym4MxglkbgYfqzFKWCPP47y9guP8fsRiJccxPrKOA42VTrV+CpnMd5fsyI/IFIxJfXj8H46FlOM1nFrHcYWW0k1e4hBFiPwGqOQY4sn19TJvZcCaT+5eleXbzquev98n/jU5z64GcKuri5RD0rPXOc8I2kloS3bQCZo5lYtcbzn8pqYmQ/V2KOU4yZ9uvC9OHs/zrVg/fIIHvN7kYKJytCfHdlHyk5et3lHpfo5j8ZN9eYUuQMrRQcP/x6FnLNUD9K5pof4i+i6bjxU1ZWfyf4oyJnWL4bVo8hfqYBacdNFHyfm4TfNVHDv52/fU7aXoPS4cy1EL34ce3GDbx9CdD9iT9rFA6gdaCOd06tQAfQlvuDWKMkoTab0U+EbKMdpOQWljjtrQt9O2SIA6DB7bTQpXpa//TlGqsVs/Poj7+nV7A8AF7euFAyFJdjowrjjoo9qE47mhloq+/iLn+nrZyfcVfV0a3NaQzNnCPGEtwFchBb0f1hBu8nSDC3LPmZ+noxV+vaPmb93xik8yehe1S3EVx1uT//pgbb/cc5ud0d/4LrnnslH/zcZ3252Ke+6EdsLMuMQr1NnYWV/0nlH4F9mRNLO4qqlIAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
}

  @media (-webkit-min-device-pixel-ratio: 1.5),
         (min--moz-device-pixel-ratio: 1.5),
         (-o-min-device-pixel-ratio: 3/2),
         (min-device-pixel-ratio: 1.5),
         (min-resolution: 1.5dppx) {
    #logo {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQ4AAAAcCAMAAACnBqGzAAAABGdBTUEAALGPC/xhBQAAAjRQTFRFNVyFNVyFNVyFNluGNVuFNVyFNl6HN16IO2WPN1+JN2CLOmOPOWWROmOPOWOPOF+JNVuFO2OQO2KOOWOPN16IOWGNOGKONlyGN12INl2GOGGNOGCLNlyFPGOOOWOQOGCKPGOROWOPOWSOOmKPN1+JO2SQO2KQOmSPNV2GO2KROF+KOmSQO2OOOF6KOmOPPGWPNl2FOmSPN16IOmKPN2CKPGORN16HO2KPPWeSOWOOOmKQNl6HRnSiOWOOO2KQN16IOmOPNluENl2GOmOONl2IOF+JPGSROWSPO2KPOmKPNl+JOGGOPGWUO2OQOGCKN16JOF+KOmSQN12HPGSQPGaRNlyGOWaTO2SPN1+LN2CLOGCNPWOPNVyGOmOPOWKMN16KOmOPNl2GPmaTOmKPPGmWN12HO2SSNV2HNVuFOGCLOmOOOGGMOWSOOmOPOWOPO2KPO2KdOmKOOGCKQmiXNlyGOWOONV2FPWOSQ2SQOmKQOGGMOmSPOmOPNl2HNlyGO2KONVyGOmSPQGiPRGaZPmqVN12HNl2IOWKNO2WOPGmPNl2GO2WONluFO2SOOGKMVXGqOWSPNlyGOWOSNVyHPGeSPWaPZmaZNVyFVaqqOmKOPW2SNlyESW2SQGOV////Q2uUOmKON1+KNVuFOmSPOmOPOmOQOmKOOWCMOmOPO2KOPWWSOmOROmOPOWGLAAAANl2HNl2HNlyGNlyGNlyGNVyGNlyGNVyFOGCMOGKNN1+JOGGOOWKOZ2ZkiAAAAK90Uk5T/f7+/v3+09FJy7KJOktQw/RsepjWqKHk1OutufJNVbtIhnhgyWNOe+lBvm5xxV1E72nXcr1a2YIqb2XdC4F1zpv755XSxjNrlH/NoiZ+wMy4heFeHuIoUry3rDvunarCiPEtmRHgOOP4tpqxipZ0Ww1GwRv3pu02F1OzZqDm9jTzQiAPHdzYpVYi3iv8PacJfewx6C8ZBfkDjBX9ByQBE57H/pKQd5GujWg/WISwAA5eiUoAAAfjSURBVFjDrZnpUxQ5FMDn096n632tt66u931b3reC9yqoKKIiHigoyCVyUyDIMUgBYiGIK5OprqKmu5N/bl866XQ6nW7W0fdlevI61y/Jy3uvY8iVlqJywzbt8SvLV/ShgLzek5sCbSoz6yDSSU5WHq2dyr3RqdE+LS9vUht9kfAku2BSs6wrcBUfjt1b9VKp2PXhQ5Gmj+OJoKwS2tUzZ6SSRtW3o9XKvKZOM5JGRd0fr52/MV58ZJx4Yh1VKu1KYaHEqQWBoWy8LenjqwL6Wii/q5SNEr+Ypx8LnSkrsJHdJVf8F4o0OD6RoFx10RtifLiqwatzvt0rT60XOCpTSjuWPPjOuKKNv/YN5GGt0yi2LNY4zlUWtJGW2xPgACDDWhy0xQ07vgRHGx8fH945l26DJZeTihyGY60VbKlD9PM8qLWeS+Pot2mbtVvf0r038sSZup/XVdAT0hbAYb/n8kcikxLAYx6OlY5iJKtwjdO9/eh/4LDGFGGVPkHnZj09xDkjxXR4Kb7M0LI1qwWeqscyabnZTXH8jjVgxfFcodPiQ2IYjymNDs9izKE7rVge6EuL4D8JMQI4UvL/ncAAdwocH4Wi5wTtwTozMQ5Ta9YQVE/1CmPRQfBi9lgMlIXJqtmPyXu6Oy5b4pDmreuw2ew3CYvn0sDJZXVXbLE/WtwXboOq1df9SWw/k/8XAa5X0MmDSBzoKbzSpMEBUgaDsF6kiaME3u+X/rcdY79nMcFzpPIHhdR2DHAjivezOltOQt9Gt7s0tqvdwui4xmd8gL1wA57rlQG0+SxxD0zuAoLtcT0aB9oDc+7R4kALoVe7Lz0crWrPXO4TklTLYmiIL7fX/3HDFEa+jGu9lc3gPA4zMwpL2o4i5Zoz7xpYi8vROJ5By6/1ONBm0JWmh+MAIdt15YcDA6A42PJjufuBRvHEbDy+IGmPMB7sphj0DnyYJAnZBT91hNRG40CAtiEEByqHNXmYFo4fNNN25qGpEOP301H9VP5m2lJfYRMrdDaMIc57mHzk5C7D9miMxDEAnFvCcDwF5Zu0cMChwBs15T/BHO6pOJaz5a/Wz2UdOyp+P6KTbY9f4bEXHu9H43hCSIHzcN1zi/Q4nsM4XoXhoOBnpIWDWnFrp37b4rIBP44K5oG4d+JbITd5DZC9SjvMaYvD0yFocUckjUeYmGyOZ/xcgzhgwlUoFMc/7nQ/+6K957hCZefV8jOOr5F/S8bBTMeloDuI+WkGKVPaucqcSHYZ2NGbI4+Q0/xx3HcHqTi6wbjgT+E4toG6JxoHfueTG67qGPNKk3U/9vtvQG4FM/e5gVjMlK6JIA72/gml5yx2hOCpNOBdKdIMFsO9pjIAYU8IjpujdF0uonAcf4G+67OcdK/5JXHsOk+JGqlOpYhZ7JOdEo59kTjUg3dX4LgzEY5ThEyWHZD5Mg4rxcUwaUc4H0XgAArkWZo4EJr3znaJFMqxdeXppFu+qVccljuRh0V1szaIwzI4wWHpBf/8qewQJUNDOFz8CEXhWAivDEwQswz7RLlO+udPZ1NPdvkTBksXsYDXrEQxwxlLVQgOBqtY6fm2U/oEnrbCezcjcCR8lW9a0jT9OPCovIl1OOrTNqVyemMWnWFwQzfW03K7L7abjYaHOGf7qdgCRy07Fl3BeJ0d9JpgpOozj9DJukFPDAZRtR3zsHJ76XDAGpR/MQ6E3nbA0Ic1Q10E5VNjw0TMTQ4BeZdtTHvAV5MRJEv4Tbw3vO8RTSzsHok30uEeUtJDGhxgk8nYV8CBBmB253SKK+A7xLqZecAlWhx9XCvnNw7JTjp4A/5QBAW4KpKnwYHOQTO/ROIAV5j7L1+Igw5Za/4XQAMxVMiDtAYdDpTPtVs9v53nAza7tpL8FtbxeuhgyCfZ0G6zBsdL6NJ8FoFjF6zBFPRVcLzRRLJU5jo4ern5xAe4f9BQ5ZlS9MrV5rILorKJ30uGx1rcS66ceC+819agQ3tKg8NJq6wJx0HTeHZPeji6En5H/BIhsx1rceehr3wMMMUgxBEJnlRd4dF2U75ZECrx0j/tde3uJU2sHNeZgAniS7528zF2HMIL8Jp67YAxsno1OJyLJjsMRwFN/9xKL/3TbZDbsjPaZ/NFaiJ2i/xinJDdNDk4k+jEcqFpk4Pe0TpO+a3xnIvV9OqO0wVpJ+RdwJDB2wkdDrQdWn2gw9E9iUZO1tw0k4P7aOVB4Xr10UwBjawX02lcfCveA6OBv3NSx62aGY+LyGZpUGvK+Y+DTuo4dz1d9OZ7s+nbHdToVYJ/HgibaD7J7Nbh2AGTNs8GUscnqxxblWzxpY5H/NIckjp28qulTqR2ai01TVtu2OISG6Xl1qZhGsyfvUYX8Xv+YWGbmsm3snukaMFQtFca/VmsDuL/sDDoFE/WXmg0fTaiw4FaLOGVBIZzqc/vrStyP+TDAgvUS5K8FTY+7Jq6W0+Ib+DbB9zPTq9a5RGYpV1Kfi8pnZP488Ac18qfpWrZ1UGzgY80m3clv6MDOGgWkUe/ymenol41ePksHAhtlsZnb5NSUxVeuZkhfYUDhvnLnM+Kea0/aybRUj/N0dYWnNea71tFHeO2mYxPH3OHvjqRGNK9WZ1IJB6zj5LX1MREIjGlT/0o+eBh4KYISCW1YR+C4oXiOSPfVBnJVHtpib+xmoxT16H8+ga2xv8BR4S9DWE26fEAAAAASUVORK5CYII=);
      background-size: 135px 14px;
    }
  }

#header {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  .app-title {
    @extend .page-heading;
    text-align: center;
  }
  .company-name, .location, #apply_button {
    display: none;
  }
}

#content {
  display: none;
}

#application {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  button, input, label, textarea {
    font-family: $font-family-base;
    color: $text-color;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }

  .heading {
    @extend .page-subheading;
    text-align: center;
    float: none;
  }

  .required-fields, .asterisk {
    display: none;
  }

  #application_form {
    width: 380px;
    margin: 0 auto;
    .button {
      @extend .btn;
      @extend .btn--info;
      @extend .btn--block;
      font-weight: bold;
      text-shadow: none;
    }
    hr {
      margin-top: 0;
      margin-bottom: 18px;
    }
    a {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  #main_fields, #custom_fields {
    .field {
      margin-bottom: 0;
    }
    .field label {
      @extend .label;
      @extend .label--stacked;
      float: none;
      text-align: left;
      width: 100%;
      margin-right: 0;
      line-height: 1.46777;
    }
    .field input[type='text'], {
      @extend .input;
      @extend .input--stacked;
      box-sizing: border-box;
      width: 100% !important;
    }
    .field select {
      margin-bottom: 18px;
    }
    .field .field-error-msg {
      padding: 0;
      margin-top: -15px;
      margin-bottom: 15px;
    }
    .attach-or-paste {
      margin-bottom: 18px;
      textarea.paste {
        @extend .input;
        margin-left: 0 !important;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        height: 200px;
        display: none;
      }
      .field-error-msg {
        margin-top: 0;
        margin-bottom: 0;
      }
      .progress-bar .upload {
        width: 378px;
        padding: 0;
        .progress {
          @extend .input;
          height: 100%;
          padding: 0;
          border: 1px solid $text-color-invert-secondary;
          .bar {
            height: 15px;
            background: #3BA031;
          }
        }
      }
      #resume_filename {
        font-family: monospace;
      }
    }
    br {
      display: none;
    }
  }
}

#footer, .addthis_toolbox, #view-more {
  display: none;
}

#application_confirmation {
  text-align: center;
}
