{% extends "default.html" %}

{% block title %}Jobs at GoCardless{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}

<div class="jobs-container">

  <div class="grid">
    <div class="grid__cell u-1of1 u-text-center">
      <div class="site-gutter jobs-container__header">
        <h1 class="u-text-heading u-text-hero u-text-light jobs-container__header-headline">
          Help us build the future of payments
        </h1>
      </div>
    </div>
  </div>

  <div class="site-gutter site-container u-margin-Bm">
    <div class="grid u-center u-padding-Vl u-margin-Vm u-text-heading u-text-light">
      <div class="grid__cell u-6of12 u-padding-Rl u-text-h3">
        <p>Running a business isn't easy, and we believe that getting paid shouldn't be the hardest part. We're on a mission to simplify recurring payments, and we're looking for smart people to help get us there.
        </p>
      </div>
      <div class="grid__cell u-6of12 u-padding-Ll u-text-h3">
        <p>We're growing incredibly quickly — we grew by over 700% last year, we're expanding our offer to include European Direct Debit, and we're working with some of the UK's largest organisations.
        </p>
      </div>
    </div>

    <hr class="horizontal-ruler-top-double">

    <div class="grid u-center u-padding-Vl u-margin-Vm">
      <div class="grid__cell u-6of12 u-padding-Rl">
        <img src="/images/jobs/office-scene@2x.jpg" class="jobs-container__photo">
      </div>
      <div class="grid__cell u-6of12 u-padding-Ll">
        <h1 class="u-text-heading u-color-primary u-text-light u-margin-Bl">We think you'll like it here</h1>
        <p class="u-margin-Bm">We care as much about building a great company as we do about building a great business. That means hiring the best people and giving them a great environment to work in.</p>
        <p class="u-margin-Bm">We're small and friendly with a strong culture. We're all friends, and we often get together outside of work. We're a company of passionate people who are constantly learning from and teaching each other.</p>
        <p class="u-margin-Bm">We care deeply about learning. We pay for courses & books and run regular internal talks given by both GoCardless employees and industry experts.</p>
        <p>
          Come and join our payments revolution.<br>
          <a ng-gc-smooth-scroll href="#jobs-container__target" class="u-text-underline">View our open positions.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="gradient-fill-dark u-color-invert u-padding-Vl u-margin-Bl jobs-container__workingatgc">
    <h2 class="u-text-heading u-text-hero u-color-invert u-text-center u-text-light u-margin-Vl u-padding-Ts">Working at GoCardless</h2>

    <div class="grid u-center u-text-center jobs-container__teams u-padding-Hl u-margin-Bl u-padding-Vl">

      <div class="u-padding-Bl u-margin-Bs">
        <div class="grid__cell u-1of2 u-padding-Hl">
          <div class="u-pull-start u-padding-Rm">
            <i class="jobs-container__icon--engineering-invert"></i>
          </div>
          <div class="u-pull-start jobs-container__team-copy">
            <h2 class="u-text-heading u-color-invert u-margin-Bs">Engineering</h2>
            <p class="u-margin-Bm">We're building a simple, intuitive system on
            top of the Europe's broken payments infrastructure.</p>
            <p class="u-margin-Bm">When you're processing millions of pounds of payments
            every day there's no space for inconsistent data or downtime. Everything we
            build has to be extremely robust.</p>
            <p class="u-margin-Bm">At the same time, we're a startup growing at over 700% a year. We're nimble, deploying every day, and we're doing our most ambitious work right now.</p>
            <p>If you're passionate about tech, care deeply about learning and finding
            elegant solutions, and want to work with like-minded engineers, come work with us.</p>
          </div>
        </div>

        <div class="grid__cell u-1of2 u-padding-Hl">
          <div class="u-pull-start u-padding-Rm">
            <i class="jobs-container__icon--design-invert"></i>
          </div>
          <div class="u-pull-start jobs-container__team-copy">
            <h2 class="u-text-heading u-color-invert u-margin-Bs">Design</h2>
            <p class="u-margin-Bm">Our user experience team is responsible for just that: the experience of using GoCardless. Since our ambition is to make payments easier for businesses, this is a pretty big deal to us.</p>
            <p class="u-margin-Bm">Our designers and front-end developers work hand-in-hand to create interfaces that make managing thousands of payments easy. We collaborate with engineers to solve and implement complex interaction problems, and work with marketers on the projects that drive our incredible growth.</p>
            <p>If you care about experience above all else, you'll fit right in. You'll be at the centre of our company, helping shape the way businesses take payments.</p>
          </div>
        </div>
      </div>

        <div class="grid__cell u-1of2 u-padding-Hl">
          <div class="u-pull-start u-padding-Rm">
            <i class="jobs-container__icon--salesmarketing-invert"></i>
          </div>
          <div class="u-pull-start jobs-container__team-copy">
            <h2 class="u-text-heading u-color-invert u-margin-Bs">Business</h2>
            <p class="u-margin-Bm">We are already one of London’s fastest growing startups but our ambitions go far beyond this. We are building a big business from the ground up and are looking for smart, driven people to lead the exciting projects which will help us achieve this.</p>
            <p class="u-margin-Bm">We believe in long-term value, trust and integrity. All our work in sales, marketing and business development is focused around helping customers make informed buying decisions because ultimately we know our product and service is the best.</p>
            <p>If you like the sound of exciting, challenging work with genuine impact in a fast-paced environment then this might be the place for you.</p>
          </div>
        </div>

        <div class="grid__cell u-1of2 u-padding-Hl">
           <div class="u-pull-start u-padding-Rm">
            <i class="jobs-container__icon--operations-invert"></i>
          </div>
          <div class="u-pull-start jobs-container__team-copy">
            <h2 class="u-text-heading u-color-invert u-margin-Bs">Operations</h2>
            <p class="u-margin-Bl">We handle one of the most important facets of our customers' business &mdash; their income. Our customers want to be assured and safe in the knowledge that we are taking the utmost care with their funds.</p>
            <p class="u-margin-Bl">Acting with integrity is a core part of our values. Delivering on our promises is our highest priority. We don’t want our customers to just be pleased with their interactions with us, we want them to be delighted.
            </p>
            <p>We ensure that our operations run like clockwork. When a customer has a problem, we make sure we respond quicker than they expect. We are always looking to improve processes so we can improve the service we can offer our customers.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="grid site-gutter site-container u-padding-Bl u-margin-Hs" id="jobs-container__target">

    <h2 class="u-text-heading jobs-container__open-positions-title u-text-h2 u-margin-Tl">Open positions</h2>

    <div class="grid__cell u-padding-Hn u-3of12">
      <ul class="nav nav-tabs u-margin-Ts">

        <li class="nav-tabs__section-heading">Engineering</li>
        <li class="active">
          <a href="#software-engineer" data-toggle="tab">
            Backend Software Engineer
          </a>
        </li>
        <li>
          <a href="#web-ops" data-toggle="tab">
            Web Operations Engineer
          </a>
        </li>

        <li class="nav-tabs__section-heading">Design</li>
        <li>
          <a href="#web-designer" data-toggle="tab">
            Web Designer
          </a>
        </li>
        <li>
          <a href="#front-end-developer" data-toggle="tab">
            Front-end Developer
          </a>
        </li>

        <li class="nav-tabs__section-heading">Sales &amp; marketing</li>
        <li>
          <a href="#business-development" data-toggle="tab">
            Business Development
          </a>
        </li>
        <li>
          <a href="#content-marketer" data-toggle="tab">
            Content Marketer
          </a>
        </li>
        <li>
          <a href="#growth-analyst" data-toggle="tab">
            Growth Analyst
          </a>
        </li>
        <li>
          <a href="#junior-sales-executive" data-toggle="tab">
            Junior Sales Executive
          </a>
        </li>
        <li>
          <a href="#senior-sales-executive" data-toggle="tab">
            Senior Sales Executive
          </a>
        </li>
        <li>
          <a href="#account-manager" data-toggle="tab">
            Account Manager
          </a>
        </li>

        <li class="nav-tabs__section-heading">Operations</li>
        <li>
          <a href="#office-manager" data-toggle="tab">
            Office Manager
          </a>
        </li>
        <li>
          <a href="#support-analyst" data-toggle="tab">
            Support Analyst
          </a>
        </li>
      </ul>
    </div>
    <div class="grid__cell u-9of12">
      <article class="tab-pane active u-padding-Tl" id="software-engineer">
        {% include "jobs/_software_engineer.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="web-ops">
        {% include "jobs/_web_ops.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="web-designer">
        {% include "jobs/_web_designer.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="front-end-developer">
        {% include "jobs/_front_end_developer.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="business-development">
        {% include "jobs/_business_development.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="content-marketer">
        {% include "jobs/_content_marketer.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="growth-analyst">
        {% include "jobs/_growth_analyst.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="junior-sales-executive">
        {% include "jobs/_junior_sales_executive.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="senior-sales-executive">
        {% include "jobs/_senior_sales_executive.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="account-manager">
        {% include "jobs/_account_manager.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="office-manager">
        {% include "jobs/_office_manager.html" %}
      </article>
      <article class="tab-pane u-padding-Tl" id="support-analyst">
        {% include "jobs/_support_analyst.html" %}
      </article>
    </div>
  </div>

</div>

{% endblock %}
