{% extends "default.html" %}

{% block title %}Download our Direct Debit Guide{% endblock %}
{% block meta_tags %}<meta name="robots" content="noindex,follow">{% endblock %}

{% block content %}
  <h1 class="page-heading u-text-center">Download our Direct Debit Guide</h1>
  <h2 class="page-subheading u-text-center">Download our free eBook, a complete guide to Direct Debit.</h2>

  <div class="grid grid--center">
    <div class="grid__cell u-size1of2">
      <form accept-charset="UTF-8" action="/api/v1/prospects/dd_guide"
        method="post"
        class="ng-pristine ng-valid"
        name="prospectForm"
        ng-controller="NgGcProspectForm"
        ng-gc-form-submit="{
          onCreate: onProspectCreate,
          form: prospectForm,
          data: prospectForm.data
        }"
        ng-gc-ga-event-tracker="{
          event: 'submit',
          label: 'dd-guide'
        }">
        {% include "_prospect_form_fields.html" %}

        <button class="btn btn--info btn--block u-margin-Tl"
          type="submit"
          ng-disabled="prospectForm.$pristine || prospectForm.$isSubmitting">
          Download Direct Debit guide
        </button>
      </form>
    </div>
  </div>

  <div class="u-margin-Tm u-padding-Tm u-text-center">
    <p>
      <strong>Want to talk to an expert?</strong>
      Call us on {{ SUPPORT_CONTACT_NUMBER }}
    </p>
    <p><a href="https://help.gocardless.com/">Looking for merchant support?</a></p>
  </div>

{% endblock %}
