{% extends "plain.html" %}

{% block title %}Le prélèvement high-tech{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless offre la meilleure technologie de prélèvement bancaire SEPA en Europe. Acceptez les paiements via compte bancaire et simplifiez vos paiements récurrents et votre facturation.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--home page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "fr/_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Simplifions les paiements récurrents
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            GoCardless rend le prélèvement bancaire Européen simple pour tous, <br>des start-ups aux grandes entreprises.
          </div>
          <div class="u-text-center u-margin-Tl">
            <a href="#learn-more" id="track-hero-learn-more" ng-gc-smooth-scroll class="btn btn--invert btn--move u-size-3of12">En apprendre plus</a>
            <a href="https://manage-sandbox.gocardless.com/registrations/new" id="track-cta-try-pro-dash" class="btn btn--invert-hollow u-size-3of12">Essayez gratuitement</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-text-center u-padding-Vxxl" id="learn-more">
    <div class="u-padding-Vxl">
      <div class="u-size-2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          La meilleure technologie de prélèvement
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          Accéder au prélèvement SEPA afin d'améliorer votre rétention clients et de bénéficier de tarifs très compétitif, sans les complications associés aux opérateurs historiques.
        </p>
      </div>
      <div class="grid u-margin-Tl u-padding-Tm">
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/mobile-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/mobile-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Fait pour le récurrent
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Oubliez les cartes qui expirent et les virements qui tardent
          </p>
        </div>
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/checklist-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/checklist-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Automatisé de A à Z
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Gagnez du temps et ne manquez plus jamais un paiement
          </p>
        </div>
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/money-flower-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/money-flower-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Parfait pour l'Europe
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Acceptez les paiements SEPA via compte bancaire dans 22 pays
          </p>
        </div>
      </div>

      <p class="u-color-p u-margin-Txxl u-padding-Tm">Vous voulez en apprendre plus sur le prélèvement SEPA?<a href="https://gocardless.com/fr/guides/sepa"> Lisez notre guide</a></p>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Tl">
      What are you looking for?
    </h2>
    <div class="product-grid grid u-margin-Vxxl">
      <a href="/features" id="track-cta-features" class="u-link-clean u-text-center grid__cell u-size-1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/shop-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/shop-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Super simple<br>online payments
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover GoCardless</div>
      </a>
      <a href="/pro" id="track-cta-pro" class="u-link-clean u-text-center grid__cell u-size-1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/pro-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/pro-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Complete control<br>over Direct Debit
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover GoCardless Pro</div>
      </a>
      <a href="/partners" id="track-cta-partners" class="u-link-clean u-text-center grid__cell u-size-1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/integrations-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/integrations-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Help your customers<br>collect payments
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover our partners</div>
      </a>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Txl">
      <div class="u-size-1of2 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Trusted by thousands of businesses
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          We’re a Bacs approved bureau that collects millions of pounds for our merchants every day. Whatever your scale, GoCardless works for you.
        </p>
      </div>
      <div class="u-text-center u-margin-Vl u-padding-Vs u-center">
        <img src="/images/logos/pro-logos@2x.png">
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size-2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Simple, transparent pricing for everyone
        </h2>
        <p class="u-text-s u-color-p u-margin-Vxs">
          Competitive rates for everyone from individuals through to large corporations
        </p>
        <a href="/pricing" id="track-cta-pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" id="track-cta-sign-up" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% include "/why-dd/_why-dd-modal.html" %}

{% endblock %}
