---
is_homepage: true
language: fr
other_languages:
  en: /
---

{% extends "plain.html" %}

{% block title %}Le prélèvement high-tech en Europe{% endblock %}
{% block meta_tags %}<meta name="description" content="Accédez au prélèvement SEPA afin d'améliorer votre rétention clients et réduire vos coûts, sans les complications associées aux opérateurs historiques.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--home page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "fr/_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Simplifions les paiements récurrents
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            GoCardless rend le prélèvement bancaire Européen simple pour tous, <br>des start-ups aux grandes entreprises.
          </div>
          <div class="u-text-center u-margin-Tl">
            <a href="/fr/pro" id="track-hero-learn-more" class="btn btn--invert btn--move u-size-3of12">En apprendre plus</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-text-center u-padding-Vxxl" id="learn-more">
    <div class="u-padding-Vxl">
      <div class="u-size-2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          La meilleure technologie de prélèvement
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          Accédez au prélèvement SEPA afin d'améliorer votre rétention clients et de bénéficier de tarifs très compétitif, sans les complications associées aux opérateurs historiques.
        </p>
      </div>
      <div class="grid u-margin-Tl u-padding-Tm">
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/realtime-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/realtime-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Fait pour le récurrent
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Oubliez les cartes qui expirent et les virements qui tardent
          </p>
        </div>
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/checklist-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/checklist-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Automatisé de A à Z
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Gagnez du temps et ne manquez plus jamais un paiement
          </p>
        </div>
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/tick-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/tick-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Parfait pour l'Europe
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Acceptez les paiements SEPA via compte bancaire dans 22 pays
          </p>
        </div>
      </div>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-l u-text-heading u-color-heading u-text-light">
        Expertise de paiements
      </h2>
      <p class="u-text-s u-color-p u-margin-Txs u-size-1of2 u-center">
        Nous vous conseillons sur toutes les étapes d'implementation de vos paiements par prélèvement SEPA et offrons un support de première classe en continu.
      </p>
      <div class="u-size-1of2 u-center">
        <hr class="u-margin-Vxl horizontal-rule u-size-3of4 u-center">
        <p class="u-color-heading u-margin-Bxxs">
          <strong>Vous voulez en apprendre plus sur le prélèvement SEPA ?</strong>
        </p>
        <a href="https://gocardless.com/fr/guides/sepa"
          class="u-color-primary u-text-upcase u-text-xxs
          u-text-heading u-text-semi">
          Lisez notre guide
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Txl">
      <div class="u-size-1of2 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Entre de bonnes mains
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          Nous collectons des millions pour plus de 10.000 clients chaque jour, en conformité avec les règles SEPA et sous la supervision de la FCA. Nous aidons les start-ups comme les plus grandes entreprises.
        </p>
      </div>
    </div>
    <div class="u-padding-Vxl u-margin-Tl">
      <div class="stories-testimonials__grid grid u-text-center">
        <a href="#guardian"
        class="grid__cell u-padding-Hl stories-testimonials__link--guardian u-size-1of3 stories-testimonials__link u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'guardian'
        }">
          <img src="/images/stories/guardian-logo@2x.jpg">
        </a>
        <a href="#funding-circle"
        class="grid__cell u-padding-Hl stories-testimonials__link--funding-circle u-size-1of3 stories-testimonials__link u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'funding-circle'
        }">
          <img class="stories-testimonials__link-image--funding-circle" src="/images/stories/funding-circle-logo@2x.jpg">
        </a>
        <a href="#lendable"
        class="grid__cell u-padding-Hl stories-testimonials__link--lendable u-size-1of3 stories-testimonials__link u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'lendable'
        }">
          <img class="stories-testimonials__link-image--lendable" src="/images/stories/lendable-logo@2x.jpg">
        </a>
      </div>
      <div id="guardian" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonials__quote stories-testimonials__quote--guardian u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"The Guardian recherche toujours à offrir la meilleure expérience client et a choisi GoCardless pour simplifier l'expérience du paiement récurrent."</p>
          </div>
        </div>
      </div>
      <div id="funding-circle" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonials__quote stories-testimonials__quote--funding-circle u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"
              Nous avons migré sur GoCardless pour que nos prélèvements puissent être gérés par une seule personne au lieu de tout un département. C'est un plaisir de travailler avec une société de technologie financière qui s'engage également à aider les entreprises."</p>
          </div>
        </div>
      </div>
      <div id="lendable" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonials__quote stories-testimonials__quote--lendable u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"
              GoCardless est une des meilleures entreprises de paiements avec laquelle j'ai travaillé. Leur API est simple à intégrer et nous permet d'utiliser le prélèvement de façon entièrement automatisée. Je les recommende fortement à toutes les entreprises qui ont pour priorités une bonne expérience client et l'utilisation de la meilleure technologie disponible pour leurs prélèvements en Europe."</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/fr/pro" id="track-cta-sign-up" class="btn">En apprendre plus</a>
    </div>
  </div>

  {% include "fr/_site_footer.html" %}

</div>

{% endblock %}
