{% extends "plain.html" %}

{% block title %}Restricted Activities{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-text-center u-color-invert u-text-xl u-text-light u-margin-Vxm">
      Our terms of service
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl grid">
    <div class="u-padding-Vxl">
      {% include "legal/_sidebar.html" %}
      <div class="grid__cell u-size8of12">
        <div class="row">
          <h2 class="u-text-heading-light u-text-m u-color-heading">Old restricted activity lists</h2>
          <p class="para">
            These are outdated lists of restricted activities for which you may not use the services GoCardless offers. You can read an up-to-date list of our Restricted Activities <a href="/legal/restrictions" class="u-link-medium-gray u-text-underline">here</a>.
          </p>
          <ul class="list">
            <li>
              <a href="/legal/old-restrictions/2014-07-31" class="u-link-medium-gray u-text-underline">Restricted activities [prior to 31st July 2014]</a>
            </li>
            <li>
              <a href="/legal/old-restrictions/2014-09-19" class="u-link-medium-gray u-text-underline">Restricted activities [prior to 19th September 2014]</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
