{% extends "default.html" %}

{% block title %}Restricted activities{% endblock %}

{% block content %}

  <div class="grid">
    {% include "legal/_sidebar.html" %}
    <div class="grid__cell u-size8of12 u-padding-Bl">
      <div class="row">
          <header>
            <h3 class="page-heading">Old restricted activity lists</h3>
          </header>
        <p class="para">
          These are outdated lists of restricted activities for which you may not use the services GoCardless offers. You can read an up-to-date list of our Restricted Activities <a href="/legal/restrictions">here</a>.
        </p>
        <ul class="list">
          <li>
            <a href="/legal/old-restrictions/2014-07-31">Restricted activities [prior to 31st July 2014]</a>
          </li>
          <li>
            <a href="/legal/old-restrictions/2014-09-19">Restricted activities [prior to 19th September 2014]</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
