{% extends "default.html" %}

{% block title %}VouchedFor - Customer Stories{% endblock %}

{% block content %}
  <div class="grid grid--center u-margin-Ts">
  <h1 class="page-heading u-padding-Bm">VouchedFor saved management time by switching to online Direct Debit with GoCardless
  </h1>
    <div class="grid__cell u-2of12 u-padding-Bl">
      <img src="/images/stories/vouched-for/headshot.jpg" class='u-border-circle'>
    </div>
    <div class="grid__cell u-8of12">
      <h2 class="u-text-heading">&ldquo;With GoCardless automating our payment collections, we can scale our business faster.&rdquo;</h2>
      <span class="testimonial--citation">
        Andrew Jordan, VouchedFor
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Save time spent managing payments</strong></li>
          <li><strong>Take payments through their site</strong> within just 2 weeks</li>
          <li><strong>Vary their pricing</strong> more easily</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bl">
      <h3 class="section-heading">
       Challenge
      </h3>
      <div class="section-subheading">
      “Taking payments by cheque and bank transfer made the business inflexible”
      </div>
      <p class="para">
        <a href="http://vouchedfor.co.uk" rel='nofollow'>VouchedFor</a> is a financial advice marketplace and review site which helps consumers to find expert Financial Advisors.
      </p>
      <p class="para">
        “With major regulatory changes constantly taking place in the financial advisory market we needed the flexibility to evolve quickly. Taking payments by cheque and bank transfer made the business inflexible", says Andrew Jordan, CTO. “A large proportion of our time was spent managing payments, instead of testing and optimising our pricing.”
      </p>


      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
      “GoCardless handles the complex processes of Direct Debit for us”
      </div>
      <p class="para">
        Andrew believed a variable online payment system would give them the flexibility they needed. However, having looked into Direct Debit services in the past, “was put off by the expertise and manual processes required.  We want to be experts in helping the public find recommended IFAs, not in managing payments."
      </p>
      <p class="para">
        Using the GoCardless API was the perfect solution.  “Now advisors can set up variable payments through our website, while GoCardless handles the complex processes of Direct Debit for us.” Working with the GoCardless support team, VouchedFor were able to start collecting payments through the site in less than two weeks.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      “We can stop worrying about payments and focus on our business”
      </div>
      <p class="para">
       Using GoCardless has helped VouchedFor to reduce the time spent managing payments.  Andrew explained, “with GoCardless automating our payment collections, we can stop worrying about payments and focus on scaling our business. Variable Direct Debits also mean we can test our pricing, without hassling our customers."
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}

{% block footer_content %}
  {% include "_affixed_cta_component.html" %}
{% endblock %}
