{% extends "plain.html" %}

{% block title %}Bluesky Business - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Bluesky Business reduced late payments by 62.5% in one month with GoCardless. Read the testimonial of how they reduced time spent chasing clients for payment.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Bluesky Business
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size4of6 u-center u-text-center">
        Bluesky Business reduced late payments by 62.5% in one month with GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size1of3">
          <i class="tick-icon"></i>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            We helped them reduce debtor days by 50% - within a month
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <i class="tick-icon"></i>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            GoCardless helped them reduce late payments by 62.5%
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <i class="tick-icon"></i>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            We helped them sign up 70% of customers to pay on time in one month
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “We used to spend two full days a month just chasing clients for payment”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          <a href="http://www.bluesky-business.co.uk" class="u-link-medium-gray u-text-underline" target="_blank">Bluesky Business</a> provide professional book-keeping and accounting services. As a growing business, it was important for them to maintain a strong cashflow to finance new hires, and maintain a clear sales ledger and forecast.
        </p>
        <p class="u-color-p u-margin-Tm">
          “Only 20% of our customers were paying within the required 30 days. We used to spend two full days a month just chasing clients for payment up to three months late," says Emma Mills, Director.
        </p>
      </div>
    </div>
  </div>

  <div class="vertical-page__professional-services-bg">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size2of3 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “Our cashflow and business have been transformed since we started using GoCardless. Within a month our average debtor days had halved and 70% of our customers were paying on time. We're wasting less time chasing payments, and can really focus on growing our business”
          </p>
        </div>
        <img src="/images/testimonials/bluesky__avatar.png" class="u-size1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Emma Mills</div>
        <div class="u-color-invert u-text-heading u-text-xs">Bluesky Business</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “GoCardless gave us the automated Direct Debit solution we needed”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Bluesky needed an assured payment system that integrated with their Sage 50 accounts, and quickly turned to the GoCardless add-on. Now, when each invoice is due, it is automatically collected from client's accounts, and marked as "paid" in Sage.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “Our cashflow and business have been transformed since we started using GoCardless”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Within a month of switching to GoCardless, 70% of Bluesky's clients signed up to pay by Direct Debit.
        </p>
        <p class="u-color-p u-margin-Tm">
          "Our cashflow and business have been transformed since we started using GoCardless. Within a month our average debtor days had halved and 70% of our customers were paying on time. This means we waste less time chasing payments so we've got the time now to really grow the business".
        </p>
        <a href="/professional-services" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-block u-margin-Txl">
            See how GoCardless works for professional services
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}