{% extends "plain.html" %}

{% block title %}About{% endblock %}

{% block body %}

<div ng-gc-hide-popover>

  <div class="about-container__intro u-relative">
    <div class="site-container about-container__full-height">
      <div class="about-container__header site-gutter u-cf align-btn-small u-padding-Vxs">
        {% include "_invert_nav.html" %}</div>
        <div class="about-container__table">
          <div class="about-container__intro-text">
            <h1 class="about-container__intro-heading u-text-heading u-color-invert u-text-center hero-heading u-text-light">We're on a mission<br>to make payments simple</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-container__content">
    <div class="site-container u-padding-Vl">
      <div class="u-5of6 u-center u-padding-Vl">

        <div class="grid u-padding-Hs">
          <div class="grid__cell u-9of12 u-text-heading u-text-h3 u-text-light">
            <p>GoCardless serves more businesses than any other Direct Debit provider. We are based in the City of London, and are authorised by the Financial Conduct Authority. Our investors include Accel Partners, Passion Capital, Balderton Capital and Y Combinator.
          </p>
          </div>
          <div class="grid__cell u-3of12">
            <img class="about-container__investors u-pull-end" src="/images/about/sponsors-investors@2x.png">
          </div>
        </div>

      </div>

      <hr class="horizontal-ruler-top-double">

      <div ng-gc-randomize-team class="about-container__team u-5of6 u-center u-padding-Tl u-padding-Bs u-cf">

        <!-- <div class="team-member__grid grid u-margin-Bl u-margin-Tl"> -->

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/hiroki@2x.png" alt="Hiroki Takeuchi">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Hiroki<br>Takeuchi
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Hiroki Takeuchi</h3>
                <p>
                  Before founding GoCardless, Hiroki worked closely with Global Financial
                  Institutions at McKinsey &amp; Company.
                  <br><br>
                  Hiroki studied Mathematics at Oxford University, and has interned at
                  J.P. Morgan and Auctomatic.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/matt@2x.png" alt="Matt Robinson">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Matt<br>Robinson
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Matt Robinson</h3>
                <p>
                  Prior to founding GoCardless, Matt worked at McKinsey &amp; Company,
                  and studied Law at Oxford University.
                  <br><br>
                  Matt started his first business at age 16, which funded his
                  university degree.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/harry@2x.png" alt="Harry Marr">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Harry<br>Marr
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Harry Marr</h3>
                <p>
                  Before joining GoCardless, Harry worked at Conversocial,
                  iPlatform, and ran a development agency.
                  <br><br>
                  He created popular open source project MongoEngine, and
                  studied Computer Science at Leeds University.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/grey@2x.png" alt="Grey Baker">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Grey<br>Baker
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Grey Baker</h3>
                <p>
                  Before joining GoCardless, Grey worked for McKinsey where he
                  specialised in Retail Banking.
                  <br><br>
                  Grey holds an MPhil in Economics from Cambridge, where he graduated top
                  of his year. He spends his spare time learning to program.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/alan@2x.png" alt="Alan Kennedy">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Alan<br>Kennedy
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Alan Kennedy</h3>
                <p>
                  Alan previously worked at LeapCR. He also worked for clients such as
                  Sky at Unboxed Consulting.
                  <br><br>
                  Alan studied Computer Science at UCL.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/philip@2x.png" alt="Philip Harrison">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Philip<br>Harrison
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Philip Harrison</h3>
                <p>
                  Before joining GoCardless, Philip ran a design agency and
                  co-founded a production company specialising in Mac education.
                  <br><br>
                  Philip studied Economics at Jönköping International Business
                  School and spends his spare time geeking out in Javascript.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

        <!-- </div>

        <div class="team-member__grid grid u-margin-Bl u-margin-Tl"> -->

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/tim@2x.png" alt="Tim Rogers">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Tim<br>Rogers
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Tim Rogers</h3>
                <p>
                  Alongside working at GoCardless, Tim is currently studying BSc Government
                  at the London School of Economics.
                  <br><br>
                  He has been involved in a number of early-stage startups and is a keen
                  Ruby developer.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/nabeel@2x.png" alt="Nabeel Qureshi">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Nabeel<br>Qureshi
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Nabeel Qureshi</h3>
                <p>
                  Before joining GoCardless, Nabeel worked at Accenture and the
                  Bank of England.
                  <br><br>
                  He graduated with a first from Oxford in Philosophy, Politics
                  and Economics, and spends his spare time programming.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/al@2x.png" alt="Alasdair Monk">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Alasdair<br>Monk
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Alasdair Monk</h3>
                <p>
                  Alasdair studied Applied Information Technology at Reading where he
                  achieved a first class honours degree and finished top of his class.
                  He now leads our design team.
                  <br><br>
                  Before GoCardless, he worked independently with a range of clients from
                  tech startups to established advertising and design studios.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

           <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/steve@2x.png" alt="Steve Domin">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Steve<br>Domin
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Steve Domin</h3>
                <p>
                  Steve previously worked at Kpsule and interned at MXP4. He also worked
                  for a number of Paris-based startups and agencies while studying
                  computer science at Supinfo International University.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/andy@2x.png" alt="Andy Appleton">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Andy<br>Appleton
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Andy Appleton</h3>
                <p>
                  Andy joined GoCardless from Mint Digital, a creative agency in London.
                  <br/><br/>
                  He loves client and server-side JavaScript and has a degree in
                  Mechanical Engineering from Exeter. He is happy that his job almost
                  never makes use of it.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/maria@2x.png" alt="Maria Campbell">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Maria<br>Campbell
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Maria Campbell</h3>
                <p>
                  Prior to joining GoCardless, Maria's administrative career included roles
                  in environmental policy and political fundraising. She has an MA in
                  Philosophy from Cambridge and an MA in English &amp; American Literature.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

        <!-- </div>

        <div class="team-member__grid grid u-margin-Bl u-margin-Tl"> -->

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/alina@2x.png" alt="Alina Solovjova">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Alina<br>Solovjova
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Alina Solovjova</h3>
                <p>
                  Before joining GoCardless, Alina managed operations and logistics at
                  an e-commerce start-up.
                  <br /><br />
                  Alina studied Physics at Imperial College London, and applies her
                  skills to producing some excellent spreadsheets.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/ricky@2x.png" alt="Ricky Shafier">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Ricky<br>Shafier
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Ricky Shafier</h3>
                <p>
                  After graduating from the University of Birmingham Ricky moved to
                  Canada for a year, where he worked as a winter sports photographer.
                  <br /><br />
                  Before joining GoCardless he worked at RBS and is now part of the
                  GoCardless sales team.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/ben@2x.png" alt="Ben Sims">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Ben<br>Sims
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Ben Sims</h3>
                <p>
                  Ben holds a BSc in Biology and MSc in Economics &amp; Finance from the University of Newcastle.
                  <br /><br />
                  In his spare time Ben is a keen rugby player.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/james@2x.png" alt="James Berry">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                James<br>Berry
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">James Berry</h3>
                <p>
                  Before joining GoCardless, James studied Electronic &amp; Electrical
                  Engineering at the University of Bath and worked as a software developer
                  in the secure communications industry.
                  <br><br>
                  James spends his spare time working towards his long-term career aim of
                  'making it' in the music industry.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/dan@2x.png" alt="Daniel Lyons">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Daniel<br>Lyons
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Daniel Lyons</h3>
                <p>
                  Daniel graduated from Lancaster University in 2009 with a BA in Politics
                  and International Relations.
                  <br><br>
                  Prior joining GoCardless Daniel worked in a communications role for
                  Lancashire Constabulary, and is now part of the GoCardless Customer
                  Support team.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/helen@2x.png" alt="Helen Taylor">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Helen<br>Taylor
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Helen Taylor</h3>
                <p>
                  Helen holds a degree in Media Studies and Cultural Studies from the University of Sussex, and worked in artist liaison for Last.fm after graduating.
                  <br><br>
                  She's now part of the customer support team at GoCardless, and spends her spare time researching street food destinations.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

        <!-- </div>

        <div class="team-member__grid grid u-margin-Bl u-margin-Tl"> -->

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/jonno@2x.png" alt="Jonathon McGovern">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Jonathon<br>McGovern
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Jonathon McGovern</h3>
                <p>
                  Before joining GoCardless, Jonno worked at an international law firm headquartered in London.  
                  <br><br>
                  Jonno is a keen sportsman and holds a BA from The University of Nottingham.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/jamie@2x.png" alt="Jamie English">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Jamie<br>English
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Jamie English</h3>
                <p>
                  Jamie graduated from Lancaster University in 2008 with a degree in Computer Science.
                  <br><br>
                  He began his professional career in the Lake District building and managing the e-commerce part of a business but has since ventured south to master his craft, joining BSkyB as a software engineer and now GoCardless.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/jacob@2x.png" alt="Jacob Pargin">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Jacob<br>Pargin
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Jacob Pargin</h3>
                <p>
                  Before joining GoCardless, Jacob worked as a sports event photographer.
                  <br><br>
                  He spends his spare time developing web applications and studying for a degree in Computing and IT.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/charlotte@2x.png" alt="Charlotte Robinson">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Charlotte<br>Robinson
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Charlotte Robinson</h3>
                <p>
                  Before joining GoCardless, Charlotte worked as a lawyer at Clifford Chance and a teacher with TeachFirst.
                  <br><br>
                  Charlotte is now part of the content team at GoCardless and spends her spare time travelling."
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

           <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/amelia@2x.png" alt="Amelia Munsey">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Amelia<br>Munsey
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Amelia Munsey</h3>
                <p>
                  Before joining GoCardless, Amelia studied Geography at the University of Southampton and worked as a Recruitment Consultant within technology after graduating.
                  <br><br>
                  Amelia spends her spare time rowing, and often hears friends and colleagues say 'Oh, do you row?' (she talks about it a lot).
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/andrew@2x.png" alt="Andrew Thompson">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Andrew<br>Thompson
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Andrew Thompson</h3>
                <p>
                  Before joining GoCardless, Andrew was VP of Growth at RESAAS where he built software and drove user growth.
                  <br><br>
                  He studied Electrical and Computer Engineering at The University of British Columbia in Canada.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

        <!-- </div>

        <div class="team-member__grid grid u-margin-Bl u-margin-Tl"> -->

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/chris@2x.png" alt="Chris Sinjakli">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Chris<br>Sinjakli
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Chris Sinjakli</h3>
                <p>
                  Chris joined GoCardless after working as a Software Engineer at BT. Before that, he graduated from Warwick with a degree in Computer Science.
                  <br><br>
                  In his spare time he enjoys a bit of photography, which he's trying to get better at.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/jc@2x.png" alt="James Cunningham">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                James<br>Cunningham
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">James Cunningham</h3>
                <p>
                  Before joining GoCardless, James studied Computer Science at St. Andrews before leaving for San Francisco to focus on his cloud computing startup.
                  <br><br>
                  In his spare time, James is involved with a variety of charity projects and organising hack days.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/milz@2x.png" alt="Milz Dechnik">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Milz<br>Dechnik
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Milz Dechnik</h3>
                <p>
                  Milz graduated from UCL with an MA in Public Archaeology. Before joining GoCardless she worked in a variety of roles assisting and coordinating management.
                  <br><br>
                  Milz loves all things equestrian, and one day hopes to gain a PhD in Psychology.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/mattc@2x.png" alt="Matt Cummins">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Matt<br>Cummins
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Matt Cummins</h3>
                <p>
                  Before joining GoCardless, Matt worked at OC&amp;C Strategy Consultants, having studied Philosophy at Cambridge.
                  <br><br>
                  In his spare time, he practices Brazilian Jiu-Jitsu.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/jamesj@2x.png" alt="James Jackson">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                James<br>Jackson
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">James Jackson</h3>
                <p>
                  James has a Business Studies degree from The University of Liverpool and an unhealthy obsession with US sports.
                  <br><br>
                  Previously he worked in property and politics.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/astrid@2x.png" alt="Astrid Hugentobler">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Astrid<br>Hugentobler
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Astrid Hugentobler</h3>
                <p>
                  Astrid graduated in Literature at the Sorbonne and in Business. Prior working for GoCardless she had experience in International Institutions, SaaS and the Media sector.
                  <br><br>
                  In her spare time, she is a travel geek and a devoted cinema enthusiast. Her middle-term goal is to eventually enjoy running.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

        <!-- </div>

        <div class="team-member__grid grid u-margin-Bl u-margin-Tl"> -->

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/jamess@2x.png" alt="James Shedden">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                James<br>Shedden
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">James Shedden</h3>
                <p>
                  Before joining the GoCardless user experience team, James worked as a freelance designer &amp; developer.
                  <br><br>
                  In his spare time James is an illustrator &amp; animator and also writes, records, produces and performs music.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/ravin@2x.png" alt="Ravin Thambapillai">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Ravin<br>Thambapillai
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Ravin Thambapillai</h3>
                <p>
                  Ravin read PPE at Oxford where he founded the International Relations
                  Society, worked at Google and led mobile strategy at The Hut Group.
                  <br><br>
                  In his spare time Ravin plays chess, water-skis and tries to explain the
                  pronunciation of his surname.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/angus@2x.png" alt="Angus Bayley">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Angus<br>Bayley
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Angus Bayley</h3>
                <p>
                  Angus joined GoCardless after two years of postgraduate research in nanotechnology.
                  <br><br>
                  When not optimising websites, he writes and plays jazz/experimental music.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/kieran@2x.png" alt="Kieran Oliver">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Kieran<br>Oliver
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Kieran Oliver</h3>
                <p>
                  Kieran joined the GoCardless team all the way from Wellington, New Zealand.
                  <br><br>
                  In his spare time he enjoys chasing a frisbee and being generally active outdoors.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/saz@2x.png" alt="Saz Ehibor-Smith">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                Saz<br>Ehibor-Smith
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">Saz Ehibor-Smith</h3>
                <p>
                  Saz holds a Bsc in Civil Engineering from Kingston University.
                  <br><br>
                  In his spare time he enjoys watching, writing, playing, coaching,
                  and talking about football.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="team-member u-pull-start u-1of6 u-padding-Bm u-padding-Hs u-margin-Bm">
            <div ng-gc-team-popover>
              <div class="team-member__image">
                <img src="/images/team/george@2x.png" alt="George Britton">
              </div>
              <h5 class="u-text-center u-text-heading team-member__name u-color-meta u-margin-Ts">
                George<br>Britton
              </h5>
              <div class="team-member__popover u-color-invert u-is-hidden">
                <div class="arrow"></div>
                <h3 class="u-text-heading u-text-center u-color-invert u-margin-Bs">George Britton</h3>
                <p>
                  Before joining GoCardless, George worked in the enterprise sales team
                  at Bookatable, working up some of Europe's most prominent hospitality
                  brands.
                  <br><br>
                  In his spare time George plays rugby and spends time with his wife and
                  daughter.
                </p>
                <div class="u-margin-Tm u-text-center">
                  <a href="#" target="_blank" class="team-member__link team-member__link--twitter"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--github"></a>
                  <a href="#" target="_blank" class="team-member__link team-member__link--linkedin"></a>
                </div>
              </div>
            </div>
          </div>

        <!-- </div> -->
      </div>

      <hr class="horizontal-ruler-top-double u-margin-Vn">
      <div class="u-padding-Vl u-margin-Tm">
        <h2 class="u-text-heading u-text-center u-color-meta">We're looking for smart people to help us build the future of payments</h2>
        <a href="/jobs" class="u-center u-2of12 btn btn--hollow btn--large u-margin-Tm u-padding-Hn">Find out more</a>
      </div>

    </div>
  </div>

  <div class="site-container u-padding-Ts">
    {% include "_site_footer.html" %}
  </div>

</div>

{% endblock %}
