{% extends "plain.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless is the UK's #1 for Direct Debit, serving more companies than any other provider. Perfect for recurring billing and B2B invoicing.">{% endblock %}

{% block body %}

<div class="site-wrapper" scroll-spy>
  <div class="page-hero page-hero--about page-hero--medium u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert site-gutter u-cf align-btn-small u-padding-Tm">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <div class="u-text-heading u-color-invert u-text-center hero-heading u-text-light">We're making payments work for businesses</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-nav">
    <div ng-gc-sticky-nav class="sticky-nav__inner u-background-light-gray u-text-heading u-text-xxs u-text-light u-text-no-smoothing">
      <div class="u-center site-container site-gutter u-padding-Vm">
        <ul class="u-pull-start u-margin-Txxs">
          <li class="sticky-nav__item">
            <a href="#about-us" du-scrollspy du-smooth-scroll offset="72" class="sticky-nav__link">
              About us
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#team" du-scrollspy du-smooth-scroll offset="72" class="sticky-nav__link">
              Team
            </a>
          </li>
        </ul>
        <a href="#jobs" class="sticky-nav__cta btn btn--small btn--hollow u-pull-end u-text-transform-none u-text-light u-text-xxs u-text-no-smoothing">
          View job openings
        </a>
      </div>
      <hr class="u-margin-An">
    </div>
  </div>

  <div class="site-container site-gutter u-padding-Vxxl" id="about-us">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <div class="u-text-heading u-color-heading u-text-l u-text-light">
          Something about us
        </div>
        <p class="u-text-s u-color-p u-margin-Txxl">
          GoCardless was formed in 2011 lorem ipsum dolar sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> 

          Helping businesses of all sizes ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>

          We’re based in London, and are authorised by the Financial Conduct Authority. Our investors include Accel Partners, Passion Capital, Balderton Capital and Y Combinator.
        </p>
      </div>
      <div class="grid__cell u-size1of2 u-text-end u-margin-Txxl">
        <div class="u-text-heading u-text-xl u-text-light u-color-meta highlight-text--yellow u-margin-Tl">$1,554,230,201</div>
        <div class="u-text-subheading u-text-xs u-text-upcase u-color-p">Paid out to merchants</div>
        <div class="u-text-heading u-text-xl u-text-light u-color-meta highlight-text--blue u-margin-Txxl">7,045,222</div>
        <div class="u-text-subheading u-text-xs u-text-upcase u-color-p">Transactions completed</div>
        <div class="u-text-heading u-text-xl u-text-light u-color-meta highlight-text--green u-margin-Txxl">1,045,911</div>
        <div class="u-text-subheading u-text-xs u-text-upcase u-color-p">Customers paying through us</div>
      </div>
    </div>
  </div>

  <hr class="u-margin-Vl">
  <hr class="u-margin-Vl">

  <div class="site-container site-gutter u-padding-Vxxl" id="team">
    <div class="grid u-padding-Txl">
      <div class="grid__cell u-size1of3">
        <p class="u-text-heading-light u-text-m u-color-meta">
          We’re a team of 58 people working in London, UK.<br>We design and build our products, market them and support our customers.
        </p>
        <p class="u-text-heading-light u-text-xs u-color-meta u-margin-Txxl">
          Interested in joining the team?<br>Take a look at our available positions 
        </p>
      </div>
      <div class="grid__cell u-size2of3">
        <strong>GoCardless is:</strong> <span class="u-color-p">Tom Petty, Al Monk, James Shedden, Phil Harrison, Max Murdoch, Hiroki Takeuchi, Matt Robinson, Grey Baker, Harry Marr, Tom Petty, Al Monk, James Shedden, Phil Harrison, Max Murdoch, Hiroki Takeuchi, Matt Robinson, Grey Baker, Harry Marr, Tom Petty, Al Monk, James Shedden, Phil Harrison, Max Murdoch, Hiroki Takeuchi, Matt Robinson, Grey Baker, Harry Marr, Tom Petty, Al Monk, James Shedden, Phil Harrison, Max Murdoch, Hiroki Takeuchi, Matt Robinson, Grey Baker, Harry Marr, Tom Petty, Al Monk, James Shedden, Phil Harrison, Max Murdoch, Hiroki Takeuchi, Matt Robinson, Grey Baker, Harry Marr, Tom Petty, Al Monk, James Shedden, Phil Harrison, Max Murdoch, Hiroki Takeuchi, Matt Robinson, Grey Baker, Harry Marr, Tom Petty, Al Monk, James Shedden, Phil Harrison, Max Murdoch, Hiroki Takeuchi, Matt Robinson, Grey Baker, Harry Marr</span>
      </div>
    </div>
  </div>

  <div class="site-container site-gutter u-padding-Vxxl">
    <div class="grid u-padding-Bxl">
      <div class="grid__cell u-size1of3">
        <img src="/images/office/office-picnic-table.jpg">
      </div>
      <div class="grid__cell u-size2of3">
        <img src="/images/office/office-support-booths.jpg">
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container site-gutter u-padding-Vxxl u-text-center">
    <h3 class="u-text-heading-light u-text-m u-color-meta u-padding-Bxl u-padding-Txl">
      We've been featured in
    </h3>
    <img src="/images/press/publications.jpg" class="u-padding-Bxl">
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}