{% extends "plain.html" %}

{% block title %}About{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless serves more businesses than any other Direct Debit provider. GoCardless is regulated by the FCA as an Authorised Payment Institution.">{% endblock %}

{% block body %}

<div class="about-container">
  <div class="page-hero about-container__hero u-relative">
    <div class="site-container page-hero__container">
      <div class="site-header site-gutter u-cf align-btn-small u-padding-Vxs">
        {% include "_invert_nav.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="about-container__intro-heading u-text-heading u-color-invert u-text-center hero-heading u-text-light">We're on a mission<br>to make payments simple</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="u-background-white">
    <div class="site-container u-padding-Vl">
      <div class="u-size5of6 u-center u-padding-Vl">

        <div class="grid u-padding-Hs">
          <div class="grid__cell u-size9of12 u-text-heading u-text-h3 u-text-light">
            <p>GoCardless serves more businesses than any other Direct Debit provider. We are based in the City of London, and are authorised by the Financial Conduct Authority. Our investors include Accel Partners, Passion Capital, Balderton Capital and Y Combinator.
          </p>
          </div>
          <div class="grid__cell u-size3of12">
            <img class="about-container__investors u-pull-end" src="/images/about/sponsors-investors@2x.png">
          </div>
        </div>

      </div>

      <hr class="horizontal-ruler-top-double">

      <div ng-gc-randomize-team class="about-container__team u-size5of6 u-center u-padding-Tl u-padding-Bs u-cf">

        <ng-gc-team-member
          first-name="Hiroki"
          last-name="Takeuchi"
          image-src="hiroki@2x"
          twitter="hirokitakeuchi"
          github="hirokitakeuchi">
          Before founding GoCardless, Hiroki worked closely with Global Financial
          Institutions at McKinsey &amp; Company.
          <br><br>
          Hiroki studied Mathematics at Oxford University, and has interned at
          J.P. Morgan and Auctomatic.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Matt"
          last-name="Robinson"
          image-src="matt@2x"
          twitter="mattjackrob"
          github="MattRobinson"
          linkedin="mattjackrobinson">
          Prior to founding GoCardless, Matt worked at McKinsey &amp; Company,
          and studied Law at Oxford University.
          <br><br>
          Matt started his first business at age 16, which funded his
          university degree.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Harry"
          last-name="Marr"
          image-src="harry@2x"
          twitter="harrymarr"
          github="hmarr"
          linkedin="harrymarr">
          Before joining GoCardless, Harry worked at Conversocial,
          iPlatform, and ran a development agency.
          <br><br>
          He created popular open source project MongoEngine, and
          studied Computer Science at Leeds University.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Grey"
          last-name="Baker"
          image-src="grey@2x"
          github="greysteil"
          linkedin="greysteil">
          Before joining GoCardless, Grey worked for McKinsey where he
          specialised in Retail Banking.
          <br><br>
          Grey holds an MPhil in Economics from Cambridge, where he graduated top
          of his year. He spends his spare time learning to program.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Alan"
          last-name="Kennedy"
          image-src="alan@2x"
          github="alan">
          Alan previously worked at LeapCR. He also worked for clients such as
          Sky at Unboxed Consulting.
          <br><br>
          Alan studied Computer Science at UCL.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Philip"
          last-name="Harrison"
          image-src="philip@2x"
          github="harrison">
          Before joining GoCardless, Philip ran a design agency and
          co-founded a production company specialising in Mac education.
          <br><br>
          Philip studied Economics at Jönköping International Business
          School and spends his spare time geeking out in Javascript.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Tim"
          last-name="Rogers"
          image-src="tim@2x"
          twitter="timrogers"
          github="timrogers"
          linkedin="timrogers1">
          Alongside working at GoCardless, Tim is currently in his second year
          of BSc Government at the London School of Economics.
          <br><br>
          Despite the fact that he works in Business Development, Tim is an
          experienced developer (which might explain his coffee addiction).
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Nabeel"
          last-name="Qureshi"
          image-src="nabeel@2x"
          twitter="nabeelqu"
          github="nqureshi"
          linkedin="nabeelqu">
          Before joining GoCardless, Nabeel worked at Accenture and the
          Bank of England.
          <br><br>
          He graduated with a first from Oxford in Philosophy, Politics
          and Economics, and spends his spare time programming.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Alasdair"
          last-name="Monk"
          image-src="al@2x"
          twitter="almonk"
          github="almonk">
          Alasdair studied Applied Information Technology at Reading where he
          achieved a first class honours degree and finished top of his class.
          He now leads our design team.
          <br><br>
          Before GoCardless, he worked independently with a range of clients from
          tech startups to established advertising and design studios.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Steve"
          last-name="Domin"
          image-src="steve@2x"
          twitter="stevedomin"
          github="stevedomin">
          Steve previously worked at Kpsule and interned at MXP4. He also worked
          for a number of Paris-based startups and agencies while studying
          computer science at Supinfo International University.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Andy"
          last-name="Appleton"
          image-src="andy@2x"
          twitter="appltn"
          github="mrappleton">
          Andy joined GoCardless from Mint Digital, a creative agency in London.
          <br/><br/>
          He loves client and server-side JavaScript and has a degree in
          Mechanical Engineering from Exeter. He is happy that his job almost
          never makes use of it.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Maria"
          last-name="Campbell"
          image-src="maria@2x"
          twitter="__moyni">
          Prior to joining GoCardless, Maria's administrative career included roles in environmental policy and political fundraising. She has an MA in Philosophy from Cambridge and an MA in English & American Literature.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Alina"
          last-name="Solovjova"
          image-src="alina@2x">
          Before joining GoCardless, Alina managed operations and logistics at
          an e-commerce start-up.
          <br /><br />
          Alina studied Physics at Imperial College London, and applies her
          skills to producing some excellent spreadsheets.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Ricky"
          last-name="Shafier"
          image-src="ricky@2x">
          After graduating from the University of Birmingham Ricky moved to
          Canada for a year, where he worked as a winter sports photographer.
          <br /><br />
          Before joining GoCardless he worked at RBS and is now part of the
          GoCardless sales team.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Ben"
          last-name="Sims"
          image-src="ben@2x"
          twitter="bengocardless">
          Ben holds a BSc in Biology and MSc in Economics &amp; Finance
          from the University of Newcastle.
          <br /><br />
          In his spare time Ben is a keen rugby player.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="James"
          last-name="Berry"
          image-src="james@2x"
          twitter="bamesjerry"
          linkedin="jamesjohnberry">
          Before joining GoCardless, James studied Electronic &amp; Electrical
          Engineering at the University of Bath and worked as a software developer
          in the secure communications industry.
          <br><br>
          James spends his spare time working towards his long-term career aim of
          'making it' in the music industry.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Daniel"
          last-name="Lyons"
          image-src="dan@2x">
          Daniel graduated from Lancaster University in 2009 with a BA in Politics
          and International Relations.
          <br><br>
          Prior joining GoCardless Daniel worked in a communications role for
          Lancashire Constabulary, and is now part of the GoCardless Customer
          Support team.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Helen"
          last-name="Taylor"
          image-src="helen@2x"
          twitter="hellionyell">
          Helen holds a degree in Media Studies and Cultural Studies from the University of Sussex, and worked in artist liaison for Last.fm after graduating.
          <br><br>
          She's now part of the customer support team at GoCardless, and spends her spare time researching street food destinations.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jonathon"
          last-name="McGovern"
          image-src="jonno@2x">
          Before joining GoCardless, Jonno worked at an international law firm headquartered in London.
          <br><br>
          Jonno is a keen sportsman and holds a BA from The University of Nottingham.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jamie"
          last-name="English"
          image-src="jamie@2x"
          twitter="jamienglish"
          github="jamienglish">
          Jamie graduated from Lancaster University in 2008 with a degree in Computer Science.
          <br><br>
          He began his professional career in the Lake District building and managing the e-commerce part of a business but has since ventured south to master his craft, joining BSkyB as a software engineer and now GoCardless.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jacob"
          last-name="Pargin"
          image-src="jacob@2x">
          Before joining GoCardless, Jacob worked as a sports event photographer.
          <br><br>
          He spends his spare time developing web applications and studying for a degree in Computing and IT.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Charlotte"
          last-name="Robinson"
          image-src="charlotte@2x">
          Before joining GoCardless, Charlotte worked as a lawyer at Clifford
          Chance and as a teacher with TeachFirst.
          <br><br>
          Charlotte is now part of the content team at GoCardless and spends
          her spare time travelling.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Amelia"
          last-name="Munsey"
          image-src="amelia@2x"
          linkedin="ameliamunsey">
          Before joining GoCardless, Amelia studied Geography at the University of Southampton and worked as a Recruitment Consultant within technology after graduating.
          <br><br>
          Amelia spends her spare time rowing, and often hears friends and colleagues say 'Oh, do you row?' (she talks about it a lot).
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Andrew"
          last-name="Thompson"
          image-src="andrew@2x"
          twitter="andrewthompsonx"
          linkedin="andrewmatthewthompson">
          Before joining GoCardless, Andrew was VP of Growth at RESAAS where he built software and drove user growth.
          <br><br>
          He studied Electrical and Computer Engineering at The University of British Columbia in Canada.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Chris"
          last-name="Sinjakli"
          image-src="chris@2x"
          github="Sinjo">
          Chris joined GoCardless after working as a Software Engineer at BT. Before that, he graduated from Warwick with a degree in Computer Science.
          <br><br>
          In his spare time he enjoys a bit of photography, which he's trying to get better at.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="James"
          last-name="Cunningham"
          image-src="jc@2x"
          twitter="jamescun"
          github="jamescun">
          Before joining GoCardless, James studied Computer Science at St. Andrews before leaving for San Francisco to focus on his cloud computing startup.
          <br><br>
          In his spare time, James is involved with a variety of charity projects and organising hack days.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Matt"
          last-name="Cummins"
          image-src="mattc@2x">
          Before joining GoCardless, Matt worked at OC&amp;C Strategy Consultants, having studied Philosophy at Cambridge.
          <br><br>
          In his spare time, he practices Brazilian Jiu-Jitsu.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="James"
          last-name="Jackson"
          image-src="jamesj@2x"
          twitter="JWJ1080">
          James has a Business Studies degree from The University of Liverpool and an unhealthy obsession with US sports.
          <br><br>
          Previously he worked in property and politics.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Astrid"
          last-name="Hugentobler"
          image-src="astrid@2x">
          Astrid graduated in Literature at the Sorbonne and in Business. Prior working for GoCardless she had experience in International Institutions, SaaS and the Media sector.
          <br><br>
          In her spare time, she is a travel geek and a devoted cinema enthusiast. Her middle-term goal is to eventually enjoy running.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="James"
          last-name="Shedden"
          image-src="jamess@2x"
          twitter="jamesshedden"
          github="jamesshedden"
          linkedin="jamesshedden1">
          Before joining the GoCardless user experience team, James worked as a freelance designer &amp; developer.
          <br><br>
          In his spare time James is an illustrator &amp; animator and also writes, records, produces and performs music.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Ravin"
          last-name="Thambapillai"
          image-src="ravin@2x"
          twitter="ravintpillai"
          github="ravintpillai">
          Ravin read PPE at Oxford where he founded the International Relations
          Society, worked at Google and led mobile strategy at The Hut Group.
          <br><br>
          In his spare time Ravin plays chess, water-skis and tries to explain the
          pronunciation of his last-name.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Angus"
          last-name="Bayley"
          image-src="angus@2x"
          twitter="angusbayley"
          github="angusbayley">
          Angus joined GoCardless after two years of postgraduate research in nanotechnology.
          <br><br>
          When not optimising websites, he writes and plays jazz/experimental music.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Kieran"
          last-name="Oliver"
          image-src="kieran@2x">
          Kieran joined the GoCardless team all the way from Wellington, New Zealand.
          <br><br>
          In his spare time he enjoys chasing a frisbee and being generally active outdoors.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Saz"
          last-name="Ehibor-Smith"
          image-src="saz@2x">
          Saz holds a Bsc in Civil Engineering from Kingston University.
          <br><br>
          In his spare time he enjoys watching, writing, playing, coaching,
          and talking about football.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="George"
          last-name="Britton"
          image-src="george@2x">
          Before joining GoCardless, George worked in the enterprise sales team
          at Bookatable, working up some of Europe's most prominent hospitality
          brands.
          <br><br>
          In his spare time George plays rugby and spends time with his wife and
          daughter.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Kush"
          last-name="Depala"
          image-src="kush@2x">
          As well as working at GoCardless, Kush studies Sanskrit at the
          School of Oriental and African Studies.
          <br><br>
          When not learning dead languages, he enjoys playing sport,
          learning to program, and convincing people that he isn't 14.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Amaury"
          last-name="de Closset"
          image-src="amaury@2x"
          twitter="djeezi"
          linkedin="amaurydeclosset">
          Before joining GoCardless, Amaury worked at BCG where he specialised
          in commercial banking and IT.
          <br><br>
          He holds a MS in Mechanical Engineering from UC Berkeley and Arts et
          Metiers. Most of his spare time is spent travelling.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Natalie"
          last-name="Hockham"
          image-src="natalie@2x">
          Natalie studied Engineering Science at Oxford University, where she
          eventually gained a D.Phil in Biomedical Engineering.
          <br><br>
          She has previously interned at the European Commission and worked as
          a market analyst at BP prior to joining GoCardless.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jenna"
          last-name="Brown"
          image-src="jenna@2x">
          Before working at GoCardless, Jenna worked at Adzuna, RWE Supply &
          Trading and Lloyds Banking Group. She graduated with a first in
          Economics from the University of Bath.
          <br><br>
          In her spare time Jenna mentors for The Prince’s Trust and is
          currently setting up a small company distributing sake for one of
          Japan’s oldest sake producers.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Scott"
          last-name="Adams"
          image-src="scott@2x"
          github="scottadams"
          linkedin="scottjamesadams">
          Scott studies Physics at Imperial College London, and has interned
          as a researcher and a developer before joining the business
          development team at GoCardless.
          <br><br>
          He loves French food, German music and Scottish tonic wine, and has
          decided that soon he will become a serial entrepreneur.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jessie"
          last-name="Giladi"
          image-src="jessie@2x">
          Jessie studied Marketing at the University of East London. She was
          a logistics co-ordinator working for a company in partnership with
          G4S before joining the start-up world.
          <br><br>
          Jessie manages the GoCardless office.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Baris"
          last-name="Balic"
          image-src="baris@2x"
          twitter="barisbalic"
          github="barisbalic">
          Prior to joining GoCardless Baris spent five years working at uSwitch,
          migrating the whole stack from one language to several others and
          trying to help the wider developer community organise meetups.
          <br><br>
          Baris loves old video games and spends his spare time bouldering or
          cycling.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Grzegorz"
          last-name="Swirski"
          image-src="grzegorz@2x"
          github="gswirski">
          Grzegorz studies Theoretical Computer Science at Jagiellonian
          University in Krakow.
          <br><br>
          Grzegorz is probably the only programmer who doesn't like coffee.
          He invigorates himself by playing volleyball and coaching Ruby.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jessica"
          last-name="Summerfield"
          image-src="jessica@2x">
          Before joining GoCardless, Jess studied Economics and Maths at the
          University of Bristol.
          <br><br>
          She spends her spare time travelling the world kitesurfing and
          wakeboarding.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Alex"
          last-name="Shea"
          image-src="alexs@2x">
          Prior to GoCardless, Alex worked as an analyst at ExxonMobil
          (Brussels) and in financial services (London). He holds an MSc from
          HEC Paris and a BA from Tufts University in Boston, Mass.
          <br><br>
          In his spare time, Alex enjoys a game of squash and working on a
          lifelong addiction to classical music / fiddling on the piano.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Tom"
          last-name="Petty"
          image-src="tomp@2x"
          twitter="tp"
          github="anothertompetty"
          linkedin="tompetty">
          Before joining GoCardless, Tom was a senior designer at global brand consultancy Wolff Olins.
          <br><br>
          He spends his time dreaming of a world in which he can spend three
          months of the year in Palm Springs.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Dominik"
          last-name="Krejcik"
          image-src="dominik@2x"
          github="dominikkrejcik">
          Dominik is currently interning at GoCardless whilst studying Computer Science at UCL.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jack"
          last-name="Franklin"
          image-src="jack@2x"
          twitter="jack_franklin"
          github="jackfranklin">
          Jack studied Computer Science at the University of Bath and joined
          GoCardless straight after graduating.
          <br><br>
          He enjoys working with Ruby and JavaScript and away from the computer
          is usually found playing football or badminton.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Erez"
          last-name="Mathan"
          image-src="erez@2x">
          Erez joined GoCardless after heading operations at eToro,
          the largest social investment network in the world.
          <br><br>
          He is currently pursuing his MBA at Chicago university and still
          tries to overcome his 15 minutes of fame in one of Israel's kids TV
          hit shows where he appeared for an hour back in the early 90s.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Steve"
          last-name="Parrington"
          image-src="stevep@2x"
          github="Lolecule">
          Before joining GoCardless, Steve worked as a software developer at BT
          and before that he studied Computer Science at the University of Manchester.
          <br><br>
          In his spare time Steve likes to read and play video games with an
          ambition to take up something requiring more physical activity!
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Isaac"
          last-name="Seymour"
          image-src="isaac@2x"
          github="isaacseymour">
          Before joining GoCardless, Isaac studied Maths at Oxford University,
          taking a few Computer Science courses along the way.
          <br><br>
          He enjoys ballroom dancing, binge-watching American TV series, and exploring London.
        </ng-gc-team-member>

        <ng-gc-team-member
          first-name="Jon"
          last-name="Greenland"
          image-src="jon@2x">
          Before joining GoCardless, Jon worked in wealth management, doing sales
          and account management
          <br><br>
          He spends his spare time playing the guitar and loves Arsenal.
        </ng-gc-team-member>

      </div>

      <hr class="horizontal-ruler-top-double u-margin-Vn">
      <div class="u-padding-Vl u-margin-Tm">
        <h2 class="u-text-heading u-text-center u-color-meta">We're looking for smart people to help us build the future of payments</h2>
        <a href="/jobs" class="u-center u-size3of12 btn btn--hollow btn--large u-margin-Tm u-padding-Hn">View our open positions</a>
      </div>

    </div>
  </div>
</div>


<div class="site-container u-padding-Ts">
  {% include "_site_footer.html" %}
</div>

{% endblock %}
