{% extends "plain.html" %}

{% block title %}The GoCardless Dashboard: How It Works{% endblock %}
{% block meta_tags %}<meta name="description" content="The GoCardless Dashboard makes it easy &amp; simple to collect Direct Debit payments. Watch a video of the Dashboard in action and discover how simple it really is.">{% endblock %}

{% block body %}
<div ng-init="videos.activeVideo = {}">
  <div class="page-hero u-relative">
    <div class="site-container features-container__header site-gutter u-cf align-btn-small u-padding-Tm">
      {% include "_site_header_invert.html" %}
    </div>

    <div class="u-text-center u-padding-Vl u-margin-Tl" ng-controller="NgGcActiveVideo">
      <h1 class="u-text-heading u-text-xl u-text-light u-color-invert u-padding-Bs">Here's how it works</h1>
      <div ng-if="activeVideo.id">
        <div class="u-padding-Tl">
          <ng-gc-vimeo-iframe vimeo-id="activeVideo.id"
            class="u-center videos-container__iframe u-margin-Vl" autoplay="true">
          </ng-gc-vimeo-iframe>
        </div>
        <div class="u-center u-size2of5 u-padding-Vs u-color-invert">
          <p class="u-text-heavy" ng-bind="activeVideo.title"></p>
          <p ng-bind="activeVideo.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="videos-container__select-a-video u-text-center u-color-base u-padding-Vl">

    <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-padding-Vl u-margin-Bl">Select a video to learn more about our Dashboard</h2>

    <div class="grid site-container">
      <ng-gc-video-thumb id="99158866" title="Overview of Dashboard" time="1:07"
        description="The GoCardless Dashboard is where you'll manage customers, set up plans, take payments and transfer your money."
        is-active="true"
        slug="/overview-of-dashboard"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="99159135" title="Trying out GoCardless" time="1:03"
        description="The easiest way to know if GoCardless is right for you is to sign up and try it out. It's quick and free, and you can use your own details to take trial payments."
        slug="/trying-out-gocardless"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="99743554" title="Setting up customers" time="0:48"
        description="To collect Direct Debit payments you need your customer to authorise you first. With GoCardless the whole process is managed online."
        slug="/setting-up-customers"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="99159134" title="Taking payments" time="0:46"
        description="You can take one off or recurring payments from customers with GoCardless."
        slug="/taking-payments"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="99158865" title="Custom payment forms" time="1:44"
        description="Customers will see a payment form with your company name and logo at the top. The form has been thoroughly tested to ensure great conversion."
        slug="/custom-payment-forms"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="99158868" title="Recurring payments" time="1:00"
        description="One of the key features of the GoCardless Dashboard is the ability to create custom plans for recurring payments. You can add multiple customers to the same plan, for example gold, silver and bronze."
        slug="/recurring-payments"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="99159133" title="Taking bulk payments" time="1:42"
        description="Take payments from hundreds of customers at once with bulk payments. Simply upload a CSV file."
        slug="/bulk-payments"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="99713668" title="Real-time reporting" time="1:14"
        description="Track payment status in real-time with our built in reporting features."
        slug="/realtime-reporting"></ng-gc-video-thumb>
    </div>

    <hr class="u-margin-An u-margin-Txxl">

      <div class="site-container u-text-center u-padding-Vxxl">
        <div class="u-padding-Vxl">
          <a href="/merchants/new" class="btn">Start taking payments</a>
          <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
        </div>
      </div>
    </div>
  {% include "_site_footer.html" %}

</div>

{% endblock %}
