{% extends "plain.html" %}

{% block title %}How Dashboard works{% endblock %}
{% block description %}Watch our videos and find out how GoCardless makes Direct Debit easy, simple and cheap.{% endblock %}

{% block body %}
<div ng-init="videos.activeVideo = {}">
  <div class="videos-container__intro u-relative">
    <div class="site-container features-container__header site-gutter u-cf align-btn-small u-padding-Vxs">
      <div class="u-pull-start">
        <a href="/">
          <i class="icon-gc-logo-invert logo-header"></i>
        </a>
      </div>
      <div class="u-pull-end">
        <nav class="nav u-pull-start">
          <a class="nav__item u-link-invert"
            href="/">
            Home
          </a>
          <a class="nav__item u-link-invert features-container__active-link"
            href="/features">
            Features
          </a>
          <a class="nav__item u-link-invert"
            href="/stories">
            Customers
          </a>
          <a class="nav__item u-link-invert"
             href="/pricing">
            Pricing
          </a>
          <a class="nav__item u-link-invert"
             href="/guides">
            Guides
          </a>
        </nav>

        <ul class="u-cf u-pull-start">
          <li class="u-pull-start">
            <a href="/users/sign_in" class="btn btn--invert-hollow btn--small" id="login">Login</a>
          </li>
          <li class="u-pull-start u-margin-Ls">
            <a href="/merchants/new" class="btn btn--invert-hollow btn--small" id="nav_sign_up">Sign up</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="u-text-center u-padding-Vl u-margin-Tl" ng-controller="NgGcActiveVideo">
      <h1 class="u-text-heading hero-heading u-text-light u-color-invert u-padding-Bs">Here's how it works</h1>
      <div ng-if="activeVideo.id">
        <div class="u-padding-Tl">
          <ng-gc-vimeo-iframe vimeo-id="activeVideo.id"
            class="u-center videos-container__iframe u-margin-Vl" autoplay="true">
          </ng-gc-vimeo-iframe>
        </div>
        <div class="u-center u-2of5 u-padding-Vs u-color-invert">
          <p class="u-text-heavy" ng-bind="activeVideo.title"></p>
          <p ng-bind="activeVideo.description"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="videos-container__select-a-video u-text-center u-color-base u-padding-Vl">

    <h2 class="u-text-heading u-color-base u-padding-Vl u-margin-Bl">Select a video to learn more about our Dashboard</h2>

    <div class="grid site-container">
      <ng-gc-video-thumb id="97954339" title="Overview of Dashboard" time="1:07"
        description="The GoCardless Dashboard is where you'll manage customers, set up plans, take payments and transfer your money."
        is-active="true"
        slug="overview-of-dashboard"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="98032335" title="Trying out GoCardless" time="1:03"
        description="The easiest way to know if GoCardless is right for you is to sign up and try it out. It's quick and free, and you can use your own details to take trial payments."
        slug="trying-out-gocardless"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="97954344" title="Setting up customers" time="0:48"
        description="To collect Direct Debit payments you need your customer to authorise you first. With GoCardless the whole process is managed online."
        slug="setting-up-customers"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="98032332" title="Taking payments" time="0:46"
        description="You can take one off or recurring payments from customers with GoCardless."
        slug="taking-payments"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="97954343" title="Custom payment forms" time="2:00"
        description="Customers will see a payment form with your company name and logo at the top. The form has been thoroughly tested to ensure great conversion."
        slug="custom-payment-forms"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="97954342" title="Recurring payments" time="1:05"
        description="One of the key features of the GoCardless Dashboard is the ability to create custom plans for recurring payments. You can add multiple customers to the same plan, for example gold, silver and bronze."
        slug="recurring-payments"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="97954340" title="Taking bulk payments" time="1:42"
        description="Take payments from hundreds of customers at once with bulk payments. Simply upload a CSV file."
        slug="bulk-payments"></ng-gc-video-thumb>

      <ng-gc-video-thumb id="98032336" title="Real-time reporting" time="1:14"
        description="Track payment status in real-time with our built in reporting features."
        slug="realtime-reporting"></ng-gc-video-thumb>
    </div>

    <a href="/merchants/new" class="btn btn--hollow btn--large u-margin-Vl">Get started now for free</a>

    <p class="u-color-meta u-center u-2of5 u-padding-Vs">
      Got a question that hasn't been answered?<br>
      Take a look at our frequently asked questions by clicking <a href="#" class="u-color-meta u-text-underline">here</a>.
    </p>

  </div>

  <div class="site-container u-padding-Ts">
    {% include "_site_footer.html" %}
  </div>

</div>

{% endblock %}
