{% extends "default.html" %}

{% block title %}Getting started with GoCardless{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}

  <div class="site-gutter">
    <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h1 benefits-header--blue u-text-center">Getting started with GoCardless</h1>
    <h2 class="u-text-meta u-text-heading u-text-h2 u-text-center u-margin-Ts u-margin-Bl">GoCardless is the simplest way to collect payment by Direct Debit.<br>Here's how to get started.</h2>
  </div>

  <div class="u-padding-Hm">
    <ul class="how-to-thumbnails u-padding-Tl u-padding-Bn">
      <li class="how-to-thumbnails__thumbnail">
        <a href="#setup_customer" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--green">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--user"></i>
          </div>
          <p class="how-to-thumbnails__desc">
            Set up a customer
          </p>
        </a>
      </li>

      <li class="how-to-thumbnails__thumbnail">
        <a href="#taking_payment" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--turquoise">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--payment"></i>
          </div>

          <p class="how-to-thumbnails__desc">
            Take a payment
          </p>
        </a>
      </li>

      <li class="how-to-thumbnails__thumbnail">
        <a href="#add_customer" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--salmon">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--users"></i>
          </div>

          <p class="how-to-thumbnails__desc">
            Bill multiple customers
          </p>
        </a>
      </li>

      <li class="how-to-thumbnails__thumbnail">
        <a href="#view_payments" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--purple">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--paid"></i>
          </div>

          <p class="how-to-thumbnails__desc">
            View your payments
          </p>
        </a>
      </li>

      <li class="how-to-thumbnails__thumbnail">
        <a href="#custom_branding" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--yellow">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--logo"></i>
          </div>

          <p class="how-to-thumbnails__desc">
            Customise your branding
          </p>
        </a>
      </li>

      <li class="how-to-thumbnails__thumbnail">
        <a href="#remind_pending" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--blue">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--pending"></i>
          </div>

          <p class="how-to-thumbnails__desc">
            Remind pending customers
          </p>
        </a>
      </li>

      <li class="how-to-thumbnails__thumbnail">
        <a href="#bank_account" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--orange">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--bank"></i>
          </div>

          <p class="how-to-thumbnails__desc">
            Receive your money
          </p>
        </a>
      </li>

      <li class="how-to-thumbnails__thumbnail">
        <a href="#great_support" class="u-link-clean">
          <div class="how-to-thumbnails__icon how-to-thumbnails__icon--turquoise">
            <i class="how-to-thumbnails__icon__img how-to-thumbnails__icon__img--support"></i>
          </div>

          <p class="how-to-thumbnails__desc">
            Great customer support
          </p>
        </a>
      </li>
    </ul>
  </div>

  <div class="u-padding-Bl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="setup_customer">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--user">Set up a customer</h4>

      <p class="u-margin-Vs">To collect Direct Debit payments you need your
        customer to authorise you first. With GoCardless the whole process is managed
        online.
      </p>

      <p class="u-margin-Vs">
        <strong>To ask for authorisation, first navigate to the 'Customers' tab:</strong>
      </p>

      <img alt="Header customers" class="how-to-thumbnails__img" src="/images/how-to/images/header-customers@2x.png">

      <p class="u-margin-Vs">Next, click 'Add':</p>

      <img alt="Ch1 1" class="how-to-thumbnails__img" src="/images/how-to/images/ch1-1@2x.png">

      <p class="u-margin-Vs">
        Your customer will receive an email linking them to the GoCardless payment
        pages to set up their Direct Debit. We'll notify you as soon as
        they do, and you will then be able to add payments for them.
      </p>

      <p class="u-margin-Vs">
        As well as adding customers individually, you can also:
        <ul class="">
          <li>Add <b>multiple customers</b> at once using a .csv file</li>
          <li>Add customers <b>from a link</b> placed in an email or on your website</li>
        </ul>
      </p>

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

  <div class="u-padding-Vl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="taking_payment">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--payment">Take a payment</h4>

      <p class="u-margin-Vs">
        First make sure you've added the customer you want to bill.
      </p>

      <p class="u-margin-Vs">
        <strong>To take payment from a customer, first navigate to the 'Customers' tab:</strong>
      </p>

      <img alt="Header customers" class="how-to-thumbnails__img" src="/images/how-to/images/header-customers@2x.png">

      <p class="u-margin-Vs">Then select the customer you want to bill:</p>

      <img alt="Ch2 1" class="how-to-thumbnails__img" src="/images/how-to/images/ch2-1@2x.png">

      <p class="u-margin-Vs">
        Next, click 'Take Payment' and enter details of the payment you'd like to
        collect:
      </p>

      <img alt="Ch2 2" class="how-to-thumbnails__img" src="/images/how-to/images/ch2-2@2x.png">

      <p class="u-margin-Vs">This may be a one-off payment, or a recurring one.
        Alternatively, you can <a href="#add_customer">add the customer to a
        plan you've already created</a>.</p>

      <p class="u-margin-Vs">
        GoCardless will notify your customer about the payments you've set up
        and start collecting the payment. Because you're collecting by Direct
        Debit, this can take <a href="https://help.gocardless.com/payment-timings">up to 5 working days</a>.
      </p>

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

  <div class="u-padding-Vl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="add_customer">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--users">Bill multiple customers</h4>

      <p class="u-margin-Vs">
        If you have a lot of customers on the same payment schedule you can
        create a single payment
        <a href="http://help.gocardless.com/what-is-a-plan/">plan</a>
        for all those customers. Once created, you
        can add new and existing customers to the plan manually, or use the
        plan's 'PayLink' to let customers sign up from your website or from
        an email.
      </p>

      <p class="u-margin-Vs">
        You'll also be able to edit the plan in future if your prices change.
      </p>

      <p class="u-margin-Vs">
        <strong>To create a new plan, navigate to the 'Plans' tab:</strong>
      </p>

      <img alt="Header plans" class="how-to-thumbnails__img" src="/images/how-to/images/header-plans@2x.png">

      <p class="u-margin-Vs">
        Click 'Create Plan' and enter details of the payment plan you'd
        like to set up:
      </p>

      <img alt="Ch3 1" class="how-to-thumbnails__img" src="/images/how-to/images/ch3-1@2x.png">

      <p class="u-margin-Vs">
        Once set up, your plan will appear in your 'Plans' tab. Clicking on it
        will give you more details, including the customers enrolled on it.
      </p>

      <h6 class="u-text-h4 u-margin-Tl">Adding customers to your plan</h6>

      <p class="u-margin-Vs">
        To add new or existing customers to your payment plan, first navigate to
        the 'Customers' tab:
      </p>

      <img alt="Header customers" class="how-to-thumbnails__img" src="/images/how-to/images/header-customers@2x.png">

      <p class="u-margin-Vs">
        For a new customer, click "Add customer" and select "Add to payment
        plan" in the following dialog:
      </p>

      <img alt="Ch3 2" class="how-to-thumbnails__img" src="/images/how-to/images/ch3-2@2x.png">

      <p class="u-margin-Vs">
        As soon as your customer has authorized a Direct Debit to you, we'll add
        them to your payment plan.
      </p>

      <p class="u-margin-Vs">
        The process for existing customers is similar - just choose their name
        from the 'Customers' screen, click "Take Payment" and then select the
        "Add to payment plan" option.
      </p>

      <p class="u-margin-Vs">
        If a customer is on a plan, you can still take ad-hoc payments from them
        by choosing them from the 'Customers' screen and then clicking 'Take
        Payment'.</p>

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

  <div class="u-padding-Vl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="view_payments">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--paid">View your payments</h4>

      <p class="u-margin-Vs">
        The 'Payments' tab shows all of your GoCardless payments in one place. You
        can also filter by payment status, or click into a payment to see more
        details.
      </p>

      <p class="u-margin-Vs">
        <strong>To view your payments, click on the 'Payments' tab:</strong>
      </p>

      <img alt="Header payments" class="how-to-thumbnails__img" src="/images/how-to/images/header-payments@2x.png">

      <p class="u-margin-Vs">
        Payment details are shown alongside each payment's status and the date
        it was created:
      </p>

      <img alt="Ch4 1" class="how-to-thumbnails__img" src="/images/how-to/images/ch4-1@2x.png">

      <h6 class="u-text-h4 u-margin-Tl">Understanding payment statuses</h6>

      <p class="u-margin-Vs">
        Over their life cycle, payments can have a number of different statuses.
        Here's what each one means:
      </p>

      <img alt="Ch4 2" class="how-to-thumbnails__img" src="/images/how-to/images/ch4-2@2x.png">

      <p class="u-margin-Vs">
        Payments can fail for a number of reasons - to find out more, click
        <a href="http://help.gocardless.com/why-has-my-payment-failed/">here</a>.</p>

      <h6 class="u-text-h4 u-margin-Tl">Viewing when you'll receive your money</h6>

      <p class="u-margin-Vs">
        At any point in the collection process you can view the expected
        timeline for a payment. Just click on a payment, and you'll see a
        timeline like the one below:
      </p>

      <img alt="Ch4 3" class="how-to-thumbnails__img" src="/images/how-to/images/ch4-3@2x.png">

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

  <div class="u-padding-Vl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="custom_branding">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--logo">Customise your branding</h4>

      <p class="u-margin-Vs">
        Within "Settings" you can customise your account in two key ways:
      </p>

      <ol class="">
        <li><b>Add your company logo to the GoCardless payment pages</b></li>
        <li><b>Specify how you want payments to appear on your customers' bank statements</b></li>
      </ol>

      <img alt="Header settings" class="how-to-thumbnails__img" src="/images/how-to/images/header-settings@2x.png">

      <p class="u-margin-Vs">
        Both of these options are available in the 'Business Details' section.
        You can find this by clicking the cog in the top right hand corner of the
        screen and selecting 'Settings'.
      </p>

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

  <div class="u-padding-Vl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="remind_pending">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--pending">Reminding pending users</h4>

      <p class="u-margin-Vs">
        You can see which customers have authorised you to take Direct
        Debits in your 'Customers' tab. Reminding a customer who hasn't yet
        authorised you is easy.
      </p>

      <img alt="Header customers" class="how-to-thumbnails__img" src="/images/how-to/images/header-customers@2x.png">

      <p class="u-margin-Vs">
        Click onto the 'Customers' tab and then select the 'Pending'
        customers filter. These are customers who haven't yet authorised Direct
        Debit payments to you.
      </p>

      <img alt="Ch6 1" class="how-to-thumbnails__img" src="/images/how-to/images/ch6-1@2x.png">

      <p class="u-margin-Vs">
        Clicking on the 'i' symbol on the left hand customer will open a popover with some actions you can perform on this pending customer. You can then click the 'Send reminder' link, which will send a reminder email to your customer.
      </p>

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

  <div class="u-padding-Vl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="bank_account">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--bank">Receive your money</h4>

      <p class="u-margin-Vs">
        We need your bank details so that we can make payouts to you. You can
        add or amend these details at any time from the 'Settings' screens.
      </p>

      <img alt="Header settings" class="how-to-thumbnails__img" src="/images/how-to/images/header-settings@2x.png">

      <p class="u-margin-Vs">
        Your bank details are displayed in the 'Bank accounts' section. To update
        your address or account holder name, click into that account. To
        add a new account click the 'Add a new bank account' button. In either
        case we'll require you to enter your password.
      </p>

      <img alt="Ch8 1" class="how-to-thumbnails__img" src="/images/how-to/images/ch8-1@2x.png">

      <p class="u-margin-Vs">
        When viewing your bank details, the account we payout to will be shown as
        your 'Active account'. To switch between accounts just click
        'Use this account'.
      </p>

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

  <div class="u-padding-Vl">
    <hr class="u-margin-Vl">
  </div>

  <section class="page-container" id="great_support">
    <div class="container">
      <h4 class="u-relative u-margin-Bl how-to-heading u-text-h2 u-text-heading how-to-heading--support">Great customer support</h4>

      <p class="u-margin-Vs">
        Our dedicated customer support team is here to help you or your
        customers by email, live chat and phone from 9am-6pm Monday to Friday.
        For contact details, click <a href="/faq">here</a>.
      </p>

      <p class="u-margin-Vs">
        Our <a href="https://help.gocardless.com/">Support Center</a> also has
        answers to many of the most common questions.
      </p>

      <p class="u-margin-Vs">
        Your feedback is also really important to us. To share your thoughts
        just click the 'Feedback' tab at the top of the page from your
        dashboard. We read every
        piece of feedback and it's an important factor when prioritising
        product development.
      </p>

      <h6 class="xxx u-text-h4 u-text-normal u-margin-Tl">
        <a href="#">Back to top</a>
      </h6>
    </div>
  </section>

{% endblock %}
