{% extends "default.html" %}

{% block title %}Request SEPA updates{% endblock %}

{% block content %}

  <h1 class="page-heading u-text-center">SEPA Direct Debit with GoCardless</h1>
  <h2 class="page-subheading u-text-center">Get early access to SEPA Direct Debit<br>
  by leaving your details in the form below</h2>

  <div class="grid grid--center">
    <div class="grid__cell u-1of2">
      <form accept-charset="UTF-8" action="/api/v1/prospects/sepa"
        class="spacer-box horizontal-spacer-medium border border--bottom border--light stripe--mist ng-pristine ng-valid"
        method="post"
        name="prospectForm"
        ng-gc-form-submit
        ng-gc-ga-event-tracker="{
          event: 'submit',
          category: 'forms',
          action: 'submit-form',
          label: 'sepa'
        }">
        {% include "_prospect_form_fields.html" %}

        <button class="btn btn--info btn--block u-margin-Tl"
          type="submit"
          ng-disabled="prospectForm.$pristine || prospectForm.$isSubmitting">
          Request SEPA Updates
        </button>
      </form>
    </div>
  </div>

  {% include "_lead_capture_alternative_contact.html" %}

{% endblock %}
