{% extends "default.html" %}

{% block title %}Request SEPA updates{% endblock %}

{% block content %}

  <h1 class="page-heading u-text-center">SEPA Direct Debit with GoCardless</h1>
  <h2 class="page-subheading u-text-center">Get early access to SEPA Direct Debit<br>
  by leaving your details in the form below</h2>

  <div class="grid grid--center">
    <div class="grid__cell u-1of2">
      <form accept-charset="UTF-8" action="/api/prospects/sepa"
        class="spacer-box horizontal-spacer-medium border border--bottom border--light stripe--mist ng-pristine ng-valid"
        data-remote="true"
        data-sales-prospect-form="true"
        method="post"
        ng-gc-form-submit
        ng-gc-ga-event-tracker="{
          event: 'submit',
          category: 'forms',
          action: 'submit-form',
          label: 'sepa'
        }">
        {% include "_prospect_form_fields.html" %}
      </form>
    </div>
  </div>

  <div data-sales-prospect-form-success
    class="notice notice--success u-margin-Bl" hidden>
    <div data-value-show="0-100" data-target="contact-sales">
      <b>Thank you</b>, we will be in touch within 24 hours.
    </div>
    <div data-value-show="100-500" data-target="contact-sales">
      <b>Thank you</b>, we will be in touch within 24 hours.
    </div>
    <div data-value-show="500+" data-target="contact-sales">
      <b>Thank you</b>, we will be in touch within 24 hours.
    </div>
  </div>

  {% include "_lead_capture_alternative_contact.html" %}

{% endblock %}
