{% extends "default.html" %}

{% block title %}Ask Driving School - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Ask Driving School reduced accounting time by 80% after switching to Direct Debit with GoCardless. Read the testimonial of how they eliminated issues with cash flow.">{% endblock %}

{% block content %}
  <div class="grid grid--center">
  <h1 class="page-heading u-padding-Bs">Ask Driving School reduced accounting time by 80% after switching to Direct Debit with GoCardless</h1>
    <div class="grid__cell u-size2of12 u-padding-Bl">
      <img src="/images/stories/ask-catalyst/carl-mainwaring.jpg" class="u-border-circle">
    </div>
    <div class="grid__cell u-size8of12">
      <h2 class="u-text-heading">&ldquo;Using GoCardless transformed our cash flow.&rdquo;</h2>
      <span class="testimonial--citation">
        Carl Mainwaring, Ask Driving School
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Reduce accounting time</strong> by 80%</li>
          <li><strong>Eliminate cash flow issues</strong></li>
          <li><strong>Grow 200%</strong> year on year</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bl">

      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
        “Payments were often in arrears for months”
      </div>
      <p class="para">
        <a href="http://www.askdrivingschool.org" rel="nofollow">Ask Driving School</a>  is one of the UK's largest franchise driving schools, helping UK instructors find and teach new students.
      </p>
      <p class="para">
        "We invoiced instructors on a monthly basis but payments were often in arrears for months. Managing the company's accounts and payments grew to be a full time job," says Director Carl Mainwaring. This uncertainty in their cash flow was holding back the company's growth.
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
      “GoCardless and Kashflow do all the hard work for us”
      </div>
      <p class="para">
        Ask started using GoCardless through online accounting platform <a href="http://www.kashflow.com" rel="nofollow">KashFlow</a>. "GoCardless and KashFlow do all the hard work for us. We issue recurring invoices in Kashflow, and each instructor sets up a variable Direct Debit with GoCardless.” With GoCardless integrated into their accounting software, payments reconcile automatically.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
        “Every payment is collected automatically and on time”
      </div>
      <p class="para">
        Since turning to GoCardless, “every payment is collected automatically and on time.” As a result, Ask has reduced the time spent on accounting by 80% and significantly improved cashflow. Ask can now focus their energy on growing the business.
      </p>
      <p class="para">
        Within a year of joining GoCardless, Ask Driving School has more than doubled in size.  “Using GoCardless has transformed our cash flow, and our prospects.”
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-size10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}

{% block footer_content %}
  {% include "_affixed_cta_component.html" %}
{% endblock %}
