{% extends "plain.html" %}

{% block title %}Crowdcube - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Crowdcube saved admin time and kept the FCA happy by switching to GoCardless">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Crowdcube
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size-4of6 u-center u-text-center">
        Crowdcube saved admin time and kept the FCA happy by switching to GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            GoCardless helped save at least 10 hours of admin time every week
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            GoCardless helped comply with FCA regulations
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            We helped them grow to 85,000 members
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “We were spending hours every day managing payments”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          <a href="http://www.crowdcube.com" class="u-link-color-p u-text-underline" target="_blank">Crowdcube</a> is the world’s leading investment crowdfunding site. It enables ordinary and professional investors to help entrepreneurs raise the finance they need to grow.
        </p>
        <p class="u-color-p u-margin-Tm">
          Before switching to GoCardless, investments were made using bank deposits which were held until the relevant pitch had reached its target.
        </p>
        <p class="u-color-p u-margin-Tm">
          Darren Westlake, CEO explains: “It wasn’t the most efficient way of doing things. Even though we were still quite small we were spending hours every day managing payments: checking our accounts, aligning statements and customers and moving funds to the relevant pitch.”
        </p>
      </div>
    </div>
  </div>

  <div class="story-hero">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size-2of3 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “Switching to GoCardless has helped us completely wipe out payments admin which means we now have extra time to work on other projects. What’s more, we never touch client money. Crowdfunding is now a regulated industry so this could’ve been a real issue but with GoCardless we completely bypassed it.”
          </p>
        </div>
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Darren Westlake</div>
        <div class="u-color-invert u-text-heading u-text-xs">Crowdcube</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “GoCardless was simple to integrate into our systems”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          Looking for a more scalable solution Darren turned to Direct Debit with GoCardless.
        </p>
        <p class="u-color-p">
          He explains, “We chose GoCardless because it let us set up payments without taking any money until the pitch has reached its target meaning we no longer had to spend hours checking accounts. It was simple to integrate into our systems and really intuitive and easy to use for our entrepreneurs and our customers.”
        </p>
        <p class="u-color-p">
          Crowdcube now ask all customers to use GoCardless and each of their entrepreneurs has their own account so payments can be made directly to them.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “Switching to GoCardless has helped us completely wipe out payments admin”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          Since joining GoCardless in November 2012, Crowdcube has grown 1000% to 85,000 members but the time they have to spend managing payments has all but disappeared.
        </p>
        <p class="u-color-p u-margin-Tm">
          “Switching to GoCardless has helped us completely wipe out payments admin which means we now have extra time to work on other projects. What’s more, we never touch client money. Crowdfunding is now a regulated industry so this could’ve been a real issue but with GoCardless we completely bypassed it.”
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
