{% extends "plain.html" %}

{% block title %}Has Bean Coffee - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Has Bean Coffee improved their cashflow by 30% using Direct Debit with GoCardless. See their testimonial of taking subscriptions using GoCardless.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Has Bean Coffee
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size4of6 u-center u-text-center">
        Has Bean coffee improved cashflow by 30% by moving to Direct Debit with GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size5of6 u-center">
            We helped them reduce average payment period by 34%
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size5of6 u-center">
            GoCardless helped them identify bad debtors in advance
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size5of6 u-center">
            GoCardless helped them improve cash flow by 30%
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “Customers paying invoices up to 4 months late drove us crazy”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          <a href="http://hasbean.co.uk" class="u-link-medium-gray u-text-underline" target="_blank">Has Bean Coffee</a> is a major supplier of high quality coffee to the retail and wholesale industries. In an industry with lead times of up to a year, it is crucial for Has Bean to maintain strong cash flow.
        </p>
        <p class="u-color-p u-margin-Tm">
          With cafes often strapped for cash, "customers paying invoices up to four months late drove us crazy. Our business was growing so fast and we were so busy that we would send out coffee to customers even with long overdue invoices." Owner Steve Leighton was left with uncertain cash flow and numerous bad debtors.
        </p>
      </div>
    </div>
  </div>

  <div class="story-hero--has-bean-coffee">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size2of3 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “GoCardless gives us control over when we get paid and takes away the uncomfortable conversations about money.”
          </p>
        </div>
        <img src="/images/testimonials/hasbean-coffee__avatar.png" alt="" class="u-size1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Steve Leighton</div>
        <div class="u-color-invert u-text-heading u-text-xs">Has Bean Coffee</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “Now we can automatically take payment when issuing invoices”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Has Bean use GoCardless through accounting software, KashFlow. Now, they can send out Direct Debit requests with invoices to all wholesale customers. As soon as an invoice becomes due, they can automatically take payment from the customer.
        </p>
        <p class="u-color-p u-margin-Tm">
          As a bonus, the GoCardless integration with Kashflow means that these payments are automatically reconciled in their accounts.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “We now have control over when we get paid”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Since making the switch, Has Bean’s average payment period has been reduced from 62 days to 41 and cash flow has improved by 30%.
        </p>
        <p class="u-color-p u-margin-Tm">
          Thanks to GoCardless, Has Bean are now in control of when they get paid. This has vastly improved their cashflow and helped them “keep uncomfortable conversations about money to a minimum”.
        </p>
        <a href="/invoicing" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-block u-margin-Txl">
            See how GoCardless works for invoicing
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
