{% extends "plain.html" %}

{% block title %}Fleetsmart - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Fleetsmart have given their customers a simple ‘set and forget’ service using Direct Debit with GoCardless. Read their testimonial of using GoCardless.">{% endblock %}

{% block body %}
  <div class="grid grid--center">
  <h1 class="page-heading u-padding-Bs">Fleetsmart have given their customers a simple ‘set and forget’ service using Direct Debit with GoCardless
  </h1>
    <div class="grid__cell u-size2of12 u-padding-Bl">
      <img src="/images/stories/fleetsmart/headshot.jpg" class="u-border-circle">
    </div>
    <div class="grid__cell u-size8of12">
      <h2 class="u-text-heading">&ldquo;GoCardless saves our customers time, effort and money and helps us to be more productive.&rdquo;</h2>
      <span class="testimonial--citation">
        Nick Wilkinson, MD of Fleetsmart UK
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Increase productivity</strong> of account stuff</li>
          <li><strong>Reduce admin time</strong></li>
          <li><strong>Set up variable payments</strong> to collect on more than just one or two dates per month</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bl">
      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
      “Our customers wanted a set and forget service”
      </div>
      <p class="para">
        <a href="http://www.fleetsmart.co.uk">Fleetsmart</a> provides fleet tracking systems to vehicle-based businesses. Before GoCardless, Fleetsmart asked customers to pay using cheque, BACS transfer or PayPal but struggled to keep track of payments.
      </p>
      <p class="para">
        “We wasted time waiting for cheques to arrive or chasing cheques lost in the post or checking online banking for payment confirmations. We’d been asked to offer Direct Debit payments many times in the past as our customers wanted a set and forget service,” explained Fleetsmart’s MD, Nick Wilkinson.
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
       “GoCardless helped us easily set up variable Direct Debits”
      </div>
      <p class="para">
        Fleetsmart spoke to their bank about collecting Direct Debit in-house but were put off by the costs and manual processes.
      </p>
      <p class="para">
        “There seemed to be a lot of obstacles: high setup costs; longer lead times/waiting times; considerable admin uploading files on a monthly basis and batching direct debits on a single date per month. GoCardless helped us to avoid these obstacles and easily set up variable Direct Debits and collect payments on more than just one or two dates per month.”
      </p>
      <p class="para">
        Fleetsmart now ask all customers to pay using GoCardless and manage their payments through Xero and Directli.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      “GoCardless saves our customers time, effort and money”
      </div>
      <p class="para">
        70% of the Fleetsmart customer base has already transitioned to paying Direct Debit with GoCardless and Fleetsmart are hoping to roll it out to their remaining customers in the near future.
      </p>
      <p class="para">
        “GoCardless saves our customers time, effort and money and helps our staff to be more productive. They don’t need to worry about remembering to post cheques every month and we don’t need to waste time chasing or tracking payments anymore.”
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-size10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}
