{% extends "plain.html" %}

{% block title %}Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="page-hero page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner stories-hero-heading">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Thousands of happy customers
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            From one-man bands to multi-national corporations, GoCardless<br>helps thousands of businesses with their payments everyday
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl u-margin-Bxxl">
    <div class="u-padding-Vxxl u-relative u-margin-Bxxl">

      <div class="u-padding-Bl">
        <div class="stories-spotlight grid u-margin-Hn u-size-full">
          <a href="" class="grid__cell u-text-center u-size-1of2 u-link-clean u-padding-Rxs u-padding-Ln">
            <div class="stories-spotlight__item u-relative u-padding-Vl">
              <div class="stories-spotlight__item-text u-margin-Vl">
                <p class="u-padding-Al u-padding-Bn u-text-heading u-color-invert u-text-light u-text-m">
                  “Rather than chasing people to update their details, we can now retry failed payments at the click of a button.”
                </p>
                <div class="u-color-invert u-margin-Tm">
                  Dave Lusher, Rock Choir
                </div>
              </div>
            </div>
            <div class="stories-spotlight__btn btn u-size-full">Read the case study</div>
          </a>
          <a href="" class="grid__cell u-text-center u-size-1of2 u-link-clean u-padding-Lxs u-padding-Rn">
            <div class="stories-spotlight__item u-relative u-padding-Vl">
              <div class="stories-spotlight__item-text u-margin-Vl">
                <p class="u-padding-Al u-padding-Bn u-text-heading u-color-invert u-text-light u-text-m">
                  “Rather than chasing people to update their details, we can now retry failed payments at the click of a button.”
                </p>
                <div class="u-color-invert u-margin-Tm">
                  Dave Lusher, Rock Choir
                </div>
              </div>
            </div>
            <div class="stories-spotlight__btn btn u-size-full">Read the case study</div>
          </a>
        </div>
      </div>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <a href="" class="grid__cell u-size-1of3 u-link-clean u-padding-Rxs u-padding-Bm">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="FreeAgent" class="freeagent-logo u-margin-Vs"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Award-winning online accounting software for freelancers and small businesses
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="" class="grid__cell u-size-1of3 u-link-clean u-padding-Bm">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="FreeAgent" class="freeagent-logo u-margin-Vs"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Award-winning online accounting software for freelancers and small businesses
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="" class="grid__cell u-size-1of3 u-link-clean u-padding-Lxs u-padding-Bm">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="FreeAgent" class="freeagent-logo u-margin-Vs"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Award-winning online accounting software for freelancers and small businesses
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="" class="grid__cell u-size-1of3 u-link-clean u-padding-Rxs">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="FreeAgent" class="freeagent-logo u-margin-Vs"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Award-winning online accounting software for freelancers and small businesses
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="" class="grid__cell u-size-1of3 u-link-clean">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="FreeAgent" class="freeagent-logo u-margin-Vs"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Award-winning online accounting software for freelancers and small businesses
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="" class="grid__cell u-size-1of3 u-link-clean u-padding-Lxs">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="FreeAgent" class="freeagent-logo u-margin-Vs"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Award-winning online accounting software for freelancers and small businesses
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="u-text-center">
        <a href="#dashboard-home"
        class="stories-testimonial__link u-link-clean u-margin-Rm"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'dashboard-home'
        }">
          <img src="/images/stories/guardian-logo@2x.jpg">
        </a>
        <a href="#add-customers"
        class="stories-testimonial__link u-link-clean u-margin-Rm"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'add-customers'
        }">
          <img src="/images/stories/guardian-logo@2x.jpg">
        </a>
        <a href="#guardian"
        class="stories-testimonial__link u-link-clean u-margin-Rm"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'guardian'
        }">
          <img src="/images/stories/guardian-logo@2x.jpg">
        </a>
        <a href="#take-payments"
        class="stories-testimonial__link u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'take-payments'
        }">
          <img src="/images/stories/guardian-logo@2x.jpg">
        </a>
      </div>
      <div id="dashboard-home" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonial__quote stories-testimonial__quote--theguardian u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"With GoCardless and TeamUp I now spend just an hour a month managing payments, so I can concentrate on the other jobs that need doing"</p>
          </div>
        </div>
      </div>
      <div id="add-customers" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonial__quote stories-testimonial__quote--omnicapital u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"With GoCardless and TeamUp I now spend just an hour a month managing payments, so I can concentrate on the other jobs that need doing"</p>
          </div>
        </div>
      </div>
      <div id="guardian" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonial__quote stories-testimonial__quote--pieminister u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"With GoCardless and TeamUp I now spend just an hour a month managing payments, so I can concentrate on the other jobs that need doing"</p>
          </div>
        </div>
      </div>
      <div id="take-payments" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonial__quote stories-testimonial__quote--virginpure u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"With GoCardless and TeamUp I now spend just an hour a month managing payments, so I can concentrate on the other jobs that need doing"</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
