{% extends "default.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}
  <div class="site-gutter">
    <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h1 u-color-primary u-text-center">Thousands of businesses rely on us</h1>
    <h2 class="u-color-meta u-text-heading u-text-h2 u-text-center u-margin-Ts u-margin-Bl">Discover first-hand how GoCardless can help your business.</h2>
  </div>

  <div class="u-margin-Tl">
    <div class="u-pull-start u-1of2 u-padding-Bl u-padding-Rs">
      <div class="site-gutter-L">
        <div class="case-study case-study--greater-anglia u-padding-Vl">
          <p class="case-study__text">Learn how Greater Anglia <b>saved days of admin time every month</b> with GoCardless</p>
          <a href="/stories/greater-anglia" class="btn btn--hollow case-study_cta u-margin-Ts u-margin-Bl">Read case study</a>
        </div>
      </div>
    </div>
    <div class="u-pull-start u-1of2 u-padding-Bl u-padding-Ls">
      <div class="site-gutter-R">
        <div class="case-study case-study--has-bean-coffee u-padding-Vl">
          <p class="case-study__text">Learn how Has Bean Coffee <b>reduced debtor days by 34%</b> with GoCardless</p>
          <a href="/stories/has-bean-coffee" class="btn btn--hollow case-study_cta u-margin-Ts u-margin-Bl">Read case study</a>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="u-text-center u-padding-Vl">
    <div class="u-padding-Bl">
      <i class="icon-benefits-quote u-margin-Bs"></i>
      <h2 class="u-text-heading u-margin-Bxs u-color-accent">Membership organisations</h2>
      <p class="u-text-h3">Direct Debit is the UK's preferred payment method for recurring subscriptions</p>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Bl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
     <img src="/images/stories/grow-wild/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      “Now processing payments takes 5 minutes, not 3 and a half hours."
      <br><a href="/stories/grow-wild">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Vl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/spencer-hockey/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      “Using GoCardless felt like a natural fit for a membership group"
      <br><a href="/stories/spencer-hockey">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Vl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/foundation-of-hearts/calum.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "GoCardless is easy for our team to use, easy for our supporters to use, and the fees are brilliantly low"
      <br><a href="/stories/foundation-of-hearts">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Vl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/rock-choir/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      “Rather than chasing people to update their details, we can now retry failed payments at the click of a button"
      <br><a href="/stories/rock-choir">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Bl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/greater-anglia/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      “GoCardless have taken all of the pain out of setting up and managing Direct&nbsp;Debit”
      <br><a href="/stories/greater-anglia">Read case study &rarr;</a>
    </div>
  </div>

  <hr>

  <div class="u-text-center u-padding-Vl">
    <div class="u-padding-Bl">
      <i class="icon-benefits-quote u-margin-Bs"></i>
      <h2 class="u-text-heading u-margin-Bxs u-color-accent">Software as a Service businesses</h2>
      <p class="u-text-h3">GoCardless and Direct Debit are perfect for variable regular payments</p>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Bl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/veriphy/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      “Offering Direct Debit to our clients has been good for them, and allowed us to save time and make our customers happy.”
      <br><a href="/stories/veriphy">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Bl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/vouched-for/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "With GoCardless automating our payment collections, we can scale our business faster"
      <br><a href="/stories/vouched-for">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Vl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/fleetsmart/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "GoCardless saves our customers time, effort and money and helps us to be more productive"
      <br><a href="/stories/fleetsmart">Read case study &rarr;</a>
    </div>
  </div>

  <hr>

  <div class="u-text-center u-padding-Vl">
    <div class="u-padding-Bl">
      <i class="icon-benefits-quote u-margin-Bs"></i>
      <h2 class="u-text-heading u-margin-Bxs u-color-accent">Regular invoicing</h2>
      <p class="u-text-h3">Collecting invoices automatically using GoCardless means no more chasing payments</p>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Bl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/has-bean/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "GoCardless gives us control over when we get paid and takes away the uncomfortable conversations about money."
      <br><a href="/stories/has-bean-coffee">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Bl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/voip/adam-headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "Admin time spent collecting payments has all but disappeared and cash flow issues are a thing of the past."
      <br><a href="/stories/zen-systems">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Vl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/zest-digital/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "I spoke with a number of Direct Debit providers and GoCardless were by far the best."
      <br><a href="/stories/zest-digital">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Vl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/fulfilling-station/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "Knowing when customers are going to pay is brilliant, and allows me to operate the business with a lot more security."
      <br><a href="/stories/fulfilling-station">Read case study &rarr;</a>
    </div>
  </div>

  <div class="benefits-quote u-cf u-padding-Vl">
    <div class="u-pull-start benefits-quote__avatar benefits-quote__avatar--arrow-start">
      <img src="/images/stories/bluesky/headshot.jpg" class="u-border-circle">
    </div>
    <div class="u-overflow-hidden benefits-quote__content u-text-h3">
      "GoCardless saves us time and gives us control over our cashflow. Now we can spend our time growing our business."
      <br><a href="/stories/bluesky">Read case study &rarr;</a>
    </div>
  </div>

  <hr class="u-margin-Bl">
{% endblock %}
