{% extends "plain.html" %}

{% block title %}Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="page-hero page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner stories-hero-heading">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Thousands of happy customers
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            From one-man bands to multi-national corporations, GoCardless<br>helps thousands of businesses with their payments everyday
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl u-margin-Bxxl">
    <div class="u-padding-Vxxl u-relative u-margin-Bxxl">

      <div class="u-padding-Bl">
        <div class="stories-spotlight grid u-margin-Hn u-size-full">
          <a href="/stories/has-bean-coffee" class="grid__cell u-text-center u-size-1of2 u-link-clean u-padding-Rxs u-padding-Ln">
            <div class="stories-spotlight__item stories-spotlight__item--has-bean-coffee
            u-relative u-padding-Vl">
              <div class="stories-spotlight__item-text u-margin-Vl">
                <p class="u-padding-Al u-padding-Bn u-text-heading u-color-invert u-text-m">
                  “GoCardless gives us control over when<br>we get paid and takes away<br>the uncomfortable conversations<br>about money.”
                </p>
                <div class="u-color-invert u-margin-Tm">
                  Steve Leighton, Has Bean Coffee
                </div>
              </div>
            </div>
            <div class="stories-spotlight__btn btn u-size-full">Read the case study</div>
          </a>
          <a href="/stories/momentum" class="grid__cell u-text-center u-size-1of2 u-link-clean u-padding-Lxs u-padding-Rn">
            <div class="stories-spotlight__item stories-spotlight__item--crossfit-hackney u-relative u-padding-Vl">
              <div class="stories-spotlight__item-text u-margin-Vl">
                <p class="u-padding-Al u-padding-Bn u-text-heading u-color-invert u-text-m">
                  “Taking payments with GoCardless costs us less than half the price of using PayPal and the integration with TeamUp has definitely reduced our admin.”
                </p>
                <div class="u-color-invert u-margin-Tm">
                  Geoff Stewart, Momentum Training
                </div>
              </div>
            </div>
            <div class="stories-spotlight__btn btn u-size-full">Read the case study</div>
          </a>
        </div>
      </div>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <a href="/stories/crowdcube" class="grid__cell u-size-1of3 u-link-clean u-padding-Rxs u-padding-Bm">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="Crowdcube" class="crowdcube-logo stories-item__logo--crowdcube"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
             Crowdcube, the world’s leading investment crowdfunding site, have saved more than 40 hours of admin time each month by switching to GoCardless.
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="/stories/greater-anglia" class="grid__cell u-size-1of3 u-link-clean u-padding-Bm">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="Abellio Greater Anglia" class="greater-anglia-logo stories-item__logo--greater-anglia"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
           Greater Anglia, the East Anglia rail franchise, cut admin time and saved more than £21,000 by switching to online Direct Debit with GoCardless.
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="/stories/rock-choir" class="grid__cell u-size-1of3 u-link-clean u-padding-Lxs u-padding-Bm">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="Rock Choir" class="rock-choir-logo stories-item__logo--rock-choir"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Rock Choir, the UK’s leading contemporary choir group, cut failed payments to 1% by switching to online Direct Debit with GoCardless.
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="/stories/foundation-of-hearts" class="grid__cell u-size-1of3 u-link-clean u-padding-Rxs">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="Foundation Of Hearts" class="foundation-of-hearts-logo stories-item__logo--foundation-of-hearts"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            The Foundation of Hearts, a not-for-profit organisation made up of Hearts FC fans, can easily collect over 8000 donations each month with GoCardless.
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="/stories/spencer-hockey" class="grid__cell u-size-1of3 u-link-clean">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="Spencer Hockey Club" class="spencer-hockey-club-logo stories-item__logo--spencer-hockey-club"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Spencer Hockey Club slashed the time spent chasing their members for payments by switching to Direct Debit with GoCardless.
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
      <a href="/stories/bluesky" class="grid__cell u-size-1of3 u-link-clean u-padding-Lxs">
        <div class="product-grid__container u-text-center u-padding-Vl">
          <i role="img" aria-label="Bluesky" class="bluesky-logo stories-item__logo--bluesky"></i>
          <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
            Bluesky Business, a book-keeping and accounting service provider, reduced late payments by 62.5% in just one month with GoCardless.
          </p>
        </div>
        <div class="stories-item__btn btn u-size-full">Read the case study</div>
      </a>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="stories-testimonials__grid grid u-text-center">
        <a href="#guardian"
        class="grid__cell u-padding-Hl stories-testimonials__link--guardian u-size-1of3 stories-testimonials__link u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'guardian'
        }">
          <img src="/images/stories/guardian-logo@2x.jpg">
        </a>
        <a href="#funding-circle"
        class="grid__cell u-padding-Hl stories-testimonials__link--funding-circle u-size-1of3 stories-testimonials__link u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'funding-circle'
        }">
          <img class="stories-testimonials__link-image--funding-circle" src="/images/stories/funding-circle-logo@2x.jpg">
        </a>
        <a href="#lendable"
        class="grid__cell u-padding-Hl stories-testimonials__link--lendable u-size-1of3 stories-testimonials__link u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger="{
          $href: 'lendable'
        }">
          <img class="stories-testimonials__link-image--lendable" src="/images/stories/lendable-logo@2x.jpg">
        </a>
      </div>
      <div id="guardian" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonials__quote stories-testimonials__quote--guardian u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"The Guardian is always looking to give the best customer experience and has chosen GoCardless to make its recurring payment experience as seamless as possible."</p>
          </div>
        </div>
      </div>
      <div id="funding-circle" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonials__quote stories-testimonials__quote--funding-circle u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"We moved to GoCardless as collections can be managed by one person instead of a whole department. It's great to work with another financial technology company who are committed to helping businesses."</p>
          </div>
        </div>
      </div>
      <div id="lendable" ng-gc-tabby-content prevent-location-update>
        <div ng-if="$isActive">
          <div class="stories-testimonials__quote stories-testimonials__quote--lendable u-relative u-margin-Txxl u-padding-Al">
            <p class="u-text-heading u-color-heading u-text-light u-text-m">"GoCardless is one of the best payments companies we've worked with. Their API was simple to integrate and allows us to use Direct Debit in a fully automated way. I'd highly recommend them to any company that cares about a providing good user experience and using the best available technology for their Direct Debit in the UK and Europe."</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no hidden charges, no commitments</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
