{% extends "plain.html" %}

{% block title %}Veriphy - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Veriphy eliminated admin time with GoCardless' simple online system. Read their customer story of using GoCardless.">{% endblock %}

{% block body %}
  <div class="grid grid--center">
  <h1 class="page-heading u-padding-Bs">Veriphy eliminated admin time with<br />GoCardless’ simple online system
  </h1>
    <div class="grid__cell u-size2of12 u-padding-Bl">
      <img src="/images/stories/veriphy/headshot.jpg" class="u-border-circle">
    </div>
    <div class="grid__cell u-size8of12">
      <h2 class="u-text-heading">&ldquo;Offering Direct Debit to our clients has been good for them, and allowed us to save time and make our customers happy.&rdquo;</h2>
      <span class="testimonial--citation">
        George Ford, Director, Veriphy
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Save two days</strong> of management time every month</li>
          <li>Focus on <strong>growing the business</strong></li>
          <li>Offer customers <strong>Direct Debit</strong> as a payment option</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bl">
      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
      “Managing payments for all our customers was a nightmare”
      </div>
      <p class="para">
        <a href="http://www.veriphy.co.uk">Veriphy</a> provide anti-money laundering checks, company checks and other forms of verification to thousands of businesses. Before using GoCardless, customers were making payments using standing order and cheque.
      </p>

      <p class="para">
        “Managing payments for all our customers was a nightmare. It was taking us 2 full days a month in admin time to chase customers and process payments”, explained Director George Ford.
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
       “GoCardless was the low cost Direct Debit solution we needed”
      </div>
      <p class="para">
        “Our customers wanted to pay by Direct Debit because remembering to write cheques and change standing orders was a hassle. However, until we found GoCardless, it was just too expensive and too much hassle to make the switch. GoCardless was the low cost Direct Debit solution we needed,” says George.
      </p>
      <p class="para">
        Veriphy now ask all their customers to sign up using GoCardless.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      “Customers don’t need to worry about making payments any more”
      </div>
      <p class="para">
        Since using GoCardless, George and his staff no longer need to spend two days a month on chasing customers and processing payments.
      </p>
      <p class="para">
        “Getting customers set up on GoCardless has eliminated the admin time, allowing us to focus on growing the business. Customers don’t need to worry about making payments any more, which helps both them and us”.
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-size10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}
