@import "variables";
@import "mixins/clearfix-mixin";

html,
body {
  height: 100%;
  background-color: $site-background-color;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
button,
input,
select,
textarea {
  font-family: $font-family-base;
  color: $black-blue;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  @include clearfix();
  font-size: $font-size-small;
  line-height: $line-height-base;
}

/**
 * Links
 */
a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $primary-color-darken;
  text-decoration: underline;
  cursor: pointer;
}

/*
* A better looking default horizontal rule
*/
hr {
  // Override normalize
  box-sizing: border-box;
  display: block;
  height: 1px;
  margin: $gutter-space-base 0;
  padding: 0;
  border: 0;
  border-top: 1px solid $gray;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
  max-width: 100%;
}

// Override normalize
input[type="search"] {
  box-sizing: border-box;
}

/**
 * Hide when Angular is not yet loaded and initialized
 */
[ng-cloak] {
  display: none;
}
