{% extends "plain.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless is the UK's #1 for Direct Debit, serving more companies than any other provider. Perfect for recurring billing and B2B invoicing.">{% endblock %}

{% block body %}

<modal>
  <a href="#" ng-click="isShown = true">Why Direct Debit?</a>
  <div class="modal" ng-show="isShown">
    <div class="modal__container" ng-show="isShown">
      <a href="#" ng-click="isShown = false" class="modal__container__close">Close</a>

          <div class="modal__container__controls u-padding-Tm u-padding-Hl">
            <a href="#" ng-hide="slide == 1" ng-click="slide = slide - 1" class="btn btn--small btn--hollow u-text-transform-none">&larr; Back</a>
            <a href="#" ng-hide="slide == 5" ng-click="slide = slide + 1" class="u-pull-end btn btn--small u-text-transform-none">Next &rarr;</a>
          </div>

          <div ng-switch="slide">

            <!-- Slide 1 -->
            <div ng-switch-when="1" class="modal__container--slide--1">
              <div class="modal__container__img u-padding-Axl">
                <div class="u-padding-Axl u-margin-Tm">
                  <img src="/images/why-dd/slide-1.png">
                </div>
              </div>
              <div class="modal__container__copy u-padding-Al">
                <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-padding-Txl u-margin-Tl">
                  Why Direct Debit?
                </h2>
                <p class="u-text-s u-color-p u-padding-Tm">
                  Direct Debit works quite differently to card payments, which most people are more familiar with.
                </p>
                <p class="u-text-s u-color-p u-padding-Tm">
                  You may pay some bills with Direct Debit, but you might not know how it could help your business. We’ve written this tiny guide to clear things up a bit.
                </p>
              </div>
            </div>
            <!-- END Slide 1 -->

            <!-- Slide 2 -->
            <div ng-switch-when="2" class="modal__container--slide--2">
              <div class="modal__container__img u-padding-Axl">
                <div class="u-padding-Axl u-margin-Tm">
                  <img src="/images/why-dd/slide-2.png">
                </div>
              </div>
              <div class="modal__container__copy u-padding-Al">
                <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-padding-Txl u-margin-Tl">
                  Is it safe?
                </h2>
                <p class="u-text-s u-color-p u-padding-Tm">
                  A customer giving you access to their bank account might seem strange, but it’s not as risky for them as you might think.
                </p>
                <p class="u-text-s u-color-p u-padding-Tm">
                  Direct Debit payments are bound by rules stating that customers must be informed of any collections in advance, and guaranteeing that they will get their money back if anything bad, like fraud, happens.
                </p>
                <hr>
                <h5 class="u-text-heavy u-color-heading">Worth reading</h5>
                <p><a href="/direct-debit/guarantee">The Direct Debit Guarantee</a></p>
              </div>
            </div>
            <!-- END Slide 2 -->

            <!-- Slide 3 -->
            <div ng-switch-when="3" class="modal__container--slide--3">
              <div class="modal__container__img u-padding-Axl">
                <div class="u-padding-Axl u-margin-Tm">
                  <img src="/images/why-dd/slide-3.png">
                </div>
              </div>
              <div class="modal__container__copy u-padding-Al">
                <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-padding-Txl u-margin-Tl">
                  How does it work?
                </h2>
                <p class="u-text-s u-color-p u-padding-Tm">
                  Setting up a Direct Debit just means that someone’s allowing you to take payments from their bank account.
                </p>
                <p class="u-text-s u-color-p u-padding-Tm">
                  From a business’ point of view, getting paid by Direct Debit means getting permission from your customer to take money from their account.
                </p>
                <p class="u-text-s u-color-p u-padding-Tm">
                  Good news is, once that’s done you can take payments without the need for them to actually do anything.
                </p>
                <hr>
                <h5 class="u-text-heavy u-color-heading">Worth reading</h5>
                <p><a href="/guides/intro-to-direct-debit/merchants-guide/">What is Direct Debit? A guide for merchants</a></p>
                <p><a href="/guides/posts/switching-to-gocardless/">How to switch to taking Direct Debit with GoCardless</a></p>
              </div>
            </div>
            <!-- END Slide 3 -->

            <!-- Slide 4 -->
            <div ng-switch-when="4" class="modal__container--slide--4">
              <div class="modal__container__img u-padding-Axl">
                <div class="u-padding-Axl u-margin-Tm">
                  <img src="/images/why-dd/slide-4.png">
                </div>
              </div>
              <div class="modal__container__copy u-padding-Al">
                <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-padding-Txl u-margin-Tl">
                  Why doesn't everyone use it?
                </h2>
                <p class="u-text-s u-color-p u-padding-Tm">
                  There are some things you don’t want Direct Debit for.  It’s not good for paying for your groceries, for example, because payments don’t happen instantly.
                </p>
                <p class="u-text-s u-color-p u-padding-Tm">
                  However, it is great for payments like subscriptions and invoicing, where the speed of payment doesn’t matter so much.
                </p>
                <p class="u-text-s u-color-p u-padding-Tm">
                  Also, until recently it has been quite difficult to get set up on the system. That’s why your gas or electric supplier might get you to pay your bills this way, but your landlord or accountant probably&nbsp;don’t.
                </p>
              </div>
            </div>
            <!-- END Slide 4 -->

            <!-- Slide 5 -->
            <div ng-switch-when="5" class="modal__container--slide--5">
              <div class="modal__container__img u-padding-Axl">
                <div class="u-padding-Axl u-margin-Tm">
                  <img src="/images/why-dd/slide-5.png">
                </div>
              </div>
              <div class="modal__container__copy u-padding-Al">
                <h2 class="u-text-heading u-color-heading u-text-l u-text-light u-padding-Txl u-margin-Tl">
                  We make Direct Debit easy
                </h2>
                <p class="u-text-s u-color-p u-padding-Tm">
                  GoCardless makes it incredibly simple for anyone to get started with Direct Debit.
                </p>
                <p class="u-text-s u-color-p u-padding-Tm">
                  Whether you’re a small business, large enterprise, landlord, accountant or really anyone wanting to collect recurring payments; we’ve made Direct Debit available to anyone.
                </p>
                <hr>
                <a href="/features" class="btn btn--block">See how it works</a>
              </div>
            </div>
            <!-- END Slide 5 -->

          </div>
        </div>
      </div>

    </div>
  </div>
</modal>


<div class="site-wrapper">
  <div class="page-hero page-hero--home page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Recurring payments made simple
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            GoCardless makes collecting by Direct Debit easy for everyone <br>from one-man bands to multi-national corporations
          </div>
          <div class="u-text-center u-margin-Tl">
            <a href="#learn-more" ng-gc-smooth-scroll class="btn btn--invert btn--move u-size-2of12">Learn more</a>
            <a href="/merchants/new?l=1" class="btn btn--invert-hollow btn--move u-size-2of12 u-margin-Lm">Sign up now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-text-center u-padding-Vxxl" id="learn-more">
    <div class="u-padding-Vxl">
      <div class="u-size-2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          Bringing Direct Debit into the 21st century
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          GoCardless allows you to benefit from the great fees and low failure rates of Direct Debit, without the operational complexity associated with traditional providers.
        </p>
      </div>
      <div class="grid u-margin-Tl u-padding-Tm">
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/mobile-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/mobile-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Built for online
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Whether it's our simple dashboard or our API, you're in control
          </p>
        </div>
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/checklist-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/checklist-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Fully automated
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Save time, stop human errors and avoid failed payments
          </p>
        </div>
        <div class="grid__cell u-size-1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/globe-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/globe-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Works in Europe
          </div>
          <p class="u-size-4of5 u-center u-color-p u-margin-Txs">
            Collect Direct Debit from across Europe via a single integration
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Tl">
      What are you looking for?
    </h2>
    <div class="product-grid grid u-margin-Vxxl">
      <a href="/features" class="u-link-clean u-text-center grid__cell u-size-1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/shop-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/shop-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Super simple<br>online payments
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover GoCardless</div>
      </a>
      <a href="/pro" class="u-link-clean u-text-center grid__cell u-size-1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/pro-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/pro-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Complete control<br>over Direct Debit
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover GoCardless Pro</div>
      </a>
      <a href="/partners" class="u-link-clean u-text-center grid__cell u-size-1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/integrations-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/integrations-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Help your customers<br>collect payments
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover our partners</div>
      </a>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Txl">
      <div class="u-size-1of2 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Trusted by thousands of businesses
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          We’re a Bacs approved bureau that collects millions of pounds for our merchants every day. Whatever your scale, GoCardless works for you.
        </p>
      </div>
      <div class="u-text-center u-margin-Vl u-padding-Vs u-center">
        <img src="/images/logos/enterprise-logos@2x.jpg">
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size-2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Simple, transparent pricing for everyone
        </h2>
        <p class="u-text-s u-color-p u-margin-Vxs">
          Competitive rates for everyone from individuals through to large corporations
        </p>
        <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
