{% extends "plain.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless is the UK's #1 for Direct Debit, serving more companies than any other provider. Perfect for recurring billing and B2B invoicing.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--home page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert site-gutter u-cf align-btn-small u-padding-Tm">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <div class="u-text-heading u-color-invert u-text-center hero-heading u-text-light">Get paid on time, online</div>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">GoCardless lets any business or organisation take single or recurring payments</div>
          <div class="u-text-center u-margin-Tl">
            <a href="#" class="btn btn--invert btn--move u-size2of12">Learn more</a>
            <a href="/merchants/new" class="btn btn--invert-hollow btn--move u-size2of12 u-margin-Lm">Sign up now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="u-size1of2 u-center">
        <div class="u-text-heading u-color-heading u-text-l u-text-light">
          Let us do the hard work for you
        </div>
        <p class="u-text-s u-color-p u-margin-Txs">
          GoCardless gives you access to the cheaper fees and lower failure rate of Direct Debit, without the expense and hassle of traditional providers
        </p>
      </div>
      <div class="grid u-margin-Tl u-padding-Tm">
        <div class="grid__cell u-size1of3 u-text-center">
          <i class="save-money-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Save money</div>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">
            Our fees our considerably cheaper than cards and services like Paypal
          </p>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <i class="save-time-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Save time</div>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">
            Automatically collect one-off or recurring payments from customers
          </p>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <i class="improve-cashflow-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Improve cashflow</div>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">
            Get paid on time by collecting money straight from your customers’ accounts
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Tl">
      What are you looking for?
    </div>
    <div class="product-grid grid u-margin-Vxxl">
      <a href="/businesses" class="u-link-clean u-text-center grid__cell u-size1of3">
        <div class="product-grid__container u-padding-Vl">
          <i class="shop-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">
            Super simple<br>online payments
          </div>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover Basic</div>
      </a>
      <a href="/enterprises" class="u-link-clean u-text-center grid__cell u-size1of3">
        <div class="product-grid__container u-padding-Vl">
          <i class="enterprise-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">
            Complete control<br>over Direct Debit
          </div>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover Pro</div>
      </a>
      <a href="/integrations" class="u-link-clean u-text-center grid__cell u-size1of3">
        <div class="product-grid__container u-padding-Vl">
          <i class="integrations-icon"></i>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">
            Take payments inside<br>your existing apps
          </div>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover our partners</div>
      </a>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Txl">
      <div class="u-size1of2 u-center">
        <div class="u-text-heading u-color-heading u-text-light u-text-l">
          Trusted by thousands
        </div>
        <p class="u-text-s u-color-p u-margin-Txs">
          We’re a BACS approved bureau that collects millions of pounds for our merchants every day. Whatever your scale, GoCardless works for you.
        </p>
      </div>
      <div class="u-text-center u-margin-Vl u-padding-Vs u-size2of3 u-center">
        <img src="/images/logos/enterprise-logos@2x.jpg">
      </div>
    </div>
  </div>

  <div class="u-background-light-gray u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size2of3 u-center">
        <div class="u-text-heading u-color-heading u-text-light u-text-l u-text-light">
          Simple, transparent pricing for everyone
        </div>
        <p class="u-text-s u-color-p u-margin-Vxs">
          Competitive rates for everyone from individuals through to large corporations
        </p>
        <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
      </div>
    </div>
  </div>

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
