{% extends "plain.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless is the UK's #1 for Direct Debit, serving more companies than any other provider. Perfect for recurring billing and B2B invoicing.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--home page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Recurring payments made simple
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            GoCardless makes collecting by Direct Debit easy for everyone <br>from one-man bands to multi-national corporations
          </div>
          <div class="u-text-center u-margin-Tl">
            <a href="#learn-more" ng-gc-smooth-scroll class="btn btn--invert btn--move u-size2of12">Learn more</a>
            <a href="/merchants/new" class="btn btn--invert-hollow btn--move u-size2of12 u-margin-Lm">Sign up now</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-text-center u-padding-Vxxl" id="learn-more">
    <div class="u-padding-Vxl">
      <div class="u-size2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          Bringing Direct Debit into the 21st century
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          GoCardless allows you to benefit from the great fees and low failure rates of Direct Debit, without the operational complexity associated with traditional providers.
        </p>
      </div>
      <div class="grid u-margin-Tl u-padding-Tm">
        <div class="grid__cell u-size1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/mobile-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/mobile-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Built for online
          </div>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">
            Whether its our simple dashboard or our API, you're in control
          </p>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/checklist-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/checklist-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Fully automated
          </div>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">
            Save time, stop human errors and avoid failed payments
          </p>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/globe-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/globe-icon.svg">
          </figure>
          <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Works in Europe
          </div>
          <p class="u-size4of5 u-center u-color-p u-margin-Txs">
            Collect Direct Debit from across Europe via a single integration
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Tl">
      What are you looking for?
    </h2>
    <div class="product-grid grid u-margin-Vxxl">
      <a href="/basic" class="u-link-clean u-text-center grid__cell u-size1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/shop-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/shop-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Super simple<br>online payments
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover Basic</div>
      </a>
      <a href="/pro" class="u-link-clean u-text-center grid__cell u-size1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/pro-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/pro-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Complete control<br>over Direct Debit
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover Pro</div>
      </a>
      <a href="/partners" class="u-link-clean u-text-center grid__cell u-size1of3">
        <div class="product-grid__container u-padding-Vl">
          <figure class="svg-icon u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/integrations-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/integrations-icon.svg">
          </figure>
          <p class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
            Take payments inside<br>your existing apps
          </p>
        </div>
        <div class="product-grid__btn btn u-size-full">Discover our partners</div>
      </a>
    </div>
  </div>

  <hr class="u-margin-An">

  <!-- <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Txl">
      <div class="u-size1of2 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Trusted by thousands
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs">
          We’re a Bacs approved bureau that collects millions of pounds for our merchants every day. Whatever your scale, GoCardless works for you.
        </p>
      </div>
      <div class="u-text-center u-margin-Vl u-padding-Vs u-size2of3 u-center">
        <img src="/images/logos/enterprise-logos@2x.jpg">
      </div>
    </div>
  </div> -->

  <div class="u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Simple, transparent pricing for everyone
        </h2>
        <p class="u-text-s u-color-p u-margin-Vxs">
          Competitive rates for everyone from individuals through to large corporations
        </p>
        <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
