.u-background-gradient {
  background-image: linear-gradient(to bottom, #e5ecf2, #ffffff); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.u-background-gradient-reverse {
  background-image: linear-gradient(to bottom, #ffffff, #e5ecf2); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.u-background-white {
  background: white;
}
