// Colours
//
.u-color-meta {
  color: $dark-gray;
}

.u-color-invert {
  color: $black-blue-invert;
}

.u-color-invert-secondary {
  color: $black-blue-invert-secondary;
}

.u-color-base {
  color: $black-blue;
}

.u-color-primary {
  color: $primary-color;
}

.u-color-secondary {
  color: $secondary-color;
}

.u-color-accent {
  color: $accent-color;
}
