.u-fill-dark-gray {
  g {
    fill: $dark-gray;
  }
}

.u-fill-yellow {
  g {
    fill: $highlight-yellow;
  }
}

.u-fill-green {
  g {
    fill: $highlight-green;
  }
}

.u-fill-blue {
  g {
    fill: $highlight-blue;
  }
}
