//////////////////////////
// Link-specific utilities
//////////////////////////

// Link clean
//
// A link without any text-decoration at all.

.u-link-clean,
.u-link-clean:hover,
.u-link-clean:focus,
.u-link-clean:active {
  text-decoration: none;
}

// Inverted Link
//
// Style an inline element to look like an inverted link

.u-link-invert {
  color: white;
  cursor: pointer;
}

.u-link-invert:hover,
.u-link-invert:focus,
.u-link-invert:active {
  color: white;
}

.u-link-invert:disabled {
  cursor: default;
  opacity: 0.5;
}

.u-link-invert:hover:disabled,
.u-link-invert:focus:disabled,
.u-link-invert:active:disabled {
  color: white;
}

// Links based on u-text-* styles: added here to ensure colour persists on hover.

.u-link-medium-gray,
.u-link-medium-gray:hover {
  color: $medium-gray;
}

.u-link-dark-gray,
.u-link-dark-gray:hover {
  color: $dark-gray;
}
