//////////////////////////
// Link-specific utilities
//////////////////////////

// Link clean
//
// A link without any text-decoration at all.

.u-link-clean,
.u-link-clean:hover,
.u-link-clean:focus,
.u-link-clean:active {
  text-decoration: none;
}

// Link complex
//
// A common pattern is to have a link with several pieces of text and/or an
// icon, where only one piece of text should display the underline when the
// link is the subject of user interaction.
//
// Example HTML:
//
// <a class="u-link-complex" href="#">
//   Link complex
//   <span class="u-link-complex-target">target</span>
// </a>

.u-link-complex:hover,
.u-link-complex:focus,
.u-link-complex:active {
  text-decoration: none;
}

.u-link-complex:hover .u-link-complex-target,
.u-link-complex:focus .u-link-complex-target,
.u-link-complex:active .u-link-complex-target {
  text-decoration: underline;
}

// Inverted Link
//
// Style an inline element to look like an inverted link

.u-link-invert {
  color: white;
  cursor: pointer;
}

.u-link-invert:hover,
.u-link-invert:focus,
.u-link-invert:active {
  color: white;
}

.u-link-invert:disabled {
  cursor: default;
  opacity: 0.5;
}

.u-link-invert:hover:disabled,
.u-link-invert:focus:disabled,
.u-link-invert:active:disabled {
  color: white;
}

// Links based on u-text-* styles: added here to ensure colour persists on hover.

.u-link-color-p,
.u-link-color-p:hover {
  color: $medium-gray;
}

.u-link-color-meta,
.u-link-color-meta:hover {
  color: $dark-gray;
}
