@import 'mixins/breakpoints-mixin';

.u-size-full {
  width: 100%;
}

.u-size1of2, .u-size2of4, .u-size3of6, .u-size4of8, .u-size5of10, .u-size6of12 {
  width: 50%;
}

.u-size1of3, .u-size2of6, .u-size3of9, .u-size4of12 {
  width: 33.33333%;
}

.u-size2of3, .u-size4of6, .u-size6of9, .u-size8of12 {
  width: 66.66667%;
}

.u-size1of4, .u-size2of8, .u-size3of12 {
  width: 25%;
}

.u-size3of4, .u-size6of8, .u-size9of12 {
  width: 75%;
}

.u-size1of5, .u-size2of10 {
  width: 20%;
}

.u-size2of5, .u-size4of10 {
  width: 40%;
}

.u-size3of5, .u-size6of10 {
  width: 60%;
}

.u-size4of5, .u-size8of10 {
  width: 80%;
}

.u-size1of6, .u-size2of12 {
  width: 16.66667%;
}

.u-size5of6, .u-size10of12 {
  width: 83.33333%;
}

.u-size1of8 {
  width: 12.5%;
}

.u-size3of8 {
  width: 37.5%;
}

.u-size5of8 {
  width: 62.5%;
}

.u-size7of8 {
  width: 87.5%;
}

.u-size1of9 {
  width: 11.11111%;
}

.u-size2of9 {
  width: 22.22222%;
}

.u-size4of9 {
  width: 44.44444%;
}

.u-size5of9 {
  width: 55.55556%;
}

.u-size7of9 {
  width: 77.77778%;
}

.u-size8of9 {
  width: 88.88889%;
}

.u-size1of10 {
  width: 10%;
}

.u-size3of10 {
  width: 30%;
}

.u-size7of10 {
  width: 70%;
}

.u-size9of10 {
  width: 90%;
}

.u-size1of12 {
  width: 8.33333%;
}

.u-size5of12 {
  width: 41.66667%;
}

.u-size7of12 {
  width: 58.33333%;
}

.u-size11of12 {
  width: 91.66667%;
}

@include breakpoint-medium {
  .u-md-size-full {
    width: 100%;
  }

  .u-md-size1of2, .u-md-size2of4, .u-md-size3of6, .u-md-size4of8, .u-md-size5of10, .u-md-size6of12 {
    width: 50%;
  }

  .u-md-size1of3, .u-md-size2of6, .u-md-size3of9, .u-md-size4of12 {
    width: 33.33333%;
  }

  .u-md-size2of3, .u-md-size4of6, .u-md-size6of9, .u-md-size8of12 {
    width: 66.66667%;
  }

  .u-md-size1of4, .u-md-size2of8, .u-md-size3of12 {
    width: 25%;
  }

  .u-md-size3of4, .u-md-size6of8, .u-md-size9of12 {
    width: 75%;
  }

  .u-md-size1of5, .u-md-size2of10 {
    width: 20%;
  }

  .u-md-size2of5, .u-md-size4of10 {
    width: 40%;
  }

  .u-md-size3of5, .u-md-size6of10 {
    width: 60%;
  }

  .u-md-size4of5, .u-md-size8of10 {
    width: 80%;
  }

  .u-md-size1of6, .u-md-size2of12 {
    width: 16.66667%;
  }

  .u-md-size5of6, .u-md-size10of12 {
    width: 83.33333%;
  }

  .u-md-size1of8 {
    width: 12.5%;
  }

  .u-md-size3of8 {
    width: 37.5%;
  }

  .u-md-size5of8 {
    width: 62.5%;
  }

  .u-md-size7of8 {
    width: 87.5%;
  }

  .u-md-size1of9 {
    width: 11.11111%;
  }

  .u-md-size2of9 {
    width: 22.22222%;
  }

  .u-md-size4of9 {
    width: 44.44444%;
  }

  .u-md-size5of9 {
    width: 55.55556%;
  }

  .u-md-size7of9 {
    width: 77.77778%;
  }

  .u-md-size8of9 {
    width: 88.88889%;
  }

  .u-md-size1of10 {
    width: 10%;
  }

  .u-md-size3of10 {
    width: 30%;
  }

  .u-md-size7of10 {
    width: 70%;
  }

  .u-md-size9of10 {
    width: 90%;
  }

  .u-md-size1of12 {
    width: 8.33333%;
  }

  .u-md-size5of12 {
    width: 41.66667%;
  }

  .u-md-size7of12 {
    width: 58.33333%;
  }

  .u-md-size11of12 {
    width: 91.66667%;
  }
}

@include breakpoint-small {
  .u-sm-size-full {
    width: 100%;
  }

  .u-sm-size1of2, .u-sm-size2of4, .u-sm-size3of6, .u-sm-size4of8, .u-sm-size5of10, .u-sm-size6of12 {
    width: 50%;
  }

  .u-sm-size1of3, .u-sm-size2of6, .u-sm-size3of9, .u-sm-size4of12 {
    width: 33.33333%;
  }

  .u-sm-size2of3, .u-sm-size4of6, .u-sm-size6of9, .u-sm-size8of12 {
    width: 66.66667%;
  }

  .u-sm-size1of4, .u-sm-size2of8, .u-sm-size3of12 {
    width: 25%;
  }

  .u-sm-size3of4, .u-sm-size6of8, .u-sm-size9of12 {
    width: 75%;
  }

  .u-sm-size1of5, .u-sm-size2of10 {
    width: 20%;
  }

  .u-sm-size2of5, .u-sm-size4of10 {
    width: 40%;
  }

  .u-sm-size3of5, .u-sm-size6of10 {
    width: 60%;
  }

  .u-sm-size4of5, .u-sm-size8of10 {
    width: 80%;
  }

  .u-sm-size1of6, .u-sm-size2of12 {
    width: 16.66667%;
  }

  .u-sm-size5of6, .u-sm-size10of12 {
    width: 83.33333%;
  }

  .u-sm-size1of8 {
    width: 12.5%;
  }

  .u-sm-size3of8 {
    width: 37.5%;
  }

  .u-sm-size5of8 {
    width: 62.5%;
  }

  .u-sm-size7of8 {
    width: 87.5%;
  }

  .u-sm-size1of9 {
    width: 11.11111%;
  }

  .u-sm-size2of9 {
    width: 22.22222%;
  }

  .u-sm-size4of9 {
    width: 44.44444%;
  }

  .u-sm-size5of9 {
    width: 55.55556%;
  }

  .u-sm-size7of9 {
    width: 77.77778%;
  }

  .u-sm-size8of9 {
    width: 88.88889%;
  }

  .u-sm-size1of10 {
    width: 10%;
  }

  .u-sm-size3of10 {
    width: 30%;
  }

  .u-sm-size7of10 {
    width: 70%;
  }

  .u-sm-size9of10 {
    width: 90%;
  }

  .u-sm-size1of12 {
    width: 8.33333%;
  }

  .u-sm-size5of12 {
    width: 41.66667%;
  }

  .u-sm-size7of12 {
    width: 58.33333%;
  }

  .u-sm-size11of12 {
    width: 91.66667%;
  }
}
