@import "variables";
@import "mixins/breakpoints-mixin";

// Text styles

.u-text-heading,
.u-text-subheading,
.u-text-label {
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

.u-text-heavy {
  font-weight: 700;
}

.u-text-semi {
  font-weight: 500;
}

.u-text-normal {
  font-weight: 400;
}

.u-text-light {
  font-weight: 200;
}

.u-text-heading {
  font-family: $font-family-heading;
  color: $header-color;
}

.u-text-heading-light {
  @extend .u-text-light;
  @extend .u-text-heading;
  -webkit-font-smoothing: subpixel-antialiased;
}

.u-text-subheading {
  font-family: $font-family-heading;
  color: $subheader-color;
}

.u-text-label {
  font-family: $font-family-label;
}

// Text sizes

.u-text-hero {
  font-size: $font-size-hero;
}

h1, .u-text-h1 {
  font-size: $font-size-h1;
}

h2, .u-text-h2 {
  font-size: $font-size-h2;
}

h3, .u-text-h3 {
  font-size: $font-size-h3;
}

h4, .u-text-h4 {
  font-size: $font-size-h4;
}

h5, .u-text-h5 {
  font-size: $font-size-h5;
}

h6, .u-text-h6 {
  font-size: $font-size-h6;
}

.u-text-h7 {
  font-size: $font-size-h7;
}

// Horizontal text alignment

.u-text-center {
  text-align: center;
}

.u-text-start {
  text-align: left;
}

.u-text-end {
  text-align: right;
}

@include breakpoint-medium {
  .u-md-text-center {
    text-align: center;
  }
}

@include breakpoint-small {
  .u-sm-text-center {
    text-align: center;
  }
}

// Text utilities

.u-text-upcase {
  text-transform: uppercase;
}

.u-text-underline {
  text-decoration: underline;
}

// Text truncation
//
// Prevent text from wrapping onto multiple lines, and truncate with an
// ellipsis.
//
// 1. Ensure that the node has a maximum width after which truncation can
//    occur.
// 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
//    nodes.
///

.u-text-truncate {
  max-width: 100%; // 1
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; // 2
}

// Word breaking
//
// Break strings when their length exceeds the width of their container.

.u-text-break {
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

@include breakpoint-medium {
  .u-md-text-h1 {
    font-size: $font-size-h1;
  }

  .u-md-text-h2 {
    font-size: $font-size-h2;
  }

  .u-md-text-h3 {
    font-size: $font-size-h3;
  }

  .u-md-text-h4 {
    font-size: $font-size-h4;
  }

  .u-md-text-h5 {
    font-size: $font-size-h5;
  }

  .u-md-text-h6 {
    font-size: $font-size-h6;
  }

  .u-md-text-h7 {
    font-size: $font-size-h7;
  }
}

@include breakpoint-small {
  .u-sm-text-h1 {
    font-size: $font-size-h1;
  }

  .u-sm-text-h2 {
    font-size: $font-size-h2;
  }

  .u-sm-text-h3 {
    font-size: $font-size-h3;
  }

  .u-sm-text-h4 {
    font-size: $font-size-h4;
  }

  .u-sm-text-h5 {
    font-size: $font-size-h5;
  }

  .u-sm-text-h6 {
    font-size: $font-size-h6;
  }

  .u-sm-text-h7 {
    font-size: $font-size-h7;
  }
}
