@import "mixins/icon-mixin";
@import "mixins/at2x-mixin";

.benefits-led-container {
  background: white;
}

.benefits-led-container__people-icon {
  @include icon('/images/icons/people-icon', 60px, 50px);
}

.benefits-led-container__money-icon {
  @include icon('/images/icons/money-icon', 56px, 56px);
}

.benefits-led-container__service-icon {
  @include icon('/images/icons/service-icon', 56px, 56px);
}

.benefits-led-container__publications {
  @include at2x('/images/press/publications', 970px, 45px, ".jpg");
  width: 970px;
  height: 45px;
}
