@import "mixins/icon-mixin";
@import "mixins/at2x-mixin";

.direct-debit-benefits-container__divider {
  width: 10px;
  height: 190px;
  margin: 0 20px;
  background: url('/images/direct-debit-benefits/direct-debit-benefits_divider.jpg') no-repeat 50% 50%;
  display: inline-block;
}

.direct-debit-benefits-container__divider-invert {
  background: url('/images/direct-debit-benefits/direct-debit-benefits_divider-invert.png') no-repeat 50% 50%;
}

// Uses at2x as icon sets display: inline-block which is not wanted here
.direct-debit-benefits-container__screenshot {
  @include at2x('/images/direct-debit-benefits/direct-debit-benefits_screenshot', 916px, 241px);
  width: 916px;
  height: 241px;
}

// Would be good to abstract these at some point and stick in /images/icons
// but for timebeing the dimensions of the non-retina versions are designed
// specifically for this page:

.direct-debit-benefits-container__icon--cashflow {
  @include icon('/images/direct-debit-benefits/direct-debit-benefits_icon--cashflow', 50px, 50px);
}

.direct-debit-benefits-container__icon--success {
  @include icon('/images/direct-debit-benefits/direct-debit-benefits_icon--success', 50px, 50px);
}

.direct-debit-benefits-container__icon--admin {
  @include icon('/images/direct-debit-benefits/direct-debit-benefits_icon--admin', 50px, 50px);
}

.direct-debit-benefits-container__icon--settings-invert {
  @include icon('/images/direct-debit-benefits/direct-debit-benefits_icon--settings-invert', 50px, 50px);
}

.direct-debit-benefits-container__icon--coins-invert {
  @include icon('/images/direct-debit-benefits/direct-debit-benefits_icon--coins-invert', 50px, 50px);
}

.direct-debit-benefits-container__icon--connect-invert {
  @include icon('/images/direct-debit-benefits/direct-debit-benefits_icon--connect-invert', 50px, 50px);
}
