.features-intro {
  min-height: 100%;
  background: linear-gradient(45deg, #6897C6 15%, #122539 100%);
}

.features-intro__container {
  min-height: 500px; // SET THIS LATER TO REFLECT FINAL CONTENT
}
