@import "mixins/at2x-mixin";

.hero-worry {
  height: 500px;
  min-width: 1024px;
}

.hero-worry--girl {
  background: url("/images/hero/hero-girl-bg@2x.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.hero-worry__heading {
  height: 377px;
  font-weight: 200;
  padding: 115px 0;
  line-height: 48px;
}

.hero-worry__modal {
  position: relative;
  right: -45px;
}

.hero-worry__logo {
  margin-top: 20px;
}
