@import "mixins/icon-mixin";
@import "mixins/clearfix-mixin";

.how-to-thumbnails {
  @include clearfix();
  margin-left: -10px;
  margin-right: -10px;
  list-style: none;
}

.how-to-thumbnails__thumbnail {
  float: left;
  width: 227px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 28px;

  &:nth-child(4n+1) {
    clear: left;
  }
}

.how-to-thumbnails__img {
  margin: 20px 0 20px 0;
}

.how-to-thumbnails__icon {
  display: block;
  position: relative;
  width: 100%;
  height: 121px;
  background-color: #EEE;
  border-radius: 3px;
}

.how-to-thumbnails__icon--green {
  background-color: #92C633;
}

.how-to-thumbnails__thumbnail:hover .how-to-thumbnails__icon--green {
  background-color: darken(#92C633, 5%);
}

.how-to-thumbnails__icon--turquoise {
  background-color: #3ABEBE;
}

.how-to-thumbnails__thumbnail:hover .how-to-thumbnails__icon--turquoise {
  background-color: darken(#3ABEBE, 5%);
}

.how-to-thumbnails__icon--salmon {
  background-color: #D76D94;
}

.how-to-thumbnails__thumbnail:hover .how-to-thumbnails__icon--salmon {
  background-color: darken(#D76D94, 5%);
}

.how-to-thumbnails__icon--purple {
  background-color: #7E4883;
}

.how-to-thumbnails__thumbnail:hover .how-to-thumbnails__icon--purple {
  background-color: darken(#7E4883, 5%);
}

.how-to-thumbnails__icon--yellow {
  background-color: #E9CD58;
}

.how-to-thumbnails__thumbnail:hover .how-to-thumbnails__icon--yellow {
  background-color: darken(#E9CD58, 5%);
}

.how-to-thumbnails__icon--blue {
  background-color: #39608F;
}

.how-to-thumbnails__thumbnail:hover .how-to-thumbnails__icon--blue {
  background-color: darken(#39608F, 5%);
}

.how-to-thumbnails__icon--orange {
  background-color: #E97462;
}

.how-to-thumbnails__thumbnail:hover .how-to-thumbnails__icon--orange {
  background-color: darken(#E97462, 5%);
}

.how-to-thumbnails__desc {
  color: #999;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 10px 0 0 0;
}

.how-to-thumbnails__icon__img--user {
  @include icon('/images/how-to/icons-l/user', 48px, 48px);
}

.how-to-thumbnails__icon__img--payment {
  @include icon('/images/how-to/icons-l/payment', 46px, 48px);
}

.how-to-thumbnails__icon__img--users {
  @include icon('/images/how-to/icons-l/users', 100px, 48px);
}

.how-to-thumbnails__icon__img--paid {
  @include icon('/images/how-to/icons-l/paid', 115px, 39px);
}

.how-to-thumbnails__icon__img--logo {
  @include icon('/images/how-to/icons-l/logo', 48px, 36px);
}

.how-to-thumbnails__icon__img--pending {
  @include icon('/images/how-to/icons-l/pending', 48px, 48px);
}

.how-to-thumbnails__icon__img--refund {
  @include icon('/images/how-to/icons-l/refund', 46px, 46px);
}

.how-to-thumbnails__icon__img--support {
  @include icon('/images/how-to/icons-l/support', 48px, 48px);
}

.how-to-thumbnails__icon__img--bank {
  @include icon('/images/how-to/icons-l/bank', 52px, 52px);
}

// Overrides height if @include icon
.how-to-thumbnails__icon__img {
  display: block;
  margin: auto;
  height: 121px;
  background-position: center;
}
