{% extends "plain.html" %}

{% block title %}Tarifs{% endblock %}
{% block meta_tags %}<meta name="description" content="Collectez vos prélèvements automatiques SEPA à partir de 0,75€ par transaction, avec tarifs dégressifs pour les grandes entreprises.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="page-hero--pricing">
    <div class="site-container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "fr/_site_header_invert.html" %}
      </div>

      <div class="grid pricing-options u-center u-padding-Bxl">

        <div class="grid__cell u-padding-Vxl u-padding-Rxs">
          <h1 class="u-text-heading-light u-text-center u-color-invert u-text-l u-padding-Bs">Pro</h1>
          <div class="u-background-dark-gray-darken u-padding-Vxl">
            <h2 class="u-text-heading-light u-text-center u-color-invert u-text-xl">0,01 — 0,75 €</h2>
            <p class="u-text-heading-light u-text-center u-color-invert u-text-s u-margin-Txxs">
              Par transaction
            </p>
          </div>
          <ul class="pricing-options__list">
            <li class="pricing-options__list-item u-color-heading">
              <b>Pour les entreprises qui souhaitent un contrôle total</b>
            </li>
            <li class="pricing-options__list-item">
              <b>+ 250 € par mois</b>, pas de frais cachés
            </li>
            <li class="pricing-options__list-item">
              Conçu pour des volumes supérieurs à <b>500 paiements</b> par mois
            </li>
            <li class="pricing-options__list-item">
              <a href="/fr/pro">En savoir plus sur Pro</a>
            </li>
            <li class="pricing-options__list-button">
              <a href="/fr/contactez-nous?s=pricing" class="btn btn--hollow u-size-full">Contactez-nous</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vm" id="scale-pricing-container">

    <div class="site-container u-text-center u-padding-Vl">
        <h2 class="u-text-heading-light u-color-heading">Nos tarifs</h2>
    </div>

    <div class="grid u-size-4of5 u-center u-padding-Vm">

      <div class="grid__cell u-size-1of2 u-padding-Bxxl u-padding-Rm">
        <div class="u-color-heading">
          <b>
            Y a-t'il d'autres frais ?
          </b>
        </div>
        <p class="u-color-p">
          Non, seulement nos frais par transaction ainsi que 250 € par mois. Nous ne vous facturons jamais les paiements qui ont échoué, les remboursements, les créations de mandats...
        </p>
      </div>

      <div class="grid__cell u-size-1of2 u-padding-Bxxl u-padding-Lm">
        <div class="u-color-heading">
          <b>Offrez-vous des réductions ?</b>
        </div>
        <p class="u-color-p">
          Oui. Nos frais par transaction sont dégressifs à partir de 1.000 paiements par mois. Pour en savoir plus, <a href="/fr/contactez-nous" class="u-link-color-p u-text-underline">contactez-nous</a>.
        </p>
      </div>

      <div class="grid__cell u-size-1of2 u-padding-Bm u-padding-Rm">
        <div class="u-color-heading">
          <b>Y a-t'il des frais d'implémentation ?</b>
        </div>
        <p class="u-color-p">
          Non. Vous ne payez pas pour implémenter GoCardless et notre support est gratuit.
        </p>
      </div>

      <div class="grid__cell u-size-1of2 u-padding-Bm u-padding-Lm">
        <div class="u-color-heading">
          <b>Serais-je facturé si un paiement échoue ?</b>
        </div>
        <p class="u-color-p">
          Non. Nous ne facturons que les paiements réussis.
        </p>
      </div>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Tm u-padding-Bxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-text-l u-color-heading u-text-light">Avez-vous des questions ?</h2>
      <p class="u-color-p u-margin-Ts">Contactez-nous au +33 (0) 9 75 18 42 95</p>
      <a href="/fr/contactez-nous" class="btn btn--hollow u-margin-Tm">Contactez-nous</a>
    </div>
  </div>

  {% include "fr/_site_footer.html" %}

</div>

{% endblock %}
