{% extends "plain.html" %}

{% block title %}Features{% endblock %}
{% block description %}Learn about different ways your business can collect Direct Debit payments online using GoCardless{% endblock %}

{% block body %}

  <!--<div class="grid u-padding-Tl">
    <div class="grid__cell u-1of2 u-padding-Tl">
      <div class="site-gutter">
        <h2 class="u-text-heading u-margin-Tl u-margin-Bxs u-color-primary">
          Direct Debit without the hassle
        </h2>
        <ul>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Setup customers on Direct Debit in seconds</b></p>
            <p>Request Paperless Direct Debit authorisation from customers by email or from your site</p>
          </li>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Submit and track payments online</b></p>
            <p>Take payments at the click of a button and see real-time status updates </p>
          </li>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Let us take care of compliance</b></p>
            <p>We store bank details securely & can send notifications for you</p>
          </li>
        </ul>

        <a href="/features/dashboard" class="u-margin-Tm btn btn--hollow">Find out more about our dashboards</a>
      </div>
    </div>
    <div class="grid__cell u-1of2 u-padding-Tl">
      <div class="site-gutter-L">
        <img src="/images/features/section-1-hero@2x.png">
      </div>
    </div>
  </div>

  <div class="gradient-fill-dark">
    <div class="grid u-padding-Vl">
      <div class="grid__cell u-1of2 u-padding-Vl">
        <div class="site-gutter-R">
          <img src="/images/features/section-2-hero@2x.png">
        </div>
      </div>
      <div class="grid__cell u-1of2 u-padding-Vl">
        <div class="site-gutter">
          <h2 class="u-text-heading u-margin-Tl u-margin-Bxs u-color-invert">
            Perfect for recurring billing, subscriptions & B2B invoicing
          </h2>

          <ul>
            <li>
              <p class="u-color-invert u-margin-Tm u-margin-Bxxs"><b>Forget monthly invoicing and payment runs</b></p>
              <p class="u-color-invert-secondary">Automate repeat payments and collect from account customers at the click of a button</p>
            </li>
            <li>
              <p class="u-color-invert u-margin-Tm u-margin-Bxxs"><b>Make cashflow issues a thing of the past</b></p>
              <p class="u-color-invert-secondary">No more late payments. With Direct Debit you control when you get paid</p>
            </li>
            <li>
              <p class="u-color-invert u-margin-Tm u-margin-Bxxs"><b>Reduce failed payments to 3x lower than cards</b></p>
              <p class="u-color-invert-secondary">Expect monthly failures of less than 1% vs 3%+ with cards. Automatically retry failed payments</p>
            </li>
          </ul>

          <a href="/features/dashboard" class="u-margin-Tm btn btn--invert-hollow">Learn more about our dashboards</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid u-padding-Tl">
    <div class="grid__cell u-1of2 u-padding-Tl">
      <div class="site-gutter">
        <h2 class="u-text-heading u-margin-Tl u-margin-Bxs u-color-primary">
          Integrated with your website
        </h2>
        <ul>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Add a checkout button to your site or emails</b></p>
            <p>We provide you with your own branded online payment page. Link to this from your site or emails in seconds</p>
          </li>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Integrated with your accountancy software</b></p>
            <p>Have payments automatically reconcile with <a href="/features/integrations" class="u-text-underline">Sage, Xero, FreeAgent and KashFlow</a>
            </p>
          </li>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Use our clean, RESTful API</b></p>
            <p>Clean, modern REST API with webhooks and full documentation</p>
          </li>
        </ul>

        <a href="/features/api" class="u-margin-Tm btn btn--hollow">Learn more about our API</a>
      </div>
    </div>
    <div class="grid__cell u-1of2 u-padding-Tl">
      <div class="site-gutter-L">
        <img src="/images/features/section-3-hero@2x.png">
      </div>
    </div>
  </div>-->

<div class="features-container__intro u-relative">
  <div class="features-container__set-height">

    <div class="site-container site-gutter u-cf align-btn-small u-padding-Vxs">
      <div class="u-pull-start">
        <a href="/">
          <i class="logo-header"></i>
        </a>
      </div>
      <div class="u-pull-end">
        <nav class="nav u-pull-start">
          <a class="nav__item u-link-invert"
            href="/" ng-gc-href-active>
            Home
          </a>
          <a class="nav__item u-link-invert"
            href="/features" ng-gc-href-active>
            Features
          </a>
          <a class="nav__item u-link-invert"
            href="/stories" ng-gc-href-active>
            Customers
          </a>
          <a class="nav__item u-link-invert"
             href="/pricing" ng-gc-href-active>
            Pricing
          </a>
          <a class="nav__item u-link-invert"
             href="/guides" ng-gc-href-active>
            Guides
          </a>
        </nav>

        <ul class="u-cf u-pull-start">
          <li class="u-pull-start">
            <a href="/users/sign_in" class="btn btn--invert-hollow btn--small" id="login">Login</a>
          </li>
          <li class="u-pull-start u-margin-Ls">
            <a href="/merchants/new" class="btn btn--invert-hollow btn--small" id="nav_sign_up">Sign up</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="u-6of12 u-center u-text-center u-color-invert u-padding-Vl">
      <h1 class="u-text-hero u-text-heading u-color-invert u-padding-Bl">Dashboard</h1>

      <h2 class="u-text-hero features-container__heading u-text-heading u-color-invert u-text-light u-padding-Vl">There's no better way<br>to accept Direct Debit</h2>

      <a href="" class="u-link-invert u-text-h3 u-block u-padding-Tl"><strong>Find out why</strong></a>

    </div>
  </div>

  <div class="site-container site-gutter features-container__intro-screen">
    <img src="/images/features/features-container__intro-screen.png">
  </div>

</div>

<div class="features-container__twoclicks u-padding-Vl">

  <div class="site-container site-gutter u-padding-Vl u-margin-Vl">

    <div class="grid u-center">
      <div class="grid__cell u-1of2 u-padding-Bl u-margin-Bl">
        <h1 class="u-text-hero features-container__heading features-container--blue-gray u-text-heading u-text-light u-padding-Bl">Add customers<br>in 2 clicks</h1>
        <p class="features-container--blue-gray u-text-light u-text-heading u-text-h2 u-1of2 u-padding-Tl u-margin-Bl">Getting your customers up and running is easy, with options for individual or multiple imports.</p>
      </div>
      <div class="grid__cell u-1of2 u-relative features-container__fixed-height-cell">
        <img src="/images/features/features-container_add-customers.jpg" class="u-pull-end features-container__add-customers">
      </div>
    </div>
    <hr class="features-container__hr--solid u-margin-Tn">

    <div class="grid u-center u-padding-Tl u-padding-Bm">
      <div class="grid__cell features-container__cell u-1of2">
        <h3 class="u-color-meta">Individually</h3>
        <p class="u-9of12 u-color-meta u-text-h3">Ask your customers for a Direct Debit in two clicks. We'll email them asking them to complete our payment pages.</p>
      </div>
      <div class="grid__cell features-container__cell u-1of2">
        <h3 class="u-color-meta">From a link</h3>
        <p class="u-9of12 u-color-meta u-text-h3">Link to our payment pages directly from your website. We'll redirect your customer back to you after they pay.</p>
      </div>
    </div>

    <div class="grid u-center">
      <div class="grid__cell features-container__cell u-1of2">
        <h3 class="u-color-meta">In bulk</h3>
        <p class="u-9of12 u-color-meta u-text-h3">Add hundreds of customers at once with a CSV. We'll request each of them to complete our payment pages.</p>
      </div>
      <div class="grid__cell features-container__cell u-1of2">
        <h3 class="u-color-meta">Using plans</h3>
        <p class="u-9of12 u-color-meta u-text-h3">Create custom plans to collect recurring payments every month. Multiple customers can be added to any plan.</p>
      </div>
    </div>

  </div>
</div>

<div class="features-container__effortless u-padding-Vl">

  <div class="site-container u-padding-Vl u-margin-Vl">

    <h1 class="u-text-center u-text-hero u-text-heading u-color-invert u-text-light u-padding-Bl u-margin-Bl">Take payments effortlessly</h1>

    <div class="grid u-color-invert u-padding-Bl">
      <div class="grid__cell u-1of3 u-text-center">
        <i class="features-container__icon--cart u-margin-Bs"></i>
        <h3>One-off payments</h3>
        <p class="u-text-h3">Take varying or ad hoc payments any time with just a couple of clicks</p>
      </div>
      <div class="grid__cell u-1of3 u-text-center">
        <i class="features-container__icon--cart u-margin-Bs"></i>
        <h3>Recurring payments</h3>
        <p class="u-text-h3">Automate recurring payments with simple, editable payment plans</p>
      </div>
      <div class="grid__cell u-1of3 u-text-center">
        <i class="features-container__icon--cart u-margin-Bs"></i>
        <h3>Bulk payments</h3>
        <p class="u-text-h3">Take payment from hundreds of customers at once with a CSV</p>
      </div>
    </div>

    <hr class="features-container__hr--transparent u-margin-Vl">

    <div class="grid u-padding-Tl">
      <div class="grid__cell u-1of2">
        <h1 class="u-text-hero features-container__heading u-text-heading u-color-invert u-text-light u-padding-Bl">Your own branded<br>payment pages</h1>
        <p class="u-text-light u-text-heading u-color-invert u-text-h2 u-1of2 u-padding-Vl">Customers will see your logo at the top of our secure payment pages.</p>
        <a href="" class="u-link-invert features-container__link u-text-h3">See an example</a>
      </div>
      <div class="grid__cell u-1of2">
        <img src="/images/features/features-container_phone-demo.jpg" class="u-pull-end">
      </div>
    </div>

  </div>
</div>

<div class="features-container__reports u-padding-Vm">
  <div class="site-container">
    <div class="grid">
      <div class="grid__cell u-1of2 u-padding-Tl u-margin-Tl">
        <h1 class="u-text-hero features-container__heading features-container--blue-gray u-text-heading u-text-light u-padding-Bl u-margin-Bs">Get real-time<br>reports</h1>

        <div class="u-8of12">
          <div class="u-margin-Bm">
            <h3 class="u-color-meta">Up to the second status reports</h3>
            <p class="u-color-meta u-text-h3">Comprehensive, easy-to-use information on all of your payments and customers</p>
          </div>

          <div class="u-margin-Bm">
            <h3 class="u-color-meta">Email notifications</h3>
            <p class="u-color-meta u-text-h3">Immediate notification when a payment fails or a customer cancels.</p>
          </div>

          <div class="u-margin-Bm">
            <h3 class="u-color-meta">Export your data</h3>
            <p class="u-color-meta u-text-h3">View your data the way you want to and import it into other apps</p>
          </div>
        </div>

      </div>
      <div class="grid__cell u-1of2">
        <img src="/images/features/features-container_pipeline.jpg" class="u-pull-end">
      </div>
    </div>
  </div>
</div>

<div class="features-container__integrate u-padding-Vl">
  <div class="site-container u-padding-Vl u-margin-Vl">
    <h1 class="u-text-center u-text-hero u-text-heading u-color-invert u-text-light u-padding-Bl u-margin-Bl">Integrate with your website</h1>

    <div class="grid u-color-invert u-padding-Bl">
      <div class="grid__cell u-1of3 u-text-center">
        <i class="features-container__icon--cart u-margin-Bs"></i>
        <h3>Add a checkout button to your site</h3>
        <p class="u-text-h3">We provide you with your own branded online payment page.<br>
        <a href="" class="u-link-invert features-container__link u-text-h3">See an example</a></p>
      </div>
      <div class="grid__cell u-1of3 u-text-center">
        <i class="features-container__icon--cart u-margin-Bs"></i>
        <h3>Use our clean, RESTful API</h3>
        <p class="u-text-h3">Clean, modern REST API with webhooks and full documentation.<br>
        <a href="" class="u-link-invert features-container__link u-text-h3">Learn more about our API</a></p>
      </div>
      <div class="grid__cell u-1of3 u-text-center">
        <i class="features-container__icon--cart u-margin-Bs"></i>
        <h3>Become a partner</h3>
        <p class="u-text-h3">Join a growing ecosystem of businesses powered by GoCardless<br>
        <a href="" class="u-link-invert features-container__link u-text-h3">View partner documentation</a></p>
      </div>
    </div>

    <hr class="features-container__hr--transparent u-margin-Vl">

    <div class="grid u-padding-Tl">
      <div class="grid__cell u-1of2">
        <h1 class="u-text-hero features-container__heading u-text-heading u-color-invert u-text-light u-padding-Bl">Built to work with<br>your accounting<br>software</h1>
        <p class="u-text-light u-text-heading u-color-invert u-text-h2 u-1of2 u-padding-Tl">Take and automatically reconcile payments from within your accounting software.</p>
      </div>
      <div class="grid__cell u-1of2">
        <img src="/images/features/features-container_integrations.jpg" class="u-pull-end features-container__integrations-image">
      </div>
    </div>

  </div>
</div>

<div class="benefits-container">
  <div class="benefits-container__wrapper u-padding-Ts">
    {% include "_site_footer.html" %}
  </div>
</div>

{% endblock %}
