{% extends "plain.html" %}

{% block title %}Terms of Service{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container site-gutter u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero page-hero--small u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="page-hero__inner u-padding-Vxxl">
        <div class="page-hero__text u-padding-Vxm u-text-center">
          <h1 class="u-text-heading u-color-invert hero-heading u-text-light">
            Our terms of service
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-container site-gutter u-padding-Vxxl grid">
  <div class="u-padding-Vxl">
    {% include "legal/_sidebar.html" %}
    <div class="grid__cell u-size8of12">
      <div class="row">
        <header>
          <h2 class="u-text-heading-light u-text-m u-color-heading">Introduction</h2>
          <p class="para">
            The following documents outline the terms of service for using GoCardless.
            You should read through these terms before using GoCardless.
          </p>
          <p class="para">
            If you have any questions about our terms of service, then please get in
            touch by emailing <a href="mailto:{{ SUPPORT_EMAIL }}" class="u-link-medium-gray u-text-underline">{{ SUPPORT_EMAIL }}</a> or calling
            {{ SUPPORT_CONTACT_NUMBER }}.

            {# FCA requirement. Do not remove. #}
            Customers can also find more details about our transaction structure
            in our <a href="/faq/customers" class="u-link-medium-gray u-text-underline">FAQ</a>.
          </p>
        </header>

        <a href="/legal/customers" class="legal-contents__link u-link-clean">
          <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s legal-contents__link-heading">
            Customer agreement
          </h3>
          <p class="para">
            The terms of use for paying via GoCardless
          </p>
        </a>

        <a href="/legal/merchants" class="legal-contents__link u-link-clean">
          <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s legal-contents__link-heading">
            Merchant agreement
          </h3>
          <p class="para">
            The terms of use for collecting payments via GoCardless
          </p>
        </a>

        <a href="/legal/partners" class="legal-contents__link u-link-clean">
          <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s legal-contents__link-heading">
            Partner agreement
          </h3>
          <p class="para">
            The terms of use for helping others collect via GoCardless
          </p>
        </a>

        <a href="/legal/restrictions" class="legal-contents__link u-link-clean">
          <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s legal-contents__link-heading">
            Restricted activities
          </h3>
          <p class="para">
            Activities you can't collect payments via GoCardless for
          </p>
        </a>

        <a href="/legal/privacy" class="legal-contents__link u-link-clean">
          <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s legal-contents__link-heading">
            Privacy Policy
          </h3>
          <p class="para">
            Our practices towards handling your personal information
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

{% include "_site_footer.html" %}

{% endblock %}
