{% extends "default.html" %}

{% block title %}Legal{% endblock %}

{% block content %}
  <div class="grid">
    {% include "legal/_sidebar.html" %}
    <div class="grid__cell u-size8of12 u-padding-Bl">
      <div class="row">
        <header>
          <h3 class="page-heading">Terms of service</h3>
          <p class="para">
            The following documents outline the terms of service for using GoCardless.
            You should read through these terms before using GoCardless.
          </p>
          <p class="para">
            If you have any questions about our terms of service, then please get in
            touch by emailing <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a> or calling
            {{ SUPPORT_CONTACT_NUMBER }}.

            {# FCA requirement. Do not remove. #}
            Customers can also find more details about our transaction structure
            in our <a href="/faq/customers">FAQ</a>.
          </p>
        </header>
        <hr>

        <a href="/legal/customers" class="u-block">
          <h2 class="u-text-heading">
            Customer agreement
          </h2>
          <p class="p-flush">
            The terms of use for paying via GoCardless
          </p>
        </a>

        <hr>

        <a href="/legal/merchants" class="u-block">
          <h2 class="u-text-heading">
            Merchant agreement
          </h2>
          <p class="p-flush">
            The terms of use for collecting payments via GoCardless
          </p>
        </a>

        <hr>

        <a href="/legal/partners" class="u-block">
          <h2 class="u-text-heading">
            Partner agreement
          </h2>
          <p class="p-flush">
            The terms of use for helping others collect via GoCardless
          </p>
        </a>

        <hr>

        <a href="/legal/restrictions" class="u-block">
          <h2 class="u-text-heading">
            Restricted activities
          </h2>
          <p class="p-flush">
            Activities you can't collect payments via GoCardless for
          </p>
        </a>

        <hr>

        <a href="/legal/privacy" class="u-block">
          <h2 class="u-text-heading">
            Privacy Policy
          </h2>
          <p class="p-flush">
            Our practices towards handling your personal information
          </p>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
