.hero-heading {
  margin-bottom: $space-small;
  font-family: $font-family-heading;
  color: $header-color;
  font-weight: 700;
  text-align: center;
  font-size: 35px;
  margin-top: 36px;
  line-height: 46px;
}
