@import "mixins/icon-mixin";

.icon-gc-logo-header {
  @include icon("/images/logos/gc-logo-blue", 149px, 17px);
}

.icon--check {
  width: 46px;
  float: right;
  position: relative;
  top: 12px;
}

.icon-benefits-clock {
  @include icon("/images/benefits/clock", 37px, 37px);
}

.icon-benefits-adjustments {
  @include icon("/images/benefits/adjustments", 37px, 37px);
}

.icon-benefits-lock {
  @include icon("/images/benefits/lock", 36px, 52px);
}

.icon-benefits-quote {
  @include icon("/images/benefits/quote", 60px, 56px);
}

.icon-dashboard-control {
  @include icon("/images/benefits/control", 53px, 38px);
}

.icon-dashboard-users {
  @include icon("/images/benefits/users", 48px, 42px);
}

.icon-dashboard-lock {
  @include icon("/images/benefits/lock--red", 36px, 52px);
}

.icon-home-flag {
    width: 42px;
}

.icon-stars-europe {
  @include icon("/images/icons-l/stars-europe-icon-l", 144px, 144px);
}
