@import "variables";

$input-height: 38px;

.input {
  -webkit-appearance: none; // Fix box-shadow not being applied on iOS Safari
  width: 100%;
  height: $input-height;
  display: block;
  padding: 8px 10px;
  font-size: $font-size-h5;
  line-height: $line-height-base;
  border: 1px solid #D2D6DB;
  border-radius: $border-radius-base;
  vertical-align: middle;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04),
              inset 1px 0 0 0 rgba(0, 0, 0, 0.04),
              inset -1px 0 0 0 rgba(0, 0, 0, 0.04);

  &:focus {
    outline: none;
    border-color: #539bca;
    box-shadow: 0 0 3px rgba(17, 134, 211, 0.6);
  }
}

.input[disabled],
.input.is-disabled {
  background-color: $input-disabled-background;
  color: $input-disabled-color;
  border-color: $input-disabled-border;
  box-shadow: none;
}

.input--narrow {
  width: 60px;
}

.input--small {
  display: inline-block;
  height: 30px;
  padding: 0 6px;
  line-height: 30px;
}

.input--block {
  width: 100%;
  display: block;
}

.input--stacked {
  display: block;
  margin-bottom: 18px;
}

.input--textarea {
  height: auto;
  min-height: $input-height;
}

// Angular form validity
.input.ng-dirty.ng-invalid {
  box-shadow: inset 0 0 0 1px $primary-red,
              0 0 3px $primary-red;
}
