@import "variables";
@import "mixins/clearfix-mixin";

@import "placeholders/type";
@import "placeholders/space";
@import "placeholders/layout";

.nav {
  @extend %u-cf;
  @extend %u-text-heading;
  @extend %u-text-h6;
  @extend %u-text-semi;
}

.nav__item {
  @extend %u-margin-Rm;
  float: left;
  display: block;
}

.nav__item.is-active {
  color: $text-color;
  text-decoration: none;
}
