@import "variables";
@import "mixins/clearfix-mixin";

.nav {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  font-family: $font-family-heading;
  color: $header-color;
  font-size: $font-size-h6;
  font-weight: 500;
}

.nav__item {
  margin-right: $space-medium;
  float: left;
  display: block;
}

.nav__item.is-active {
  color: $text-color;
  text-decoration: none;
}

.nav-tabs {
  li {
    &.active {
      a {
        color: $text-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
    a{
      display: block;
      padding: 8px 10px;
      border-radius: 3px;
    }
  }
}

.nav-tabs--gutter-L li a {
  padding-left: 35px;
}

.nav-tabs__section-heading {
  color: #9D9D9D;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 35px;
}
