@import "variables";

.page-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $page-max-width;
  min-width: $page-min-width;
  padding-left: $gutter-space-container;
  padding-right: $gutter-space-container;
}

