.popover {
  position: absolute;
  width: 238px;
  background-color: #fff;
  background: linear-gradient(to bottom, #ffffff, #f4f5f7);
  padding: 20px;
  border-radius:3px;
  font-size: 14px;
  margin-top: 141px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.2);
  z-index: 1;
}

.popover:after, .popover:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popover:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.popover:before {
  border-color: rgba(140, 140, 140, 0);
  border-bottom-color: rgba(0,0,0,0.2);
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}

// Class name used by Bootstrap module
.popover-title {
  font-size:14px;
  margin-bottom: 6px;
}
