.referral-icon {
  background-color: #E5ECF2;
  color: #657A8B;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  line-height: 90px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}
