.section-subheading {
  font-weight: 700;
  font-size: $font-size-h4;
  margin-top: $space-medium;
  margin-bottom: $space-xxsmall;
}

.section-subheading__icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
