{% extends "default.html" %}

{% block title %}Watch a demo{% endblock %}
{% block description %}Watch a free 15 minute demo on how GoCardless makes Direct Debit easy, simple and cheap.{% endblock %}

{% block content %}

  <h1 class="page-heading u-text-center">Watch a demo</h1>
  <h2 class="page-subheading u-text-center">Find out more about GoCardless by<br>joining a 15 minute interactive demo</h2>

  <div class="grid grid--center">
    <div class="grid__cell u-1of2">
      <form accept-charset="UTF-8" action="/api/v1/prospects/sales" method="post"
        name="prospectForm"
        ng-gc-form-submit
        ng-gc-ga-event-tracker="{
            event: 'submit',
            category: 'forms',
            action: 'submit-form',
            label: 'RaD'
          }">

        {% include "_prospect_form_fields.html" %}

        <button class="btn btn--info btn--block u-margin-Tl"
          type="submit"
          ng-disabled="prospectForm.$pristine || prospectForm.$isSubmitting">
          Watch a demo
        </button>
      </form>
    </div>
  </div>

  <div class="u-margin-Tm u-padding-Tm u-text-center">
    <p>
      <strong>Want to talk to an expert?</strong>
      Call us on {{ SUPPORT_CONTACT_NUMBER }}
    </p>
    <p>
      <a href="https://help.gocardless.com/">Looking for merchant support?</a>
    </p>
  </div>

{% endblock %}
