{% extends "plain.html" %}

{% block title %}CrossFit Tonbridge - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="CrossFit Tonbridge reduced admin time to just an hour a month with TeamUp and GoCardless. Read their testimonial to find out how.">{% endblock %}

{% block body %}
  <div class="grid grid--center">
  <h1 class="page-heading u-padding-Bs">CrossFit Tonbridge reduced admin time to just an hour a month with TeamUp and GoCardless</h1>
    <div class="grid__cell u-size2of12 u-padding-Bl">
      <img src="/images/stories/crossfit-tonbridge/headshot.jpg" class="u-border-circle">
    </div>
    <div class="grid__cell u-size8of12">
      <h2 class="u-text-heading">&ldquo;"With GoCardless and TeamUp I spend just an hour a month managing payments so I can concentrate on other jobs that need doing"&rdquo;</h2>
      <span class="testimonial--citation">
        Alex, owner of CrossFit Tonbridge
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Reduce admin time by 94%</strong> </li>
          <li><strong>Integrate payments into their website and CRM</strong></li>
          <li><strong>Set up a new Direct Debit system in just 5 minutes</strong></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-size10of12 u-padding-Bl">

      <h3 class="section-heading">
        Challenge
      </h3>
        <div class="section-subheading">
        "Managing membership payments each month was very time consuming”
        </div>
      <p class="para">
        <a href="http://crossfittonbridge.co.uk/" rel="nofollow">Crossfit Tonbridge</a> is one of the leading Crossfit gyms in the UK. Before GoCardless, they were using a Direct Debit bureau to collect their membership fees. However, the process of constantly checking that the right payments had been made took owner Alex Clarke at least two days each month.
      </p>
      <p class="para">
          "Managing membership payments each month was very time consuming. I used to dedicate a day at the start of every month to check that not only had members paid but also that they’d paid the right amount for their membership. At the end of the month I would have to do a similar process to check that everyone had only attended the classes they had paid for.”
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
         “GoCardless took very little time and was very easy to set up"
      </div>
      <p class="para">
      Looking for a solution Alex turned to <a href="http://goteamup.com" rel="nofollow">Teamup</a>, a specialist management platform for fitness businesses who offered a simpler way of collecting payments through GoCardless. It took minutes to get started; “GoCardless took very little time and was very easy to set up".
      </p>

      <h3 class="section-heading">
      Benefits
      </h3>
      <div class="section-subheading">
      “I always know exactly what's going on without having to do the work”
      </div>
      <p class="para">
        Crossfit Tonbridge can now check the status of their payments simply by logging into TeamUp, where members' other information is also stored. MD Alex Clarke says "With GoCardless and TeamUp I spend just an hour a month managing payments. GoCardless send me send me notifications of any failures as well as an end of the month statement so I always know exactly what's going on without having to do the work myself freeing up my time to concentrate on other jobs that need doing."
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-size10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}
