{% extends "plain.html" %}

{% block title %}CrossFit Tonbridge - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="CrossFit Tonbridge reduced admin time to only one hour per month using GoCardless in conjunction with TeamUp. See how GoCardless can help your fitness club or gym.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      CrossFit Tonbridge
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size4of6 u-center u-text-center">
        CrossFit Tonbridge reduced admin time to just an hour a month with TeamUp and GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size5of6 u-center">
            GoCardless helped them reduce admin time by 94%
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size5of6 u-center">
            We helped them integrate payments into their website and CRM
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size5of6 u-center">
            We helped them set up a new Direct Debit system in just 5 minutes
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          "Managing membership payments each month was very time consuming”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          <a href="http://crossfittonbridge.co.uk/" class="u-link-medium-gray u-text-underline" target="_blank">Crossfit Tonbridge</a> is one of the leading Crossfit gyms in the UK. Before GoCardless, they were using a Direct Debit bureau to collect their membership fees. However, the process of constantly checking that the right payments had been made took owner Alex Clarke at least two days each month.
        </p>
        <p class="u-color-p u-margin-Tm">
          "Managing membership payments each month was very time consuming. I used to dedicate a day at the start of every month to check that not only had members paid but also that they’d paid the right amount for their membership. At the end of the month I would have to do a similar process to check that everyone had only attended the classes they had paid for.”
        </p>
      </div>
    </div>
  </div>

  <div class="story-hero--crossfit-tonbridge">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxxl">
        <div class="u-padding-Bxxl u-size3of4 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “With GoCardless and TeamUp I now spend just an hour a month managing payments, so I can concentrate on the other jobs that need doing”
          </p>
        </div>
        <img src="/images/testimonials/crossfit__avatar.png" class="u-size1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Alex Clarke</div>
        <div class="u-color-invert u-text-heading u-text-xs">CrossFit Tonbridge</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “GoCardless took very little time and was very easy to set up"
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Looking for a solution Alex turned to <a href="http://goteamup.com" class="u-link-medium-gray u-text-underline" target="_blank">Teamup</a>, a specialist management platform for fitness businesses who offered a simpler way of collecting payments through GoCardless. It took minutes to get started; “GoCardless took very little time and was very easy to set up".
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “I always know exactly what's going on without having to do the work”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Crossfit Tonbridge can now check the status of their payments simply by logging into TeamUp, where members' other information is also stored. MD Alex Clarke says "With GoCardless and TeamUp I spend just an hour a month managing payments. GoCardless send me send me notifications of any failures as well as an end of the month statement so I always know exactly what's going on without having to do the work myself freeing up my time to concentrate on other jobs that need doing."
        </p>
        <a href="/gyms" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-block u-margin-Txl">
            See how GoCardless works for gyms &amp; fitness
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
