{% extends "default.html" %}

{% block title %}Integrations{% endblock %}
{% block description %}Take Direct Debit payments direct from your Sage, Xero, KashFlow or FreeAgent accounts.{% endblock %}

{% block content %}

  <h1 class="page-heading">Direct Debit from your accounting software</h1>
  <h2 class="page-subheading">Take and automatically reconcile payments from within your accounting software. GoCardless is fully integrated with:</h2>

  <div class="grid u-padding-Bl">
    <div class="grid__cell u-1of3">
      <a href="http://www.kashflow.com/blog/simple-and-affordable-online-payments-with-gocardless/" class="image-grid-item"><img src="/images/integrations/kashflow@2x.png" class="image-grid-item--kashflow"></a>
    </div>
    <div class="grid__cell u-1of3">
      <a href="/sage" class="image-grid-item"><img src="/images/integrations/sage@2x.png" class="image-grid-item--sage"></a>
    </div>
    <div class="grid__cell u-1of3">
      <a class="image-grid-item" href="http://www.xero.com/campaign/gocardless">
        <img alt="Xero" class="image-grid-item--xero" src="/images/integrations/xero@2x.png">
      </a>
    </div>
  </div>

  <div class="grid u-padding-Bl">
    <div class="grid__cell u-1of3">
      <a href="http://www.directli.co.uk/xero.html" class="image-grid-item"><img src="/images/integrations/directli@2x.png" class="image-grid-item--directli"></a>
    </div>
    <div class="grid__cell u-1of3">
      <a href="http://www.freeagent.com/support/kb/integrations/invoice-payments-with-gocardless" class="image-grid-item"><img src="/images/integrations/freeagent@2x.png" class="image-grid-item--freeagent"></a>
    </div>
    <div class="grid__cell u-1of3">
      <a href="http://www.clearbooks.co.uk/support/guides/integrations/clear-books-gocardless-integration-setup/" class="image-grid-item"><img src="/images/integrations/clearbooks@2x.png" class="image-grid-item--clearbooks"></a>
    </div>
  </div>

  <div class="grid u-padding-Bl">
    <div class="grid__cell u-1of3">
      <a href="http://www.quickfile.co.uk" class="image-grid-item"><img src="/images/integrations/quickfile@2x.png" class="image-grid-item--directli"></a>
    </div>
  </div>

  <hr>

  <div class="grid u-padding-Bl">
    <div class="grid__cell u-1of2">
      <h3 class="section-heading">Someone we're missing?</h3>
      <p>If you'd like your accounting software to integrate with GoCardless the best thing to do is contact them directly. You can also let us know by <a href="https://gocardless.wufoo.com/forms/m7x3z9/">registering your interest</a>.</p>
    </div>

    <div class="grid__cell u-1of2">
      <h3 class="section-heading">Become a partner</h3>
      <p>Do you want to develop a partner integration with GoCardless? Please, <a class="u-text-underline" href="https://help.gocardless.com">get in touch</a> with our support team or read our <a href="https://developer.gocardless.com/#partner-guide" class="u-text-underline">Partner API documentation</a>.</p>
    </div>
  </div>

{% endblock %}
