{% extends "plain.html" %}

{% block title %}Restricted Activities{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-text-center u-color-invert u-text-xl u-text-light u-margin-Vxm">
      Our terms of service
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl grid">
    <div class="u-padding-Vxl">
      {% include "legal/_sidebar.html" %}
      <div class="grid__cell u-size-8of12">
        <div class="row">
          <h2 class="u-text-heading-light u-text-m u-color-heading">Restricted activities [prior to 31st July 2014]</h2>
          <p class="para">
            This is an outdated list of restricted activities for which you may not use the services GoCardless offers. You can read an up-to-date list of our Restricted Activities <a href="/legal/restrictions" class="u-link-color-p u-text-underline">here</a>.
          </p>
          <p class="para">
            As set out in the terms and conditions which apply to our users, we may suspend provision of services to you if you do. This may lead to funds not being paid out to their intended recipient.
          </p>
          <ul class="list">
            <li>
              Using the GoCardless service while impersonating any person or entity, falsely claiming an affiliation with any person or entity.
            </li>
            <li>
              Using the GoCardless Services for or to facilitate any illegal purpose, or in violation of any national, or international law, including, without limitation, laws governing intellectual property, taxation and other proprietary rights and data protection and privacy.
            </li>
            <li>
              Using the GoCardless service to defame, harass, abuse, threaten or defraud others, or collect, or attempt to collect, personal information about Users, Registered Recipients, or third parties without their consent.
            </li>
            <li>
              Using the GoCardless Platform if you are under the age of eighteen (18).
            </li>
            <li>
              Using the GoCardless services in order to act as a private banking institution.
            </li>
            <li>
              Using the GoCardless Services in any manner that could damage, disable, overburden, or impair it, including, without limitation, using the GoCardless Service in an automated manner.
            </li>
            <li>
              Using GoCardless to intentionally interfere with others users’ enjoyment of it, by any means, including uploading or otherwise disseminating viruses, adware, spyware, worms, or other malicious code.
            </li>
            <li>
              Using GoCardless that in any way assists you in violating any law, statute or ordinance.
            </li>
            <li>
              Using GoCardless to send or receive what GoCardless reasonably believes to be potentially fraudulent funds.
            </li>
            <li>
              Using GoCardless in a manner that results in or may result in complaints, disputes, reversals, chargebacks, fees, fines, penalties and other liability to GoCardless, one of our users, a third party or you.
            </li>
        <li>
            Using GoCardless in a manner that GoCardless reasonably believe to be an abuse of the system. This includes the GoCardless referral scheme.
          </li>
            <li>
              Using the GoCardless services to collect or contribute money for something that may be deemed harmful, false, misleading, unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, or racially or ethnically offensive.
            </li>
            <li>
              Using GoCardless to control an account that is linked to another account that has engaged in any of the foregoing activities.
            </li>
            <li>
              Using GoCardless to collect payments that support pyramid or ponzi schemes, matrix programs, other "get rich quick" schemes or certain multi-level marketing programs.
            </li>
            <li>
              Using GoCardless to sell or provide:
              <ul class="list">
                <li>
                  items that may infringe or violate any copyright, trademark, right of publicity or privacy or any other proprietary right under the laws of any jurisdiction;
                </li>
                <li>
                  items that require a license, resellers permit or franchise agreement to sell;
                </li>
                <li>
                  "payday loans" or other lending services;
                </li>
                <li>
                  items that may be counterfeit including but not limited to: designer handbags, clothing and accessories and consumer electronics;
                </li>
                <li>
                  items that promote hate, violence, racial intolerance, or the financial exploitation of a crime;
                </li>
                <li>
                  items that encourage, promote, facilitate or instruct others to engage in illegal activity;
                </li>
                <li>
                  items that promote, support or glorify acts of violence or harm towards self or others;
                </li>
                <li>
                  drugs or drug paraphernalia;
                </li>
                <li>
                  activities that involve gambling or a prize draw;
                </li>
                <li>
                  items that are obscene or pornographic.
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
