{% extends "plain.html" %}

{% block title %}Greater Anglia - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Greater Anglia saved £21,000 by switching to online Direct Debit with GoCardless. Read their testimonial of GoCardless.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Greater Anglia
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size-4of6 u-center u-text-center">
        Greater Anglia saved £21,000 by switching to online Direct Debit with GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            We helped them save 26 hours of management time a month
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            We removed the need for paper mandates, saving £300 per month
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            We helped them avoid a £21,000 upgrade to their server infrastructure
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “Collecting payments was complicated and very manual”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          <a href="http://www.greateranglia.co.uk" class="u-link-color-p u-text-underline" target="_blank">Greater Anglia</a>, the East Anglia rail franchise, uses Direct Debit to take monthly payments allowing commuters to spread the cost of an annual season ticket.
        </p>
        <p class="u-color-p u-margin-Tm">
          Before using GoCardless, they managed their Direct Debit in-house for eight years. “Collecting payments was complicated and very manual, and keeping up with Direct Debit scheme rule changes was very time-consuming.” It was also hard for the team to link their legacy Direct Debit management processes with their online offering.
        </p>
      </div>
    </div>
  </div>

  <div class="story-hero--greater-anglia">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size-2of3 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “GoCardless have taken all of the pain out of setting up and managing Direct Debit”
          </p>
        </div>
        <img src="/images/testimonials/greater-anglia__avatar.png" alt="" class="u-size-1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Graham Beton</div>
        <div class="u-color-invert u-text-heading u-text-xs">Greater Anglia Railways</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “Customers can now set up new season tickets entirely online”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          Greater Anglia realised they needed an outsourced solution that could adapt to their growing online sales. They quickly identified GoCardless as “by far the best option for online Direct Debit”.
        </p>
        <p class="u-color-p u-margin-Tm">
          One key advantage was that because of our superior technology, GoCardless was the only provider who could enable Greater Anglia’s customers to set up new season ticket customers entirely online and link this back to their CRM and accounts.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “Switching to GoCardless has saved us time and money”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          Switching to GoCardless' online system eliminated the need for paper mandates and statements, saving Greater Anglia <strong>£300 every month</strong> and reducing management time by <strong>26 hours</strong>. Greater Anglia also avoided a costly upgrade to their server infrastructure otherwise needed to comply with the new Direct Debit rules.
        </p>
        <p class="u-color-p u-margin-Tm">
          Greater Anglia have been delighted with the service since making the switch: “Their system is incredibly simple and their expertise is second to none."
        </p>
        <a href="/subscriptions" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-block u-margin-Txl">
            See how GoCardless works for subscriptions
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
