{% extends "plain.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container site-gutter u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero page-hero--small u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="page-hero__inner u-padding-Vxxl">
        <div class="page-hero__text u-padding-Vxm u-text-center">
          <h1 class="u-text-heading u-color-invert hero-heading u-text-light">
            Our terms of service
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid">
  {% include "legal/_sidebar.html" %}
  <div class="grid__cell u-size8of12 u-padding-Bl">
    <div class="row">
        <header>
          <h3 class="page-heading">Privacy policy</h3>
        </header>
        <div class="well">
          <p class="para">
            <strong>Last Updated:</strong> 30th November 2012
          </p>
          <p class="para">
            We may update this policy from time to time. Please check this page regularly for notification of any significant changes in the way we treat your personal information. We will try to provide Consumers with reasonable advance notice of any proposed changes.
          </p>
        </div>

      <p class="para">
        Where the words "<em>GoCardless</em>", "<em>we</em>", "<em>us</em>" or "<em>our</em>" are used in this document, they are all references to GoCardless Limited.
      </p>
      <p class="para">
        Your privacy is very important to us. We have put in place measures to ensure that any personal information or data that we obtain from you is processed in accordance with the accepted principles of good information handling.
      </p>
      <p class="para">
        We deal with individuals who pay using GoCardless in a way which is not related to their trade, business or profession ("<em>Consumers</em>"). We also deal with those who are using GoCardless in relation to their business, such as suppliers wanting to enable Consumers to pay GoCardless by direct debit ("<em>Business Customers</em>"). Our responsibilities to you depend on whether you are a Consumer or a Business Customer. Some Business Customers are parties to agreements with us which may change some of their rights.
      </p>

      <h2 class="section-heading">
        What this privacy policy covers
      </h2>
      <p class="para">
        This policy gives you information about how we treat personal information received from our website visitors and customers.
      </p>

      <h2 class="section-heading">
        What is personal information?
      </h2>
      <p class="para">
        Personal information is defined as information that may be used to identify a living individual, such as their title, name, address, email address and phone number.
      </p>

      <h2 class="section-heading">
        Information collection and use
      </h2>
      <p class="para">
        We collect visitor information in the following ways:
      </p>
      <ul class="list">
        <li>
          If you apply to use GoCardless as a Consumer or Business Customer we will use your details to facilitate your application and future transactions
        </li>
        <li>
          Where you are using the system to make payments, we may share your information with the party you wish to receive funds, and any partner organisation which is facilitating the transaction.
        </li>
        <li>
          Where you are using the system to receive payments, we may share your information with each person wishing to make payments to you, and any partner organisations which are facilitating transactions.
        </li>
        <li>
          Where you are a partner organisation using the system to make it easier for other parties to use, we may share information about you to those making and receiving payments through the system.
        </li>
        <li>
          If you call us or send us an enquiry or details via email or another method, we will use your details to respond to any request/comment you have. We may also keep these details for the purpose of evaluating and assessing applications, performing contracts and technical administration.
        </li>
      </ul>
      <p class="para">
        When you visit our website, we may automatically collect certain system-related information about your visit, and we also use "cookies" to provide you with access to certain private areas of the website. See the "Cookies" section below for further information.
      </p>
      <p class="para">
        Telephone calls may be recorded for security and regulatory purposes and may be monitored under our quality control procedures.
      </p>
      <p class="para">
        Where you are applying to use the GoCardless system, we may also contact credit or identity reference agencies with information you provide to enable us to confirm your identity.
      </p>
      <p class="para">
        If you send us your CV we may want to keep your details on file in case an opportunity comes up in the future. If you’d rather we didn’t do this, please let us know as soon as possible by emailing <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a> and we will delete your record as soon as we are able.
      </p>
      <p class="para">
        The only time we will use your details for any other purpose than those listed above is to provide you with details from time to time about our services. However we will only do this if either (i) you have given us permission to do so, or (ii) you are one of our customers and we are telling you about similar products and services to the ones you have previously purchased or asked us about. In each case you can contact us to opt out of any further marketing communications.
      </p>
      <p class="para">
        We may pass your personal information to our subcontractors to enable them to provide services for us but for no other purpose. We respect your privacy and will not rent, sell or share personal information about you with other people or non-affiliated companies without your express permission.
      </p>

      <h2 class="section-heading">
        Information collection and use
      </h2>
      <p class="para">
        You have the right to request a copy of the personal information we hold about you, its origin and any recipients of it as well as the purpose of any data processing carried out. Please note that, in accordance with the Data Protection Act 1998, a £10 admin fee is applicable. For further information, please contact us by emailing <a href="mailto:{{ SUPPORT_EMAIL }}">{{ SUPPORT_EMAIL }}</a> with the subject "Data subject access request".
      </p>
      <p class="para">
        In accordance with the Data Protection Act 1998, you have the right to correct, restrict our use of or ask us to delete your personal information. Use the details on the "Contact Us" to ask any questions or request the correction, restriction or deletion of your personal information.
      </p>

      <h2 class="section-heading">
        Cookies
      </h2>
      <p class="para">
        Our web site uses cookies – small text files stored on your computer – in two ways.
      </p>
      <p class="para">
        The first is to collect system-related information, such as the type of internet browser and operating system you use, the website from which you have come to our website, the duration of individual page views, paths taken by visitors through the website, and other general information and your IP address (the unique address which identifies your computer on the internet) which is automatically recognised by our web server. This information is collected for system administration and to report aggregate information to our subcontractors and partners to enable them to provide services to us. It is statistical data about our users' browsing actions and does not, of itself, contain any personally identifiable information. It is often not possible to identify a specific individual from this information, although for example we may be able to identify it relates to a specific individual in conjunction with other information in our control.
      </p>
      <p class="para">
        The second is that Cookies are also used when registered users access the private sections of our website. Cookies are used to facilitate the log in process. In this case, we may be able to identify that your login details have been used
      </p>
      <p class="para">
        Most web browsers offer users controls, to give you the option to delete or disable cookies. You can usually find out how to do so by referring to the ‘Help’ option on the menu bar of your browser, or by visiting the browser developer's website. This will usually tell you how to prevent your browser from accepting new cookies; notify you when you receive new cookies; and disable cookies altogether. Please note that disabling cookies will stop you accessing private areas of the website.
      </p>
    </div>
  </div>
</div>

{% include "_site_footer.html" %}

{% endblock %}
