{% extends "plain.html" %}

{% block title %}Partner Apps &amp; Software Integration{% endblock %}
{% block meta_tags %}<meta name="description" content="Partner up with GoCardless and let people take payments through your software. We work with FreeAgent, Xero, Sage, Kashflow, Pitchero, ClearBooks, CrowdCube and more.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <hr class="u-margin-An">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxl">
    <div class="site-container u-padding-Vxm">
      <h1 class="u-text-heading u-color-invert u-text-center u-text-light">
        We play well with others
      </h1>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl u-text-center">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light">
        Help your customers get paid
      </h2>
      <p class="u-color-heading u-margin-Ts u-size-7of12 u-center">
        We partner with software providers large and small in many industries to power their payments. Anyone can be our  partner & we have no special charges or complex bureaucracy, just our usual pricing: 1% per transaction, capped at £2.
      </p>

      <div class="site-container u-padding-Vxxl">
        <div class="grid u-padding-Vxl">
          <div class="grid__cell u-text-center u-size-1of2">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/partner-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/partner-icon.svg">
            </figure>
            <h2 class="u-text-heading u-text-m u-color-heading u-text-light u-text-no-smoothing u-margin-Tm">
              Delight your customers
            </h2>
            <p class="u-size-2of3 u-center u-color-p u-margin-Vxs">
              Simplify your customers' lives and make them more loyal by letting them take payments through your software.
            </p>
          </div>
          <div class="grid__cell u-text-center u-size-1of2">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/add-partner-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/add-partner-icon.svg">
            </figure>
            <h2 class="u-text-heading u-text-m u-color-heading u-text-light u-text-no-smoothing u-margin-Tm">
              Grow your business
            </h2>
            <p class="u-size-2of3 u-center u-color-p u-margin-Vxs">
             As a GoCardless Partner, you can earn a commission on payments or charge your customers through us, seamlessly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl u-text-center">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light">
        Leading software providers partner with GoCardless
      </h2>
      <div class="grid integrations-grid u-margin-Txxl u-padding-Tl">
        <div class="grid__cell u-text-center u-size-1of3 u-margin-Bm">
          <a class="u-link-clean" href="/partners/freeagent">
            <div class="u-border-gray u-padding-Vl">
              <i class="freeagent-logo u-margin-Vs"></i>
              <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
                Award-winning online accounting software for freelancers and small businesses
              </p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size-1of3 u-margin-Bm">
          <a class="u-link-clean" href="/partners/xero">
            <div class="u-border-gray u-padding-Vl">
              <i class="xero-logo"></i>
              <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
                Easy to use online accounting software specifically for small businesses
              </p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size-1of3 u-margin-Bm">
          <a class="u-link-clean" href="/partners/sage">
            <div class="u-border-gray u-padding-Vl">
              <i class="sage-logo integrations-grid__sage-logo u-margin-Vxxs"></i>
              <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
                The UK's leading accounts software for small to medium sized businesses
              </p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <a class="u-link-clean" href="/partners/kashflow">
            <div class="u-border-gray u-padding-Vl">
              <i class="kashflow-logo u-margin-Vxxs"></i>
              <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
                Simple, jargon free accounting and invoicing software for small businesses
              </p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <a class="u-link-clean" href="/partners/pitchero">
            <div class="u-border-gray u-padding-Vl">
              <i class="pitchero-logo u-margin-Vs"></i>
              <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
                A global network of sports sites, powering over 10,000 websites worldwide
              </p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <a class="u-link-clean" href="/partners/clearbooks">
            <div class="u-border-gray u-padding-Vl">
              <i class="clearbooks-logo u-margin-Vxxs"></i>
              <p class="u-size-3of4 u-center u-color-p u-margin-Txxs">
                Integrated suite of cloud services for sole practitioners and startup accountants
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size-2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Become a Partner
        </h2>
        <p class="u-text-s u-color-p u-margin-Vxs">
          Delight your customers & expand your business by integrating with GoCardless today.
        </p>
        <a href="/contact-sales" class="btn">Contact Sales</a>
      </div>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
