{% extends "plain.html" %}

{% block title %}Integrations{% endblock %}
{% block meta_tags %}<meta name="description" content="Collect Direct Debit payments online with fees of just 1%, capped at £2. Scale pricing is available for larger organisations.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxl">
    <div class="site-container u-padding-Vxm">
      <h1 class="u-text-heading u-color-invert u-text-center u-text-light">
        We play well with others
      </h1>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl u-text-center">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light">
        Use GoCardless with your favourite software
      </h2>
      <p class="u-color-heading u-margin-Ts u-size7of12 u-center">
        We’ve partnered up with some of the leading software providers to connect our payments system with their features and have it all in one place.
      </p>

      <div class="grid integrations-grid u-margin-Txxl u-padding-Tl">
        <div class="grid__cell u-text-center u-size1of3 u-margin-Bm">
          <a class="u-link-clean" href="/partners/freeagent">
            <div class="u-border-gray u-padding-Vl">
              <i class="freeagent-logo u-margin-Vs"></i>
              <p class="u-size2of3 u-center u-color-p u-margin-Txxs">Lorem ipsum dolar sit amet. Something else about it</p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size1of3 u-margin-Bm">
          <a class="u-link-clean" href="/partners/xero">
            <div class="u-border-gray u-padding-Vl">
              <i class="xero-logo"></i>
              <p class="u-size2of3 u-center u-color-p u-margin-Txxs">Lorem ipsum dolar sit amet. Something else about it</p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size1of3 u-margin-Bm">
          <a class="u-link-clean" href="/partners/sage">
            <div class="u-border-gray u-padding-Vl">
              <i class="sage-logo integrations-grid__sage-logo u-margin-Vxxs"></i>
              <p class="u-size2of3 u-center u-color-p u-margin-Txxs">Lorem ipsum dolar sit amet. Something else about it</p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <a class="u-link-clean" href="/partners/kashflow">
            <div class="u-border-gray u-padding-Vl">
              <i class="kashflow-logo u-margin-Vxxs"></i>
              <p class="u-size2of3 u-center u-color-p u-margin-Txxs">Lorem ipsum dolar sit amet. Something else about it</p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <a class="u-link-clean" href="/partners/pitchero">
            <div class="u-border-gray u-padding-Vl">
              <i class="pitchero-logo u-margin-Vs"></i>
              <p class="u-size2of3 u-center u-color-p u-margin-Txxs">Lorem ipsum dolar sit amet. Something else about it</p>
            </div>
          </a>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <a class="u-link-clean" href="/partners/clearbooks">
            <div class="u-border-gray u-padding-Vl">
              <i class="clearbooks-logo u-margin-Vxxs"></i>
              <p class="u-size2of3 u-center u-color-p u-margin-Txxs">Lorem ipsum dolar sit amet. Something else about it</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-text-center u-size1of2">
        <figure class="svg-icon u-center">
          <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/partner-icon.svg">
          <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/partner-icon.svg">
        </figure>
        <h2 class="u-text-heading u-text-m u-color-heading u-text-light u-text-no-smoothing u-margin-Tm">
          Become a partner
        </h2>
        <p class="u-size2of3 u-center u-color-p u-margin-Vxs">
          Integrate one-off and recurring payments into your product with GoCardless
        </p>
        <a href="mailto:{{ SUPPORT_EMAIL }}" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
          Enquire about becoming a partner
        </a>
      </div>
      <div class="grid__cell u-text-center u-size1of2">
        <figure class="svg-icon u-center">
          <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/add-partner-icon.svg">
          <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/add-partner-icon.svg">
        </figure>
        <h2 class="u-text-heading u-text-m u-color-heading u-text-light u-text-no-smoothing u-margin-Tm">
          Someone we're missing?
        </h2>
        <p class="u-size2of3 u-center u-color-p u-margin-Vxs">
         If you'd like software you use to partner with GoCardless the best thing to do is contact them directly. You can also let us know below
        </p>
        <a href="https://gocardless.wufoo.com/forms/m7x3z9/" target="_blank" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
          Suggest a Partnership
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="u-text-center u-padding-Vxxl">
    <div class="site-container u-padding-Vxl">
      <div class="u-size2of3 u-center">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Simple, transparent pricing for everyone
        </h2>
        <p class="u-text-s u-color-p u-margin-Vxs">
          Competitive rates for everyone from individuals through to large corporations
        </p>
        <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
      </div>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
