{% extends "plain.html" %}

{% block title %}Momentum Training and CrossFit Hackney - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Momentum Training and CrossFit Hackney cut payment costs by over 50% by switching to GoCardless. Read the testimonial of how they reduced time spent chasing clients for payment.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Momentum Training and CrossFit Hackney
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size-4of6 u-center u-text-center">
        Momentum Training and CrossFit Hackney cut payment costs by over 50% by switching to GoCardless
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            GoCardless helped them cut the cost of taking payments by over 50%
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            We helped them retry failed payments instantly
          </p>
        </div>
        <div class="grid__cell u-text-center u-size-1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Txs u-size-5of6 u-center">
            GoCardless and TeamUp have helped them save hours in admin
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “We wanted to find a cheaper and easier way to take payments”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          <a href="http://www.momentum-training.com/" class="u-link-color-p u-text-underline" target="_blank">Momentum Training and CrossFit Hackney</a> is one of the leading Crossfit gyms in the UK. Since opening in May 2013 it has grown to over 250 regular members and is currently looking at opening another site. Before GoCardless, they were using PayPal to collect their membership fees but were looking for a cheaper alternative that was easier to integrate with their membership system.
        </p>
        <p class="u-color-p u-margin-Tm">
          Geoff Stewart, founder of Momentum Training and CrossFit Hackney explains, “PayPal fees were relatively high and it was difficult to integrate so our developers were keen to find a cheaper and easier alternative.”
        </p>
      </div>
    </div>
  </div>

  <div class="story-hero">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size-2of3 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “Taking payments with GoCardless costs us less than half the price of using Paypal and the integration with TeamUp has reduced our admin”
          </p>
        </div>
        <img src="" alt="" class="u-size-1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Geoff Stewart</div>
        <div class="u-color-invert u-text-heading u-text-xs">Momentum Training</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “GoCardless was super easy to integrate”
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          Looking for a solution they came across TeamUp, a specialist management platform for fitness businesses who recommended using GoCardless to collect their payments. It took minutes to get started; “GoCardless was super easy to integrate. With Paypal we needed a developer to get us set up but we were able to get set up with GoCardless ourselves.”
        </p>
        <p class="u-color-p u-margin-Tm">
          Momentum Training and CrossFit Hackney now collect their recurring membership fees using GoCardless and use GoCardless and Stripe for their one-off payments.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size-1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size-3of4">
          “Since moving to TeamUp and GoCardless our payment failures are lower than they were before – even though our members have more than doubled.“
        </h2>
      </div>
      <div class="grid__cell u-size-1of2">
        <p class="u-color-p">
          Since using TeamUp and GoCardless, Momentum Training and Crossfit Hackney have been able to significantly reduce the time they spend on admin and the costs of taking payments from their members – savings which can go towards further growth and improving their business. 
        </p>
        <p class="u-color-p u-margin-Tm">
          Geoff explains: “Taking payments with GoCardless costs us less than half the price of using Paypal and the integration with TeamUp has definitely reduced our admin – particularly for dealing with failed payments. It used to be a complicated process to work out which payments had failed and to retry them." 
        </p>
        <p class="u-color-p u-margin-Tm">
          "With GoCardless and TeamUp any failed payments show up on our dashboard each month and we just need to press a button to retry them instantly. What’s more since moving to TeamUp and GoCardless our payment failures are lower than they were before – even though our members have more than doubled.“
        </p>
        <a href="/professional-services" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-block u-margin-Txl">
            See how GoCardless works for gyms and fitness businesses
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">{{ CTA_BASIC }}</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
