{% extends "default.html" %}

{% block title %}Spencer Hockey Club - Customer Stories{% endblock %}

{% block content %}
  <div class="grid grid--center u-margin-Bl">
     <h1 class="page-heading u-padding-Bs">Spencer Hockey Club slashed the time spent chasing payments by switching to Direct Debit with GoCardless</h1>
    <div class="grid__cell u-2of12">
      <img src="/images/stories/spencer-hockey/headshot.jpg" class="u-border-circle">
    </div>

    <div class="grid__cell u-8of12">
      <h2 class="u-text-heading">&ldquo;Using GoCardless felt like a natural fit for a membership group&rdquo;</h2>
      Mark McDermott, Spencer Hockey Club
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Reduce time spent managing payments</strong></li>
          <li><strong>Achieve 80% take-up</strong> in 8 months</li>
          <li>Quickly cover the integration cost with an <strong>improved payment rate</strong></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bl">
      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
      “Collecting membership fees was difficult and time consuming”
      </div>
      <p class="para">
        <a href="http://hockey.spencerclub.org" rel="nofollow">Spencer Hockey Club</a> is one of the UK's leading hockey clubs. With over 400 players, managing the club was a real challenge for the volunteer committee.  “We used to let members pay however they wanted: monthly, annually, by cheque or bank transfer and with variable additions. It made collecting membership fees difficult and time consuming.”
      </p>
      <p class="para">
        Tracking payments through bank statements "was very painful, and the Club suffered from late payments," says Mark McDermott, club member and Director of <a href="http://www.codegent.com">codegent</a>, who built the site.
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
      “GoCardless felt like an automation of what we were already doing”
      </div>
      <p class="para">
        “We realised we needed an online payment system, but had been put off by other providers' high fees and requirements for a merchant account. GoCardless provided a low cost solution that felt like an automation of what we were already doing."
      </p>

      <p class="para">
        The Club integrated the GoCardless API into their site in one weekend and now use it to take regular and one-off payments from members.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      “The black hole in our finances has disappeared”
      </div>
      <p class="para">
        “Within 8 months of integration, 80% of the team were using GoCardless to make their payments.  As a membership group, there is a high level of trust between us so Direct Debit is a nice fit.”
      </p>

      <p class="para">
        Using GoCardless, the committee considerably reduced the time spent chasing payments, making the Club more financially stable.  “With 80% take-up by our members, the black hole in our finances has disappeared, so now we can spend more time growing our reserves.”
      </p>

    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}

{% block footer_content %}
  {% include "_affixed_cta_component.html" %}
{% endblock %}
