{% extends "default.html" %}

{% block title %}Request a demo{% endblock %}
{% block description %}Find out how GoCardless can help your business with a free 15 minute demo{% endblock %}

{% block content %}

  <h1 class="page-heading u-text-center">Request a demo</h1>
  <h2 class="page-subheading u-text-center">Find out more about GoCardless by<br>joining a 15 minute interactive demo</h2>

  <div class="grid grid--center">
    <div class="grid__cell u-1of2">
      <form accept-charset="UTF-8" action="/api/prospects/sales" method="post"
        ng-gc-form-submit
        ng-gc-ga-event-tracker="{
            event: 'submit',
            category: 'forms',
            action: 'submit-form',
            label: 'RaD'
          }">
        {% include "_prospect_form_fields.html" %}
      </form>

      <div data-sales-prospect-form-success
       class="notice notice--success u-margin-Bl" hidden>
        <div data-value-show="0-100" data-target="contact-sales">
          <b>Thank you</b>, you will receive an invitation shortly.
        </div>
        <div data-value-show="100-500" data-target="contact-sales">
          <b>Thank you</b>, a member of the GoCardless team will be in touch soon.
        </div>
        <div data-value-show="500+" data-target="contact-sales">
          <b>Thank you</b>, a member of the GoCardless team will be in touch soon.
        </div>
      </div>
    </div>
  </div>

  <div class="u-margin-Tm u-padding-Tm u-text-center">
    <p>
      <strong>Want to talk to an expert?</strong>
      Call us on {{ SUPPORT_CONTACT_NUMBER }}
    </p>
    <p>
      <a href="https://help.gocardless.com/">Looking for merchant support?</a>
    </p>
  </div>

{% endblock %}
