{% extends "default.html" %}

{% block title %}About{% endblock %}

{% block content %}

  <h1 class="page-heading">About us</h1>
  <h2 class="page-subheading">GoCardless makes it incredibly cheap and simple for anyone to take Direct Debit payment online.</h2>

  <div class="grid">
    <div class="grid__cell u-1of2">
      <h2 class="section-heading">Working with the best</h2>
      <p class="para">
        GoCardless serves more businesses than any other Direct Debit provider.
        We are based in the City of London, and are authorised by the
        <strong>Financial Conduct Authority</strong>. Our investors include
        Accel Partners, Passion Capital and Y Combinator.
      </p>
    </div>
    <div class="grid__cell u-1of2 u-padding-Ts">
      <img src="home/about/sponsors-investors@2x.png" class="u-margin-Tl">
    </div>
  </div>

  <hr>

  <div class="grid u-margin-Bl u-margin-Tl">

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before founding GoCardless, Hiroki worked closely with Global Financial
      Institutions at McKinsey &amp; Company.
      <br><br>
      Hiroki studied Mathematics at Oxford University, and has interned at
      J.P. Morgan and Auctomatic." data-original-title="Hiroki Takeuchi">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/hiroki@2x.jpg" alt="Hiroki Takeuchi">
        <h4 class="section-subheading u-margin-Ts">
          Hiroki Takeuchi
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Prior to founding GoCardless, Matt worked at McKinsey &amp; Company,
      and studied Law at Oxford University.
      <br><br>
      Matt started his first business at age 16, which funded his
      university degree." data-original-title="Matt Robinson">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/matt@2x.jpg" alt="Matt Robinson">
        <h4 class="section-subheading u-margin-Ts">
          Matt Robinson
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Harry worked at Conversocial,
      iPlatform, and ran a development agency.
      <br><br>
      He created popular open source project MongoEngine, and
      studied Computer Science at Leeds University." data-original-title="Harry Marr">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/harry@2x.jpg" alt="Harry Marr">
        <h4 class="section-subheading u-margin-Ts">
          Harry Marr
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Grey worked for McKinsey where he
      specialised in Retail Banking.
      <br><br>
      Grey holds an MPhil in Economics from Cambridge, where he graduated top
      of his year. He spends his spare time learning to program." data-original-title="Grey Baker">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/grey@2x.jpg" alt="Grey Baker">
        <h4 class="section-subheading u-margin-Ts">
          Grey Baker
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Alan previously worked at LeapCR. He also worked for clients such as
      Sky at Unboxed Consulting.
      <br><br>
      Alan studied Computer Science at UCL." data-original-title="Alan Kennedy">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/alan@2x.png" alt="Alan Kennedy">
        <h4 class="section-subheading u-margin-Ts">
          Alan Kennedy
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Philip ran a design agency and
      co-founded a production company specialising in Mac education.
      <br><br>
      Philip studied Economics at Jönköping International Business
      School and spends his spare time geeking out in Javascript." data-original-title="Philip Harrison">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/philip@2x.png" alt="Philip Harrison">
        <h4 class="section-subheading u-margin-Ts">
          Philip Harrison
        </h4>
      </div>
    </a>
  </div>

  <div class="grid u-margin-Bl u-margin-Tl">
    <a href="javascript:;" class="team-member" data-popover="" data-content="Alongside working at GoCardless, Tim is currently studying BSc Government
      at the London School of Economics.
      <br><br>
      He has been involved in a number of early-stage startups and is a keen
      Ruby developer." data-original-title="Tim Rogers">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/tim@2x.jpg" alt="Tim Rogers">
        <h4 class="section-subheading u-margin-Ts">
          Tim Rogers
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Nabeel worked at Accenture and the
      Bank of England.
      <br><br>
      He graduated with a first from Oxford in Philosophy, Politics
      and Economics, and spends his spare time programming." data-original-title="Nabeel Qureshi">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/nabeel@2x.png" alt="Nabeel Qureshi">
        <h4 class="section-subheading u-margin-Ts">
          Nabeel Qureshi
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Alasdair studied Applied Information Technology at Reading where he
      achieved a first class honours degree and finished top of his class.
      He now leads our design team.
      <br><br>
      Before GoCardless, he worked independently with a range of clients from
      tech startups to established advertising and design studios." data-original-title="Alasdair Monk">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/al@2x.png" alt="Alasdair Monk">
        <h4 class="section-subheading u-margin-Ts">
          Alasdair Monk
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Steve previously worked at Kpsule and interned at MXP4. He also worked
      for a number of Paris-based startups and agencies while studying
      computer science at Supinfo International University." data-original-title="Steve Domin">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/steve@2x.png" alt="Steve Domin">
        <h4 class="section-subheading u-margin-Ts">
          Steve Domin
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Andy joined GoCardless from Mint Digital, a creative agency in London.
      <br/><br/>
      He loves client and server-side JavaScript and has a degree in
      Mechanical Engineering from Exeter. He is happy that his job almost
      never makes use of it." data-original-title="Andy Appleton">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/andy@2x.png" alt="Andy Appleton">
        <h4 class="section-subheading u-margin-Ts">
          Andy Appleton
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Alex previously ran an independent video games company. He also once
      worked at Google, where he specialised in software testability. He
      spends his spare time sailing on the Thames." data-original-title="Alex McAusland">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/alex@2x.png" alt="Alex McAusland">
        <h4 class="section-subheading u-margin-Ts">
          Alex McAusland
        </h4>
      </div>
    </a>

  </div>

  <div class="grid u-margin-Bl u-margin-Tl">

    <a href="javascript:;" class="team-member" data-popover="" data-content="Prior to joining GoCardless, Maria's administrative career included roles
      in environmental policy and political fundraising. She has an MA in
      Philosophy from Cambridge and an MA in English &amp; American Literature." data-original-title="Maria Campbell">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/maria@2x.jpg" alt="Maria Campbell">
        <h4 class="section-subheading u-margin-Ts">
          Maria Campbell
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Kit founded a number of businesses as part of the
      Entrepreneur First programme. Kit studied Law at King's College London and is an
      experienced web developer." data-original-title="Kit Brennan">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/kit@2x.jpg" alt="Kit Brennan">
        <h4 class="section-subheading u-margin-Ts">
          Kit Brennan
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Alina managed operations and logistics at
      an e-commerce start-up.
      <br /><br />
      Alina studied Physics at Imperial College London, and applies her
      skills to producing some excellent spreadsheets." data-original-title="Alina Solovjova">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/alina@2x.png" alt="Alina Solovjova">
        <h4 class="section-subheading u-margin-Ts">
          Alina Solovjova
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="After graduating from the University of Birmingham Ricky moved to
      Canada for a year, where he worked as a winter sports photographer.
      <br /><br />
      Before joining GoCardless he worked at RBS and is now part of the
      GoCardless sales team." data-original-title="Ricky Shafier">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/ricky@2x.jpg" alt="Ricky Shafier">
        <h4 class="section-subheading u-margin-Ts">
          Ricky Shafier
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Ben holds a BSc in Biology and MSc in Economics &amp; Finance from the University of Newcastle.
      <br /><br />
      In his spare time Ben is a keen rugby player." data-original-title="Ben Sims">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/ben@2x.jpg" alt="Ben Sims">
        <h4 class="section-subheading u-margin-Ts">
          Ben Sims
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, James studied Electronic &amp; Electrical
      Engineering at the University of Bath and worked as a software developer
      in the secure communications industry.
      <br><br>
      James spends his spare time working towards his long-term career aim of
      'making it' in the music industry." data-original-title="James Berry">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/james@2x.jpg" alt="James Berry">
        <h4 class="section-subheading u-margin-Ts">
          James Berry
        </h4>
      </div>
    </a>

  </div>

  <div class="grid u-margin-Bl u-margin-Tl">

    <a href="javascript:;" class="team-member" data-popover="" data-content="Daniel graduated from Lancaster University in 2009 with a BA in Politics
      and International Relations.
      <br><br>
      Prior joining GoCardless Daniel worked in a communications role for
      Lancashire Constabulary, and is now part of the GoCardless Customer
      Support team." data-original-title="Daniel Lyons">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/dan@2x.jpg" alt="Daniel Lyons">
        <h4 class="section-subheading u-margin-Ts">
          Daniel Lyons
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Helen holds a degree in Media Studies and Cultural Studies from the University of Sussex, and worked in artist liaison for Last.fm after graduating.
      <br><br>
      She's now part of the customer support team at GoCardless, and spends her spare time researching street food destinations." data-original-title="Helen Taylor">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/helen@2x.jpg" alt="Helen Taylor">
        <h4 class="section-subheading u-margin-Ts">
          Helen Taylor
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Jonno worked at an international law firm headquartered in London.  
      <br><br>
      Jonno is a keen sportsman and holds a BA from The University of Nottingham." data-original-title="Jonathon McGovern">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/jonno@2x.jpg" alt="Jonathon McGovern">
        <h4 class="section-subheading u-margin-Ts">
          Jonathon McGovern
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Jamie graduated from Lancaster University in 2008 with a degree in Computer Science.
      <br><br>
      He began his professional career in the Lake District building and managing the e-commerce part of a business but has since ventured south to master his craft, joining BSkyB as a software engineer and now GoCardless." data-original-title="Jamie English">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/jamie@2x.jpg" alt="Jamie English">
        <h4 class="section-subheading u-margin-Ts">
          Jamie English
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Jacob worked as a sports event photographer.
      <br><br>
      He spends his spare time developing web applications and studying for a degree in Computing and IT." data-original-title="Jacob Pargin">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/jacob@2x.jpg" alt="Jacob Pargin">
        <h4 class="section-subheading u-margin-Ts">
          Jacob Pargin
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Charlotte worked as a lawyer at Clifford Chance and a teacher with TeachFirst.
      <br><br>
      Charlotte is now part of the content team at GoCardless and spends her spare time travelling." data-original-title="Charlotte Robinson">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/charlotte@2x.jpg" alt="Charlotte Robinson">
        <h4 class="section-subheading u-margin-Ts">
          Charlotte Robinson
        </h4>
      </div>
    </a>

  </div>

  <div class="grid u-margin-Bl u-margin-Tl">

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Amelia studied Geography at the University of Southampton and worked as a Recruitment Consultant within technology after graduating.
      <br><br>
      Amelia spends her spare time rowing, and often hears friends and colleagues say 'Oh, do you row?' (she talks about it a lot)." data-original-title="Amelia Munsey">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/amelia@2x.jpg" alt="Amelia Munsey">
        <h4 class="section-subheading u-margin-Ts">
          Amelia Munsey
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, Andrew was VP of Growth at RESAAS where he built software and drove user growth.
      <br><br>
      He studied Electrical and Computer Engineering at The University of British Columbia in Canada." data-original-title="Andrew Thompson">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/andrew@2x.jpg" alt="Andrew Thompson">
        <h4 class="section-subheading u-margin-Ts">
          Andrew Thompson
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Chris joined GoCardless after working as a Software Engineer at BT. Before that, he graduated from Warwick with a degree in Computer Science.
      <br><br>
      In his spare time he enjoys a bit of photography, which he's trying to get better at." data-original-title="Chris Sinjakli">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/chris@2x.jpg" alt="Chris Sinjakli">
        <h4 class="section-subheading u-margin-Ts">
          Chris Sinjakli
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Before joining GoCardless, James studied Computer Science at St. Andrews before leaving for San Francisco to focus on his cloud computing startup.
      <br><br>
      In his spare time, James is involved with a variety of charity projects and organising hack days." data-original-title="James Cunningham">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/jc@2x.jpg" alt="James Cunningham">
        <h4 class="section-subheading u-margin-Ts">
          James Cunningham
        </h4>
      </div>
    </a>

    <a href="javascript:;" class="team-member" data-popover="" data-content="Milz graduated from UCL with an MA in Public Archaeology. Before joining GoCardless she worked in a variety of roles assisting and coordinating management.
      <br><br>
      Milz loves all things equestrian, and one day hopes to gain a PhD in Psychology." data-original-title="Milz Dechnik">
      <div class="grid__cell u-1of6 u-padding-Bs">
        <img src="/assets/home/team/milz@2x.jpg" alt="Milz Dechnik">
        <h4 class="section-subheading u-margin-Ts">
          Milz Dechnik
        </h4>
      </div>
    </a>

  </div>

  <hr>

  <div class="grid grid--center u-margin-Bl">
    <div class="grid__cell u-10of12">
      <h2 class="u-text-center section-heading u-text-h2 u-text-heavy">
        <a href="/jobs" class="u-text-underline">
          We're hiring, join us &raquo;
        </a>
      </h2>
    </div>
  </div>

{% endblock %}
