{% extends "plain.html" %}

{% block title %}Pricing{% endblock %}
{% block meta_tags %}<meta name="description" content="Collect Direct Debit payments online with fees of just 1%, capped at £2. Scale pricing is available for larger organisations.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="page-hero--pricing">
    <div class="site-container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>

      <div class="grid pricing-options u-center u-padding-Bxl">

        <div class="grid__cell u-size-1of2 u-padding-Vxl u-padding-Rxs">
          <h1 class="u-text-heading-light u-text-center u-color-invert u-text-l u-padding-Bs">Basic</h1>
          <div class="u-relative u-background-primary u-padding-Vxl">
            <div class="pricing-options__badge">
              <img src="/images/pricing/most-popular-badge@2x.png" alt="most popular">
            </div>
            <h2 class="u-text-heading-light u-text-center u-color-invert u-text-xl">1%</h2>
            <p class="u-text-heading-light u-text-center u-color-invert u-text-s u-margin-Txxs">
              Per transaction, capped at £2
            </p>
          </div>

          <ul class="pricing-options__list">
            <li class="pricing-options__list-item u-color-heading">
              <b>Perfect for small to medium sized businesses</b>
            </li>
            <li class="pricing-options__list-item">
              No monthly fee, setup fee or hidden charges
            </li>
            <li class="pricing-options__list-item">
              Scale pricing available (<a href="#scale-pricing" ng-gc-smooth-scroll>?</a>)
            </li>
            <li class="pricing-options__list-item">
              <a href="/basic">Find out more about Basic</a>
            </li>
            <li class="pricing-options__list-button">
              <a href="/merchants/new" class="btn u-size-full">Sign up today</a>
            </li>
          </ul>
        </div>

        <div class="grid__cell u-size-1of2 u-padding-Vxl u-padding-Rxs">
          <h1 class="u-text-heading-light u-text-center u-color-invert u-text-l u-padding-Bs">Pro</h1>
          <div class="u-background-dark-gray-darken u-padding-Vxl">
            <h2 class="u-text-heading-light u-text-center u-color-invert u-text-xl">1p - 60p</h2>
            <p class="u-text-heading-light u-text-center u-color-invert u-text-s u-margin-Txxs">
              Per transaction
            </p>
          </div>
          <ul class="pricing-options__list">
            <li class="pricing-options__list-item u-color-heading">
              <b>For organisations that want total control</b>
            </li>
            <li class="pricing-options__list-item">
              <b>£200 monthly fee</b>, no hidden charges
            </li>
            <li class="pricing-options__list-item">
              For businesses taking <b>&#62;500 payments</b> per month
            </li>
            <li class="pricing-options__list-item">
              <a href="/pro">Find out more about Pro</a>
            </li>
            <li class="pricing-options__list-button">
              <a href="/contact-sales?s=pricing" class="btn btn--hollow u-size-full">Contact sales</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vm">

    <div class="site-container u-text-center u-padding-Vl">
        <h2 class="u-text-heading-light u-color-heading">About our pricing</h2>
    </div>

    <div class="grid u-size-4of5 u-center u-padding-Vm">

      <div class="grid__cell u-size-1of2 u-padding-Bxxl u-padding-Rm">
        <div class="u-color-heading">
          <b>
            Are there really no other fees?
          </b>
        </div>
        <p class="u-color-p">
          No, there are no monthly charges or hidden fees of any kind. We never charge for chargebacks or payment failures. All you'll ever pay is 1% of the transaction amount, up to a maximum of £2.
        </p>
      </div>

      <div class="grid__cell u-size-1of2 u-padding-Bxxl u-padding-Lm">
        <div class="u-color-heading" id="scale-pricing">
          <b>Do you offer discounts for large volume?</b>
        </div>
        <p class="u-color-p">
          Yes. If you take more than 250 payments per month you may be eligible for scale pricing within GoCardless Basic. Please <a href="/contact-sales" class="u-link-medium-gray u-text-underline">contact sales</a> to find out more. If you take thousands of payments per month, it makes sense to consider GoCardless Pro.
        </p>
      </div>

      <div class="grid__cell u-size-1of2 u-padding-Bm u-padding-Rm">
        <div class="u-color-heading">
          <b>What does ‘capped at £2’ mean?</b>
        </div>
        <p class="u-color-p">
          You'll never pay more than £2 per transaction even if the transaction value is greater than £200.
        </p>
      </div>

      <div class="grid__cell u-size-1of2 u-padding-Bm u-padding-Lm">
        <div class="u-color-heading">
          <b>Will I still be charged if a payment fails?</b>
        </div>
        <p class="u-color-p">
          No. We only take fees for successful payments.
        </p>
      </div>

    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Tm u-padding-Bxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-text-l u-color-heading u-text-light">Got any questions?</h2>
      <p class="u-color-p u-margin-Ts">Contact support on +44 (0) 20 7183 8674</p>
      <a href="/merchants/new/" class="btn btn--hollow u-margin-Tm">Sign up today</a>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
