{% extends "default.html" %}

{% block title %}Pricing{% endblock %}
{% block description %}Collect Direct Debit payments online with fees of just 1% and scale pricing for larger organisations.{% endblock %}

{% block content %}
  <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h1 u-color-primary u-text-center">Simple, low pricing for all</h1>

  <div class="grid grid--center u-margin-Bm u-margin-Tl">
    <div class="grid__cell u-size9of12">
      <div class="grid">
        <div class="grid__cell u-size1of2">
          <div class="well well--hollow-red u-text-center">
            <img src="/images/pricing/standard@2x.png" height="50px" class="u-margin-Ts">
            <h3 class="section-heading  section-heading--red">Standard</h3>
            <p><b>1% up to £2</b><br>No other fees</p>
            <hr>
            <p class="u-margin-Bs">Sign up <b>instantly</b></p>
            <p class="u-margin-Bs"><b>No hidden fees</b> or set up costs</p>
            <p class="u-margin-Bs">Enjoy Simple Direct Debit today</p>
            <hr>
            <a href="/merchants/new" class="btn btn--block btn--info">Sign up now</a>
          </div>
        </div>

        <div class="grid__cell u-size1of2">
          <div class="well well--hollow-blue u-text-center">
            <img src="/images/pricing/scale@2x.png" height="50px" class="u-margin-Ts">
            <h3 class="section-heading">Scale</h3>
            <p>Ideal for merchants taking more than <b>500 transactions / month</b></p>
            <hr>
            <p class="u-margin-Bs">Pricing <b>tailored</b> to your business</p>
            <p class="u-margin-Bs"><b>Incredible rates</b> for high volume</p>
            <p class="u-margin-Bs">Talk to our sales team today</p>
            <hr>
            <a href="/request-a-quote" class="btn btn--block">Get a free quote</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid--center u-margin-Bl u-margin-Tl">
    <div class="grid__cell u-size9of12 u-text-center">
      Want to see how GoCardless could work for your business? <a href="/watch-a-demo" class="u-text-underline">Watch a demo today</a>
    </div>
  </div>
{% endblock %}
