{% extends "plain.html" %}

{% block title %}Pricing{% endblock %}
{% block meta_tags %}<meta name="description" content="Collect Direct Debit payments online with fees of just 1%, capped at £2. Scale pricing is available for larger organisations.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Simple, transparent pricing for everyone
    </h1>
  </div>

  <div class="u-background-light-gray u-padding-Vm u-text-center u-text-heading u-text-upcase u-text-xxs u-text-semi">
    <div class="site-container">
      <div class="u-size11of12 u-center">
        <a href="#basic" class="tab-link u-padding-Vxxs u-margin-Hs u-inline-block u-size1of6 u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger>
          Basic
        </a>
        <a href="#pro" class="tab-link u-padding-Vxxs u-margin-Hs u-inline-block u-size1of6 u-link-clean"
        ng-click="$activate($event)"
        ng-class="{ 'is-active': $isActive }"
        ng-gc-tabby-trigger>
          Pro
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div id="basic" ng-gc-tabby-content>
    <div ng-if="$isActive">

      <div class="site-container u-text-center u-padding-Vxxl">
        <div class="u-padding-Vxl">
          <div class="pricing-disc u-text-xl u-text-heading u-color-primary u-text-light u-center">1%</div>
          <p class="u-color-heading u-padding-Vxl">
            <strong>Just 1% per transaction, capped at £2</strong><br>
            No sign up fees, no monthly charges, no hidden costs</p>
          <a href="/merchants/new" class="btn">Start taking payments</a>
        </div>
      </div>

      <hr class="u-margin-An">

      <div class="site-container u-padding-Vxxl">

        <div class="grid u-size4of5 u-center u-padding-Vxl">

          <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Rm">
            <div class="u-color-heading">
              <strong>
                Are there really no other fees?
              </strong>
            </div>
            <p class="u-color-p">
              No, there are no monthly charges or hidden fees of any kind. We never charge for chargebacks or payment failures. All you'll ever pay is 1% of the transaction amount, up to a maximum of £2.
            </p>
          </div>

          <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Lm">
            <div class="u-color-heading">
              <strong>Do you offer discounts for large volume?</strong>
            </div>
            <p class="u-color-p">
              Yes. If you take more than 250 payments per month you may be eligible for scale pricing within GoCardless Basic. Please <a href="/contact-sales">contact sales</a> to find out more. If you take thousands of payments per month, it makes sense to consider GoCardless Pro.
            </p>
          </div>

          <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Rm">
            <div class="u-color-heading">
              <strong>What does ‘capped at £2’ mean?</strong>
            </div>
            <p class="u-color-p">
              You'll never pay more than £2 per transaction even if the transaction value is greater than £200.
            </p>
          </div>

          <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Lm">
            <div class="u-color-heading">
              <strong>Will I still be charged if a payment fails?</strong>
            </div>
            <p class="u-color-p">
              No. We only take fees for successful payments.
            </p>
          </div>

        </div>
      </div>

      <hr class="u-margin-An">

      <div class="site-container u-text-center u-padding-Vxxl">
        <div class="u-padding-Vxl">
          <h2 class="u-text-heading u-text-l u-color-heading u-text-light">Got any questions?</h2>
          <p class="u-color-p u-margin-Ts">Contact support on +44 (0) 20 7183 8674</p>
          <a href="/merchants/new/" class="btn btn--hollow u-margin-Tm">Start taking payments</a>
        </div>
      </div>
    </div>
  </div>

  <div id="pro" ng-gc-tabby-content>
    <div ng-if="$isActive">

      <div class="site-container u-text-center u-padding-Vxxl">
        <div class="u-padding-Vxl">
          <div class="u-text-xl u-text-heading u-color-primary u-text-light u-center">
            1p&thinsp;&mdash;&thinsp;60p per transaction
          </div>
          <p class="u-color-heading u-padding-Tm u-padding-Bl">
            <strong>Plus a £200 monthly fee</strong><br>
            Amazing prices, no matter how many payments you take
          </p>
          <a href="/contact-sales" class="btn">Contact sales</a>
        </div>
      </div>

      <hr class="u-margin-An">

      <div class="site-container u-padding-Vxxl">
        <div class="grid u-size4of5 u-center u-padding-Vxl">
          <div class="grid__cell u-size1of2 u-padding-Bxxl u-center">
            <div class="u-color-heading">
              <strong>
                Are there any other fees?
              </strong>
            </div>
            <p class="u-color-p">
              No, there really aren't any other fees. There is no setup fee, no chargeback fee and no payment failure fee. We don't hold back any of your money and our standard fees &mdash; £200 monthly, plus a flat per-transaction fee &mdash; are all you'll ever pay.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
