{% extends "default.html" %}

{% block title %}Referral scheme{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}

  <div class="site-gutter">
    <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h1 u-color-primary u-text-center">GoCardless Referral Scheme</h1>
    <h2 class="u-color-meta u-text-heading u-text-h2 u-text-center u-margin-Ts u-margin-Bl">Earn money by recommending GoCardless.</h2>
  </div>

  <div class="page-container u-padding-Bm">
    <hr>
    <div class="grid u-center u-size6of12 u-padding-Ts u-padding-Bl">
      <div class="grid__cell u-size1of2 u-text-center">
        <h2 class="u-text-heading">We give you...</h2>
        <div class="refer-disc u-margin-Vm u-center u-text-heading u-color-primary">£50</div>
        <p>a £50 credit towards<br>
        your GoCardless fees</p>
      </div>
      <div class="grid__cell u-size1of2 u-text-center">
        <h2 class="u-text-heading">We give them...</h2>
        <div class="refer-disc u-margin-Vm u-center u-text-heading u-color-primary">£50</div>
        <p>the same £50 credit to<br>
        help them get started</p>
      </div>
    </div>
  </div>

  <div class="gradient-fill-dark u-padding-Vl u-color-invert">
    <div class="u-size6of12 u-center u-padding-Vl">
      <div class="grid">
        <div class="grid__cell u-size1of12">
          <div class="bullet bullet--invert bullet--h3 u-text-heading u-color-invert">1</div>
        </div>
        <div class="grid__cell u-size11of12">
          <h3 class="u-text-heading u-color-invert u-padding-Bs">Share your referral link</h3>
          <p class="u-color-invert-secondary">Find the referral link in your account settings and share with anyone you want to refer.</p>
        </div>
      </div>
      <hr class="horizontal-ruler-top-invert">
      <div class="grid">
        <div class="grid__cell u-size1of12">
          <div class="bullet bullet--invert bullet--h3 u-text-heading u-color-invert">2</div>
        </div>
        <div class="grid__cell u-size11of12">
          <h3 class="u-text-heading u-color-invert u-padding-Bs">They sign up</h3>
          <p class="u-color-invert-secondary">They sign up with your referral link and start putting through payments.</p>
        </div>
      </div>
      <hr class="horizontal-ruler-top-invert">
      <div class="grid">
        <div class="grid__cell u-size1of12">
          <div class="bullet bullet--invert bullet--h3 u-text-heading u-color-invert">3</div>
        </div>
        <div class="grid__cell u-size11of12">
          <h3 class="u-text-heading u-color-invert u-padding-Bs">We reward you both</h3>
          <p class="u-color-invert-secondary">We'll give you both £50 of fees credit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container u-padding-Vl u-margin-Ts">
    <div class="grid grid--center u-padding-Vs">
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            What is the GoCardless referral scheme?
          </h4>
          <p>
            The scheme lets you earn money by recommending us.
            Refer anyone to GoCardless and you both get £50 off GoCardless
            fees.
          </p>
        </article>
      </div>
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            How many referrals can I make each month?
          </h4>
          <p>
            There's no limit. We encourage relevant referrals: Direct Debit suits those taking recurring payments and subscriptions.
          </p>
        </article>
      </div>
    </div>

     <div class="grid grid--center u-padding-Vs">
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            What qualifies as a successful referral?
          </h4>
          <p>
            A referral just needs to click your referral link and sign up. We will immediately credit them with £50.
          </p>
        </article>
      </div>
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            How do I share my referral code?
          </h4>
          <p>
            From your <a href="https://dashboard.gocardless.com/referrals">referral page</a>. We encourage you to add it to
            your blog/website and Tweet about it as well!
          </p>
        </article>
      </div>
    </div>

    <div class="grid grid--center u-padding-Vs">
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            How can I see how many referrals I've made?
          </h4>
          <p>
            We send you an email whenever anyone signs up using your referral link, and we send you a list at the end of each month.
          </p>
        </article>
      </div>
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            Where can I find my referral code?
          </h4>
          <p>
            Your unique referral code will be displayed in the
            <a href="https://dashboard.gocardless.com/referrals">referral section</a>
            of your GoCardless account.
          </p>
        </article>
      </div>
    </div>

     <div class="grid grid--center u-padding-Vs">
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            How do I receive the referral credit?
          </h4>
          <p>
            Fees are deducted as normal. At the end of the month, we credit the referral fee to you &amp; send you an email notification.
          </p>
        </article>
      </div>
      <div class="grid__cell u-size1of2">
        <article>
          <h4 class="u-text-h3">
            What if the person doesn't use my link?
          </h4>
          <p>
            Just let us know if someone you refer forgets to use your
            link - we can easily activate the referral link for you both.
          </p>
        </article>
      </div>
    </div>
  </div>

  <hr>

  <div class="page-container u-text-center">
    <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h2 u-color-primary">Get your referral link from your dashboard</h1>
    <h2 class="u-color-meta u-text-heading u-text-h4 u-margin-Ts u-margin-Bl">Start earning £50 of GoCardless fees credit for every person you refer</h2>
    <a class="btn btn--info" href="https://dashboard.gocardless.com/referrals">Get started</a>
  </div>

{% endblock %}
