{% extends "plain.html" %}

{% block title %}Referral Scheme: Get £50 off your fees{% endblock %}
{% block meta_tags %}<meta name="description" content="Earn money by recommending GoCardless. Refer someone else and you'll both get £50 credit towards GoCardless fees.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-text-center u-color-invert u-text-xl u-text-light u-margin-Vxm">
      Earn money by referring GoCardless
    </h1>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Txl">
      <div class="grid grid--center">
        <div class="grid__cell u-size3of12 u-text-center">
          <div class="pricing-disc u-text-xl u-text-heading u-color-primary u-text-light u-center">£50</div>
          <p class="u-color-heading u-padding-Vxl">
            <strong>We give you</strong> a £50 credit towards your GoCardless fees
          </p>
        </div>
        <div class="grid__cell u-size3of12 u-text-center">
          <div class="pricing-disc u-text-xl u-text-heading u-color-primary u-text-light u-center">£50</div>
          <p class="u-color-heading u-padding-Vxl">
            <strong>We give them</strong> the same £50 credit to help them get started
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">

    <div class="grid u-size4of5 u-center u-padding-Vxl">

      <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Rm">
        <div class="u-color-heading">
          <strong>
            What is the GoCardless referral scheme?
          </strong>
        </div>
        <p class="u-color-p">
          The scheme lets you earn money by recommending us. Refer anyone to GoCardless and you both get £50 off GoCardless fees.
        </p>
      </div>

      <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Lm">
        <div class="u-color-heading">
          <strong>
            What qualifies as a successful referral?
          </strong>
        </div>
        <p class="u-color-p">
          A referral just needs to click your referral link and sign up. We will immediately credit them with £50.
        </p>
      </div>

      <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Rm">
        <div class="u-color-heading">
          <strong>How many referrals can I make each month?</strong>
        </div>
        <p class="u-color-p">
          There's no limit. We encourage relevant referrals: Direct Debit suits those taking recurring payments and subscriptions.
        </p>
      </div>

      <div class="grid__cell u-size1of2 u-padding-Bxxl u-padding-Lm">
        <div class="u-color-heading">
          <strong>How do I share my referral code?</strong>
        </div>
        <p class="u-color-p">
          From the <a href="https://dashboard.gocardless.com/referrals" class="u-link-medium-gray u-text-underline">referral page inside Dashboard</a>. We encourage you to add it to your blog/website and Tweet about it as well!
        </p>
      </div>

      <div class="grid__cell u-size1of2 u-padding-Rm">
        <div class="u-color-heading">
          <strong>How do I receive the referral credit?</strong>
        </div>
        <p class="u-color-p">
          Fees are deducted as normal. At the end of the month, we credit the referral fee to you &amp; send you an email notification.
        </p>
      </div>

      <div class="grid__cell u-size1of2 u-padding-Lm">
        <div class="u-color-heading">
          <strong>How can I see how many referrals I've made?</strong>
        </div>
        <p class="u-color-p">
          We send you an email whenever anyone signs up using your referral link, and we send you a list at the end of each month.
        </p>
      </div>

    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
