{% extends "plain.html" %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "fr/_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-text-center u-color-invert u-text-xl u-text-light u-margin-Vxm">
      Notre Politique de Confidentialité
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl grid">
    <div class="u-padding-Vxl">
      {% include "fr/legal/_sidebar.html" %}
      <div class="grid__cell u-size-8of12">
        <h2 class="u-text-heading-light u-text-m u-color-heading">Politique de confidentialité</h2>
        <div class="well u-margin-Tm">
          <p class="para">
            <strong>Dernière modification :</strong> 28 Janvier 2015
          </p>
          <p class="para">
            Il est possible que nous modifions notre politique de confidentialité de temps en temps. Nous vous recommandons de vérifier le contenu de cette page régulièrement pour vous assurer que vous êtes satisfait avec ces changements. Nous essayons de vous tenir informé en avance de tout changement effectué.
          </p>
        </div>

        <p class="para">
          Les termes "<em>GoCardless</em>", "<em>nous</em>", "<em>notre</em>" sont utilisés dans ce document pour désigner GoCardless Limited.
        </p>
        <p class="para">
          La protection de vos données est très importante pour nous. Nous avons mis en place des mesures pour garantir que toute donnée personnelle que nous collectons est traitée conformément aux meilleures pratiques de gestion des données et aux règlementations en vigueur applicables.
        </p>
        <p class="para">
          Nos visiteurs utilisent GoCardless pour procéder à des paiements en ligne qui ne sont pas en lien avec leur activité professionnelle. Nos visiteurs utilisent également GoCardless pour leur activité professionnelle et sont par exemple des fournisseurs désirant être payés par leurs clients par prélèvement bancaire via GoCardless.
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          1.  Que couvre notre politique de confidentialité ?
        </h3>
        <p class="para">
          Notre politique vous informe sur la façon dont nous traitons vos données personnelles.
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          2.  Quelles sont les données personnelles collectées ?
        </h3>
        <p class="para">
          Nous pouvons collecter, stocker et utiliser les données à caractère personnel suivantes:
          <ul class="list">
            <li>
              Nom, adresse, adresse email et/ou numéro de téléphone ;
            </li>
            <li>
              Des informations sur votre ordinateur, sur vos visites et votre utilisation de ce site internet (y compris l'emplacement géographique, le type de navigateur, la source de signalement, la durée de la visite et le nombre de pages consultées) ;
            </li>
            <li> 
              Toute autre information que vous choisissez de nous envoyer.
            </li>
          </ul>
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          3.  Collecte et utilisation de vos données
        </h3>
        <p class="para">
          Nous collectons les données des visiteurs de la manière suivante :
        </p>
        <ul class="list">
          <li>
            Si vous nous appelez ou envoyez une requête par email ou par toute autre méthode, nous utiliserons vos données pour répondre à vos requêtes / questions
          </li>
          <li>
            Lorsque vous visitez notre site, il est possible que nous collections automatiquement certaines données sur votre visite, et il est possible que nous utilisions des "<em>cookies</em>". Voir notre <a href="#cookies" class="u-link-color-p u-text-underline">section Cookies</a> ci-dessous pour plus d’information.
          </li>
          <li>
            Les appels téléphoniques peuvent être enregistrés pour des raisons de sécurité et réglementaires, et peuvent être évalués dans le cadre de nos procédures de contrôle qualité.
          </li>
          <li>
            Si vous nous envoyez votre CV, il est possible que nous conservions vos données pour des opportunités professionnelles ultérieures. Si vous souhaitez vous y opposer, veuillez nous en informer en adressant un email à <a href="mailto:{{ SUPPORT_EMAIL }}" class="u-link-color-p u-text-underline">{{ SUPPORT_EMAIL }}</a> et nous supprimerons vos données au plus vite.
          </li>
        </ul>
        <p class="para">
         Vous nous autorisez expressément à utiliser vos renseignements personnels pour:
        </p>
        <ul class="list">
          <li>
            administrer le site et en assurer la sécurité et la protection ; 
          </li>
          <li>
            améliorer votre expérience de navigation en personnalisant le site internet ; 
          </li>
          <li>
            permettre votre utilisation des services disponibles sur le site ;
          </li>
          <li>
            vous envoyer des communications commerciales générales (non publicitaires) ;
          </li>
          <li>
            vous envoyer les notifications que vous avez expressément demandées par emails ; 
          </li>
          <li>
            vous envoyer des communications publicitaires liés à nos activités que nous pensons avoir un intérêt pour vous (vous pouvez nous informer à tout moment que vous ne souhaitez plus recevoir de communications publicitaires) ; 
          </li>
          <li>
            fournir à des tiers des informations statistiques sur nos utilisateurs - mais ces informations ne seront pas utilisées pour identifier des utilisateurs individuels ; 
          </li>
          <li>
            traiter les demandes et les plaintes faites par ou sur vous-même en lien avec le site.
          </li>
        </ul>
        <p class="para">
          Il est possible que nous communiquions vos données personnelles à nos partenaires pour leur donner la possibilité de fournir des services qui sont nécessaires à la bonne exécution de nos services. Nous respectons votre vie privée et nous ne faisons aucune utilisation commerciale de vos données personnelles avec des tiers ou des entreprises non-affiliées sans recevoir explicitement votre autorisation.
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s" id="cookies">
          4.  Cookies
        </h3>
        <p class="para">
          Notre site web utilise des cookies qui sont des fichiers de lettres et de chiffres de petite taille stockés sur votre ordinateur permettant de vous distinguer des autres utilisateurs de notre site internet, ce qui nous permet de vous offrir une meilleure expérience lorsque vous naviguez sur notre site. En continuant de naviguer sur notre site, vous acceptez notre utilisation des cookies.
        </p>
        <p class="para">
          Nos cookies collectent des informations systèmes, comme le type de navigateur internet et le système d’exploitation que vous utilisez, le site internet d’où vous venez, le temps passé sur chaque page, les pages consultées sur le site,  votre adresse IP (l’adresse unique qui identifie votre ordinateur sur internet) qui est automatiquement reconnue par notre serveur web et d’autres informations générales. 
        </p>
        <p class="para">
          Ces informations sont collectées pour l’administration de nos systèmes et pour fournir des informations globales / agrégées à nos partenaires et fournisseurs exclusivement pour le bon fonctionnement des services qu’ils nous fournissent. Ce sont des données statistiques sur la navigation de nos utilisateurs ne contenant pas de données personnelles permettant l’identification d’un utilisateur. La plupart des navigateurs permettent à l’utilisateur de supprimer ou de désactiver les cookies. Vous pouvez en général trouver comment faire en vous référant au menu de votre navigateur ou en visitant le site de votre navigateur. Ceci devrait vous indiquer comment éviter que votre navigateur accepte de nouveaux cookies ; être notifié quand vous recevez de nouveaux cookies ; et désactiver complètement les cookies.
        </p>
        <p class="para">
          Toutefois, vous pourriez constater que certains aspects de notre site cessent de fonctionner ou fonctionnent moins bien si vous faites cela. 
        </p>
        <p class="para">
          Nos cookies ont une durée qui peut aller de 1 à 20 ans.
        </p>
        <p class="para">
          Nous vous demanderons votre consentement à l’installation de cookies tous les 13 mois.
        </p>
        <p class="para">
          Nous vous remercions de noter que des tiers (y compris, par exemple, des réseaux publicitaires et des fournisseurs de services externes tels que des services d'analyse de trafic web) peuvent également utiliser des cookies sur lesquels nous n'avons aucun contrôle.
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          5.  Informations divulguées
        </h3>
        <p class="para">
          Nous pouvons divulguer des informations vous concernant à l'un quelconque de nos employés, dirigeants, agents, fournisseurs ou sous-traitants dans la mesure raisonnablement nécessaire aux fins énoncées dans cette politique de confidentialité.
        </p>
        <ul class="list">
          <li>
            dans la mesure où nous sommes tenus de le faire par la loi ;
          </li>
          <li>
            dans le cadre d'une procédure judiciaire ou une procédure judiciaire potentielle ;
          </li>
          <li>
            afin d'établir, exercer ou de défendre nos droits (y compris fournir des informations à d'autres à des fins de prévention de la fraude et de réduction du risque de crédit) ;
          </li>
        </ul>
        <p class="para">
          En outre, nous pouvons divulguer les informations vous concernant :
        </p>
        <p class="para">
          Sous réserve des dispositions de la présente politique de confidentialité, nous ne fournirons pas vos informations à des tiers. 
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          6.  Les transferts de données internationaux
        </h3>
        <p class="para">
          Les informations que nous collectons peuvent être stockées, traitées, et transférées dans tous les pays au sein desquels nous exerçons nos activités afin de nous permettre d'utiliser ces informations conformément à la présente politique de confidentialité.
        </p>
        <p class="para">
          Les informations que vous fournissez ne seront pas transférées en dehors de l’Union Européenne.
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          7.  La sécurité de vos données personnelles
        </h3>
        <p class="para">
          Nous prendrons les précautions techniques et organisationnelles raisonnables pour prévenir la perte, l'usage abusif ou la modification de vos données personnelles. 
        </p>
        <p class="para">
          Nous stockerons toutes les données personnelles que vous fournissez dans nos systèmes sécurisés. 
        </p>
        <p class="para">
          Bien sûr, la transmission de données sur Internet est par nature insécurisée, et nous ne pouvons garantir la sécurité des données transmises sur Internet. 
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          8.  Vos droits
        </h3>
        <p class="para">
          En application de la loi 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les internautes disposent d’un droit d’accès, de rectification, de modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut être exercé par voie postale auprès de GoCardless Ltd, 338-346 Goswell Road, EC1V 7LQ Londres, Grande Bretagne ou par voie électronique à l’adresse email suivante : <a href="mailto:{{ SUPPORT_EMAIL }}" class="u-link-color-p u-text-underline">{{ SUPPORT_EMAIL }}</a>.
        </p>
        <p class="para">
          Vous pouvez nous demander de ne pas traiter vos données personnelles à des fins de marketing à tout moment par e-mail. (En pratique, vous aurez généralement soit accepté expressément à l'avance l'utilisation de vos données personnelles à des fins de marketing, soit nous vous donnerons l'opportunité de décider que vos données personnelles ne fassent plus l’objet d’une utilisation à des fins de marketing.) 
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          9.  Mise à jour des informations
        </h3>
        <p class="para">
          Merci de nous faire savoir si les données personnelles que nous détenons à votre sujet doivent être corrigées ou mises à jour.
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          10. Contact 
        </h3>
        <p class="para">
          Si vous avez des questions au sujet de cette politique de confidentialité ou de traitement de vos données personnelles, nous vous prions de nous écrire par e-mail en utilisant l’adresse suivante : <a href="mailto:{{ SUPPORT_EMAIL }}" class="u-link-color-p u-text-underline">{{ SUPPORT_EMAIL }}</a>.
        </p>

        <h3 class="u-text-heading-light u-color-heading u-margin-Vm u-text-s">
          11. Loi applicable et Tribunal compétent
        </h3>
        <p class="para">
          La présente politique de confidentialité est soumise à la loi française. En cas de litige et dans le cas où un accord amiable ne pourrait intervenir, compétence exclusive est attribuée au Tribunal de Commerce de Paris.
        </p>

      </div>
    </div>
  </div>

  {% include "fr/_site_footer.html" %}

</div>

{% endblock %}
