{% extends "default.html" %}

{% block title %}Grow Wild - Customer Stories{% endblock %}

{% block content %}
  <div class="grid grid--center">
  <h1 class="page-heading u-margin-Bl">Grow Wild reduced admin time by 97% by using Direct Debit with GoCardless</h1>
    <div class="grid__cell u-2of12 u-padding-Bl">
      <%= image_tag "home/stories/grow-wild/headshot.jpg", class: 'u-border-circle'%>
    </div>
    <div class="grid__cell u-8of12">
      <h2 class="u-text-heading">&ldquo;Now processing payments takes 5 minutes not 3 and a half hours.&rdquo;</h2>
      <span class="testimonial--citation">
        Lindsay Girvin, Owner, Grow Wild
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Reduce admin time</strong> by 97.5%</li>
          <li><strong>Collect payments from 98% of customers</strong> using GoCardless</li>
          <li><strong>Complete payment runs in less than 5 minutes</strong></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bl">

      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
      “We were spending at least 10 hours a week on payments”
      </div>
      <p class="para">
        Grow Wild is a veg box company established in 1998.  Until last year they were reliant on traditional payment collection methods such as cheques, cash and cards.  “This was extremely time consuming; we were spending at least 10 hours a week manually entering payments, chasing late payments and trying to update expired card details.”
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
      “I couldn’t believe collecting payments could be so simple”
      </div>
      <p class="para">
       They started to think that Direct Debit might be the solution but were put off by the expense involved.  “We chose GoCardless based on a recommendation from Dogmoor, another GoCardless customer.  They said it’s simple and easy and brilliant so we looked into it.  I couldn’t believe collecting payments could be so simple.” Now 98% of Grow Wild’s customers pay through GoCardless.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      “Processing payments takes 5 minutes rather than 3 ½ hours”
      </div>
      <p class="para">
        The main benefit for Lindsay has been the reduced admin time.  “Before using GoCardless we were spending over ten hours a week managing the payment process. Now processing payments takes 5 minutes rather than 3 and a half hours.  This frees me up to focus on diversifying and expanding the business. I can be more strategic and less operational.”
      </p>
      <p class="para">
        Grow Wild have found GoCardless incredibly easy to use. Lindsay explained that “it is incredibly easy for our customers to see what payments are going out.  It’s also a great reference for us.  If customers have queries we can go straight to GoCardless to see what’s what.”
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}

{% block footer_content %}
  {% include "_affixed_cta_component.html" %}
{% endblock %}
