{% extends "plain.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}

{% block body %}

  <div id="test-variant__current">
    <div>
      <div class="frame-container site-container site-gutter u-cf align-btn-small u-padding-Vxs">
        <div class="u-pull-start">
          <a href="/">
            <i class="icon-gc-logo-header logo-header"></i>
          </a>
        </div>
        <div class="u-pull-end">
          <nav class="nav u-pull-start">
            <a class="nav__item"
              href="/" ng-gc-href-active>
              Home
            </a>
            <a class="nav__item"
              href="/features" ng-gc-href-active>
              Features
            </a>
            <a class="nav__item"
              href="/stories" ng-gc-href-active>
              Customers
            </a>
            <a class="nav__item"
               href="/pricing" ng-gc-href-active>
              Pricing
            </a>
            <a class="nav__item"
               href="/guides" ng-gc-href-active>
              Guides
            </a>
          </nav>

          <ul class="u-cf u-pull-start">
            <li class="u-pull-start">
              <a href="/users/sign_in" class="btn btn--hollow btn--small" id="login">Login</a>
            </li>
            <li class="u-pull-start u-margin-Ls">
              <a href="/merchants/new" class="btn btn--small" id="nav_sign_up">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="horizontal-ruler-top">
      <div class="site-container frame-container frame-container--end">
        <div class="{% block page_container_class %}page-container{% endblock %}">

          <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h1 benefits-header--blue u-text-center">GoCardless is the UK’s leading<br>online Direct Debit provider</h1>

          <div class="grid grid--center u-margin-Bm u-margin-Tl">
            <div class="grid__cell u-8of12">
              <div class="grid">

                {% include "_key_benefits.html" %}

              </div>
            </div>
          </div>

          <div class="grid grid--center u-margin-Bm u-margin-Tl">
            <div class="grid__cell u-6of12">
              <div class="grid">
                <div class="grid__cell u-1of2">
                  <a href="/watch-a-demo" class="btn btn--block btn--info">Watch a demo</a>
                </div>

                <div class="grid__cell u-1of2">
                  <a href="/features" class="btn btn--block btn--info-hollow u-margin-Ls">Find out more</a>
                </div>
              </div>
            </div>
          </div>

          <div class="grid grid--center u-margin-Bm u-margin-Ts">
            <div class="grid__cell u-12of12 u-text-center">
            <hr>
            <p>
              <b>SEPA is coming.</b> We're bringing Simple Direct Debit to Europe&hellip;
              <a href="/europe" class="u-text-underline">Register your interest</a>
            </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="test-variant__benefits-led" class="u-hidden">

    <div class="hero-worry hero-worry--girl u-full u-center u-text-center">

      <div class="site-container u-text-end u-padding-Vm u-text-heading">
        <a href="/users/sign_in" class="u-link-invert">Log in</a>
        <a href="/merchants/new" class="u-link-invert u-margin-Lm">Sign up</a>
      </div>

      <div class="site-container">
        <div class="grid grid--center">
          <div class="grid__cell u-1of2 u-text-center u-text-heading hero-worry__heading">
            <h1 class="u-text-invert u-text-hero u-text-light">Stop worrying about online payments</h1>
            <i class="icon-gc-logo-invert hero-worry__logo"></i>
          </div>
          <div class="grid__cell u-1of2">
            <div class="hero-worry__modal"></div>
          </div>
        </div>
      </div>

    </div>

    <div class="benefits-led-container">
      <div class="site-container u-text-center u-padding-Vl">

        <div class="u-padding-Vl"><div class="u-padding-Vs">
          <h2 class="u-text-heading u-text-meta-dark">GoCardless makes it quick and easy to take Direct Debit</h2>
          <div class="u-5of12 u-center u-padding-Vm">
            <div class="grid">
              <div class="grid__cell u-1of2">
                <a href="/watch-a-demo" class="btn btn--block btn--info btn--large">Watch a demo</a>
              </div>
              <div class="grid__cell u-1of2">
                <a href="/features" class="btn btn--block btn--hollow btn--large">Learn more</a>
              </div>
            </div>
          </div>
        </div></div>

        <hr class="horizontal-ruler-top-double">
        <div class="u-padding-Vl"><div class="u-padding-Vl">
          <i class="benefits-led-container__people-icon u-margin-Bs"></i>
          <h1 class="u-text-heading u-text-hero benefits-led-container__heading--primary-blue">SIMPLE TO USE</h1>
          <p>Sign up for free, set up in minutes. Manage everything online.</p>
        </div></div>

        <hr class="horizontal-ruler-top-double">
        <div class="u-padding-Vl"><div class="u-padding-Vl">
          <i class="benefits-led-container__money-icon u-margin-Bs"></i>
          <h1 class="u-text-heading u-text-hero benefits-led-container__heading--primary-green">AMAZING VALUE</h1>
          <p>1% up to £2 with no other fees. Incredible, tailored rates for high volume</p>
        </div></div>

        <hr class="horizontal-ruler-top-double">
        <div class="u-padding-Vl"><div class="u-padding-Vl">
          <i class="benefits-led-container__service-icon u-margin-Bs"></i>
          <h1 class="u-text-heading u-text-hero benefits-led-container__heading--primary-red">LEGENDARY SERVICE</h1>
          <p>Our personal support team are the best in the industry</p>
        </div></div>

        <hr class="horizontal-ruler-top-double">
        <div class="u-padding-Vl"><div class="u-padding-Vl">
          <p class="u-margin-Bl">We've been featured in</p>
          <div class="benefits-led-container__publications u-center"></div>
        </div></div>

        <hr class="horizontal-ruler-top-double u-margin-Vl">
        <div class="u-padding-Vl"><div class="u-padding-Vs">
          <p class="u-text-h2 u-text-heading u-text-meta-dark">Get started today. <a href="/merchants/new" class="u-text-underline benefits-led-container__link--red">Sign up for free</a></p>
        </div></div>

      </div>
    </div>
  </div>

  <div class="u-margin-Ts">
    <div class="site-container site-gutter">
      {% include "_site_footer.html" %}
    </div>
  </div>

{% endblock %}
