{% extends "plain.html" %}

{% block body %}
  <div>
    <div class="frame-container site-container site-gutter u-cf align-btn-small u-padding-Vxs">
      <div class="u-pull-start">
        <a href="/">
          <i class="icon-gc-logo-header logo-header"></i>
        </a>
      </div>
      <div class="u-pull-end">
        <nav class="nav u-pull-start">
          <a class="nav__item"
            href="/">
            Home
          </a>
          <a class="nav__item"
            href="/features">
            Features
          </a>
          <a class="nav__item"
            href="/stories">
            Customers
          </a>
          <a class="nav__item"
             href="/pricing">
            Pricing
          </a>
          <a class="nav__item"
             href="/guides">
            Guides
          </a>
        </nav>

        <ul class="u-cf u-pull-start">
          <li class="u-pull-start">
            <a href="/users/sign_in" class="btn btn--hollow btn--small" id="login">Login</a>
          </li>
          <li class="u-pull-start u-margin-Ls">
            <a href="/merchants/new" class="btn btn--small" id="nav_sign_up">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="horizontal-ruler-top">
    <div class="site-container frame-container frame-container--end">
      <div class="{% block page_container_class %}page-container{% endblock %}">
        {% block content %}Provide content!{% endblock %}
      </div>
    </div>
  </div>

  {% block footer_content %}{% endblock %}

  <div class="u-margin-Ts">
    <div class="site-container site-gutter">
      {% include "_site_footer.html" %}
    </div>
  </div>
{% endblock %}
