{% extends "default.html" %}

{% block title %}Zen Systems - Customer Stories{% endblock %}

{% block content %}
  <div class="grid grid--center">
  <h1 class="page-heading u-margin-Bl">Zen Systems reduced admin time by 90% by switching to Direct Debit with GoCardless
  </h1>
    <div class="grid__cell u-2of12 u-padding-Bl">
      <%= image_tag "home/stories/voip/adam-headshot.jpg", class: 'u-border-circle'%>
    </div>
    <div class="grid__cell u-8of12">
      <h2 class="u-text-heading">&ldquo;Thanks to GoCardless, invoices are now paid on time, meaning the admin time spent collecting payments has all but disappeared and cash flow issues are a thing of the past.&rdquo;</h2>
      <span class="testimonial--citation">
        Adam Howard-Dobson, Zen Systems
      </span>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bs">
      <h3 class="section-heading">
        GoCardless helped them&hellip;
      </h3>
      <p class="para">
        <ul class="list">
          <li><strong>Reduce debtor days</strong></li>
          <li><strong>Set up customer payments in less than a minute</strong></li>
          <li><strong>Reduce admin time spent chasing payments</strong> by 90%</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="grid grid--center">
    <div class="grid__cell u-10of12 u-padding-Bl">
      <h3 class="section-heading">
        Challenge
      </h3>
      <div class="section-subheading">
      “We were wasting administrative time collecting payments”
      </div>
      <p class="para">
        <%= link_to "Zen Systems", "http://www.zensystems.co.uk",:rel => 'nofollow' %> offer a range of network and telecommunication solutions across the UK. With customers’ VoIP fees varying on a monthly basis, and wholesale costs attached to each, Zen Systems needed a flexible but reliable way of collecting invoices.

      <p class="para">
        “When you start getting large volumes of customers, there is an associated cost of sale with those services,” says Adam Howard-Dobson, Services Director. With some customers taking up to 3 months to pay, the uncertainty was damaging the business and we were wasting administrative time collecting payments.
      </p>

      <h3 class="section-heading">
        Solution
      </h3>
      <div class="section-subheading">
       “With GoCardless, setting up customers took less than a minute”
      </div>
      <p class="para">
        “We knew that Direct Debit would put us in control of our cash flow. With GoCardless, setting up customers took less than a minute,” explains Adam.
      </p>
      <p class="para">
        Zen Systems now require all VoIP customers to sign up with GoCardless.
      </p>

      <h3 class="section-heading">
        Benefits
      </h3>
      <div class="section-subheading">
      “Admin time spent collecting payments has all but disappeared”
      </div>
      <p class="para">
        Since switching to GoCardless, Zen Systems have been able to easily collect fees varying on a monthly basis while reducing admin time.
      </p>
      <p class="para">
        “Thanks to GoCardless, invoices are now paid on time, meaning the admin time spent collecting payments has all but disappeared and cash flow issues are a thing of the past.”
      </p>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Tl">
    <div class="grid__cell u-10of12">
      <h1 class="section-heading">Read more customer stories...</h1>
    </div>
  </div>

  {% include "stories/_all_stories.html" %}
{% endblock %}

{% block footer_content %}
  {% include "_affixed_cta_component.html" %}
{% endblock %}
