{% extends "plain.html" %}

{% block title %}New{% endblock %}

{% block body %}

<div class="page-hero page-hero--home page-hero--large u-relative u-size-full">
  <div class="site-container page-hero__container">
    <div class="site-header site-gutter u-cf align-btn-small u-padding-Tm">
      {% include "_invert_nav.html" %}
    </div>
    <div class="page-hero__inner">
      <div class="page-hero__text">
        <div class="u-text-heading u-color-invert u-text-center hero-heading u-text-light">We make payments work for businesses</div>
        <div class="page-hero__subheading u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs">GoCardless lets any business or organisation take recurring payments online</div>
        <div class="u-text-center u-margin-Tl">
          <a href="" class="btn btn--new btn--invert u-size2of12">Learn more</a>
          <a href="" class="btn btn--new btn--invert-hollow u-size2of12 u-margin-Lm">Sign up now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="site-container u-text-center u-padding-Vl u-margin-Vl">

  <div class="u-size1of2 u-center">
    <div class="u-text-heading u-color-heading u-text-l u-text-light">
      Start with a single customer
    </div>
    <p class="u-text-s u-color-paragraph u-margin-Txs">
      GoCardless gives you access to the cheaper fees and lower failure rate of Direct Debit, without the expense and hassle of traditional providers
    </p>
  </div>

  <div class="grid u-margin-Tl u-padding-Tm">
    <div class="grid__cell u-size1of3 u-text-center">
      <i>icon</i>
      <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Save money</div>
      <p class="u-size3of5 u-center u-color-paragraph u-margin-Txs">
        Our fees our considerably cheaper than cards and services like Paypal
      </p>
    </div>
    <div class="grid__cell u-size1of3 u-text-center">
      <i>icon</i>
      <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Save time</div>
      <p class="u-size3of5 u-center u-color-paragraph u-margin-Txs">
        Automatically collect one-off or recurring payments from your customers
      </p>
    </div>
    <div class="grid__cell u-size1of3 u-text-center">
      <i>icon</i>
      <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Improve cashflow</div>
      <p class="u-size3of5 u-center u-color-paragraph u-margin-Txs">
        Track payments in real time, meaning you know exactly what’s coming, and when
      </p>
    </div>
  </div>

  <div class="u-color-primary u-text-upcase u-text-xxs u-margin-Tl u-padding-Tm u-text-heading u-text-semi">Learn about GoCardless for Small Businesses</div>

</div>

<hr>

<div class="site-container u-text-center u-padding-Vl u-margin-Vl">

  <div class="u-size1of2 u-center">
    <div class="u-text-heading u-color-heading u-text-light u-text-l u-text-light">
      Scale to millions
    </div>
    <p class="u-text-s u-color-paragraph u-margin-Txs">
      We’re a BACS approved bureau that collects millions of pounds for our merchants every single day. Whatever your scale, GoCardless works for you.
    </p>
  </div>

  <div class="u-text-center u-margin-Tl u-padding-Tm">
    image
  </div>

  <div class="u-color-primary u-text-upcase u-text-xxs u-margin-Tl u-padding-Tm u-text-heading u-text-semi">Learn about GoCardless for Enterprises</div>

</div>

<hr>

<div class="site-container u-text-center u-padding-Vl u-margin-Vl">

  <div class="product-grid grid">
    <div class="u-text-center grid__cell u-size1of3 u-padding-Vl">
      <div class="product-grid__container u-padding-Vl">
        <i>icon</i>
        <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Small Businesses</div>
        <p class="u-size4of5 u-center u-color-paragraph u-margin-Txs">
          For those taking fewer than 500 payments a month
        </p>
      </div>
      <a href="" class="product-grid__btn btn btn--new u-size-full">Learn more</a>
    </div>
    <div class="u-text-center grid__cell u-size1of3 u-padding-Vl">
      <div class="product-grid__container u-padding-Vl">
        <i>icon</i>
        <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Enterprises</div>
        <p class="u-size4of5 u-center u-color-paragraph u-margin-Txs">
          For organisations taking more than 500 payments a month
        </p>
      </div>
      <a href="" class="product-grid__btn btn btn--new u-size-full">Learn more</a>
    </div>
    <div class="u-text-center grid__cell u-size1of3 u-padding-Vl">
      <div class="product-grid__container u-padding-Vl">
        <i>icon</i>
        <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Integrations</div>
        <p class="u-size4of5 u-center u-color-paragraph u-margin-Txs">
          For taking Direct Debit payments using your existing software
        </p>
      </div>
      <a href="" class="product-grid__btn btn btn--new u-size-full">Learn more</a>
    </div>
  </div>

</div>

<hr class="u-margin-Bn">

<div class="u-background-light-gray u-text-center u-padding-Vl">
  <div class="site-container u-padding-Vl">

    <div class="u-size1of2 u-center">
      <div class="u-text-heading u-color-heading u-text-l u-text-light">
        Simple, transparent pricing for everyone
      </div>
      <a href="" class="btn btn--new btn--hollow u-margin-Tm">Learn about our pricing</a>
      <hr class="u-margin-Tl horizontal-rule--dark">
      <p class="u-color-heading">Taking more than 500 transactions a month?</p>
      <div class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-margin-Txxs">
        Learn about our enterprise pricing
      </div>
    </div>

  </div>
</div>

<hr class="u-margin-Tn">

<div class="site-container u-text-center u-padding-Vl u-margin-Vl">

  <div class="u-padding-Vl">
    <a href="" class="btn btn--new">Start taking payments</a>
    <p class="u-color-paragraph u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
  </div>

</div>

<div class="page-footer u-color-invert u-padding-Tl">
  <div class="u-padding-Vl u-text-center">
    Footer
  </div>
  <div class="page-footer__end u-text-center u-padding-Vl u-margin-Tl">
    <div class="u-padding-Vl">
      <i>icon</i>
      <p class="u-margin-Txs">GoCardless works with UK bank accounts only. Coming soon to Europe.</p>
      <div class="u-color-invert u-text-upcase u-text-xxs u-text-heading u-text-semi u-margin-Txs">
        Register your interest
      </div>
    </div>
  </div>
</div>

{% endblock %}
