{% extends "default.html" %}

{% block title %}GoCardless Dashboard Features{% endblock %}
{% block meta_tags %}<meta name="description" content="Thousands of businesses use the GoCardless Dashboard to collect payments every day. Read more about the features in our Dashboard.">{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}

  <div class="u-text-center u-margin-Tl u-padding-Tl">
    <h1 class="u-text-normal u-text-heading u-text-xl u-color-primary">The UK's most popular Direct Debit software</h1>
    <h2 class="u-color-meta u-text-heading u-text-l u-margin-Ts u-margin-Bs">Thousands of businesses use our dashboard every day to collect payments</h2>
  </div>

  <div class="grid grid--center u-padding-Ts u-padding-Bl">
    <div class="grid__cell u-size4of12">
      <div class="grid">
        <div class="grid__cell u-size1of2">
          <a href="/watch-a-demo" class="btn btn--block btn--info">Watch a demo</a>
        </div>

        <div class="grid__cell u-size1of2">
          <a href="/merchants/new" class="btn btn--block btn--info-hollow u-margin-Ls">Sign up now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="grid site-gutter u-padding-Ts">
    <div class="grid__cell u-size12of12 u-margin-Bn">
      <img alt="Dashboard hero@2x" src="/images/products/dashboard-hero@2x.png">
    </div>
  </div>

  <div class="gradient-fill-dark">
    <div class="site-gutter u-padding-Vm">
      <div class="u-text-center u-padding-Tl">
        <i class="icon-dashboard-control u-margin-Bs"></i>
        <h1 class="u-text-normal u-text-heading u-text-l u-color-invert">Fully flexible payments</h1>
        <p class="u-color-invert-secondary u-text-m u-margin-Ts">Set up one-off and recurring payments in seconds</p>
      </div>

      <div class="grid">
        <div class="grid__cell u-size1of1 grid__cell--center">
          <img alt="Take payment modal@2x" src="/images/products/take-payment-modal@2x.png">
        </div>
      </div>

      <div class="grid u-padding-Bl">
        <div class="grid__cell u-size1of3">
          <h4 class="u-color-invert u-text-s u-margin-Bxs u-margin-Ts">
            <i class="ss-barchart section-subheading__icon"></i>
            Variable Direct Debit
          </h4>
          <p class="u-color-invert-secondary">Take varying or ad hoc payments whenever you want with just a couple of clicks.</p>
        </div>
        <div class="grid__cell u-size1of3">
          <h4 class="u-color-invert u-text-s u-margin-Bxs u-margin-Ts">
            <i class="ss-refresh section-subheading__icon"></i>
            Recurring payment plans
          </h4>
          <p class="u-color-invert-secondary">Automate recurring payments with simple, editable payment plans.</p>
        </div>
        <div class="grid__cell u-size1of3">
          <h4 class="u-color-invert u-text-s u-margin-Bxs u-margin-Ts">
            <i class="ss-lock section-subheading__icon"></i>
            Bulk billing
          </h4>
          <p class="u-color-invert-secondary">Take payment from hundreds of customers at once by uploading a CSV.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="site-gutter u-padding-Vm">
    <div class="u-padding-Vl u-text-center ">
      <i class="icon-dashboard-users u-margin-Bs"></i>
      <h2 class="u-text-heading u-margin-Bxs u-color-accent">Simple customer setup</h2>
      <p class="u-text-m">Whether you have ten or ten thousand customers,<br>you'll be up and running in minutes</p>
    </div>

    <div class="grid">
      <div class="grid__cell u-size1of1 grid__cell--center">
        <img alt="Add customer modal@2x" src="/images/products/add-customer-modal@2x.png">
      </div>
    </div>

    <div class="grid u-padding-Bl">
      <div class="grid__cell u-size1of3">
        <h4 class="u-text-s u-margin-Bxs u-margin-Ts">
          <i class="ss-dashboard section-subheading__icon"></i>
          From your dashboard
        </h4>
        <p>Ask your customers for a Direct Debit in two clicks. We'll email them asking them to complete our payment pages.</p>
      </div>
      <div class="grid__cell u-size1of3">
        <h4 class="u-text-s u-margin-Bxs u-margin-Ts">
          <i class="ss-link section-subheading__icon"></i>
          From your website
        </h4>
        <p>Link to our payment pages directly from your website. We'll redirect your customer back to you after they pay.</p>
      </div>
      <div class="grid__cell u-size1of3">
        <h4 class="u-text-s u-margin-Bxs u-margin-Ts">
          <i class="ss-upload section-subheading__icon"></i>
          In bulk
        </h4>
        <p>Add hundreds of customers at once with a CSV. We'll request each of them to complete our payment pages.</p>
      </div>
    </div>
  </div>

  <div class="fill-light">
    <div class="site-gutter u-padding-Vm">
      <div class="u-padding-Vl u-text-center ">
        <i class="icon-dashboard-lock u-margin-Bs"></i>
        <h2 class="u-text-heading u-margin-Bxs u-color-secondary">Branded, secure payment pages</h2>
        <p class="u-text-m">People love paying by GoCardless because it's easy and secure</p>
      </div>

      <div class="grid">
        <div class="grid__cell u-size1of1 grid__cell--center">
          <img alt="Payment pages@2x" src="/images/products/payment-pages@2x.png">
        </div>
      </div>

      <div class="grid u-padding-Vl">
        <div class="grid__cell u-size1of3">
          <h4 class="u-text-s u-margin-Bxs u-margin-Ts">
            <i class="ss-picture section-subheading__icon"></i>
            Your branding
          </h4>
          <p>Your logo alongside our credentials to ensure maximum conversion. <a href="/example-checkout">See for yourself</a></p>
        </div>
        <div class="grid__cell u-size1of3">
          <h4 class="u-text-s u-margin-Bxs u-margin-Ts">
            <i class="ss-lock section-subheading__icon"></i>
            Military grade security
          </h4>
          <p>RSA encryption and secure communication channels to keep your customers' data safe.</p>
        </div>
        <div class="grid__cell u-size1of3">
          <h4 class="u-text-s u-margin-Bxs u-margin-Ts">
            <i class="ss-cursor section-subheading__icon"></i>
            Optimised for conversion
          </h4>
          <p>Comprehensively optimised based on data from thousands of transactions a day.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid u-padding-Tl">
    <div class="grid__cell u-size1of2 u-padding-Tl">
      <div class="site-gutter">
        <h2 class="u-text-heading u-margin-Tl u-margin-Bxs u-color-primary">
          Realtime reporting
        </h2>
        <ul>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Up to the second status reports</b></p>
            <p>Comprehensive, easy-to-use information on all of your payments and customers.</p>
          </li>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Email notifications</b></p>
            <p>Immediate notification when a payment fails or a customer cancels.</p>
          </li>
          <li>
            <p class="u-margin-Tm u-margin-Bxxs"><b>Export your data</b></p>
            <p>View your data the way you want to and import it into other apps.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid__cell u-size1of2 u-padding-Tl">
      <div class="site-gutter-L">
        <img alt="Dashboard realtime@2x" src="/images/features/dashboard-realtime@2x.png">
      </div>
    </div>
  </div>

{% endblock %}
