{% extends "default.html" %}

{% block title %}Display network traffic splash page{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}

  <div class="direct-debit-benefits-container">

    <div class="site-gutter u-padding-Vl">
      <h1 class="u-text-normal u-margin-Tl u-text-heading u-text-h1 benefits-header--blue u-text-center">Take recurring payments online with Direct Debit</h1>
      <h2 class="u-text-meta u-text-heading u-text-h2 u-text-center u-margin-Ts u-margin-Bl">Cheaper and more reliable than card networks, more flexible than standing orders</h2>
    </div>

    <div class="grid u-center u-text-center u-padding-Bl u-margin-Bl">
      <div class="grid__cell u-3of12 u-text-center">
        <i class="direct-debit-benefits-container__icon direct-debit-benefits-container__icon--cashflow u-margin-Bs"></i>
        <h3 class="u-text-heading u-padding-Bxxs direct-debit-benefits-container__heading--primary-green">No more cashflow issues</h3>
        <p>Make late payments a thing of the past. With Direct Debit, you control when
you get paid.</p>
      </div>
      <div class="grid__cell u-1of12 u-text-center direct-debit-benefits-container__divider"></div>
      <div class="grid__cell u-3of12 u-text-center">
        <i class="direct-debit-benefits-container__icon direct-debit-benefits-container__icon--success u-margin-Bs"></i>
        <h3 class="u-text-heading u-padding-Bxxs direct-debit-benefits-container__heading--primary-blue">Lower failure rates</h3>
        <p>Monthly failure rates of less than 1% - that’s 3x lower than cards. Automatically retry
failed payments.</p>
      </div>
      <div class="grid__cell u-1of12 u-text-center direct-debit-benefits-container__divider"></div>
      <div class="grid__cell u-3of12 u-text-center">
        <i class="direct-debit-benefits-container__icon direct-debit-benefits-container__icon--admin u-margin-Bs"></i>
        <h3 class="u-text-heading u-padding-Bxxs direct-debit-benefits-container__heading--primary-red">Low cost, low admin</h3>
        <p>Cheaper than card networks, and with GoCardless accepting Direct Debit
is effortless.</p>
      </div>
    </div>

    <div class="gradient-fill-dark u-padding-Tl">
        <h1 class="u-text-heading u-text-h1 u-text-invert u-text-center u-margin-Vl">GoCardless is the easiest way to accept Direct Debit</h1>

        <div class="grid u-center u-text-center u-padding-Tl u-margin-Bl">
          <div class="grid__cell u-3of12 u-text-center">
            <i class="direct-debit-benefits-container__icon direct-debit-benefits-container__icon--settings-invert u-margin-Bs"></i>
            <h3 class="u-text-heading u-padding-Bxxs u-text-invert">Really simple setup</h3>
            <p class="u-text-invert-secondary">Automate repeat payments and collect from account customers at the click of a button</p>
          </div>
          <div class="grid__cell u-1of12 u-text-center direct-debit-benefits-container__divider direct-debit-benefits-container__divider-invert"></div>
          <div class="grid__cell u-3of12 u-text-center">
            <i class="direct-debit-benefits-container__icon direct-debit-benefits-container__icon--coins-invert u-margin-Bs"></i>
            <h3 class="u-text-heading u-padding-Bxxs u-text-invert">Transparent, low pricing</h3>
            <p class="u-text-invert-secondary">Transaction fees of just 1%, capped at £2. No other fees, ever.</p>
          </div>
          <div class="grid__cell u-1of12 u-text-center direct-debit-benefits-container__divider direct-debit-benefits-container__divider-invert"></div>
          <div class="grid__cell u-3of12 u-text-center">
            <i class="direct-debit-benefits-container__icon direct-debit-benefits-container__icon--connect-invert u-margin-Bs"></i>
            <h3 class="u-text-heading u-padding-Bxxs u-text-invert">Integrates seamlessly</h3>
            <p class="u-text-invert-secondary">Through our RESTful API, GoCardless integrates perfectly with your website.</p>
          </div>
        </div>

        <div class="u-5of12 u-center u-padding-Vm u-margin-Vm">
          <div class="grid u-padding-Vm">
            <div class="grid__cell u-1of2">
              <a href="/watch-a-demo" class="btn btn--block btn--info btn--large">Watch a demo</a>
            </div>
            <div class="grid__cell u-1of2">
              <a href="/features" class="btn btn--block btn--invert-hollow btn--large">Learn more</a>
            </div>
          </div>
        </div>

        <div class="u-center">
          <div class="direct-debit-benefits-container__screenshot u-center u-margin-Tl"></div>
        </div>

    </div>

    <div class="site-gutter">

      <div class="u-padding-Vl u-margin-Vl u-text-center">
        <h2 class="u-text-heading u-text-meta-dark">The best way to learn more is to try it out – start taking payments today</h2>
        <a href="/merchants/new" class="btn btn--block btn--hollow btn--large u-2of12 u-center u-margin-Tl">Sign up</a>
      </div>

      <hr class="horizontal-ruler-top-double u-margin-Vn u-padding-Bl">
      <p class="u-text-h2 u-text-heading u-text-meta-dark u-text-center u-padding-Vl">Still want to learn more about Direct Debit? <a href="/guides" class="u-text-underline benefits-led-container__link--red">Read our industry-leading guides</a></p>

    </div>

  </div>

{% endblock %}
