.about-container__hero {
  height: 400px;
  width: 100%;
  background: url('/images/hero/hero-about-bg@2x.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.about-container__content {
  background: white;
}

.about-container__investors {
  height: 100px;
}

.about-container__team {
  opacity: 0;
}

.no-js .about-container__team {
  opacity: 1;
}
