.about-container__intro {
  height: 400px;
  width: 100%;
  background: #122539;
  background: linear-gradient(45deg, #61B0FF 0%, #3DE1D8 75%);
}

.about-container__full-height {
  height: 100%;
}

.about-container__table {
  display: table;
  height: 100%;
  width: 100%;
}

.about-container__intro-text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.about-container__header {
  opacity: 0.9;
  top: 0;
  position: absolute;
  width: 1010px;
}

.about-container__intro-heading {
}
