@import "mixins/icon-mixin";

.features-container {
  min-width: 1065px;
  height: 100%;
}

.features-container__intro {
  min-height: 700px;
  height: 100%;
  background: linear-gradient(45deg, #6897C6 0%, #3B648F 50%, #122539 100%);
}

.features-container__twoclicks {
  background: #ffffff;
}

.features-container__header {
  opacity: 0.66
}

.features-container__effortless {
  background: linear-gradient(45deg, #FFCA7D 0%, #DA59C5 100%);
}

.features-container__integrate {
  background: linear-gradient(45deg, #61B0FF 0%, #3DE1D8 75%);
}

.features-container__hr--solid {
  border-top: 1px solid #E8E8E8;
}

.features-container__hr--transparent {
  border-top: 1px solid rgba(255,255,255,0.4);
}

.features-container__cell {
  padding-left: 34px;
}

.features-container__cell--speed {
  background: url('/images/features/features-container__icon--speed@2x.png') no-repeat;
  background-size: 17px 17px;
  background-position: 0 2px;
}

.features-container__cell--link {
  background: url('/images/features/features-container__icon--link@2x.png') no-repeat;
  background-size: 17px 17px;
  background-position: 0 2px;
}

.features-container__cell--upload {
  background: url('/images/features/features-container__icon--upload@2x.png') no-repeat;
  background-size: 17px 17px;
  background-position: 0 2px;
}

.features-container__cell--calendar {
  background: url('/images/features/features-container__icon--calendar-small@2x.png') no-repeat;
  background-size: 17px 17px;
  background-position: 0 2px;
}

.features-container__integrations-image {
  margin-top: 95px;
}

.features-container__add-customers {
  position: absolute;
  bottom: 0;
  right: 25px;
}

.features-container__fixed-height-cell {
  height: 376px;
}

.features-container__icon--wallet {
  @include icon('/images/features/features-container__icon--wallet', 45px, 45px);
}

.features-container__icon--calendar {
  @include icon('/images/features/features-container__icon--calendar', 45px, 45px);
}

.features-container__icon--receipt {
  @include icon('/images/features/features-container__icon--receipt', 45px, 45px);
}

.features-container__icon--cart {
  @include icon('/images/features/features-container__icon--cart', 45px, 45px);
}

.features-container__icon--database {
  @include icon('/images/features/features-container__icon--database', 45px, 45px);
}

.features-container__icon--partner {
  @include icon('/images/features/features-container__icon--partner', 45px, 45px);
}

.features-container__intro-screen {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -505px;
}

.features-container__intro-copy {
  position: absolute;
  top: 50%;
  margin-top: -250px;
  width: 100%;
}

.features-container__phone-demo {
  margin-right: -25px;
}
