.jobs-container__photo {
  position: relative;
  top: 27px;
}

.jobs-container__description {
    min-height: 800px;
    margin-left: 60px;
}

.jobs-container__header {
  height: 568px;
  background-color: #000;
  background-image: url("/images/jobs/jobs-bg.jpg");
}

.jobs-container__header-headline {
  padding-top: 454px;
  color: #fff;
}

.jobs-container__teams {
  text-align: justify;
}

.jobs-container__team-copy {
  width: 517px;
}

.jobs-container__workingatgc {
  overflow: auto;
  background: url('/images/jobs/jobs-container__workingatgc-bg.jpg');
}

.jobs-container__icon--engineering-invert {
  @include icon('/images/jobs/jobs-container__icon--engineering-invert', 46px, 46px);
}

.jobs-container__icon--design-invert {
  @include icon('/images/jobs/jobs-container__icon--design-invert', 46px, 46px);
}

.jobs-container__icon--salesmarketing-invert {
  @include icon('/images/jobs/jobs-container__icon--salesmarketing-invert', 46px, 46px);
}

.jobs-container__icon--operations-invert {
  @include icon('/images/jobs/jobs-container__icon--operations-invert', 46px, 46px);
}
