.jobs-container__photo {
  position: relative;
  top: 27px;
}

.jobs-container__description {
  min-height: 800px;
  margin-left: 60px;
}

.jobs-container__header {
  height: 568px;
  background-color: #000;
  background-image: url("/images/jobs/jobs-bg.jpg");
  // No 2x-friendly version of this available that's big enough
  // at native size for the container on retina screens
}

.jobs-container__header-headline {
  padding-top: 454px;
  color: #fff;
}

.jobs-container__teams {
  text-align: justify;
}

.jobs-container__team-copy {
  width: 357px;
}

.jobs-container__workingatgc {
  overflow: auto;
  background: url('/images/jobs/jobs-container__workingatgc-bg.jpg');
  // No retina for this as their currently isn't an available 2x version of the photo being used.
  // Background is very pushed back visually so it's not particularly obvious that it's being
  // scaled on retina screens.
}

.jobs-container__icon--engineering-invert {
  @include icon('/images/jobs/jobs-container__icon--engineering-invert', 30px, 30px);
}

.jobs-container__icon--design-invert {
  @include icon('/images/jobs/jobs-container__icon--design-invert', 30px, 30px);
}

.jobs-container__icon--salesmarketing-invert {
  @include icon('/images/jobs/jobs-container__icon--salesmarketing-invert', 30px, 30px);
}

.jobs-container__icon--operations-invert {
  @include icon('/images/jobs/jobs-container__icon--operations-invert', 30px, 30px);
}

.jobs-container__open-positions-title {
  color: $medium-gray;
}
