.page-hero__container {
  height: 100%;
}

.page-hero__inner {
  display: table;
  height: 100%;
  width: 100%;
}

.page-hero__text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.page-hero--home {
  background: url('/images/hero/new-home-hero.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-hero--large {
  height: 585px;
}

.page-hero--small {
  height: 165px;
}

.page-hero--plain {
  background: $primary-color;
}
