.page-hero {
  background: $primary-color;
}

.page-hero__container {
  height: 100%;
}

.page-hero__inner {
  display: table;
  height: 100%;
  width: 100%;
}

.page-hero__text {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.page-hero--home {
  background: url('/images/hero/new-home-hero.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-hero--businesses {
  background: url('/images/hero/hero-businesses.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-hero--gyms {
  background: url('/images/hero/hero-gyms.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-hero--large {
  height: 585px;
}

.page-hero--medium {
  height: 470px;
}

.page-hero--small {
  height: 165px;
}
