@import 'variables';

.paying-container__intro {
  height: 500px;
  width: 100%;
  background: url('/images/hero/hero-paying-bg@2x.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.paying-container__settings-icon {
  @include icon('/images/icons/paying-settings', 48px, 48px);
}

.paying-container__security-icon {
  @include icon('/images/icons/paying-security', 48px, 48px);
  display: block; //needed for centering - u-block doesn't override
}

.paying-container__convenience-icon {
  @include icon('/images/icons/paying-convenience', 48px, 48px);
}

.paying-container__fca-icon {
  @include icon('/images/icons/paying-fca', 25px, 25px);
}

.paying-container__military-icon {
  @include icon('/images/icons/paying-military', 24px, 25px);
}

.paying-container__guarantee-icon {
  @include icon('/images/icons/paying-guarantee', 25px, 25px);
}

.paying-container__merchant-confirmation-icon {
  @include icon('/images/icons/paying-merchant-confirmation', 39px, 39px);
  top: 2px;
  left: 2px;
}

.paying-container__dashboard-image {
  position: absolute;
  top: -28px;
  left: -36px;
  max-width: 2000px; // arbitrarily long value to override image rules - this element set with height!
  height: 619px;
}

.paying-container__content {
  overflow: hidden;
  background: white;
}

.paying-container__tweet {
  width: 360px;
  border: 1px solid $border-gray;
  border-radius: 3px;
  box-shadow: 0 2px 5px -3px $gray;
}

.paying-container__control-list-item:before {
  content: "•  ";
  color: $primary-color-lighten;
}

.paying-container__merchant-using {
  width: 320px;
  background: rgba(0,0,0,0.3);
  border-radius: 4px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.3);
}

.paying-container__secure {
  background: linear-gradient(135deg, white 0%, $light-gray-lighten 100%);
}

.paying-container__call {
  margin-top: 2px;
}
