.vertical-page__hockey-bg {
  background: url('/images/hero/hero-hockey.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.vertical-page__plans-image {
  width: 366px;
}

.vertical-page__mobile-image {
  width: 390px;
}
