.vertical-page__hockey-bg {
  background: url('/images/hero/hero-hockey.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.vertical-page__crossfit-bg {
  background: url('/images/hero/hero-crossfit-testimonial.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.vertical-page__invoicing-bg {
  background: url('/images/hero/hero-invoicing-testimonial.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.vertical-page__plans-image {
  width: 366px;
}

.vertical-page__mobile-image {
  width: 390px;
}

.vertical-page__dashboard-image {
  width: 780px;
}

.vertical-page__real-time-reports-image {
  width: 251px;
}

.vertical-page__take-payment-image {
  width: 366px;
}
