{% extends "default.html" %}

{% block title %}Online payment software like no other{% endblock %}
{% block page_container_class %}{% endblock %}

{% block content %}

  <div class="gradient-fill-dark">
  <div class="grid u-padding-Tl">
    <div class="grid__cell u-size1of2 u-padding-Tl">
      <div class="site-gutter">
        <h2 class="u-text-heading u-margin-Tl u-margin-Bxs u-text-h1 u-color-invert">
          Online payment systems using Direct Debit
        </h2>
        <h2 class="u-text-heading u-margin-Ts u-margin-Bm u-text-h3 u-color-invert-secondary">
          Cheaper &amp; more reliable than card networks. Perfect for repeat transactions.
        </h2>
        <ul>
          <li>
            <p class="u-color-invert u-margin-Tm u-margin-Bxxs"><b>✔ 'Checkout with GoCardless' button on your website</b></p>
          </li>
          <li>
            <p class="u-color-invert u-margin-Tm u-margin-Bxxs"><b>✔ Secure, hosted payment pages</b></p>
          </li>
          <li>
            <p class="u-color-invert u-margin-Tm u-margin-Bxxs"><b>✔ 1% transaction fee, capped at £2. No other fees, ever</b></p>
          </li>
        </ul>

        <a href="/features/dashboard" class="u-margin-Tm btn btn--invert-hollow">Find out more about our features</a>
      </div>
    </div>
    <div class="grid__cell u-size1of2 u-padding-Tl">
      <div class="site-gutter-L">
        <img alt="Section 1 hero@2x" src="/images/features/section-1-hero@2x.png">
      </div>
    </div>
  </div>
  </div>

  <div class="grid grid--center u-margin-Bn u-margin-Tm">
    <div class="grid__cell u-size5of12 u-text-center">
      <p><b>Speak to one of our experts</b>, call us on 0207 444 333</p>
      <hr>
    </div>
  </div>

  <div class="grid grid--center u-margin-Bm u-margin-Tn">
    <div class="grid__cell u-size5of12">
      <div class="grid">
        <div class="grid__cell u-size1of2">
          <a href="/watch-a-demo" class="btn btn--block btn--info">Watch a demo</a>
        </div>

        <div class="grid__cell u-size1of2">
          <a href="/merchants/new" class="btn btn--block btn--info-hollow u-margin-Ls">Sign up for free today!</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="grid grid--center u-margin-Bn u-margin-Tl">
    <div class="grid__cell u-size6of12">
      <div class="grid">

        <div class="grid__cell u-size1of6">
          <img alt="Scale@2x" class="icon--check icon-home-flag" src="/images/pricing/scale@2x.png">
        </div>
        <div class="grid__cell u-size5of6 u-margin-Bm">
          <h3 class="u-text-h3 u-text-heading u-text-semi u-margin-Bxxs u-margin-Ts">Scale pricing for larger merchants</h3>
          <p class="para--bullet">We offer scale pricing for merchants processing more than 500 payments per month. <a class="u-text-underline" href="/pricing">Find out more on our pricing.</a></p>
        </div>

        {% include "_key_benefits.html" %}

      </div>
    </div>
  </div>

{% endblock %}
