@import "home/variables";

.affixed-footer {
  position: relative;
}

.affixed-footer__target {
  width: 100%;
}

.affixed-footer__target.is-affixed {
  position: fixed;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 -6px 13px rgba(0, 0, 0, 0.1);
}

.affixed-footer__target.is-animating-enter {
  transition: box-shadow 100ms 50ms, transform 200ms;
  -webkit-transition: box-shadow 100ms 100ms, -webkit-transform 200ms;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
}

.affixed-footer__target.is-animating-enter-active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.affixed-footer__target.is-animating-leave {
  transition: box-shadow 100ms 50ms, transform 200ms;
  -webkit-transition: box-shadow 100ms 100ms, -webkit-transform 200ms;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.affixed-footer__target.is-animating-leave-active {
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
}
