@import "home/variables";

$width: 900px;
$small-width: 560px;
$extra-small-width: 440px;

#modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1999999999;
  background-color: $gray-darken;
  opacity: .8;
  filter: alpha(opacity = 80);
}

.modal {
  display: none;
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 50%;
  width: $width;
  margin-left: -$width/2;
  z-index: 2000000000;
  outline: none;
}

.extra-small-modal {
  width: $extra-small-width;
  margin-left: -$extra-small-width/2;
}

.small-modal {
  width: $small-width;
  margin-left: -$small-width/2;
}

.mid-modal {
  width: 620px;
  margin-left: -620px/2;

  .content {
    padding: 15px 0;
  }
}

.modal > .content {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  background-color: #fff;
}

.modal > .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  cursor: pointer;

  &:after {
    border-radius: 15px;
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: $gray-lighten image-url("/assets/icons/invalid.png") center center no-repeat;
  }
}

@media only screen and (max-width: $width) {
  .modal:not(.small-modal) {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

@media only screen and (max-width: $small-width) {
  .modal {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .modal {
    top: 0;
    position: absolute;
  }
  .modal > .content {
    max-height: initial;
  }
}
