@import "placeholders/type";
@import "placeholders/space";

.section-subheading {
  @extend %u-text-heavy;
  @extend %u-text-h4;
  @extend %u-margin-Tm;
  @extend %u-margin-Bxxs;
}

.section-subheading__icon {
  position: relative;
  top: 2px;
  margin-right: 5px;
}
