@import "placeholders/type";
@import "placeholders/space";

.section-heading {
  @extend %u-margin-Tm;
  @extend %u-margin-Bxs;
  @extend %u-text-heading;
  @extend %u-text-semi;
  @extend %u-text-h3;
  @extend %u-text-primary;
}

.section-heading__bullet {
  @extend %u-text-heading;
  @extend %u-text-semi;
  @extend %u-text-h3;
  @extend %u-text-primary;
  margin-top: 14px;
  margin-bottom: 4px;
}

.section-heading--red {
  color: #E14E3D;
}
