{% extends "default.html" %}

{% block title %}Press{% endblock %}

{% block content %}
  <h1 class="page-heading">Press</h1>
  <h2 class="page-subheading">GoCardless enables businesses to control their payments, not be controlled by them. It is a simple service for collecting Direct Debit payments online.</h2>
  <p>For press enquiries, please <a href="mailto:hiroki@gocardless.com">email us</a>.</p>

  <hr>

  <div class="grid">
    <div class="grid__cell u-10of12">
      <h3 class="section-heading">
        GoCardless makes Direct Debit simple
      </h3>
      <p class="para">
        Taking payments should be simple, but it's not. Suppliers of goods and services are forced to pay high credit card fees, or else risk waiting unpaid for months.
      </p>
      <p class="para">
        For any business taking recurring payments or invoicing – from accountants to train companies – Direct Debit is the only payment system that puts them in control of when they’re paid. But the system is exclusive and complex to manage.
      </p>
      <p class="para">
        GoCardless exists to change this. There are no barriers, no exclusivity, and no complex payment processes. GoCardless puts business’ payments and cash flow under their control.
      </p>

      <h3 class="section-heading">
        Our story
      </h3>
      <p class="para">
        GoCardless was founded in January 2011 by Tom Blomfield, Matt Robinson and Hiroki Takeuchi.
      </p>

      <p class="para">
        Breaking out of their jobs as financial consultants, they started a business. But taking payments soon became a difficult and expensive nightmare. They wanted to use Direct Debit to control regular payments, but the banks slammed the door on them.
      </p>

      <p class="para">
        The three set out to make it easy for businesses to take Direct Debit payments. Enter, GoCardless.
      </p>

      <p class="para">
        GoCardless now serves more businesses than any other Direct Debit provider. Customers include <a href="/stories/greater-anglia">Greater Anglia Trains</a> and Rock Choir. The company is authorised by the Financial Conduct Authority.
      </p>
    </div>
  </div>

  <hr>

  <div class="grid u-margin-Tl">

    <div class="grid__cell u-2of12 u-text-end ">
      <b>Founders:</b>
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      Matt Robinson, Tom Blomfield, Hiroki Takeuchi
    </div>

    <div class="grid__cell u-2of12 u-text-end ">
      <b>Based in:</b>
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      London, UK
    </div>

    <div class="grid__cell u-2of12 u-text-end ">
      <b>Founded:</b>
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      January 2011
    </div>

    <div class="grid__cell u-2of12 u-text-end ">
      <b>Investors:</b>
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      Accel Partners, Passion Capital, Y Combinator, among others
    </div>
  </div>

  <hr>

  <h3 class="section-heading u-margin-Tl">Resources</h3>

  <div class="grid">
    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/images/press-1.jpg">
        <img src="/images/press/images/press-1@2x.png">
        <h4 class="section-subheading u-margin-Ts">
          Adding a customer
        </h4>
      </a>
    </div>

    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/images/press-2.jpg">
        <img src="/images/press/images/press-2@2x.png">
        <h4 class="section-subheading u-margin-Ts">
          Payment pages
        </h4>
      </a>
    </div>

    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/images/press-3.jpg">
        <img src="/images/press/images/press-3@2x.png">
        <h4 class="section-subheading u-margin-Ts">
          Mobile payment pages
        </h4>
      </a>
    </div>

    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/images/gocardless-com.jpg">
        <img src="/images/press/images/splash-page@2x.png">
        <h4 class="section-subheading u-margin-Ts">
          /imagespage
        </h4>
      </a>
    </div>
  </div>

  <div class="grid">
    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/images/take-payment.jpg">
        <img src="/images/press/images/take-payment@2x.png">
        <h4 class="section-subheading u-margin-Ts">
          Taking payment
        </h4>
      </a>
    </div>

    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://gocardless-press.s3.amazonaws.com/images/Founders-1.jpg">
        <img src="/images/press/images/Founders-1-thumb.jpg">
        <h4 class="section-subheading u-margin-Ts">
          Founders
        </h4>
      </a>
    </div>

    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/logos/GC-landscape-svg.svg">
        <img src="/images/press/logos/logo-svg.png">
        <h4 class="section-subheading u-margin-Ts">
          Blue logo .svg
        </h4>
      </a>
    </div>

    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/logos/GC-landscape-black.jpg">
        <img src="/images/press/logos/logo-jpeg.png">
        <h4 class="section-subheading u-margin-Ts">
          Black logo .jpeg
        </h4>
      </a>
    </div>
  </div>

  <div class="grid">
    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/logos/GC-landscape-blue.png">
        <img src="/images/press/logos/logo-dark.png">
        <h4 class="section-subheading u-margin-Ts">
          Blue logo .png
        </h4>
      </a>
    </div>

    <div class="grid__cell u-3of12 u-margin-Tl">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/logos/GC-landscape-white.png">
        <img src="/images/press/logos/logo-light.png">
        <h4 class="section-subheading u-margin-Ts">
          White logo .png
        </h4>
      </a>
    </div>
  </div>

  <hr>

  <h3 class="section-heading u-margin-Tl">
  Announcements
  </h3>

  <div class="grid u-margin-Tl">
    <div class="grid__cell u-2of12 u-text-end ">
      5th Aug 2013
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/releases/Sage+launch+release.pdf">GoCardless launches add-on for over half a million Sage users</a>
    </div>

    <div class="grid__cell u-2of12 u-text-end">
      4th Jul 2013
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      <a href="https://gocardless.com/blog/an-overdue-revolution-in-b2b-payments/">[Blog] Tom Blomfield declares an overdue revolution in B2B payments at Wired Money Conference</a>
    </div>

    <div class="grid__cell u-2of12 u-text-end">
      21st Apr 2013
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/releases/Press+release+-+Nationals+PDF.pdf">New tool from GoCardless enables SMEs to collect variable direct debits</a>
    </div>

    <div class="grid__cell u-2of12 u-text-end">
      31st May 2012
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/releases/PayLinks+press+release.pdf">GoCardless launches PayLinks: Collect payments online in 60 seconds</a>
    </div>

    <div class="grid__cell u-2of12 u-text-end">
      7th Feb 2012
    </div>

    <div class="grid__cell u-10of12 u-padding-Bxs">
      <a href="https://s3-eu-west-1.amazonaws.com/gocardless-press/releases/GoCardless+Press+ReleaseFINAL.pdf">Next generation online payment platform GoCardless launches with $1.5m from Accel Partners, Passion Capital, and YCombinator</a>
    </div>
  </div>
{% endblock %}
