{% extends "plain.html" %}

{% block title %}Why pay with Direct Debit?{% endblock %}

{% block body %}

<div class="paying-container__intro u-relative">
  <div class="site-container about-container__full-height">
    <div class="about-container__header site-gutter u-cf align-btn-small u-padding-Vxs">
      {% include "_invert_nav.html" %}
    </div>
    <div class="about-container__table">
      <div class="about-container__intro-text">
        <h1 class="about-container__intro-heading u-text-heading u-color-invert u-text-center hero-heading u-text-light">Take the hassle out of paying</h1>
        <div class="u-text-heading u-text-h2 u-text-center u-text-light u-color-invert u-margin-Ts">
          GoCardless is the UK’s leading Direct Debit provider.<br>
          We make it simpler & safer to pay invoices & bills online.
        </div>
        <div class="u-center u-1of6 u-padding-Tl u-margin-Tl u-color-invert u-text-heading u-text-h4">
          [Merchant using GC]
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paying-container__content">

  <div class="site-container u-padding-Vl">

    <div class="grid u-margin-Vl u-padding-Bl">
      <div class="grid__cell u-2of5">
        <i class="paying-container__settings-icon u-margin-Bs"></i>
        <h2 class="u-text-heading u-text-light u-text-h1 u-margin-Bs">You're in control</h2>
        <div class="u-text-heading u-text-light u-text-h3 u-2of3">
          View and manage your payments at the click of a button
        </div>
        <ul class="u-margin-Vm u-text-heading u-text-light u-padding-Vxxs">
          <li class="u-margin-Vxxs">- Cancel unwanted payments</li>
          <li class="u-margin-Vxxs">- Retry failed transactions</li>
          <li class="u-margin-Vxxs">- Amend your details any time</li>
        </ul>
        <div class="paying-container__tweet u-padding-Am u-margin-Ln u-text-heading u-text-light u-color-meta grid">
          <div class="grid__cell u-3of12">
            <img src="/images/stories/tweets/avatar1@2x.png">
          </div>
          <div class="grid__cell u-9of12">
            Just tried @gocardless and kind of LOVE it! If you ever need to pay anyone or get paid, may want to try it out.<br>
            <a href="#" class="u-text-h5 u-margin-Ts u-inline-block">@roxannevarza</a>
          </div>
        </div>
      </div>
      <div class="grid__cell u-3of5 u-relative">
        <img class="paying-container__dashboard-image" src="/images/products/paying-through-gocardless-dashboard@2x.png">
      </div>
    </div>

</div>

    <hr>

<div class="site-container u-padding-Vl">

    <div class="u-margin-Vl u-padding-Vl">
      <i class="paying-container__security-icon u-margin-Bs u-center"></i>
      <h2 class="u-text-center u-text-heading u-text-light u-text-h1 u-margin-Bs">We keep you safe</h2>
      <div class="u-center u-text-center u-text-heading u-text-light u-text-h3 u-padding-Bs">
        Our best-in-class systems ensure<br>
        your details are totally secure
      </div>
      <hr class="u-padding-An u-margin-Vl">
      <div class="grid u-center u-padding-Ts">
        <div class="grid__cell u-1of3">
          <i>Icon</i>
          <h3 class="u-text-heading u-text-light u-margin-Bxxs">Direct Debit Guarantee</h3>
          <p>
            If anything goes wrong with a transaction, payers are entitled to an instant refund from their bank. <a href="#">More…</a>
          </p>
        </div>
        <div class="grid__cell u-1of3">
          <i>Icon</i>
          <h3 class="u-text-heading u-text-light u-margin-Bxxs">Military grade encryption</h3>
          <p>
            All sensitive details are RSA encrypted, and only communicated over secure channels. <a href="#">More…</a>
          </p>
        </div>
        <div class="grid__cell u-1of3">
          <i>Icon</i>
          <h3 class="u-text-heading u-text-light u-margin-Bxxs">Authorised by the FCA</h3>
          <p>
            GoCardless is an Authorised Payment Institution regulated by the Financial Conduct Authority.
          </p>
        </div>
      </div>
    </div>

</div>

    <hr>

<div class="site-container u-padding-Vl">

    <div class="grid u-margin-Vl u-padding-Vl">
      <div class="grid__cell u-3of5">
        <img src="/images/products/payments-payment-page@2x.jpg">
      </div>
      <div class="grid__cell u-2of5">
        <div class="u-margin-Lm">
          <i class="paying-container__convenience-icon u-margin-Bs"></i>
          <h2 class="u-text-heading u-text-light u-text-h1 u-margin-Bs">It couldn't be simpler</h2>
          <div class="u-text-heading u-text-light u-text-h3 u-2of3 u-padding-Bl">
            Our secure payment page takes less than a minute to fill in, and once set up you never have to lift a finger again.
          </div>
          <div class="paying-container__tweet u-padding-Am u-margin-Ts u-margin-Ln u-text-heading u-text-light u-color-meta grid">
            <div class="grid__cell u-3of12">
              <img src="/images/stories/tweets/avatar2@2x.png">
            </div>
            <div class="grid__cell u-9of12">
              My clients are loving @GoCardless! So nice to have a non-PayPal, decent, reliable service they can pay me with<br>
              <a href="#" class="u-text-h5 u-margin-Ts u-inline-block">@de</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}
