{% extends "plain-responsive.html" %}

{% block title %}Why pay using GoCardless?{% endblock %}
{% block meta_tags %}<meta name="description" content="With GoCardless, you're in control of your payments. View &amp; manage payments at a click of a button. With the Direct Debit Guarantee &amp; military-grade encryption.">{% endblock %}

{% block body %}

<div class="page-hero paying-container__hero has-breakpoint-md has-breakpoint-sm u-relative u-sm-padding-Vm">
  <div class="site-container site-container--fluid page-hero__container">

    <div class="site-header site-gutter u-cf align-btn-small u-padding-Vxs u-sm-size-full u-md-size-full">
      <div class="u-pull-start">
        <a href="/" class="u-sm-hidden">
          <i class="icon-gc-logo-invert logo-header"></i>
        </a>
      </div>
      <div class="paying-container__call u-pull-end u-color-invert u-text-heading-light u-sm-hidden">
        Have any questions? Call us on 020 7183 8674
      </div>
    </div>

    <div class="page-hero__inner">
      <div class="page-hero__text">
        <a href="/" class="u-hidden u-sm-display-block u-sm-margin-Bl u-sm-margin-Tm">
          <i class="icon-gc-logo-invert logo-header u-center"></i>
        </a>
        <h1 class="paying-container__hero-heading has-breakpoint-sm u-text-heading u-color-invert u-text-center hero-heading u-text-light u-md-text-h1 u-sm-text-h1 u-sm-margin-Bm">
          Taking the hassle<br class="u-hidden u-sm-display-inline"> out of paying
        </h1>
        <div class="paying-container__subtitle has-breakpoint-sm u-text-heading u-text-h2 u-text-center u-text-light u-color-invert u-margin-Ts u-padding-Bm u-md-text-h3 u-sm-text-h3 u-sm-size5of6 u-center">
          GoCardless is the UK’s leading Direct Debit provider.<br class="u-sm-hidden"> We make it simpler and safer to pay invoices and bills online.
        </div>
      </div>

    </div>
  </div>
</div>

<div class="u-background-white u-overflow-hidden">
  <div class="site-container site-container--fluid site-gutter u-padding-Vl u-sm-padding-Tl u-sm-padding-Bn u-margin-Tl u-sm-margin-Tn u-md-margin-Tn u-md-padding-Bn">
    <div class="grid u-margin-Vl u-sm-margin-Tl u-sm-margin-Bs u-padding-Bl">

      <div class="paying-container__settings-left-column has-breakpoint-sm has-breakpoint-md grid__cell u-size1of2 u-relative u-md-margin-Ll">
        <i class="paying-container__settings-icon has-breakpoint-sm u-margin-Bs u-sm-center"></i>
        <h2 class="u-text-heading-light u-text-h1 u-sm-text-h2 u-md-text-h2 u-margin-Bxxs u-sm-text-center">You're in control</h2>
        <div class="u-text-heading-light u-text-h2 u-sm-text-h3 u-md-text-h3 u-color-meta u-size9of12 u-md-size-full u-sm-text-center u-sm-center">
          View and manage your<br class="u-hidden u-md-display-inline"> payments at the click<br class="u-hidden u-md-display-inline"> of a button
        </div>
        <ul class="paying-container__control-bullet-points has-breakpoint-sm u-margin-Vm u-text-heading-light u-padding-Vxxs u-text-h3 u-sm-text-h4 u-md-text-h4 u-sm-center">
          <li class="u-margin-Vxxs paying-container__control-list-item">Cancel unwanted payments</li>
          <li class="u-margin-Vxxs paying-container__control-list-item">Retry failed transactions</li>
          <li class="u-margin-Vxxs paying-container__control-list-item">Amend your details any time</li>
        </ul>
        <div class="paying-container__tweet paying-container__tweet--control has-breakpoint-md has-breakpoint-sm u-padding-Am u-margin-Ln u-text-heading-light u-color-meta grid u-sm-center u-sm-size5of6">

          <div class="grid__cell u-size3of12 u-padding-Ln">
            <img src="/images/stories/tweets/avatar1@2x.png">
          </div>

          <div class="grid__cell u-size9of12 u-padding-Rn u-padding-Rn">
            Just tried @gocardless and kind of LOVE it! If you ever need to pay anyone or get paid, may want to try it out.<br>
            <a href="https://twitter.com/roxannevarza/status/222064834169159681" target="_blank" class="u-text-h5 u-margin-Ts u-inline-block">@roxannevarza</a>
          </div>

        </div>
        <img class="paying-container__dashboard-image has-breakpoint-md u-hidden u-md-display-block u-md-margin-Ll" src="/images/products/paying-through-gocardless-dashboard@2x.png">
      </div>

      <div class="grid__cell u-size1of2 u-relative u-md-hidden u-sm-hidden">
        <img class="paying-container__dashboard-image" src="/images/products/paying-through-gocardless-dashboard@2x.png">
      </div>

    </div>
  </div>

  <hr class="u-margin-Bn">

  <div class="paying-container__secure u-md-padding-Hl">
    <div class="site-container site-container--fluid site-gutter u-padding-Vl">
      <div class="u-margin-Vl u-padding-Vl u-sm-margin-Vn u-sm-padding-Bn">
        <i class="paying-container__security-icon u-margin-Bs u-center"></i>
        <h2 class="u-text-center u-text-heading-light u-text-h1 u-sm-text-h2 u-md-text-h2 u-margin-Bxxs">We keep you safe</h2>
        <div class="u-center u-text-center u-text-heading-light u-text-h2 u-sm-text-h3 u-md-text-h3 u-color-meta u-padding-Bs">
          Our best-in-class systems ensure<br class="u-sm-hidden">
          your details are totally secure
        </div>
        <hr class="u-padding-An u-margin-Vl">
        <div class="grid u-center u-padding-Ts">

          <div class="grid__cell u-size1of3 u-sm-size-full u-sm-margin-Bl">
            <i class="paying-container__guarantee-icon u-margin-Bxxs"></i>
            <h3 class="u-text-heading-light u-text-h2 u-sm-text-h3 u-md-text-h3 u-margin-Bxxs">Direct Debit Guarantee</h3>
            <p class="u-text-h3 u-sm-text-h4 u-md-text-h4 u-text-heading-light u-color-meta">
              If anything goes wrong with a transaction, payers are entitled to an instant refund from their bank.
            </p>
          </div>

          <div class="grid__cell u-size1of3 u-sm-size-full u-sm-margin-Bl">
            <i class="paying-container__military-icon u-margin-Bxxs"></i>
            <h3 class="u-text-heading-light u-text-h2 u-sm-text-h3 u-md-text-h3 u-margin-Bxxs">Military grade encryption</h3>
            <p class="u-text-h3 u-sm-text-h4 u-md-text-h4 u-text-heading-light u-color-meta">
              All sensitive details are RSA encrypted, and only communicated over secure channels.
            </p>
          </div>

          <div class="grid__cell u-size1of3 u-sm-size-full u-sm-margin-Bl">
            <i class="paying-container__fca-icon u-margin-Bxxs"></i>
            <h3 class="u-text-heading-light u-text-h2 u-sm-text-h3 u-md-text-h3 u-margin-Bxxs">Authorised by the FCA</h3>
            <p class="u-text-h3 u-sm-text-h4 u-md-text-h4 u-text-heading-light u-color-meta">
              GoCardless is an Authorised Payment Institution regulated by the Financial Conduct Authority.
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-Tn">

  <div class="site-container site-container--fluid site-gutter u-padding-Tl u-sm-padding-Tn u-sm-margin-Bl">
    <div class="grid u-margin-Tl u-padding-Tl u-sm-margin-Bl u-md-margin-Hl">

      <div class="paying-container__convenience-left-column has-breakpoint-md grid__cell u-size1of2 u-padding-Rn u-overflow-hidden u-sm-hidden u-md-padding-Rl">
        <img class="paying-container__payment-page u-md-padding-Rs" src="/images/products/paying-through-gocardless-payment-page@2x.jpg">
      </div>

      <div class="paying-container__convenience-right-column has-breakpoint-md has-breakpoint-sm grid__cell u-sm-padding-Hs u-relative">
        <div class="u-sm-margin-Ln u-sm-padding-Ln u-md-margin-Bl u-md-padding-Bl">
          <i class="paying-container__convenience-icon has-breakpoint-sm u-margin-Bs u-sm-center"></i>
          <h2 class="u-text-heading-light u-text-h1 u-sm-text-h2 u-md-text-h2 u-margin-Bxxs u-sm-text-center">
            It couldn't be simpler
          </h2>
          <div class="u-text-heading-light u-text-h2 u-sm-text-h3 u-md-text-h3 u-color-meta u-padding-Bl u-sm-text-center">
            Our secure payment page takes less than a minute to fill in, and once set up you never have to lift a finger again.
          </div>

          <div class="paying-container__tweet paying-container__tweet--convenience u-md-size-full has-breakpoint-sm
          u-padding-Am u-margin-Ts u-margin-Ln u-text-heading-light u-color-meta grid u-sm-center">

            <div class="grid__cell u-size3of12 u-padding-Ln">
              <img src="/images/stories/tweets/avatar2@2x.png">
            </div>

            <div class="grid__cell u-size9of12 u-padding-Rn">
              My clients are loving @GoCardless! So nice to have a non-PayPal, decent, reliable service they can pay me with<br>
              <a href="https://twitter.com/de/status/289010618772631552" target="_blank"
              class="u-text-h5 u-margin-Ts u-inline-block">
                @de
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-Tn">

  <div class="site-container site-container--fluid site-gutter u-padding-Vl u-margin-Vl u-sm-margin-Ts">
    <div class="u-sm-hidden">
      <h2 class="u-text-heading u-text-center u-color-meta">
        Find out even more about paying through GoCardless
      </h2>
      <a href="/faq/customers" class="u-center u-size2of5 u-md-size3of5 btn btn--hollow btn--large
      u-margin-Tm u-padding-Hn">
        Read our frequently asked questions
      </a>
    </div>
    <div class="u-hidden u-sm-display-block">
      <h2 class="u-text-heading u-text-center u-color-meta">
        Have any questions?
      </h2>
      <a href="tel:020 7183 8674" class="u-center u-size2of5 u-sm-size-full btn btn--hollow btn--large
      u-margin-Tm u-padding-Hn">
       Call us on 020 7183 8674
      </a>
    </div>
  </div>
</div>

<div class="site-container site-container--fluid site-gutter u-padding-Ts">
  {% include "_site_footer_responsive.html" %}
</div>

{% endblock %}
