<!-- honeypot field -->
<input class="u-is-hidden" id="prospect_nofill" name="prospect[nofill]" placeholder="Do not fill me in" type="email">

<label class="label label--stacked" for="prospect_name">Your name</label>
<input class="input input--stacked" id="prospect_name" name="prospect[name]"
  placeholder="John Smith" required type="text"
  ng-model="prospectFormData.name">

<label class="label label--stacked" for="prospect_email">Work email</label>
<input class="input input--stacked" id="prospect_email" name="prospect[email]"
  placeholder="example@companyname.com" required type="email"
  ng-model="prospectFormData.email">

<label class="label label--stacked" for="prospect_phone_number">Work phone</label>
<input class="input input--stacked" id="prospect_phone_number" name="prospect[phone_number]"
  placeholder="02071838674" required type="text"
  ng-model="prospectFormData.phone">
