---
language: fr
other_languages:
  en: /legal/restrictions
---

{% extends "plain.html" %}

{% block title %}Activités restreintes{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "fr/_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-text-center u-color-invert u-text-xl u-text-light u-margin-Vxm">
      Activités restreintes
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl grid">
    <div class="u-padding-Vxl">
      {% include "fr/legal/_sidebar.html" %}
      <div class="grid__cell u-size-8of12">
        <h2 class="u-text-heading-light u-text-m u-color-heading">Activités restreintes</h2>
        <p class="para">
          Cette liste contient les activités restreintes mentionnées dans notre contrat de ventes. Cette liste a été mise à jour pour la dernière fois le 19 septembre 2014.
        </p>
        <p class="para">
          Si votre activité est incluse dans cette liste, vous êtes en infraction de votre contrat et il est possible que nous suspendions votre accès à votre compte GoCardless et que vous ne puissiez plus utiliser les services de GoCardless. Cela pourrait vous empêcher de prélever ou envoyer des paiements.
        </p>
        <p class="para">Ces activités restreintes sont :</p>
        <ul class="list">
          <li>
            Utiliser les services de GoCardless d’une quelconque façon ou en connexion avec toute activité qui :
            <ul class="list u-margin-Tn">
              <li>
                est frauduleuse ou illégale ;
              </li>
              <li>
                ne représente pas votre identité réelle ou donne l’impression que vous êtes associé ou affilié à une tierce partie sans que ce soit le cas ;
              </li>
              <li>
                enfreint toute loi ou réglementation applicables au niveau local, national ou international (comprenant sans s’y limiter l’utilisation de GoCardless pour l’offre de biens ou services qui enfreignent ces lois ou réglementations) ;
              </li>
              <li>
                peut être raisonnablement considérée dommageable, fausse, induisant en erreur, illégale, obscène, diffamatoire, menaçante, pornographique, harcelante ou haineuse ;
              </li>
              <li>
                promeut toute discrimination basée sur la race, le sexe, la religion, la nationalité, le handicap, l’orientation sexuelle ou l’âge ;
              </li>
              <li>
                promeut la violence, les drogues illégales ou toute autre activité illégale ;
              </li>
              <li>
                enfreint toute propriété intellectuelle ou autres droits propriétaires d’une tierce partie quelque soit la juridiction ;
              </li>
              <li>
                enfreint une obligation ou un droit à la confidentialité ;
              </li>
              <li>
                intègre les jeux d’argent, les conseils de paris, toute forme de loterie ; ou
              </li>
              <li>
                envahit la vie privée de quiconque.
              </li>
            </ul>
          </li>
          <li>
            Utiliser GoCardless pour vendre ou fournir ou collecter ou effectuer des paiements pour des :
            <ul class="list u-margin-Tn">
              <li>
                produits qui requièrent une licence ou permission de toute tierce partie, à moins que vous ne possédiez cette licence ;
              </li>
              <li>
                drogues ou d’accessoires facilitant la consommation de drogues ;
              </li>
              <li>
                prêts de remise au jour de paye ;
              </li>
              <li>
                conseils de paris ou toute autre avis financier non régulé ;
              </li>
              <li>
                services de change de devises ;
              </li>
              <li>
                services de transfert d’argent ;
              </li>
              <li>
                biens de contrefaçon incluant sans être limités à : des sacs à main, habits, accessoires de mode et appareils ménagers ;
              </li>
              <li>
                garanties étendues ;
              </li>
              <li>
                services de recouvrement de dettes ;
              </li>
              <li>
                opportunités de business, d’investissement, du conseil ou des services de réduction d’emprunt immobilier ou du conseil en crédit ;
              </li>
              <li>
                cartes téléphoniques prépayées ;
              </li>
              <li>
                partage du temps ; ou
              </li>
              <li>
                activités média telles que la provision de follower Twitter, “j’aime” Facebook ou vues Youtube.
              </li>
            </ul>
          </li>
          <li>
            Accéder ou essayer d’accéder tout logiciel sous-jacent du service GoCardless.
          </li>
          <li>
            Toute tentative de préjudice de mineur.
          </li>
          <li>
            Transmettre, de manière délibérée ou par négligence, toute donnée ou matériel contenant des virus, chevaux de Troie, adware, spyware, vers, ou tout autre code ou programme malicieux créé afin de nuire le bon fonctionnement de logiciel ou matériel.
          </li>
          <li>
            Transmettre, envoyer ou uploader tout matériel promotionnel ou publicité non sollicité ou non autorisé.
          </li>
          <li>
            Utiliser le service GoCardless pour collecter, tenter de collecter ou transmettre des informations personnelles de toute personne sans leur consentement.
          </li>
          <li>
            Utiliser le service GoCardless si vous avez moins de dix-huit (18) ans.
          </li>
          <li>
            Utiliser le service GoCardless afin d’agir comme une institution bancaire privée.
          </li>
          <li>
            Utiliser le service GoCardless afin de prélever des paiements en avance pour des biens ou services qui ne seront pas fournis jusqu’à une date significativement ultérieure.
          </li>
          <li>
            Utiliser le service GoCardless d’une quelconque façon qui puisse raisonnablement conduire à endommager, mettre hors de service, mettre en surcapacité, ou nuire à notre service, y compris mais sans s’y limiter, à l’utilisation du service GoCardless de manière automatisée.
          </li>
          <li>
            Utiliser le service GoCardless d’une manière que GoCardless considère raisonnablement qu’il constitue un abus du système.
          </li>
          <li>
            Utiliser le service de GoCardless d’une manière qui est susceptible de causer la responsabilité de GoCardless ou de toute autre partie, y compris qui est susceptible de causer des plaintes, disputes, remboursements, frais, amendes ou pénalités.
          </li>
          <li>
            Utiliser le service de GoCardless pour contrôler un compte qui est lié à un autre compte dont les utilisateurs ont pris part à une des activités mentionnées ci-dessus.
          </li>
          <li>
            Utiliser le service de GoCardless pour prélever des paiements qui supportent les systèmes pyramidaux ou de Ponzi, programmes matriciels, tout autre système d’enrichissement rapide ou certains programmes de marketing à plusieurs niveaux.
          </li>
          <li>
            Utiliser le service de GoCardless pour transférer des paiements depuis et vers le même compte ou entre plusieurs comptes détenus par ou pour le même bénéficiaire.
          </li>
          <li>
            Utiliser le service de GoCardless pour compléter des mandats de prélèvement automatique au nom d’une autre partie.
          </li>
        </ul>
      </div>
    </div>
  </div>

  {% include "fr/_site_footer.html" %}

</div>
  
{% endblock %}
