<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{site.name}}</title>
    <meta name=viewport content="width=device-width">

    {% stylesheet manifest %}

    <!--[if lt IE 9]>
    <script src=//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js></script>
    <![endif]-->
  </head>
  <body class="site">

    {% javascript manifest %}

    <script>
      window._gaq || (window._gaq = []);
      _gaq.unshift(
        ['_setAccount','UA-22094249-2'],
        ['_setDomainName', '.gocardless.com'],
        ['_trackPageview']
      );
      (function(d,t){
        var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=true;
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)
      }(document,'script'));

      // GoCardless tracking code
      (function(w, d, t, g, e, r){
        w[g] || (w[g] = function(){ (w[g].q = w[g].q || []).push(arguments) });
        w[g].l = + new Date;
        e = d.createElement(t);
        r = d.getElementsByTagName(t)[0];
        e.async = true;
        e.src = '//d1mmrmxi7sv2ut.cloudfront.net/gct.js';
        r.parentNode.insertBefore(e, r);
      }(window, document, 'script', 'gct'));
      {% if site.env == 'production' %}
      gct('initialize', 'mixpanel', {
        token: '0ebe37c4ed96a0432e989cc20ca1db04',
        debug: false,
        cookieName: '_gc_visitorid'
      });
      {% else %}
      gct('initialize', 'mixpanel', {
        token: 'fa029f81daf1c512854b1345342c4e6c',
        debug: true,
        cookieName: '_gc_visitorid'
      });
      {% endif %}
    </script>

    <script>
      // Google remarketing code
      window.google_conversion_id = 999825953;
      window.google_custom_params = window.google_tag_params;
      window.google_remarketing_only = true;
    </script>
    <script src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/999825953/?value=0&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>
  </body>
</html>
