{% extends "plain.html" %}

{% block title %}The UK’s #1 for online Direct Debit{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless is the UK's #1 for Direct Debit, serving more companies than any other provider. Perfect for recurring billing and B2B invoicing.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--europe page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert site-gutter u-cf align-btn-small u-padding-Tm">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text u-text-center">
          <h1 class="u-text-heading u-color-invert hero-heading u-text-light">Accept Direct Debit across Europe</h1>
          <p class="u-text-heading-light u-size4of5 u-center u-color-invert u-text-m u-margin-Txxs">GoCardless will be one of the first companies to offer European wide Direct Debit.
We’re currently in beta and launching soon.</p>
          <div class="u-text-center u-margin-Tl">
            <a href="#" class="btn btn--invert btn--move">Register interest</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container site-gutter u-text-center u-padding-Txxl u-padding-Bm">
    <div class="u-size1of2 u-center">
      <i class="europe-icon u-margin-Vs"></i>
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
        Get paid at home and abroad
      </h2>
      <p class="u-text-s u-color-p u-margin-Ts">
        To help businesses like yours get the benefits of Direct Debit internationally, the European Union has created the Single European Payments Area, known as SEPA.
      </p>
      <p class="u-text-s u-color-p u-margin-Tm">
        SEPA makes transferring money between Eurozone countries quick and easy, and we’re working hard to be one of the first companies to offer access to the system. <a href="#" class="u-link-medium-gray u-text-underline">Register your interest today</a>, or learn more below:
      </p>
    </div>
    <div class="grid u-padding-Vxl u-margin-Txm">
      <div class="grid__cell u-size1of3 u-text-center">
        <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">An introduction to SEPA</h3>
        <p class="u-size7of10 u-center u-color-p u-margin-Txs">
          Our fees our considerably cheaper than cards and services like Paypal
        </p>
      </div>
      <div class="grid__cell u-size1of3 u-text-center">
        <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">SEPA: a user guide</h3>
        <p class="u-size7of10 u-center u-color-p u-margin-Txs">
          Automatically collect one-off or recurring payments from your customers
        </p>
      </div>
      <div class="grid__cell u-size1of3 u-text-center">
        <h3 class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Txs">Under the hood of SEPA</h3>
        <p class="u-size7of10 u-center u-color-p u-margin-Txs">
          Get paid on time by collecting money straight from your customers’ accounts
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
