{% extends "plain.html" %}

{% block title %}SEPA Direct Debit: Collect Payments Across Europe{% endblock %}
{% block meta_tags %}<meta name="description" content="GoCardless makes it easy to accept SEPA Direct Debit payments from across Europe. Take recurring and one-off payments. Find out more and register your interest.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--europe page-hero--large u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-relative u-cf">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text u-text-center">
          <h1 class="u-text-heading u-color-invert u-text-xl u-text-light">Accept Direct Debit across Europe</h1>
          <p class="u-text-heading-light u-size4of5 u-center u-color-invert u-text-m u-margin-Txxs">GoCardless will be one of the first companies to offer European wide Direct Debit.
We’re currently in beta and launching soon.</p>
          <div class="u-text-center u-margin-Tl">
            <a href="/request-sepa-updates" class="btn btn--invert btn--move">Register interest</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <div class="u-size7of12 u-center">
        <i class="europe-icon u-margin-Bs"></i>
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          Get paid at home and abroad
        </h2>
        <div class="u-size11of12 u-center">
          <p class="u-text-s u-color-p u-margin-Ts">
            To help businesses like yours get the benefits of Direct Debit internationally, the European Union has created the Single European Payments Area, known as SEPA.
          </p>
          <p class="u-text-s u-color-p u-margin-Tm">
            SEPA makes transferring money between Eurozone countries quick and easy, and we’re working hard to be one of the first companies to offer access to the system. <a href="/request-sepa-updates" class="u-link-medium-gray u-text-underline">Register your interest today</a>, or learn more below:
          </p>
        </div>
      </div>

      <hr class="u-margin-Txxl u-size2of3 u-center">

      <div class="grid u-padding-Txl u-margin-Txm">
        <h3 class="u-text-heading-light u-color-heading u-text-m u-text-center u-margin-Bm">
          Here's some recommended reading
        </h3>
        <div class="grid__cell u-size1of3 u-text-center">
          <a href="https://gocardless.com/blog/sepa-direct-debit-explained" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            An introduction to SEPA
          </a>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <a href="https://gocardless.com/guides/sepa" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            A SEPA user guide
          </a>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <a href="https://gocardless.com/blog/sepa-direct-debit-details/" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            Under the hood of SEPA
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
