{% extends "plain.html" %}

{% block title %}FAQ Commerçants{% endblock %}
{% block meta_tags %}{% endblock %}

{% block body %}

<div class="site-wrapper">
 
<!-- Links must be updated to French when the page 
  exists -->

 <div class="u-background-white">
    <div class="site-container u-cf">
      {% include "fr/_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <div class="u-margin-Vxm u-text-center">
      <h1 class="u-text-heading u-color-invert u-text-xl u-text-light">
        Foire aux questions
      </h1>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl grid">
    <div class="u-padding-Vxl">
      <div class="grid__cell u-size-4of12">
        <div class="u-size-5of6">
          <ul class="nav nav-tabs">
            <li><a href="#overview-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              En bref
            </a></li>
            <li><a href="#how-it-works-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              Fonctionnement
            </a></li>
            <li><a href="#signing-up-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              Inscription
            </a></li>
            <li><a href="#direct-debit-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              Prélèvement bancaire
            </a></li>
            <li><a href="#security-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              Sécurité
            </a></li>
            <li><a href="#customer-experience-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              Expérience du consommateur
            </a></li>
            <li><a href="#international-payments-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              Payments à l'étranger
            </a></li>
            <li><a href="#developer-api-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              API pour développeurs
            </a></li>
            <li><a href="#partners-tab" class="nav-tabs__link u-block u-padding-Bs u-text-light u-text-no-smoothing"
              ng-click="$activate($event)"
              ng-class="{ 'is-active': $isActive }"
              ng-gc-tabby-trigger>
              Partenaires
            </a></li>
          </ul>
          <hr class="u-size-11of12">
          <p class="para u-padding-Txs">Une question? Appelez nous au +33 (0) 9 75 18 42 95</p>
        </div>
      </div>

      <div class="grid__cell u-size-8of12">

        <article id="overview-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">En bref</h2>
            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment utiliser GoCardless Pro?
            </h3>
            <p class="para">GoCardless Pro est une solution de paiement par compte bancaire en Europe basée sur une <a href="https://developer.gocardless.com/pro" class="u-link-color-p u-text-underline">API REST</a> qui s'intègre dans votre site web, ainsi que dans votre système de facturation ou de gestion clients. Vous pouvez ensuite collecter vos paiements ("prélèvement bancaire") directement depuis le compte bancaire de vos clients, et réconcilier ces paiements automatiquement dans vos systèmes.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              À qui s'adresse GoCardless Pro?
            </h3>
            <p class="para">GoCardless Pro s'adresse à toute entreprise désirant prendre des paiements directement à partir du compte bancaire de leurs clients dans la zone Euro et en Grande-Bretagne.</p> 
            <p class="para">Le prélèvement bancaire est particulièrement adapté aux paiements récurrents, par exemple les offres d'abonnements, la facturation de compte clients ou les achats fréquents.</p>
            <p class="para">La simplicité d'utilisation et la facilité d'implémentation de notre API font de GoCardless Pro une platforme puissante pour tous, des start-ups innovantes aux grandes enterprises.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quels sont les avantages de GoCardless vis-à-vis d'autres prestataires?
            </h3>
            <p class="para">Voici quelques-uns de nos avantages vis-à-vis d'autres prestataires:</p>

            <ul class="list">
              <li>
                <strong>Réconciliation automatique</strong> - Encaissez des paiments récurrents ou ponctuels automatiquement en un clic. Notre API réconcilie automatiquement tous les paiements directement directement dans vos systèmes informatique. Vous n'avez plus besoin de manipuler les fichiers manuellement.
              </li>
              <li>
                <strong>Fait pour les développeurs</strong> - Notre <a href="https://developer.gocardless.com/" class="u-link-color-p u-text-underline">REST API</a> est conçu pour être facile et rapide à intégrer par vos développeurs. En plus, c'est gratuit!
              </li>
              <li>
                 <strong>Un prix simple et transparent </strong> - Notre tarif dégressif va de <a href="/tarifs" class="u-link-color-p u-text-underline">0,75 à 0,01 €</a> avec un abonnement mensuel de 250 € par mois. Les incidents de paiements, ainsi que l'implémentation, sont gratuits.
              </li>
              <li>
                 <strong>La technologie est notre métier</strong> - Nous recruitons les meilleurs développeurs, et sommes en permanence à votre écoute.
              </li>
            </ul>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Pour quels usages GoCardless Pro n'est-il pas adapté?
            </h3>
            <p class="para">GoCardless Pro n'est pas adapté à tous les usages. Par exemple, nous ne pouvons pas:</p>
            <ul class="list">
              <li>
                <strong>Réaliser des paiements par carte bancaire</strong> - mais vous <strong>pouvez</strong> toujours utiliser un prestataire à cette fin au côté de GoCardless.
              </li>
              <li>
                <strong>Prélever des paiements instantanément</strong> - Le prélèvement SEPA prend 3-6 jours ouvrables pour être confirmé par les banques, ce qui n'est pas idéal pour les livraisons rapides d'objets physiques.
              </li>
            </ul>
            <p class="para">Nous sommes capables d'accepter la grande majorité des clients, à quelques exceptions près - pour plus de détails, voir nos <a href="/fr/legal/restrictions" class="u-link-color-p u-text-underline">activités restreintes</a>.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Y a-t-il des limites sur les montants d'encaissement?
            </h3>
            <p class="para">Il n'y a pas de limites sur le nombre de transactions que vous pouvez effectuer.</p>
            <p class="para">Pour une transaction unitaire, le montant maximum est de 5.000€.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment vais-je recevoir les fonds collectés?
            </h3>
            <p class="para">Les fonds collectés sont directement versés sur le(s) compte(s) en banque de votre choix. Nos <a href="/fr/tarifs" title="Tarifs" class="u-link-color-p u-text-underline">tarifs</a> sont facturés séparément.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quand vais-je recevoir mes paiements?
            </h3>
            <p class="para">Tous les paiements SEPA sont payés 3 jours ouvrables après le prélèvement des fonds sur le compte de votre client.</p>
            <p class="para">Nous ne conservons aucun paiement en réserve.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Acceptez-vous les cartes bancaires ou cartes bleues?
            </h3>
            <p class="para">Non, GoCardless est uniquement un prestataire de prélèvement bancaire.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment est régulé GoCardless ?
            </h3>
            <p class="para">GoCardless est un Etablissement de Paiement Agréé, régulé par l’autorité britannique FCA (Financial Conduct Authority) et habilité à collecter des paiements à travers l’Union Européenne.</p>
          </div>
        </article>

        <article id="how-it-works-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">Fonctionnement</h2>
            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quand vais-je recevoir mes paiements?
            </h3>
            <p class="para">Tous les paiements SEPA sont payés <strong>3 jours ouvrables</strong> après le prélèvement des fonds sur le compte de votre client.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quels types de paiement sont acceptés?
            </h3>
            <p class="para">Vous pouvez collecter des paiements par compte bancaire dans la zone Euro ("prélèvement SEPA") et en Grande-Bretagne ("prélèvement BACS" en livre sterling). Ces derniers peuvent être ponctuels, récurrents ou variables.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quel est le processus de paiement?
            </h3>
            <ul class="list">
              <li>Vos clients fournissent leur information bancaire sur une page de paiement sécurisé sur votre site web, par téléphone ou par courrier.</li>
              <li>Les informations nécessaires pour créer le prélèvement sont automatiquement alimentées par votre site web via notre API. Elles peuvent également être alimentées à partir de vos systèmes de facturation ou de gestion clients, ou votre intranet.</li>
              <li>Nous créons un mandate de prélèvement auprès des banques, contre lequel vous pouvez prélevez les fonds nécessaires. Nous stockons le mandat dématérialisé de façon sécurisée.</li>
              <li>Vous envoyez un email pour notifier votre client des prochaines échéances de paiements.</li>
              <li>Vous gérez vos paiements directement dans vos systèmes ou avec notre tableau de bord.</li>
            </ul>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment mes clients autorisent-ils les paiements?
            </h3>
            <p class="para">Vos clients fournissent leur information bancaire sur une page de paiement sécurisée et hébergée sur votre site, ce qui crée une autorisation de prélèvement. Vos clients ne voient que votre marque et vous avez le contrôle total du design de vos pages de paiements.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Est il possible de planifier mes paiements pour des dates précises?
            </h3>
            <p class="para">Oui – vous pouvez facilement adapter le jour, la date, la fréquence et la durée de tous vos paiements via notre API.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Est il possible de modifier un paiement une fois créé?
            </h3>
            <p class="para">Oui, vous pouvez soit annuler un paiement s’il n’a pas déjà été prélevé, soit faire  un remboursement. Vous connaissez le statut de votre paiement et de votre remboursement à chaque instant, en temps réel. Le tout se fait facilement via notre API. </p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment savoir quand j’ai été payé?
            </h3>
            <p class="para">Vous pouvez voir le statut de tous vos paiements via une simple requête à notre API ou les visualiser sur notre tableau de bord en ligne.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Est-il possible que vous mettiez des limites sur mon compte? 
            </h3>
            <p class="para">Il se peut que nous limitions les paiements dans certains cas, par exemple:</p>
            <ul class="list">
              <li>Quand nous pensons qu’il y a eu une faille de sécurité sur votre compte;</li>
              <li>Si nous soupçonnons un usage frauduleux ou non-autorisé de votre compte;</li>
              <li>Si cela est requis par la loi</li>
            </ul>
            <p class="para">Si nous devons prendre cette mesure, nous vous notifierons au plus tôt possible et nous mettrons une personne dédiée pour résoudre votre situation au plus vite.</p>
          </div>
        </article>

        <article id="signing-up-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">Inscription</h2>
            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment m’inscrire sur GoCardless Pro?
            </h3>
            <p class="para">Afin de vous donner une clé d’accès à notre API, veuillez contacter notre <a href="/fr/contactez-nous" class="u-link-color-p u-text-underline">équipe</a>.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment essayer le produit?
            </h3>
            <p class="para">Nous vous donnerons une clé d’accès à la sandbox de notre <a href="https://developer.gocardless.com/pro" class="u-link-color-p u-text-underline">API</a>, ce qui permettra à vos développeurs de tester notre produit. Pour cela, <a href="/fr/contactez-nous" class="u-link-color-p u-text-underline">contactez-nous</a> .</p>

            <p class="para">Selon vos besoins, nous pouvons également vous faire la démonstration de notre tableau de bord pour gérer les prélèvements ou l’intégration faite par nos partenaires (par exemple Zuora).
            </p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Y a-t-il une période d’engagement?
            </h3>
            <p class="para">Non. Vous êtes libre d’essayer le produit sans engagement. Si vous décidez d’utiliser GoCardless Pro, vous pouvez résilier à tout moment sans frais.</p>
          </div>
        </article>

        <article id="direct-debit-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">Prélèvement bancaire</h2>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Qu'est ce que le prélèvement SEPA?
            </h3>
            <p class="para">Le prélèvement SEPA est un nouvel instrument de paiement introduit par l’Union Européenne en août 2014, qui remplace le prélèvement national. Il permet de collecter des fonds sur les comptes bancaires en Euro dans toute <a href="http://fr.wikipedia.org/wiki/Single_Euro_Payments_Area" target="_blank" class="u-link-color-p u-text-underline">la zone SEPA</a>.</p>
            <p class="para">Vous pouvez en apprendre plus grâce à <a href="https://gocardless.com/guides/sepa/introduction/" class="u-link-color-p u-text-underline">notre guide SEPA.</a>.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quelles sont les protections des consommateurs?
            </h3>
            <p class="para">Votre consommateur bénéficie d’un droit  à remboursement d’un prélèvement SEPA autorisé. Toute demande de remboursement doit être présentée à leur banque dans les 8 semaines suivant la date de débit de leur compte.</p>
            <p class="para">Le consommateur peut également demander le remboursement immédiat d’un prélèvement SEPA non autorisé ou frauduleux. Le cas échéant, il doit le faire sans tarder et au plus tard dans les 13 mois à compter de la date de débit de son compte. Le compte est alors remis dans l’état où il se serait trouvé si l’opération de paiement non autorisée n’avait pas eu lieu.</p>
            <p class="para">Le remboursement par la banque ne signifie en aucune manière que la contestation de la créance sous-jacente soit justifiée. Ainsi, le remboursement est sans effet sur la réalité (ou non) de cette créance sous-jacente, et il vous appartient de régler le différend entre vous et votre client.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Y a-t-il des frais pour le consommateur? 
            </h3>
            <p class="para">Non. Avec l’entrée de SEPA, les banques sont obligées de ne pas facturer les prélèvements bancaires. C’est donc gratuit pour vos clients.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Ai-je besoin d’un Identifiant Créancier SEPA (ICS)? 
            </h3>
            <p class="para">Nous pouvons vous fournir un ICS. Vous pouvez également utiliser le vôtre.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quelles sont les opérations les mieux adaptées aux prélèvements bancaires?
            </h3>

            <p class="para">Le prélèvement bancaire est particulièrement adapté aux:</p>
            <ul class="list">
              <li>Paiements réguliers (par exemple, abonnements ou forfaits)</li>
              <li>Clients avec une relation de long-terme (par exemple, compte client)</li>
              <li>Facturation de services (par exemple, facture téléphonique)</li>
            </ul>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quelles sont les opérations qui ne sont pas adaptées aux prélèvements bancaires?
            </h3>
            <ul class="list">
              <li>Les opérations nécessitant un paiement immédiat (par exemple, e-commerce)</li>
              <li>Les objets de très haute valeur achetés ponctuellement (par exemple, achat d’or)</li>
              <li>Les opérations à haut risque de fraude au remboursement (par exemple, jeux d’argent)</li>
            </ul>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quels sont les délais de paiements?
            </h3>
            <p class="para">Tous les paiements SEPA sont payés 3 jours ouvrables après le prélèvement du compte bancaire de votre client.</p>
            <p class="para">Pour un nouveau client, il nous faut créer un nouveau mandat auprès des banques, ce qui doit être fait 6 jours ouvrables avant le prélèvement du compte bancaire de votre client.</p>
            <p class="para">Les délais de paiement sont entièrement automatisés par GoCardless, les délais présentés ici sont pour votre information.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Puis-je collecter des paiements ponctuels avec le prélèvement bancaire?
            </h3>
            <p class="para">Oui, c’est possible, même si le prélèvement bancaire est surtout avantageux pour les paiements récurrents.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Est-il facile de changer de prestataire de prélèvement bancaire?
            </h3>
            <p class="para">Oui – il suffit d’amender le mandat SEPA pour y mettre le nom et Identifiant Créancier SEPA du nouveau prestataire. Vos clients doivent être notifiés du changement, mais sans nécessiter d’action de leur part.</p>
            <p class="para">GoCardless gère entièrement ce changement pour vous. Vous n’avez rien à faire, et ce service est entièrement gratuit. </p>
          </div>
        </article>

        <article id="security-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">Securité</h2>
            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment savoir si mon argent est en sécurité?
            </h3>
            <p class="para">GoCardless est un <a href="http://www.fsa.gov.uk/register/psdFirmBasicDetails.do?sid=315374" title="FCA Registration" target="_blank" class="u-link-color-p u-text-underline">Etablissement de Paiement Agréé</a>, régulé par l’autorité britannique FCA (Financial Conduct Authority) et habilité à collecter des paiements à travers l’Union Européenne. Nous servons plus de 5.000 entreprises en Europe.
            </p>
            <p class="para">Votre argent transite dans un compte séquestre sécurisé, dans l’une de nos banques partenaires.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment est-ce que GoCardless protège mes données?
            </h3>
            <p class="para">La sécurité est d’une importance primordiale à GoCardless. Nous prenons plusieurs mesures pour garantir que vos données sont sécurisées à chaque instant :</p>

            <ul class="list">
              <li>Notre accès au prélèvement SEPA est fourni par les plus grandes banques Européennes, qui ont validé l’intégrité de nos systèmes.</li>
              <li>Notre serveurs sont basés en Europe dans des centres de données sécurisé – vos données ne sortent jamais de l’UE.</li>
              <li>Notre serveur de données financières est séparé de notre serveur d’application par de multiples pare-feux.</li>
              <li>Toute communication client-serveur est cryptée par 256 bit SSL. Le standard réglementaire est seulement de 128 bit.</li>
            </ul>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Que faisons-nous de votre argent avant qu’il ne vous soit versé ?
            </h3>
            <p class="para">Votre argent transite par un compte séquestre sécurisé, dans l’une de nos banques partenaires, en conformité avec les règles financières.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Mes clients sont-ils protégés ?
            </h3>
            <p class="para">Oui, ils sont protégés par les droits à remboursement du consommateur (voir notre rubrique <a href="#direct-debit-tab" class="u-link-color-p u-text-underline">Prélèvement bancaire</a>).</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Découverte de vulnérabilité
            </h3>

            <p class="para">Notre priorité est de protéger nos utilisateurs. Si vous avez découvert une vulnérabilité, nous vous demandons de nous en faire part de façon responsable. Si la vulnérabilité est exposée publiquement, ceci met en danger tous nos utilisateurs. Nous vous recommandons de nous contacter directement pour corriger le problème.</p>
            <p class="para">Pour vous remercier de vos efforts pour que GoCardless reste sûr, nous offrons des récompenses pour votre collaboration en cas de découverte de vulnérabilité. Ces récompenses sont déterminées à notre gré, mais sont au minimum de 300€ (et peuvent être bien plus élevées). Le montant final est déterminé selon la sévérité du problème.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Rapport du problème
            </h3>

            <ul class="list">
              <li>Envoyez nous un email à  <a href="mailto:security@gocardless.com" class="u-link-color-p u-text-underline">security@gocardless.com</a> dès que vous prenez connaissance du problème. Notre clé GPG id est <code>684ED3A3</code>, et l'empreinte est le <code>8A4C 2665 6632 8EC4 1C83 6BB4 D9E1 ADB2 684E D3A3</code>.</li>
              <li>Décrivez en détail le problème, y compris les étapes pour le reproduire.</li>
              <li>N’exploitez pas la vulnérabilité, sauf pour démontrer le problème à nos équipes.</li>
              <li>Ne révélez pas le problème avant qu’il soit résolu.</li>
            </ul>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Eligibilité pour une récompense
            </h3>

            <p class="para">Nous apprécions les efforts accomplis par les chercheurs en sécurité pour qu'Internet reste sûr, et nous voulons les récompenser pour leur travail. Cependant, nous ne récompensons pas les actions malveillantes, ou les actions délibérées pour perturber notre service. L‘éligibilité pour une récompense est décidée au cas-par-cas, mais nous ne donnerons jamais de récompenses pour :</p>
            <ul class="list">
              <li>Les attaques de déni de service</li>
              <li>L’utilisation d’outils comme les scanneurs et "fuzzers", car ils impactent négativement notre service, et créent de large perturbations coûteuses à nettoyer</li>
              <li>Les attaques d’ingénierie sociale</li>
              <li>Les attaques physiques ou menaces envers nos équipes ou nos utilisateurs</li>
            </ul>
          </div>
        </article>

        <article id="customer-experience-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">Expérience du consommateur</h2>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment est ce que mon client peut me payer?
            </h3>
            <p class="para">Votre client peut vous donner ses coordonnées bancaires par internet, par téléphone ou par courrier.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Est ce que mes clients restent sur mon site?
            </h3>
            <p class="para">Avec GoCardless Pro, vous hébergez les pages de paiement sur votre propre site. Il n’y a pas de redirection vers notre site. Vous êtes également en contrôle du design de vos pages de paiements.
            </p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Autorisez-vous les iFrames?
            </h3>
            <p class="para">GoCardless n’a pas d’iFrame nativement. Certains de nos partenaires, tel que Zuora, peuvent vous fournir une iFrame pour vos pages de paiements.</p>
            <p class="para">Nous offrons également un flow JS qui vous permet de n’avoir aucune donnée bancaire transitant sur vos serveurs.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Est-il possible de pré-remplir les champs de paiements?
            </h3>
            <p class="para">Vous pouvez pré-remplir tous les champs de paiements, excepté l’IBAN qui doit être fourni par l’utilisateur.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Mes clients peuvent-ils payer par mobile?
            </h3>
            <p class="para">GoCardless Pro est en marque blanche, cela dépend donc de la compatibilité avec les mobiles et tablettes de votre site web.</p>
          </div>
        </article>

        <article id="international-payments-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">Paiements à l'étranger</h2>
            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Dans quels pays GoCardless Pro est-il disponible ?
            </h3>
            <p class="para">GoCardless Pro est disponible dans tous les pays, quelque soit le lieu d’immatriculation de votre entreprise. Vous aurez besoin d’avoir un compte en banque dans la zone Euro ou Livre Sterling.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Dans quels pays puis-je collecter des fonds?
            </h3>
            <p class="para">Avec SEPA, vous pouvez collecter des fonds dans les 21 pays de la zone Euro :  Allemagne, Autriche, Belgique, Chypre, Espagne, Estonie, Finlande, France, Grèce, Irlande, Italie, Lettonie, Lituanie, Luxembourg, Malte, Monaco, Pays-Bas, Portugal, San Marino, Slovaquie, Slovénie. </p>
            <p class="para">Vous pouvez également collecter des fonds en Grande-Bretagne en Livres Sterling.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Qu'est ce que le prélèvement SEPA?
            </h3>
            <p class="para">Le prélèvement SEPA est un nouvel instrument de paiement introduit par l’Union Européenne en Août 2014 qui remplace le prélèvement national. Il permet de collecter des fonds sur les comptes bancaires en Euro dans toute <a href="http://fr.wikipedia.org/wiki/Single_Euro_Payments_Area" target="_blank" class="u-link-color-p u-text-underline">la zone SEPA</a>.</p>
            <p class="para">Vous pouvez en apprendre plus dans <a href="https://gocardless.com/guides/sepa/introduction/" class="u-link-color-p u-text-underline">notre guide SEPA</a>.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Qu’est ce que le prélèvement BACS?
            </h3>
            <p class="para">Le prélèvement BACS est l’équivalent du prélèvement SEPA en Grande-Bretagne et est régi par <a href="http://www.bacs.co.uk/Bacs/Businesses/DirectDebit/Pages/DirectDebit.aspx" target="_blank" class="u-link-color-p u-text-underline">l'organisme BACS</a>.</p>
            <p class="para">Vous pouvez en apprendre plus dans <a href="https://gocardless.com/direct-debit/" class="u-link-color-p u-text-underline">notre guide BACS (en Anglais)</a>.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quelles devises sont supportées par GoCardless?
            </h3>
            <p class="para">Nous acceptons les paiements en EUR (Euro) et GBP (Livres Sterling).</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Les coûts à l’étranger sont-ils les mêmes?
            </h3>
            <p class="para">Oui, vous bénéficiez d’un tarif unique dans la devise de votre choix (EUR ou GBP). Le prix devient dégressif quel que soit le paiement effectué.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quand est-ce que GoCardless sera disponible hors d’Europe?
            </h3>
            <p class="para">GoCardless ne sera pas disponible hors d’Europe en 2015. Nous souhaitons ajouter d’autres pays, et vous tiendrons informé sur notre blog.</p>
          </div>
        </article>

        <article id="developer-api-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">API pour développeur</h2>
            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              À quoi sert l'API?
            </h3>
            <p class="para">Notre API REST donne la possibilité aux développeurs de facilement intégrer GoCardless Pro. Apprenez en plus sur notre <a href="https://developer.gocardless.com/pro" class="u-link-color-p u-text-underline">documentation</a>.</p>
            <p class="para">Vous pouvez intégrer GoCardless Pro pour prendre des paiements via prélèvement bancaire.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Avec quels langages de programmation êtes-vous compatible?
            </h3>
            <p class="para">WNous sommes compatible avec tous les langages existants grâce à l’adoption du standard REST.</p>
            <p class="para">Si vous avez des questions pour nos développeurs, vous pouvez aller sur notre <a href="http://webchat.freenode.net/?channels=gocardless&uio=OT10cnVlJjExPTIzNiYxMj10cnVl51" target="_blank" class="u-link-color-p u-text-underline">chat IRC</a> (#gocardless sur irc.freenode.net) en Anglais.
            </p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Puis-je héberger directement les pages de paiements ?
            </h3>
            <p class="para">Oui. Vous êtes en contrôle de vos pages de paiement. Vous êtes libre du design de ces pages. Il y a cependant certaines règles à respecter, que nous vous aiderons à implémenter via notre guide des règles SEPA.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Autorisez-vous les iFrames ?
            </h3>
            <p class="para">GoCardless n’a pas d’iFrame nativement. Certains de nos partenaires, tel que Zuora, peuvent vous fournir une iFrame pour vos pages de paiements.</p>
            <p class="para">Nous offrons également un flow JS qui vous permet de n’avoir aucune donnée bancaire transitant sur vos serveurs.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Quelles informations sont disponibles sur votre API ?
            </h3>
            <p class="para">GoCardless Pro vous fournit des « webhooks « qui permettent d’être notifié de tout changement de statut pour chaque object. Par exemple, vous êtes informé en temps réel sur le statut de tous vos paiements et mandats.</p>
            <p class="para">Vous pouvez en apprendre plus sur nos webhooks dans notre API <a href="https://developer.gocardless.com/pro/#webhooks-overview" class="u-link-color-p u-text-underline">ici</a>.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment recevoir de l’aide technique ?
            </h3>
            <p class="para">Vous pouvez nous envoyer un email à france@gocardless.com. Nous avons aussi und salle de chat qui est accessible à <a href="http://webchat.freenode.net/?channels=gocardless&uio=OT10cnVlJjExPTIzNiYxMj10cnVl51" target="_blank" class="u-link-color-p u-text-underline">#gocardless sur irc.freenode.net</a>. Nos développeurs sont disponible de 10h-19h du Lundi au Vendredi pour vous assister.</p>
          </div>
        </article>

        <article id="partners-tab" ng-gc-tabby-content>
          <div ng-if="$isActive">
            <h2 class="u-text-heading-light u-text-m u-color-heading">Partenaires</h2>
            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Qu’est ce qu’un partenaire? 
            </h3>
            <p class="para">Un partenaire est une application ou logiciel qui a intégré notre API pour vous. Vous n’avez alors pas besoin d’intégrer notre API, et vous pouvez directement prendre les paiements via prélèvement automatique via cette application ou logiciel.</p>
            <p class="para">Le système de facturation récurrent Zuora est un exemple de partenaire. <a href="/fr/contactez-nous" class="u-link-color-p u-text-underline">Contactez-nous</a> pour en apprendre plus.</p>


            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Partagez vous une part des recettes pour le partenaire ?
            </h3>
            <p class="para">Oui – nous partageons 10% des frais transactionnels.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment devenir un partenaire ?
            </h3>
            <p class="para">Contactez nous à <a href="mailto:france@gocardless.com" class="u-link-color-p u-text-underline">france@gocardless.com</a> avec une brève description de votre service, et nous vous répondrons au plus tôt.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Comment montrer les données de paiements dans mon application ?
            </h3>
            <p class="para">GoCardless Pro vous fournit des "webhooks" qui permettent d’être notifié de tout changement de statut pour chaque object. Par exemple, vous êtes informé en temps réel sur le statut de tous vos paiements et mandats.</p>
            <p class="para">Vous pouvez en apprendre plus sur nos webhooks dans notre API <a href="https://developer.gocardless.com/pro/#webhooks-overview" class="u-link-color-p u-text-underline">ici</a>.</p>

           <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Puis-je héberger directement les pages de paiements ?
            </h3>
            <p class="para">Oui. Un partenaire peut créer les pages de paiement pour ses utilisateurs. Il y a cependant certaines règles à respecter que nous vous aiderons à implémenter via notre guide des règles SEPA.</p>

            <h3 class="section-heading u-text-heading-light u-color-heading u-margin-Vm u-text-s">
              Autorisez-vous les iFrames ?
            </h3>
            <p class="para">GoCardless n’a pas d’iFrame nativement. Nos partenaires peuvent construire une iFrame pour leur utilisateurs, qui intéragit avec notre API.</p>

          </div>
        </article>


      </div>
    </div>
  </div>

  {% include "fr/_site_footer.html" %}

</div>

{% endblock %}