<div class="u-pull-start">
  <a href="/" class="header-logo u-relative u-block u-padding-Vl">
    <img ng-gc-svg-injector class="site-logo__image u-fill-invert" data-src="/images/logos/site-logo.svg">
  </a>
</div>

<div class="u-pull-end align-btn-small">

  <nav id="dropdown-click" class="nav u-pull-start u-color-invert u-text-xxs u-text-light u-text-no-smoothing">
    <div class="nav__item u-relative">
      <a toggle="productsClick.isVisible" class="u-padding-Vl u-block u-link-invert" href="">
        <div class="nav__item-link">Our products</div>
      </a>
      <popover show="productsClick.isVisible" ng-animate class="nav-dropdown__popover nav-dropdown__popover--large"
      ng-class="{'u-is-visible': productsClick.isVisible }">
        {% include "_products_dropdown_list.html" %}
      </popover>
    </div>
    <div class="nav__item u-relative">
      <a toggle="businessesClick.isVisible" class="u-padding-Vl u-block u-link-invert" href="">
        <div class="nav__item-link">Your business</div>
      </a>
      <popover show="businessesClick.isVisible" ng-animate class="nav-dropdown__popover"
      ng-class="{'u-is-visible': businessesClick.isVisible }">
        {% include "_businesses_dropdown_list.html" %}
      </popover>
    </div>
    <div class="nav__item u-relative">
      <a toggle="moreClick.isVisible" class="u-padding-Vl u-block u-link-invert" href="">
        <div class="nav__item-link">More</div>
      </a>
      <popover show="moreClick.isVisible" ng-animate class="nav-dropdown__popover"
      ng-class="{'u-is-visible': moreClick.isVisible }">
        {% include "_more_dropdown_list.html" %}
      </popover>
    </div>
  </nav>

  <nav id="dropdown-hover" class="u-hidden nav u-pull-start u-color-invert u-text-xxs u-text-light u-text-no-smoothing">
    <div class="remove-dropdown-hack u-pull-start" ng-mouseover="productsHover.isVisible = false"></div>
    <div class="nav__item u-relative"
      ui-hoverintent="productsHover.isVisible = true"
      ui-hoverintent-delay="200">
      <a class="u-padding-Vl u-block u-link-invert" href="">
        <div class="nav__item-link">Our products</div>
      </a>
      <popover popover-options="{ mouseOutHide: true }" show="productsHover.isVisible" ng-animate class="nav-dropdown__popover nav-dropdown__popover--large"
      ng-class="{'u-is-visible': productsHover.isVisible }">
        {% include "_products_dropdown_list.html" %}
      </popover>
    </div>
    <div class="nav__item u-relative"
      ui-hoverintent="businessesHover.isVisible = true"
      ui-hoverintent-delay="200">
      <a class="u-padding-Vl u-block u-link-invert" href="">
        <div class="nav__item-link">Your business</div>
      </a>
      <popover popover-options="{ mouseOutHide: true }" show="businessesHover.isVisible" ng-animate class="nav-dropdown__popover"
      ng-class="{'u-is-visible': businessesHover.isVisible }">
        {% include "_businesses_dropdown_list.html" %}
      </popover>
    </div>
    <div class="nav__item u-relative u-margin-Rn"
      ui-hoverintent="moreHover.isVisible = true"
      ui-hoverintent-delay="200">
      <a class="u-padding-Vl u-block u-link-invert" href="">
        <div class="nav__item-link">More</div>
      </a>
      <popover popover-options="{ mouseOutHide: true }" show="moreHover.isVisible" ng-animate class="nav-dropdown__popover"
      ng-class="{'u-is-visible': moreHover.isVisible }">
        {% include "_more_dropdown_list.html" %}
      </popover>
    </div>
    <div class="remove-dropdown-hack u-pull-start" ng-mouseover="moreHover.isVisible = false"></div>
  </nav>

  <ul class="u-cf u-pull-start">
    <li class="u-pull-start">
      <a href="/users/sign_in" class="nav-btn btn btn--small btn--invert-hollow u-text-light u-text-xxs u-relative u-text-transform-none u-text-no-smoothing" id="login">
        Login
      </a>
    </li>
  </ul>
</div>
