<div class="u-pull-start">
  <a href="/" class="header-logo u-relative">
    <figure class="site-logo">
      <img ng-gc-svg-injector class="site-logo__image u-fill-primary" data-src="/images/logos/site-logo.svg">
    </figure>
  </a>
</div>
<div class="u-pull-end">
  <nav class="nav u-pull-start u-color-primary u-text-xxs u-text-light u-text-no-smoothing">
    <div class="nav__item u-relative">
      <a toggle="products.isVisible" href="">
        Our products
      </a>
      <popover show="products.isVisible" ng-animate class="nav-dropdown__popover nav-dropdown__popover--large"
      ng-class="{'u-is-visible': products.isVisible }">
        {% include "_products_dropdown_list.html" %}
      </popover>
    </div>
    <div class="nav__item u-relative">
      <a toggle="businesses.isVisible" href="">
        Your business
      </a>
      <popover show="businesses.isVisible" ng-animate class="nav-dropdown__popover"
      ng-class="{'u-is-visible': businesses.isVisible }">
        {% include "_businesses_dropdown_list.html" %}
      </popover>
    </div>
    <div class="nav__item u-relative">
      <a toggle="more.isVisible" href="">
        More
      </a>
      <popover show="more.isVisible" ng-animate class="nav-dropdown__popover"
      ng-class="{'u-is-visible': more.isVisible }">
        {% include "_more_dropdown_list.html" %}
      </popover>
    </div>
  </nav>

  <ul class="u-cf u-pull-start">
    <li class="u-pull-start">
      <a href="/users/sign_in" class="nav-btn btn btn--small btn--hollow u-text-light u-text-xxs u-relative u-text-transform-none u-text-no-smoothing" id="login">Login</a>
    </li>
  </ul>
</div>
