{% extends "plain.html" %}

{% block title %}Zest Digital - GoCardless Customer Stories{% endblock %}
{% block meta_tags %}<meta name="description" content="Zest Digital took control of its cashflow with GoCardless and doubled in size. Read about their experiences using GoCardless.">{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light u-margin-Vxm">
      Zest Digital
    </h1>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-l u-text-light
      u-size3of4 u-center u-text-center">
        Zest Digital took control of its cashflow with GoCardless and doubled in size
      </h2>
      <div class="grid u-margin-Txxl u-padding-Txm">
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            GoCardless helped them reduce aged debt by 58% in 2 months
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            We helped them cut average debtor days by 39% in 2 months
          </p>
        </div>
        <div class="grid__cell u-text-center u-size1of3">
          <figure class="svg-icon svg-icon--xsmall u-center">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
            <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
          </figure>
          <p class="u-color-heading u-margin-Tm u-size5of6 u-center">
            We helped them grow the team by 100%, with reliable cash reserves
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “Chasing payments was a waste of time”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          <a href="http://www.zestdigital.co/" class="u-link-medium-gray u-text-underline" target="_blank">Zest Digital</a> is a  digital marketing agency based in Oxfordshire. By automating processes wherever possible, the company has served hundreds of clients with just a handful of staff. A year ago, MD Alex Minchin realised that an overhaul of their payment process was needed to help them grow.
        </p>
        <p class="u-color-p u-margin-Tm">
          "We used to get paid by manual bank transfers but managing invoices and chasing payments was a waste of time," says Alex. With average debtor days of 76 days, Zest's growth was stifled by poor cashflow and they were unable to hire new staff despite a growing order book.
        </p>
      </div>
    </div>
  </div>

  <div class="vertical-page__creative-industries-bg">
    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-padding-Bxxl u-size2of3 u-center">
          <p class="u-text-heading u-color-invert u-text-l u-text-light">
            “I spoke with a number of Direct Debit providers and GoCardless were by far the best. We're now in control of what comes in and when.”
          </p>
        </div>
        <img src="/images/testimonials/zest-digital__avatar.png" class="u-size1of12 u-text-center u-margin-Bxs">
        <div class="u-color-invert u-text-heading u-text-m u-text-semi">Alex Minchin</div>
        <div class="u-color-invert u-text-heading u-text-xs">Zest Digital</div>
      </div>
    </div>
  </div>

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “GoCardless were by far the best”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Alex believed that Direct Debit was the most reliable solution and after considering several Direct Debit providers, selected GoCardless. "I spoke with a number of Direct Debit providers and GoCardless were by far the best. All the others had large up-front fees and seemed much more difficult to integrate."
        </p>
        <p class="u-color-p u-margin-Tm">
          They now take payments automatically through the Dashboard. The Zest team has also integrated GoCardless with their CRM to automate payment reminders.
        </p>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-padding-Vxxl">
    <div class="grid u-padding-Vxl">
      <div class="grid__cell u-size1of2">
        <h2 class="u-text-heading u-center u-color-heading u-text-l
        u-text-light u-size3of4">
          “We’re now in control of what comes in and when”
        </h2>
      </div>
      <div class="grid__cell u-size1of2">
        <p class="u-color-p">
          Within two months of joining GoCardless, Zest were able to reduce their aged debt by 58% and cut average debtor days by 39%.
        </p>
        <p class="u-color-p u-margin-Tm">
          "We're now in control of what comes in, and when. As a result, we've bucked the trend for flat growth in the industry and doubled in size in just 6 months."
        </p>
        <a href="/creative-industries" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-block u-margin-Txl">
            See how GoCardless works for creative industries
        </a>
      </div>
    </div>
  </div>

  <hr class="u-margin-An">

  <div class="site-container u-text-center u-padding-Vxxl">
    <div class="u-padding-Vxl">
      <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
        Sign up in minutes, take payments today
      </h2>
      <a href="/merchants/new" class="btn">Start taking payments</a>
      <p class="u-color-p u-margin-Ts">
        No set up costs, no monthly fees, no hidden charges
      </p>
    </div>
  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
