{% extends "plain.html" %}

{% block title %}GoCardless for Software as a Service Companies{% endblock %}
{% block meta_tags %}<meta name="description" content="Thousands of SaaS companies use GoCardless to collect payments. Fees start from 1% per transaction, capped at £2. Paper-free with branded online payment pages.">{% endblock %}

{% block body %}

<div class="site-wrapper">
  <div class="page-hero page-hero--saas page-hero--medium u-relative u-size-full">
    <div class="site-container page-hero__container">
      <div class="site-header site-header--invert u-cf align-btn-small u-padding-Tm">
        {% include "_site_header_invert.html" %}
      </div>
      <div class="page-hero__inner">
        <div class="page-hero__text">
          <h1 class="u-text-heading u-color-invert u-text-center u-text-xl u-text-light">
            Keep your house in order
          </h1>
          <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
            GoCardless helps property professionals manage rent,<br>stop late payments and improve cashflow
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sticky-nav">
    <div ng-gc-sticky-nav class="sticky-nav__inner u-background-light-gray u-text-heading u-text-xxs u-text-light u-text-no-smoothing">
      <div class="u-center site-container u-padding-Vm">
        <ul class="u-pull-start u-margin-Txxs">
          <li class="sticky-nav__item">
            <a href="#overview" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Overview
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#features" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Features
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#product" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Product
            </a>
          </li>
          <li class="sticky-nav__item">
            <a href="#pricing" class="sticky-nav__link" du-scrollspy ng-gc-smooth-scroll>
              Pricing
            </a>
          </li>
        </ul>
        <a href="/merchants/new" class="sticky-nav__cta btn btn--small btn--hollow u-pull-end u-text-transform-none u-text-light u-text-xxs u-text-no-smoothing">
          Start taking payments
        </a>
      </div>
      <hr class="u-margin-An">
    </div>
  </div>

  <div class="section-scroll-target" id="overview">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          Thousands of services use GoCardless to manage their payments
        </h2>
        <p class="u-text-s u-color-p u-margin-Txs u-size5of8 u-center">
          Spend less time worrying about admin and failed payments.<br>
          GoCardless gives you the freedom to focus on serving your users.
        </p>
        <div class="grid u-margin-Tl u-padding-Tm">
          <div class="grid__cell u-size1of3 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-green" data-src="/images/icons/money-flower-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/money-flower-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
              Cheaper than Paypal
            </div>
            <p class="u-size7of10 u-center u-color-p u-margin-Txs">
              Save more than 60% compared to Paypal or cards
            </p>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-yellow" data-src="/images/icons/payment-page-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/payment-page-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
              Branded payment pages
            </div>
            <p class="u-size7of10 u-center u-color-p u-margin-Txs">
              Our responsive forms let you own the experience
            </p>
          </div>
          <div class="grid__cell u-size1of3 u-text-center">
            <figure class="svg-icon u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--shadow u-fill-blue" data-src="/images/icons/tick-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image u-fill-dark-gray" data-src="/images/icons/tick-icon.svg">
            </figure>
            <div class="u-text-heading u-color-heading u-text-light u-text-no-smoothing u-text-m u-margin-Tm">
              Fewer failures
            </div>
            <p class="u-size7of10 u-center u-color-p u-margin-Txs">
              Money is collected directly from customers' bank accounts
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="features">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Save time and money
          </h2>
          <h3 class="u-text-s">Much cheaper than cards and Paypal</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            At just 1% per transaction, and with no monthly fees, GoCardless is less than one third the price of competitors.
          </p>
          <h3 class="u-text-s">Get your time back</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Money is collected automatically from customers' accounts, meaning no more worrying about admin or late payments.
          </p>
          <h3 class="u-text-s">Paperless from start to finish</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Everything is set up and managed online through our simple, scalable dashboard.
          </p>
        </div>
        <div class="grid__cell u-size1of2 u-margin-Txxl u-text-center">
          <img src="/images/features/take-payment.jpg" class="vertical-page__take-payment-image">
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of2 u-margin-Tm u-text-center">
          <img src="/images/features/plans.jpg" class="vertical-page__take-payment-image">
        </div>
        <div class="grid__cell u-size1of2">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Use plans to manage memberships
          </h2>
          <h3 class="u-text-s">Add customers to membership plans</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Easily create your own plans and add multiple customers to them. Take payments when it suits you.
          </p>
          <h3 class="u-text-s">Collect payments automatically</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Your users authorise you to collect payments from them. Money will automatically be billed from their account.
          </p>
          <h3 class="u-text-s">Adjust prices any time</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            You can update the price of a plan in a matter of clicks, making annual price increases quick and easy.
          </p>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of2 u-margin-Txs">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Your users will love it
          </h2>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Our hosted payment pages let you manage the whole sign up process for users online. They're totally responsive and you can use your brand on every form.
          </p>
          <h3 class="u-text-s">Sign up instantly</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Our online form takes seconds to fill out, and has been tested to work on every device from desktops down to mobile phones.
          </p>
          <h3 class="u-text-s">Your logo, front and centre</h3>
          <p class="u-color-p u-margin-Bm">
            Provide a great user experience by adding your logo to our<br>payment forms and automatically sending customers back<br>to your site after paying.
          </p>
          <h3 class="u-text-s">Add customers in individually, or in bulk</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            You can import hundreds of existing customers at once with a CSV. We'll request each of them to complete our payment pages.
          </p>
          <a href="/example-checkout" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi u-block u-margin-Txl">
            See an example payment page
          </a>
        </div>
        <div class="grid__cell u-size1of2 u-text-center">
          <img src="/images/features/payment-page--property.jpg" class="vertical-page__mobile-image">
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of2 u-text-center">
          <img src="/images/features/real-time-reports.jpg" class="vertical-page__real-time-reports-image">
        </div>
        <div class="grid__cell u-size1of2 u-margin-Ts">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Track every step
          </h2>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Our reporting tools let you know what you'll be paid and when, making cashflow issues a thing of the past.
          </p>
          <h3 class="u-text-s">Up to the second status reports</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Comprehensive, easy-to-use information on all of your payments and customers.
          </p>
          <h3 class="u-text-s">Email notifications</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            Immediate notification when a payment fails or is canceled. We'll automatically retry failed payments.
          </p>
          <h3 class="u-text-s">Export your data</h3>
          <p class="u-size5of6 u-color-p u-margin-Bm">
            View your data the way you want to and import it into other apps. Compatible with major book keeping software.
          </p>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <div class="u-size1of2 u-center">
          <h2 class="u-text-l u-text-heading u-color-heading u-text-light u-margin-Bl">
            Works with your existing software
          </h2>
          <p class="u-text-s u-color-p u-margin-Txs">
            GoCardless has partnered up with some of the leading platforms in the gym and fitness industry, integrating payments into their software
          </p>
        </div>
        <div class="u-text-center u-margin-Vl u-padding-Vs u-size2of5 u-center">
          <img src="/images/verticals/gym-logos@2x.jpg">
        </div>
        <a href="/partners" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
          View all our integrations
        </a>
      </div>
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="product">

    <div class="site-container u-text-center u-padding-Txxl">
      <div class="u-padding-Txxl">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l">
          Online services love GoCardless Basic.<br>Everything you need to set up users,<br>manage subscriptions and take payments
        </h2>
        <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
          <a href="/basic" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            Learn about GoCardless Basic
          </a>
        <div class="u-padding-Txxl u-size5of6 u-center">
          <img src="/images/features/dashboard-frame.jpg" class="vertical-page__dashboard-image">
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="grid u-padding-Vxl">
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Add customers individually, in bulk or with a link</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Take one-off, recurring or bulk payments online</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Your own responsive, branded payment pages</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Add a checkout button to your site, we'll do the rest</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Export all of your data easily, at any time</p>
          </div>
        </div>
        <div class="grid__cell u-size1of3 u-text-center">
          <div class="u-padding-Vl u-padding-Hxxl">
            <figure class="svg-icon svg-icon--xsmall u-center">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall svg-icon__image--small-shadow u-fill-green" data-src="/images/icons/tick-xsmall-icon.svg">
              <img ng-gc-svg-injector class="svg-icon__image svg-icon__image--xsmall u-fill-dark-gray" data-src="/images/icons/tick-xsmall-icon.svg">
            </figure>
            <p class="u-margin-Txs u-color-heading">Integrate with our clean, modern API with full documentation</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl u-size2of3 u-center">
        <i class="europe-icon u-margin-Bs"></i>
        <h2 class="u-text-heading u-color-heading u-text-l u-text-light">
          Need to take payments across Europe?
        </h2>
        <p class="u-text-s u-color-p u-margin-Ts u-size3of4 u-center">
          GoCardless Pro is the only product that enables you collect Direct Debit payments from any European country. With our API, your business can take payments from over 300 million people.
        </p>
        <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
        <a href="/pro" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
          Learn about GoCardless Pro
        </a>
      </div>
    </div>

    <hr class="u-margin-An">

  </div>

  <div class="section-scroll-target" id="pricing">

    <div class="u-text-center u-padding-Vxxl">
      <div class="site-container u-padding-Vxl">
        <div class="u-size1of2 u-center">
          <h2 class="u-text-heading u-color-heading u-text-xl u-text-light">
            Pay 1%
          </h2>
          <p class="u-color-p u-margin-Txxs">
            Just 1% per transaction, capped at £2
          </p>
          <a href="/pricing" class="btn btn--hollow u-margin-Tm">Learn about our pricing</a>
          <hr class="u-margin-Vxl horizontal-rule u-size3of4 u-center">
          <p class="u-color-heading u-margin-Bxxs">
            <strong>Taking more than 1000 transactions a month?</strong>
          </p>
          <a href="/pricing/#pro" class="u-color-primary u-text-upcase u-text-xxs u-text-heading u-text-semi">
            Learn about our Pro pricing
          </a>
        </div>
      </div>
    </div>

    <hr class="u-margin-An">

    <div class="site-container u-text-center u-padding-Vxxl">
      <div class="u-padding-Vxl">
        <h2 class="u-text-heading u-color-heading u-text-light u-text-l u-margin-Bm">
          Sign up in minutes, take payments today
        </h2>
        <a href="/merchants/new" class="btn">Start taking payments</a>
        <p class="u-color-p u-margin-Ts">No set up costs, no monthly fees, no hidden charges</p>
      </div>
    </div>

  </div>

  {% include "_site_footer.html" %}

</div>

{% endblock %}
