.basic-page__real-time-reports-image {
  width: 240px;
}

.basic-page__dashboard-image {
  width: 941px;
}

.basic-page__cashflow-image {
  width: 415px;
}

.basic-page__dashboard-image {
  width: 796px;
}
