.bullet {
  border-radius: 50%;
  background-color: $border-gray;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
  float: right;
}

.bullet--red {
  background-color: $secondary-color;
  color: #fff;
}

.bullet--invert {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.bullet--h3 {
  position: relative;
  top: -3px;
}
