.business-page__two-clicks-text {
  margin-top: 100px;
}


.business-page__hockey-bg {
  background: url('/images/hero/hero-hockey.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.businesses-page__guides-shelf {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 10000px;
}
