.comparison-table__heading {
  background-color: $primary-color;
}

.comparison-table__heading--pro {
  background-color: $dark-gray-darken;
}

.comparison-table__row {
  border-top: 1px solid $gray-darken;
}

.comparison-table__cell {
  padding: $space-small;
  border-right: 1px solid $gray-darken;
}
