@import "variables";

.frame-container {
  background-color: #fff;
  border-right: 1px solid $light-gray-darken;
  border-left: 1px solid $light-gray-darken;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.frame-container--end {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: $gutter-space-container;
}
