// License MIT Licens
// https://github.com/necolas/griddle

@import "variables";

/* ==========================================================================
   Grid
   ========================================================================== */

/**
 * Example uses:
 *
 * <div class="grid">
 *     <div class="grid__cell u-size1of2"></div>
 *     <div class="grid__cell u-size1of2"></div>
 *     <div class="grid__cell u-size1of3"></div>
 *     <div class="grid__cell u-size1of3"></div>
 * </div>
 *
 * <div class="grid grid--center">
 *     <div class="grid__cell u-size1of3"></div>
 *     <div class="grid__cell u-size1of3"></div>
 * </div>
 */

/* Grid container
   ========================================================================== */

/**
 * All content must be contained within descendent `Grid-cell` elements.
 *
 * 1. Ensure consistent default alignment.
 * 2. Remove inter-unit whitespace that appears between `inline-block` child
 *    elements. Works for non-monospace font-families. If you're using a
 *    monospace base font, you will need to set the `Grid` font-family to
 *    `sans-serif` and then redeclare the monospace font on the `Grid-cell`
 *    objects.
 * 3. Protect against WebKit bug with optimizelegibility.
 */

.grid {
  display: block; /* 1 */
  padding: 0; /* 1 */
  margin: 0 -10px; /* 1 */
  text-align: left; /* 2 */
  font-size: 0; /* 3 */
}

.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

/*
 * Modifier: horizontally center all grid units
 * Allows for automatic unit centering irrespective of the number of
 * units in the grid.
 */

.grid--center {
  text-align: center;
}

/* Grid cell
   ========================================================================== */

/**
 * No explicit width by default. Rely on combining `Grid-cell` with a dimension
 * utility or component that extends 'grid'.
 *
 * 1. Fundamentals of the non-float grid layout mechanism.
 * 2. Controls vertical positioning of units.
 * 3. Keeps content correctly aligned with the grid direction.
 * 4. Reset text defaults.
 */

.grid__cell {
  box-sizing: border-box;
  display: inline-block; /* 1 */
  font-size: $font-size-small; /* 2 */
  margin: 0;
  padding: 0 10px;
  text-align: left; /* 3 */
  vertical-align: top; /* 4 */
  width: 100%; /* 5 */
}


/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `Grid` object.
 */

.grid__cell--center {
  display: block;
  margin: 0 auto;
}
