.guides-item {
  position: relative;
}

.guides-item__cta {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  margin: 0 auto;
  display: block;
}

.guides-item__placeholder-label {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  text-align: center;
  display: block;
  height: 20px;
}
