.highlight-text--yellow {
	text-shadow: 2px 2px 0px $highlight-yellow;
}

.highlight-text--green {
	text-shadow: 2px 2px 0px $highlight-green;
}

.highlight-text--blue {
	text-shadow: 2px 2px 0px $highlight-blue;
}