.image-grid-item {
  display: block;
  height: 150px;
  border: 1px solid $light-gray;
  border-radius: 3px;
  text-align: center;
  &:hover {
    border-color: $primary-color;
  }
}

.image-grid-item--kashflow {
  margin-top: 53px;
  width: 78%;
}

.image-grid-item--freeagent {
  margin-top: 56px;
  width: 80%;
}

.image-grid-item--directli {
  margin-top: 33px;
  width: 71%;
}

.image-grid-item--clearbooks {
  margin-top: 25px;
  width: 78%;
}

.image-grid-item--xero {
  margin-top: 45px;
  width: 68%;
}

.image-grid-item--sage {
  margin-top: 39px;
  width: 68%;
}
