@import "variables";

.label {
  display: inline-block;
  font-family: $font-family-base;
  font-weight: bold;
  font-size: $font-size-xsmall;
  color: #525C60;
  vertical-align: middle;
}

.label--block {
  display: block;
}

.label--stacked {
  display: block;
  margin-bottom: 6px;
}

.label--inline {
  margin-left: 4px;
  font-weight: normal;
}

.label--inline-start {
  margin-right: 8px;
}
