.list {
  list-style: disc;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: -12px;
  color: $medium-gray;
}

.list__item {
  padding-left: 10px;
}

.list--numbered {
  list-style: decimal;
}
