.modal {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  background-color: rgba($primary-color, 0.7);
  z-index: 2;
}

.modal__container {
  width: 1000px;
  background-color: #fff;
  position: fixed;
  display: block;
  left: 50%;
  margin-left: -500px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  overflow: hidden;
  margin-top: 80px;
}

.modal__container__close {
  position: absolute;
  right: 27px;
  top: 20px;
  z-index: 3;
}

.modal__container__img {
  float: left;
  width: 50%;
  background-color: $primary-color;
  min-height: 600px;
}

.modal__container__copy {
  float: left;
  width: 50%;
  min-height: 600px;
  position: relative;
}

.modal__container__controls {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  display: block;
  border-top: 1px solid $gray-lighten;
}
