@keyframes modalFadeUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalScaleUp {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(#000, 0.7);
  display: none;
}

.modal__container {
  width: 1000px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 0px;
  margin-left: -500px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  margin-top: 80px;
  z-index: 3;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(#000, 0.3);
  display: none;
}

.modal.ng-hide-remove {
  animation: modalFadeUp 0.2s cubic-bezier(.55,0,.1,1) forwards;
}

.modal__container.ng-hide-remove {
  animation: modalFadeUp 0.2s cubic-bezier(.55,0,.1,1) forwards,
  modalScaleUp 0.2s cubic-bezier(.55,0,.1,1) forwards;
}

.modal.ng-hide-add {
  display: block !important;
  animation: modalFadeUp 0.2s cubic-bezier(.55,0,.1,1) reverse forwards;
}

.modal__container.ng-hide-add {
  display: block !important;
  animation: modalFadeUp 0.2s cubic-bezier(.55,0,.1,1) reverse forwards,
  modalScaleUp 0.2s cubic-bezier(.55,0,.1,1) reverse forwards;
}

.modal__container__close {
  position: absolute;
  right: -18px;
  top: -18px;
  z-index: 3;
}

.modal__container__img {
  float: left;
  width: 50%;
  background-color: $primary-color;
  min-height: 600px;
}

.modal__container__copy {
  float: left;
  width: 50%;
  min-height: 600px;
  position: relative;
}

.modal__container__controls {
  position: absolute;
  bottom: 20px;
  left: 500px;
  right: 0px;
  display: block;
  z-index: 3;
  border-top: 1px solid $gray-lighten;
}


// Copy

.modal__container--slide--1 .modal__container__copy {
  padding-top: 137px;
}

.modal__container--slide--2 .modal__container__copy {
  padding-top: 83px;
}

.modal__container--slide--3 .modal__container__copy {
  padding-top: 48px;
}

.modal__container--slide--4 .modal__container__copy {
  padding-top: 87px;
}

.modal__container--slide--5 .modal__container__copy {
  padding-top: 99px;
}

// Images

.modal__container--slide--1 .modal__container__img {
}

.modal__container--slide--2 .modal__container__img {
  padding-top: 141px;
}

.modal__container--slide--3 .modal__container__img {
  padding-top: 138px;
}

.modal__container--slide--4 .modal__container__img {
  padding-top: 50px;
}

.modal__container--slide--5 .modal__container__img {
  padding-top: 129px;
}
