@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(70px) scale(0.85);
  }
  100% {
    opacity: 1;
    transform: translateY(95px) scale(1);
  }
}

.nav-dropdown__popover {
  position: absolute;
  width: 200px;
  background: white;
  border-radius:3px;
  font-size: 14px;
  line-height: $line-height-base;
  left: 50%;
  margin-left: -100px;
  top: -30px;
  transform: translateY(95px) scale(1);
  display: none;
  z-index: 1;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.nav-dropdown__popover--large {
  width: 260px;
  margin-left: -130px;
}

.nav-dropdown__popover.ng-hide-remove {
  animation: fadeUp 0.2s cubic-bezier(.55,0,.1,1) forwards;
}

.nav-dropdown__popover.ng-hide-add {
  display: block !important;
  animation: fadeUp 0.2s cubic-bezier(.55,0,.1,1) reverse forwards;
}

.nav-dropdown__popover:after, .nav-dropdown__popover:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.nav-dropdown__popover:before {
  border-bottom-color: rgba(0, 0, 0, 0.1);
  filter: blur(1px);
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
  z-index: 1;
  top: -26px;
}

.nav-dropdown__popover:after {
  border-bottom-color: white;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
  z-index: 2;
}

.nav-dropdown__product-link:hover .nav-dropdown__product-title {
  text-decoration: underline;
}
