@import "variables";

.nav-tabs__link.is-active {
  text-decoration: underline;
}

.nav-tabs--gutter-L li a {
  padding-left: 35px;
}

.nav-tabs__section-heading {
  color: $medium-gray;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}
