@import "variables";
@import "mixins/clearfix-mixin";
@import "mixins/breakpoints-mixin";

.nav {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  font-family: $font-family-heading;
  color: $header-color;
  -webkit-font-smoothing: subpixel-antialiased;
}

.nav__item {
  margin-right: $space-medium;
  float: left;
  display: block;
}

.nav__item.is-active {
  color: $black-blue;
  text-decoration: none;
}

@include breakpoint-medium {
  .nav__item.has-breakpoint-md {
    border-bottom: 1px solid #ddd;
  }
}

@include breakpoint-small {
  .nav__item.has-breakpoint-sm {
    border-bottom: 1px solid #ddd;
  }
}

.nav-btn {
  font-weight: inherit;
}
