.nav {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  font-family: $font-family-heading;
  color: $header-color;
}

.nav__item {
  margin-right: $space-medium;
  float: left;
  display: block;
}

.nav__item.is-active {
  color: $black-blue;
  text-decoration: none;
}

.nav__item-link {
  height: 17px; // matching logo height
  line-height: 17px; //matches above
  position: relative;
}

.nav__item-link--dropdown {
  padding-right: 15px
}

.nav__item-link--dropdown:after {
  width: 0;
  height: 0;
  display: block;
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $primary-color;
}

.nav--invert .nav__item-link--dropdown:after {
  border-top-color: white;
}

@include breakpoint-medium {
  .nav__item.has-breakpoint-md {
    border-bottom: 1px solid #ddd;
  }
}

@include breakpoint-small {
  .nav__item.has-breakpoint-sm {
    border-bottom: 1px solid #ddd;
  }
}
