@import "variables";

.notice {
  padding: 15px $gutter-space-base;
  background: $well-background;
  border: 1px solid $well-border;
  border-radius: $border-radius-base;
}

.notice--warning,
.notice--error {
  background: #F0C1B6;
  color: #493A38;
  border-color: darken(#F0C1B6, 5%);
}

.notice--info {
  background: #DCE6EB;
  color: #597783;
  border-color: darken(#DCE6EB, 5%);
}

.notice--success {
  background: #CEE9AB;
  color: #5B6354;
  border-color: darken(#CEE9AB, 5%);
}
