// Use a fixed width here to prevent text from reflowing when window is resized
.options {
  width: 752px;
}

.options__badge {
  position: absolute;
  top: 35px;
  left: -35px;
  width: 70px;
}

.options__list {
  background-color: $site-background-color;
  text-align: center;
  list-style-type: none;
}

.options__list-item {
  border-bottom: 1px solid $gray;
  padding: $space-small;
  color: $medium-gray;
}

.options__list-button {
  width: 100%;
  padding: 16px;
}
