@import "variables";

/* This is similar to refer-disc - could be refactored
depending on what happens to /refer */

.pricing-disc {
  width: 114px;
  height: 114px;
  line-height: 110px;
  border-radius: 50%;
  border: 2px solid $primary-color;
}
