.pricing-options {
  width: 752px;
}

.pricing-options__option {
  background-color: $primary-color;
  position: relative;
}

.pricing-options--pro {
  background-color: $dark-gray-darken;
}

.pricing-options__badge {
  position: absolute;
  top: 35px;
  left: -35px;
  width: 70px;
}

.pricing-options__list {
  background-color: $site-background-color;
  text-align: center;
  list-style-type: none;
}

.pricing-options__list-item {
  border-bottom: 1px solid $gray;
  padding: $space-small;
  color: $medium-gray
}

.pricing-options__list-button {
  width: 100%;
  padding: 16px;
}
