.section-heading {
  margin-top: $space-medium;
  margin-bottom: $space-xsmall;
  font-family: $font-family-heading;
  color: $primary-color;
  font-weight: 500;
  font-size: $font-size-medium;
}

.section-heading__bullet {
  margin-top: 14px;
  margin-bottom: 4px;
  font-family: $font-family-heading;
  color: $primary-color;
  font-weight: 500;
  font-size: $font-size-medium;
}

.section-heading--red {
  color: $secondary-color;
}
