.section-heading {
  margin-top: $space-medium;
  margin-bottom: $space-medium;
  @extend .u-text-heading-light;
  font-size: $font-size-small;
  color: $dark-gray;
}

.section-heading--red {
  color: $secondary-color;
}
