/* Makes sure full width of content is taken
into account when resized on mobile */

.site-wrapper {
  min-width: $site-max-width;
}

@media only screen and (max-width: $site-max-width) {
  .site-wrapper {
    min-width: $site-min-width + $space-large*2;
  }
}

