@import "variables";
@import "mixins/clearfix-mixin";

.site-container {
  @include clearfix();
  margin-left: auto;
  margin-right: auto;
  max-width: $site-max-width;
  min-width: $site-min-width;
}

.site-container--fluid {
  min-width: 0;
}
