.stories-spotlight {
  top: -300px;
  position: absolute
}

.stories-spotlight__item {
  height: 400px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.stories-spotlight__item--has-bean-coffee {
  background: url('/images/stories/spotlight-has-bean-coffee@2x.jpg');
  background-size: 100% 100%;
}

.stories-spotlight__item--crossfit-hackney {
  background: url('/images/stories/spotlight-crossfit-hackney@2x.jpg');
  background-size: 100% 100%;
}

.stories-spotlight__btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// ^^^ Can probably be refactored in combination with some .product-grid components

.stories-spotlight__item-text {
  position: absolute;
  bottom: 0;
  width: 100%;
}
