.story-hero--spencer-hockey {
  background: url('/images/hero/hero-spencer-hockey.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.story-hero--crossfit-tonbridge {
  background: url('/images/hero/hero-crossfit-tonbridge.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.story-hero--zest-digital {
  background: url('/images/hero/hero-zest-digital.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.story-hero--bluesky {
  background: url('/images/hero/hero-bluesky.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.story-hero--rock-choir {
  background: url('/images/hero/hero-rock-choir.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.story-hero--greater-anglia {
  background: url('/images/hero/hero-greater-anglia.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.story-hero--has-bean-coffee {
  background: url('/images/hero/hero-has-bean-coffee.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
