.team-member {
  position: relative;
}

.team-member:hover {
  cursor: pointer;
}

.team-member__image {
  transition: opacity 0.2s ease;
}

.team-member:hover .team-member__image {
  opacity: 0.9;
  transition: opacity 0.1s ease;
}

.team-member__popover {
  position: absolute;
  width: 238px;
  background: linear-gradient(45deg, #61B0FF 0%, #3DE1D8 75%);
  padding: 20px;
  border-radius:3px;
  font-size: 14px;
  left: -46px;
  z-index: 1;
  top: 121px;
}

.team-member__popover:after, .team-member__popover:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.team-member__popover:after {
  border-bottom-color: #3DE1D8;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}

.team-member__name {
  color: $gray;
}

.team-member__link {
  opacity: 0.8;
  display: inline-block;
  margin: 0 3px;
  transition: opacity 0.2s ease;
}

.team-member__link:hover {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.team-member__link--twitter {
  @include icon("/images/about/icon-twitter", 20px, 20px);
}

.team-member__link--github {
  @include icon("/images/about/icon-github", 20px, 20px);
}

.team-member__link--linkedin {
  @include icon("/images/about/icon-linkedin", 20px, 20px);
}
