@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}

.team-member {
  position: relative;
}

.team-member:hover {
  cursor: pointer;
}

.team-member__image {
  transition: opacity 0.2s ease;
}

.team-member:hover .team-member__image {
  opacity: 0.9;
  transition: opacity 0.1s ease;
}

.team-member__popover {
  position: absolute;
  width: 238px;
  background: #61B0FF;
  padding: 20px;
  border-radius:3px;
  font-size: 14px;
  left: -46px;
  top: 151px;
  transform: translateY(-30px);
  z-index: 1;
}

.team-member__popover.ng-hide-remove {
  animation: fadeUp 0.2s cubic-bezier(.55,0,.1,1) forwards;
}

.team-member__popover.ng-hide-add {
  display: block !important;
  animation: fadeUp 0.2s cubic-bezier(.55,0,.1,1) reverse forwards;
}

.team-member__popover:after, .team-member__popover:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.team-member__popover:after {
  border-bottom-color: #61B0FF;
  border-width: 12px;
  left: 50%;
  margin-left: -12px;
}

.team-member__name {
  color: $gray;
}

.team-member__link {
  opacity: 0.8;
  display: inline-block;
  margin: 0 3px;
  transition: opacity 0.2s ease;
}

.team-member__link:hover {
  opacity: 1;
  transition: opacity 0.1s ease;
}

.team-member__link--twitter {
  @include icon("/images/about/icon-twitter", 20px, 20px);
}

.team-member__link--github {
  @include icon("/images/about/icon-github", 20px, 20px);
}

.team-member__link--linkedin {
  @include icon("/images/about/icon-linkedin", 20px, 20px);
}
