.team-member {
  position: relative;
}

.team-member:hover {
  cursor: pointer;
}

.team-member__image {
  transition: opacity 0.2s ease;
}

.team-member:hover .team-member__image {
  opacity: 0.9;
  transition: opacity 0.1s ease;
}

.team-member__popover {
  position: absolute;
  width: 238px;
  background: linear-gradient(45deg, #61B0FF 0%, #3DE1D8 75%);
  padding: 20px;
  border-radius:3px;
  font-size: 14px;
  left: -53px;
  z-index: 1;
  top: 162px;
}

.team-member__popover:after, .team-member__popover:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.team-member__popover:after {
  border-bottom-color: #3DE1D8;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}

.team-member__name {
  color: $gray;
}
