.vertical-page__mobile-image {
  width: 390px;
}

.vertical-page__dashboard-image {
  width: 780px;
}

.vertical-page__real-time-reports-image {
  width: 251px;
}

.vertical-page__take-payment-image {
  width: 366px;
}

.vertical-page__take-payment-image-margin--gyms {
  margin-top: 45px;
}