.vertical-page__mobile-image {
  width: 390px;
}

.vertical-page__dashboard-image {
  width: 780px;
}

.vertical-page__real-time-reports-image {
  width: 251px;
}

.vertical-page__take-payment-image {
  width: 366px;
}

.vertical-page__take-payment-image-margin--gyms {
  margin-top: 45px;
}

.vertical-page__take-payment-image-margin--invoicing {
  margin-top: 32px;
}

.vertical-page__take-payment-image-margin--sports-clubs {
  margin-top: 54px;
}

.vertical-page__take-payment-image-margin--subscriptions {
  margin-top: 10px;
}

.vertical-page__take-payment-image-margin--membership {
  margin-top: 19px;
}

.vertical-page__take-payment-image-margin--professional-services {
  margin-top: 54px;
}

.vertical-page__take-payment-image-margin--property {
  margin-top: 56px;
}

.vertical-page__take-payment-image-margin--lending {
  margin-top: 54px;
}

.vertical-page__take-payment-image-margin--saas {
  margin-top: 22px;
}

.vertical-page__take-payment-image-margin--saas-2 {
  margin-top: 20px;
}