<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ language if language else 'en' }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ language if language else 'en' }}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - GoCardless</title>
    {% block meta_tags %}{% endblock %}
    <meta name="viewport" content="width=device-width">
    <meta name="og:image" content="https://gocardless.com/images/logos/gocardless-square.png">
    <meta name="og:image:secure_url" content="https://gocardless.com/images/logos/gocardless-square.png">
    <meta name="google-site-verification" content="Y80kah87ghJhwiDqw-5ap234p9wCcGt6kMRxvnamtHU">
    <link href="https://plus.google.com/+Gocardless" rel="publisher">
    {%- macro hreflang_tag(language_code, path) -%}
      <link rel="alternate" href="https://gocardless.com{{path}}" hreflang="{{language_code}}" />
      {% if language_code == "en" -%}
        <link rel="alternate" href="https://gocardless.com{{path}}" hreflang="x-default" />
      {%- endif %}
    {%- endmacro -%}
    {% if language %}
      {{ hreflang_tag(language, path) }}
      {% for language, path in other_languages -%}
        {{ hreflang_tag(language, path) }}
      {%- endfor -%}
    {%- endif %}
    <!--[if lt IE 9]>
    <script>
      (function() {
        var elems = 'article aside details figcaption figure footer header hgroup main nav section summary'.split(' ');
        var length = elems.length;
        var index = 0;
        for(;index < length; index++){
          document.createElement(elems[index]);
        }
      })();
    </script>
    <![endif]-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fonts.css">
  </head>
  <body>
    {% if ENV_PRODUCTION %}
      <script src="//cdn.optimizely.com/js/125150657.js"></script>
    {% endif %}

    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block body %}Provide body!{% endblock %}

    <script src="/js/vendor.js"></script>
    <script src="/js/main.js"></script>

    <!-- Google Tag Manager -->
    <script>
      dataLayer = [];
    </script>
    <script src="//www.googletagmanager.com/gtm.js?id=GTM-PRFKNC" async></script>
    <script>
      (function(w,l){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});})(window, 'dataLayer');
    </script>
  </body>
</html>
