.u-background-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5ecf2), to(#ffffff)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #e5ecf2, #ffffff); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #e5ecf2, #ffffff); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #e5ecf2, #ffffff); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #e5ecf2, #ffffff); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.u-background-gradient-reverse {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e5ecf2)); /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, #ffffff, #e5ecf2); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:    -moz-linear-gradient(top, #ffffff, #e5ecf2); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #ffffff, #e5ecf2); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #ffffff, #e5ecf2); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
