{% extends "plain.html" %}

{% block title %}GoCardless for Sage 50: Request a Demo{% endblock %}
{% block meta_tags %}
  <meta name="description" content="Request a demo of how your business can collect Direct Debit payments using GoCardless for Sage 50.">
  <meta name="robots" content="noindex,follow">
{% endblock %}

{% block body %}

<div class="site-wrapper">

  <div class="u-background-white">
    <div class="site-container site-gutter u-cf align-btn-small u-padding-Vm">
      {% include "_site_header.html" %}
    </div>
  </div>

  <div class="page-hero u-padding-Vxxl">
    <div class="u-margin-Vxm">
      <h1 class="u-text-heading u-text-center u-color-invert u-text-xl u-text-light u-margin-Vxm">
        GoCardless for Sage 50
      </h1>
      <div class="u-text-heading u-text-center u-color-invert u-text-m u-text-light u-margin-Txxs u-text-no-smoothing">
        Request more info about our Sage 50 add-on<br>by leaving your details in the form below
      </div>
    </div>
  </div>

  <div class="site-container grid grid--center u-padding-Vxl u-margin-Vxl">
    <div class="grid__cell u-size1of2">

      <form accept-charset="UTF-8" action="/api/v1/prospects/sage"
        class="spacer-box horizontal-spacer-medium border border--bottom border--light stripe--mist ng-pristine ng-valid"
        method="post"
        name="prospectForm"
        ng-controller="NgGcProspectForm"
        ng-gc-form-submit="{
          onCreate: onProspectCreate,
          form: prospectForm,
          data: prospectForm.data
        }"
        ng-gc-ga-event-tracker="{
            event: 'submit',
            label: 'sage'
          }">
        {% include "_prospect_form_fields.html" %}

        <button class="btn btn--block u-margin-Tl"
          type="submit"
          ng-disabled="prospectForm.$pristine || prospectForm.$isSubmitting">
          Request Sage demo
        </button>
      </form>
      {% include "_lead_capture_alternative_contact.html" %}

    </div>
  </div>
</div>

{% include "_site_footer.html" %}

{% endblock %}
