<h2 class="u-text-h2 u-text-heading">Backend Software Engineer</h2>

<p class="para">
  We are looking for experienced backend software engineers to join our rapidly growing team.
</p>
<p class="para">
  GoCardless is primarily built in Ruby and JavaScript, using frameworks like Ruby on Rails and Angular. We strongly believe in test-driven development, and deploy code multiple times daily.
</p>
<p class="para">
  You will have the opportunity to contribute to different areas of our code base, and build open source frameworks like <%= link_to "Hutch", "https://github.com/gocardless/hutch" %>, or <%= link_to "Statesman", "https://github.com/gocardless/statesman" %> along the way.
</p>

<h4 class="u-text-h4 u-margin-Bxs u-margin-Tm">On a day-to-day basis, you will be:</h4>
<ul class="list">
  <li>
    Building out internal services to communicate with international banking systems.
  </li>
  <li>
    Helping us to scale our services to serve our fast growing merchant base.
  </li>
  <li>
    Working on systems to intelligently identity-check and risk-assess new customers and merchants.
  </li>
</ul>

<h4 class="u-text-h4 u-margin-Bxs u-margin-Tm">You should apply if you:</h4>
<ul class="list">
  <li>
    Are proficient in at least one dynamically-typed, object-oriented language (e.g. Ruby, Python), and have 5+ years experience with a modern web framework, such as Rails or Django.
  </li>
  <li>
    Have an awareness of the full web stack. You live and breathe HTTP, feel comfortable optimising SQL queries, and have at least a basic understanding of JavaScript.
  </li>
  <li>
    Demand that code be well-tested, and believe that tests are a helpful tool in driving design, not merely an afterthought.
  </li>
  <li>
    Enjoy the challenges of scaling a transactional system, where consistency is crucial, to millions of users.
  </li>
</ul>

<h4 class="u-text-h4 u-margin-Bxs u-margin-Tm">You'd be a particularly good fit if you:</h4>
<ul class="list">
  <li>
    Have built and scaled web services to handle thousands of concurrent transactions.
  </li>
  <li>
    Find a startup environment appealing. You're looking for a place you can make an impact, but also want to work on a product used by thousands of businesses.
  </li>
  <li>
    Feel comfortable in the UNIX world: you grep, sed, and awk your way through text files, and have experienced the joy of writing SysVinit scripts.
  </li>
  <li>
    Are familiar with any of the following: PostgreSQL, RabbitMQ, ElasticSearch, Chef.
  </li>
</ul>

<p class="para">
  <b>To apply, email <a href="mailto:milz@gocardless.com">milz@gocardless.com</a>.</b> Please include your expected salary and the date you'd be available to start.
</p>
